@**************
browse a domain
**************@
@()(implicit stok: controllers.StateOk)

@stok.title("Wiki report views")

@** can't - better if I leave it alone
@util.dataTables("WikiCount")
**@

@fFilter(db:com.mongodb.casbah.Imports.DBObject) = @{
  razie.wiki.model.Wikis.findById(db.get("pid").toString).map {wp=>
    if(wp.realm == stok.realm) {
      db.put("wpath", wp.wid.wpath)
      true
    } else
      false
  }.getOrElse(false)
}

@wikicount(db:com.mongodb.casbah.Imports.DBObject, k:String, v:String) = {
@k match {
  case "wpath" => {
      <a href="/wiki/@v">@v</a>
  }
  case _=> {
    @v
  }
}
}

@util.utilTable("WikiCount", List("pid","count","wpath").map(c=>c->c), None, Some("count"), Some(wikicount), Some(fFilter))

@util.dataTables("WikiCount", Seq(1 -> "desc"))

