@********
a generic form

*********@
@(page:razie.wiki.model.WikiEntry, errors:Map[String,String], next:String, formSpec:Option[razie.wiki.model.WID]=None)(implicit stok: controllers.StateOk)

@stok.title(page.label)

<h2>@page.getLabel</h2>

@wiki.wikiFormSimple(page.wid, None, Some(page), errors, true, false, false, Some(next))

<script async>
withJquery(function($){
  @page.attr("form.class").map{f=>
    $("#wikiForm-@page._id").addClass("@f");
  }
});
</script>

@if(stok.au.exists(_.isAdmin)) {
  @formSpec.map{wid=>
    <br><a href="@routes.Wikie.wikieEdit(wid)">Edit form spec</a><br>
  }
}
