@(wid:razie.wiki.model.WID, page:Option[razie.wiki.model.WikiEntry], user:Option[model.User])(implicit stok: controllers.StateOk)
@import razie.wiki.model._

@if(!page.flatMap(_.contentProps.get("noComments")).isDefined) {
  @if(user.isDefined) {
    @if(page.map(_.isReserved).getOrElse(true)) {
      You can't comment on reserved pages, sorry!
    } else {
      @if(!user.get.canHasProfile) {
        You can't comment on public pages, sorry!
      } else {
        }
      }
    } else {
      You need to log in to post a comment!
  }

@comments.commStream(
  page.flatMap(p=>Comments.findForWiki(p._id)),
  page.get._id.toString,
  "Wiki",
  controllers.CommentUtils.canComment(stok.au, page)
)

}
