@** botom of html,
**@
@(isSite:Boolean=false, orequest:Option[Request[_]] = None, site:Option[model.Website] = None)(implicit stok:controllers.StateOk)
@import _root_.razie.wiki.Services

@web()=@{(site orElse orequest.orElse(stok.request).flatMap(r=>model.Website(r))) getOrElse model.Website.dflt}

<p></p>

<footer id="weFooter">

  @if(stok.bottomAd && ! (Services.config.noads || stok.au.exists(_.isUnder13))) {
    <div align="center">
    @if(stok.isLight) {
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- RK-bottom-light -->
      <ins class="adsbygoogle"
      style="display:inline-block;width:728px;height:90px"
      data-ad-client="ca-pub-5622141672958561"
      data-ad-slot="6461721220"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    } else {
      @Html(model.Ads.lederboard)
    }
    </div>
  }


@if(stok.isLight) {
  <div style="background-color:#4E4D4D">
  } else {
  <div style="background-color:#4E4D4D">
  }

@Html(web().footer.flatMap(_.page).map(razie.wiki.model.Wikis.format(_, stok.au)).mkString)

  <div align="center">
  <table>
    <tr>
      <td style="width:200px;vertical-align: top">
        <strong class="razbots">More</strong> <br>
        <a class="razbot" href="/">Home</a> <br>
        <a class="razbot" href="@web().about.getOrElse("/wiki/Admin:About")">About</a> <br>
        @web().bottomMenu("More").map{t=>
          <a class="razbot" href="@t._2">@t._1</a><br>
        }
      </td>
      <td style="width:200px;vertical-align: top">
        <strong class="razbots">Support</strong> <br>
        <a class="razbot" href="@web().support">Support</a> <br>
        <a class="razbot" href="@web().tos">Terms of Service</a> <br>
        <a class="razbot" href="@web().privacy">Privacy Policy</a> <br>
        @web().bottomMenu("Support").map{t=>
          <a class="razbot" href="@t._2">@t._1</a><br>
        }
      </td>
      <td style="width:200px;vertical-align: top">
        <strong class="razbots">Social</strong><br>
        <a class="razbot" href="http://twitter.com/@web().twitter">Twitter</a><br>
        <a class="razbot" href="@web().blog">Blog</a> <br>
        @web().gplus.map{g=>
          <a class="razbot" href="@g">Google+</a><br>
        }
        @web().bottomMenu("Social").map{t=>
          <a class="razbot" href="@t._2">@t._1</a><br>
        }
      </td>
    </tr>
  </table>
  <div style="height:20px"></div>
</div>
</div>

</footer>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="@routes.Assets.at("bootstrap-3.3.4/js/bootstrap.js")"></script>

@** google sign-in
    <!-- Place this asynchronous JavaScript just before your </body> tag -->
**@
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-580596d37f1273ee"></script>
  </body>
</html>

