@**************
the footer of every page...
**************@
@(ads:Boolean=false, isSite:Boolean=false, realm:String=razie.wiki.model.Wikis.RK, request:Option[Request[_]]=None)(implicit stok:controllers.StateOk)
@import _root_.razie.wiki.Services

@web()=@{request.orElse(stok.request).flatMap(x=>model.Website.apply(x)) getOrElse model.Website.dflt}

<footer>
  <p>
    @web().copyright.map{x=>
      @Html(x)
    }.getOrElse{
        &copy; <a href="http://www.racerkidz.com">RacerKidz</a>, 2012-2016
    }
    @***
    | <small>(<a href="/mobile/1">Mobile</a>
    | <a href="/mobile/0">Desktop</a>
    )</small>
    ***@

  </p>

@stok.showBottomAd(ads)

</footer>


