@**************
the footer of every page...
**************@
@(ads:Boolean=false, realm:String=razie.wiki.model.Wikis.RK, request:Option[Request[_]]=None)(implicit stok:controllers.StateOk)

@web()=@{request.flatMap(x=>razie.hosting.Website.apply(x)).getOrElse(stok.website)}

<footer id="footerCopyright">
  <small style="color:gray;">
    @web().copyright.map{x=>
      @Html(x)
    }.getOrElse{
        &copy; Copyright <a href="http://www.dieselapps.com">DieselApps</a>, 2012-@{org.joda.time.DateTime.now().getYear}, all rights reserved.
    }
  </small>

@stok.showBottomAd(ads)

</footer>

