@**************
an inline JS with HTML and CSS fiddle
**************@
@(wid:razie.wiki.model.WID,
  we:Option[razie.wiki.model.WikiEntry],
  name:String,
  tags:Seq[String],
  spec:String,
  args:Map[String,String],
  content:String,
  links:String,
  anon:Boolean,
  au:Option[razie.wiki.model.WikiUser],
  xid:String = java.lang.System.currentTimeMillis().toString())

@id()=@{if(name.length > 0) name+"_"+tags.mkString("_") else xid}
@kind()=@{tags.mkString(",")}
@reactor()=@{wid.getRealm}

@** to JS multiline string - make generated JS code look nice **@
@tos(s:String) = @{
  s.replaceAll("'", "\\\\'").replaceAll("\r", "").replaceAll("\n", "\\\\n'\n+'")
}

<script src="@routes.Assets.at("javascripts/weFiddles.js")"></script>

<script>
function setCookie(cname, cvalue, msec) {
      var d = new Date();
      d.setTime(d.getTime() + (msec));
      var expires = "expires="+ d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

setCookie("dieselSessionId", "", 10*60*1000); // reset session on reload

var resettabs = function(lid, id) {
   document.getElementById('story_'+id).className='';
   document.getElementById('ast_'+id).className='';
   document.getElementById('links_'+id).className='';

   document.getElementById(lid).className='active';
}

var setpill = function(lid,id,s) {
  if(lid == 'links_'+id) {
    $('#code_'+id).html(s);
  } else
    $('#code_'+id).text(s);
  resettabs(lid, id);

  if(lid == 'story_'+id) {
    hiDiesel('#code_'+id);
  }
}

var spec_@id = '@Html(tos(spec))';
var story_@id = '@Html(tos(content))';
var ast_@id  = '';
var links_@id  = '@Html(tos(links))';
var content_@id = '@Html(tos(content))';

var timeStamp = @{System.currentTimeMillis().toString} ;
// this is used to prevent stale pages (back browser button or older tabs) from overwriting newer drafts
// this is actually server time stamp
var clientStoryTimeStamp = timeStamp;
var clientSpecTimeStamp = timeStamp;

function setAst_@{id} (noreload) {
  ast_@id  = 'Loading...';

  if(noreload == undefined)
    setpill('ast_@id', '@id', ast_@id);

  // run the first link and get html tree
  var link = links_@id;
  linkArray = link.split('\n');
  link = linkArray[0];
  if(link && link.indexOf('href=\"') > 0) {
    var url = link.replace(/.*href="([^"]*).*/, "$1").replace(/resultMode=[^&]*/, "resultMode=treeHtml");
    if(content_@{id}.indexOf('$mock') == 0 ) {
      // just one line, could be a mock and these are ignored in storymode
      OLDrunpill2_@id ('@id', url, noreload);
    } else if(linkArray.length > 1 || content_@{id}.indexOf('$expect') >= 0 ) {
      // normal story
      runpill2_@id ('@id', url, noreload);
    } else {
      // just aone line, could be a mock and these are ignored in storymode
      OLDrunpill2_@id ('@id', url, noreload);
    }
  } else {
    if(noreload == undefined)
      setpill('ast_@id', '@id', links_@id);
  }
}

var debugThis;

/** post the entire section contents to be ran against this page */
var runpill2_@id = function(id, url, inoreload) {
  noreload = inoreload;

  runFiddleStoryUpdated({
    @if(au.isDefined) {
      url: '/diesel/fiddle/fiddleStoryUpdated/' + id + '?@Html(mod.diesel.controllers.SFiddles.qtourl(args))',
    } else {
      url: '/diesel/anon/fiddle/@wid.wpath' +  '?dfiddle=@{name}&@Html(mod.diesel.controllers.SFiddles.qtourl(args))',
    }
    data: {
      saveMode    : false,
      sketchMode  : false,
      mockMode    : true,
      blenderMode : false,
      draftMode   : false,
      needsCAMap  : needsContentAssist(false, false),
      needsBaseCA : isObjectEmpty(baseContentAssist),
      reactor     : '@reactor',
      specWpath   : '',
      storyWpath  : '@wid.wpath',
      story       : story_@id+"\n",
      spec        : spec_@id+"\n",
      runEngine   : true,

      compileOnly : false,
      simMode : false,
      clientTimeStamp: clientStoryTimeStamp
    },
    id: id,
    compileOnly: false,
    forceRT: true,
    next: null,

    onSuccess: function(data) {
      debugThis=data;
      var res =  data.res || ("ERR " + JSON.stringify(data));
      ast_@id = res;
    },

    onError: function(x) {
      ast_@id = "ERR " + JSON.stringify(x);
      if(noreload == undefined)
        $('#code_'+id).text(ast_@id);
      $('#preout_'+id).text(ast_@id);
    }
  });

}

function fiddle_showCapture(id, data) {
  // nothing to do
}
function fiddle_setErrors(response) {
}
function fiddle_updateStoryMarkers(response) {
  //if(aceEditor_@{id}) updateMarkers(aceEditor_@{id} , data.ast);
}
function fiddle_showFinalEngineResult (id, compileOnly) {
  var data = currEngineData;
  var res =  data.res || ("ERR " + JSON.stringify(data));

  // todo make sure it's still this tab that's focused
  if(noreload == undefined)
    $('#code_'+id).html(res);
  $('#preout_'+id).html(res);

  // hide trace nodes
  $("div[kind='trace']").hide();
}

function fiddle_storyChanged(story) {
}

var OLDrunpill2_@id = function(id, url, inoreload) {
  noreload = inoreload;

  runFiddleStoryUpdated({
    @if(au.isDefined) {
    url: '/diesel/fiddle/fiddleStoryUpdated/' + id + '?@Html(mod.diesel.controllers.SFiddles.qtourl(args))',
    } else {
    url: '/diesel/anon/fiddle/@wid.wpath' +  '?dfiddle=@{name}&@Html(mod.diesel.controllers.SFiddles.qtourl(args))',
    }
    data: {
      saveMode    : false,
      sketchMode : true,
      mockMode    : true,
      blenderMode : false,
      draftMode   : false,
      needsCAMap  : needsContentAssist(false, false),
      needsBaseCA : isObjectEmpty(baseContentAssist),
      reactor     : '@reactor',
      specWpath   : '',
      storyWpath  : '@wid.wpath',
      story : story_@id,
      spec        : '',
      runEngine   : true,

      compileOnly : false,
      simMode : false,
      clientTimeStamp: clientStoryTimeStamp
    },
    id: id,
    compileOnly: false,
    forceRT: true,
    next: null,

    onSuccess: function(data) {
      ast_@id = data.tree || ("ERR " + JSON.stringify(data));

      // todo make sure it's still this tab that's focused
      if(noreload == undefined) $('#code_'+id).html(ast_@id);
      $('#preout_'+id).html(ast_@id);
    },

    onError: function(x) {
      ast_@id = "ERR " + JSON.stringify(x);
      if(noreload == undefined)
        $('#code_'+id).text(ast_@id);
      $('#preout_'+id).text(ast_@id);
    }
  });

}

</script>

  @hiderun() = @{
    if(tags.map(_.toLowerCase).contains("story")) "" else "display:none"
  }

<div class="">

  <ul class="nav nav-tabs" style="margin-bottom:0;">
    <li id="story_@id" class="active">
      <a  href="javascript:setpill('story_@id', '@id', story_@id)" title="See the specs">
        <small>@tags.headOption.map(_.capitalize)</small></a> </li>
    <li id="links_@id">
      <a  href="javascript:setpill('links_@id', '@id', links_@id)" title="Get the links to this service">
        <small><span class="glyphicon glyphicon-link"></span>REST</small></a> </li>
    <li id="ast_@id" style="@hiderun()">
      <a href="javascript:setAst_@{id}()" title="Run this service and get a trace">
        <small><span class="glyphicon glyphicon-play"></span>Run</small></a> </li>
    <li id="play_@id" >
<a href="javascript:editpill_@{id}('@{id}')" title="Edit this service">
 <small><span class="glyphicon glyphicon-pencil"></span> Edit...</small></a> </li>
  </ul>

<div id="left_@id" style="padding-right:0">

  <pre id="pre_@id" style="display:inline-block; width:100%; margin-bottom:0; border:0; padding-right:0"><code id="code_@id" language="diesel">@content</code></pre>
<p></p>

<div id="editor1" style="display: none">
di:es:el editor

<pre id="acec" style="height: 200px;">dsl here...</pre>


@au.filter(_.isActive).map{u=>
<a id="save_button" href="javascript:saveFiddle_()" class="btn btn-default btn-success">Save</a>
<a id="cancel_button" href="javascript:oneModalHide()" class="btn btn-default btn-default">Nah</a>
}.getOrElse {
<small>
Change the name of the message <code>say.hi</code> or change the default value there, from <code>"Harry"</code> to <code>"me"</code>, or something.
Then hit "Save" and play with it (hint: checkout the REST tab).
</small>
  <br>
<br>
<div class="alert alert-info">
 <b>Note</b> that even though you are not logged in, you can play with this! Cool, huh?
 <br>
 <small>Your temporary "session" will expire in 5 minutes or so... if you mock it up, just refresh the page to start again.</small>
 <p>
 To edit this topic and fully explore this, just create an account!
</div>
<a id="save_button" href="javascript:anonSaveFiddle_()" class="btn btn-default btn-success">Use this !</a>
<a id="cancel_button" href="javascript:oneModalHide()" class="btn btn-default btn-default">Nah</a>
}
</div>

</div>

<div id="right_@id" class="col-sm-6" style="display: none; padding:0">
   <pre id="preout_@id" style="display:inline-block; width:98%; margin-bottom:0; border:0; padding:0">result...</pre>
</div>

</div>


<script>

//not really needed anymore - hidiesel.js will color them when loading, later
@*weOnLoad(function(){hiDiesel('#code_@id');});*@

var upd_@id = function(id) {
}

var runpill_@id = function(id) {
  upd_@{id}(id);
}

var aceEditor_@id;

var sessionId = '';

var scriptsLoaded = false;

var editpill_@id = function(id) {
  upd_@{id}(id);

  @*setAst_@{id} ("noreload");*@

  // setup jquery to not reload scripts all the time
  $.ajaxSetup({
    cache: true
  });

  var next = function() {
    var s = $("#editor1").html();

    if(!scriptsLoaded) {
      var savedRequire = require;
      var savedRequireJs = typeof requirejs != "undefined" ? requirejs : (function () { return; })();
      var savedDefine = typeof define != "undefined" ? define : (function () { return; })();
      // this sets to undefined
      require = (function () { return; })();
      requirejs = (function () { return; })();
      define = (function () { return; })();

    jQuery.getScript("@routes.Assets.at("javascripts/rk-contentassist-sqbr.js")", function(data, status, jqxhr) {
      jQuery.getScript("@routes.Assets.at("vendor/jquery.textcomplete.min.js")", function(data, status, jqxhr) {
        jQuery.getScript("@routes.Assets.at("javascripts/rk-contentassist.js")", function(data, status, jqxhr) {
          jQuery.getScript("@routes.Assets.at("javascripts/weCommons.js")", function(data, status, jqxhr) {
            jQuery.getScript("@routes.Assets.at("javascripts/weDieselDom.js")", function(data, status, jqxhr) {
            jQuery.getScript("@routes.Assets.at("javascripts/weFiddles.js")", function(data, status, jqxhr) {
              jQuery.getScript("@routes.Assets.at("ace-builds/src/ace.js")", function(data, status, jqxhr) {
                jQuery.getScript("@routes.Assets.at("ace-builds/src/mode-nvp1.js")", function(data, status, jqxhr) {
                  jQuery.getScript("@routes.Assets.at("ace-builds/src/ext-language_tools.js")", function(data, status, jqxhr) {
                    jQuery.getScript("@routes.Assets.at("javascripts/wikiEdit.js")", function(data, status, jqxhr) {
                      //jQuery.getScript("@routes.Assets.at("ace-builds/src/theme-crimson_editor.js")", function(data, status, jqxhr) {
                      scriptsLoaded=true;
                      popupContent(s.replace("acec", "acec1").replace("aveFiddle_()", "aveFiddle_@{id}()"));
                      // ace.config.set('basePath', '/assets/ace-builds/src');
                      aceEditor_@id = attachAce(ace, "acec1", content_@id, true);
                      require = savedRequire;
                      requirejs = savedRequireJs;
                      define = savedDefine;
                      // });
                    });
                  });
                });
              });
            });
          });
          });
        });
      });
    });
    } else {
      popupContent(s.replace("acec", "acec1").replace("aveFiddle_()", "aveFiddle_@{id}()"));
      aceEditor_@id = attachAce(ace, "acec1", content_@id, true);
    }
  }

  @if(au.exists(_.isActive)) {
    next();
  } else {
    @if(anon) {
  if (sessionId.length <= 0) {
    getSession("", function () {
      next();
    });
  } else {
    next();
  }
  } else {
  popupContent("Anonymous editing is not permitted here... you'll need an account !");
  }
  }
}

@if("true" == args.getOrElse("sidebyside", "")) {
  $('#left_@id').addClass("col-sm-6");
  $('#right_@id').show();
  setAst_@id ("noreload");
  aceEditor_@id = attachAce(ace, "acec1", content_@id, true);
}


/** update wiki with new fiddle content and refresh page */
var saveFiddle_@id = function() {
  oneModalHide();
  saveSection('@we.map(_.wid.wpath).getOrElse(wid.wpath)', 'dfiddle', '@name:@kind', aceEditor_@{id}.getSession().getValue(), function(){
    location.reload();
  });
}


/** update wiki with new fiddle content and refresh page */
var anonSaveFiddle_@id = function() {

  var content = aceEditor_@{id}.getSession().getValue();
  content_@id = content;

  anonSaveSection('@wid.wpath', 'dfiddle', '@name:@kind', content, function(data,err){
    if(data) {
      oneModalHide();
      story_@id = content;
      setpill('story_@id', '@id', story_@id);
      links_@id = data.links;
      @*setpill('links_@id', '@id', links_@id);*@
      console.log("OK - anon set section");
    } else {
      if(err.responseText && err.responseText.indexOf("no change") < 0) console.log("ignoring");
      else showError("ERROR: Cannot save draft ["+JSON.stringify(err)+"]");
    }
  });
}

function showError(s) {
  alert(s);
  console.log(s);
}

function getSession(uid,callback) {
  $.ajax(
    '/diesel/anon/getSession', {
        type: 'POST',
        data: $.param({
          nothin : ''
        }),
        contentType: 'application/x-www-form-urlencoded',
        success: function(data) {
          sessionId=data;

          setCookie("dieselSessionId", sessionId, 10*60*1000);

          callback(data);
        },
        error  : function(x) {
          console.log( "ERR "+JSON.stringify(x));
        }
      });
}

</script>

<script src="@routes.Assets.at("javascripts/weDieselDom.js")"></script>

<script>
// set the current tab
@args.get("tab").map {x=>
   @x match {
     case "html" => {
        setpill('html_@id', '@id', h_@id)
        }
     case "css"  => {
        setpill('css_@id', '@id', c_@id)
        }
     case "js"   => {
        setpill('js_@id', '@id', decscr(j_@id))
        }
   }
}
</script>

@util.oneModal()

