@**************
a nicer div12
**************@
@(wid:razie.wiki.model.WID, iname:Option[String], page:Option[razie.wiki.model.WikiEntry], canEdit:Boolean, print:Boolean=false)(implicit stok: controllers.StateOk)

@label()=@{ page.map(_.label).getOrElse(razie.wiki.model.Wikis(wid.getRealm).label(wid)) }
@isSite()=@{Array("Site", "Page").contains(wid.cat) && page.isDefined}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      @wiki.layout.draft(page)

      @wiki.wikiFrag(wid,stok.au,false,page, iname, false, true, canEdit)

      @if(page.isDefined && !print) {
        @wiki.wikiAddMore(wid, page)
        @wiki.wikiPageComments(wid, page, stok.au)
      }

      <hr>
      @if(!print) {
          @htmlFooter(ads = stok.website.adsAtBottom &&
              (stok.au.isEmpty || stok.website.adsForUsers) &&
              !page.exists(_.contentProps.contains("noAds")) &&
                  !page.exists(_.content.matches( """(?s).*\{\{ad[:}].*\{\{ad[:}].*""")) &&
                  !stok.au.exists(_.isUnder13),
              false,
              wid.getRealm,
              stok.request)
      }
    </div> <!-- row -->
  </div> <!-- row -->
</div> <!-- /container -->

