@**************
render a regular wiki page - site pages are rendered with wikiSite.scala.html
**************@
@(wid:razie.wiki.model.WID, iname:Option[String], page:Option[razie.wiki.model.WikiEntry], canEdit:Boolean, print:Boolean=false)(implicit au:Option[model.User], request:Request[_])

@label()=@{ page.map(_.label).getOrElse(razie.wiki.model.Wikis(wid.getRealm).label(wid)) }
@web()=@{model.Website(request) getOrElse model.Website.dflt}
@isSite()=@{Array("Site", "Page").contains(wid.cat) && page.isDefined}

  @wiki.layout.draft(page)

      @wiki.wikiFrag(wid,au,false,page, iname, false, true, canEdit)

<div class="container">
      @if(page.isDefined && !print) {
        @wiki.wikiAddMore(wid, page, au)
        @wiki.wikiPageComments(wid, page, au)
      }

    <hr>
      @if(!print) {
          @htmlFooter(ads = model.Website.get.showAds == "yes" &&
                  !page.exists(_.content.matches( """(?s).*\{\{ad[:}].*\{\{ad[:}].*""")) &&
                  !au.exists(_.isUnder13),
              false,
              wid.getRealm,
              Some(request))
      }
</div>

    <script language="JavaScript">
        $("#wikiFragP1").remove();
    </script>
