@**************
eh
**************@
@(wid:razie.wiki.model.WID, iname:Option[String], page:Option[razie.wiki.model.WikiEntry], canEdit:Boolean, print:Boolean=false)(implicit stok: controllers.StateOk)

@label()=@{ page.map(_.label).getOrElse(razie.wiki.model.Wikis(wid.getRealm).label(wid)) }

<!-- layout div12Plain -->

<div class="container">
  <div class="row">

  <div class="col-sm-12">

    @wiki.layout.draft(page)

    @modules.diesel.wBrowser(stok.realm, page, "top")
      @wiki.wikiFrag(wid, None,false,page, iname, false, true, canEdit)
    @modules.diesel.wBrowser(stok.realm, page, "bottom")

      @if(page.isDefined && !print) {
        @wiki.wikiAddMore(wid, page)
        @wid.page.map {we =>
          @wiki.wikiFragBottom(we, false, canEdit, print)
        }
        @wiki.wikiPageComments(wid, page,  stok.au)
      }

    <br> <br>
      @if(!print) {
          @htmlFooter(ads = stok.showBottomAds(page),
              wid.getRealm,
              stok.request)
      }
    </div> <!-- /col-sm-9 -->

  </div> <!-- row -->
</div> <!-- /container -->

