@**************
render a regular wiki page - site pages are rendered with wikiSite.scala.html
**************@
@(wid:razie.wiki.model.WID, iname:Option[String], page:Option[razie.wiki.model.WikiEntry], canEdit:Boolean, print:Boolean=false)(implicit stok: controllers.StateOk)

@label()=@{ page.map(_.label).getOrElse(razie.wiki.model.Wikis(wid.getRealm).label(wid)) }
@isSite()=@{Array("Site", "Page").contains(wid.cat) && page.isDefined}

  @wiki.layout.draft(page)

  @wiki.wikiFrag(wid,stok.au,false,page, iname, false, true, canEdit)

<div class="container">
      @if(page.isDefined && !print) {
        @wiki.wikiAddMore(wid, page, stok.au)(stok.au, stok.request.get)
        @wiki.wikiPageComments(wid, page, stok.au)
      }

    <hr>
      @if(!print) {
          @htmlFooter(ads = model.Website.gets.adsAtBottom &&
              !page.exists(_.contentTags.contains("noAds")) &&
                  !page.exists(_.content.matches( """(?s).*\{\{ad[:}].*\{\{ad[:}].*""")) &&
                  !stok.au.exists(_.isUnder13),
              false,
              wid.getRealm,
              stok.request)
      }
</div>

    <script language="JavaScript">
        $("#wikiFragP1").remove();
    </script>
