@**************
render a regular wiki page - site pages are rendered with wikiSite.scala.html
**************@
@(wid:razie.wiki.model.WID, iname:Option[String], page:Option[razie.wiki.model.WikiEntry], canEdit:Boolean, print:Boolean=false)(implicit au:Option[model.User], request:Request[_])

@label()=@{ page.map(_.label).getOrElse(razie.wiki.model.Wikis(wid.getRealm).label(wid)) }

<div class="container">
  <div class="row">

    <div class="col-sm-9">

      @wiki.layout.draft(page)

        @wiki.wikiFrag(wid,au,false,page, iname, false, true, canEdit)

      @if(page.isDefined && !print) {
        @wiki.wikiAddMore(wid, page, au)
        @wiki.wikiPageComments(wid, page, au)
      }

      <hr>

    </div> <!-- /col-sm-9 -->
    @if(!print) {
      <div class="col-sm-3">
        @model.Website.get.rightTop.map { rt =>
          @wiki.wikiFrag(rt, au, simple = true)
        }
      }

      </div>

  </div> <!-- row -->
    @if(!print) {
        @htmlFooter(
    ads = model.Website.get.showAds == "yes" &&
                !page.exists(_.content.matches( """(?s).*\{\{ad[:}].*\{\{ad[:}].*""")) &&
                !au.exists(_.isUnder13),
            false,
            wid.getRealm,
            Some(request))
    }
</div> <!-- /container -->

