@**************
edit a wiki page
**************@
@(myForm:Form[_], what:String, uid:String)(implicit stok: controllers.StateOk)
@import razie.hosting.WikiReactors
@import razie.wiki.model.{Wikis, WID, WikiEntry}
@import mod.msg._

@stok.title("STart thread ")

@import helper.twitterBootstrap._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

<h2>
@what match {
  case "PM" => {
    Sending a private message.
  }
  case "MA" => {
    Start an MA thread.
  }
  case _ => {
    Start a message thread.
  }
}
</h2>

@helper.form(action=routes.Messaging.doeStartThread2(what, uid), 'class->"well") {

  <input type="hidden" name="nothing" value='@myForm("nothing").value' >

  @helper.inputText(
    myForm("title"),
    'class -> "form-control col-sm-12",
    '_label -> "Title",
    '_showConstraints -> false)

    <div class="actions">
      <button type="submit" class="btn btn-primary">Create</button>
  </div>

  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  }

  <br><small>By using this page, you agree to the <a href="@controllers.Wiki.w("Terms of Service")">Terms of Service</a></small>
}

