@***
default item generation: FO item PSR entity flows through to SMP

adic = optional dictionary to translate the attr names
suppParms = supplemental parms for entity
***@
@(implicit item:x.FulfillmentOrderItem,
        entity : x.SEntity,
        adic:String=>String = identity,
        suppParms:Map[String,String]=Map(),
        parentKey:x.FulfillmentOrderItem=>String = x.y.empty
        )

@eva(n:String) = { @item.entity.parms(n) } //getManagedEntity().getAttributeValue(n)

<smpom:item>
        @eItemKey
        <cbebi:action>@item.action</cbebi:action>
        <smpom:entity xsi:type="smpcbe:SubscriberServiceValue">
                <cmn:key xsi:type="smpcbe:SubscriberServiceKey">
                        <cmn:type>
http://www.sigma-systems.com/smp/43/xsd/SubscriberEntity/jsr144/v1-5#SubscriberServiceValue
</cmn:type>
                        <cmn:primaryKey keyType="ExternalKey">@x.y.ssvextkey</cmn:primaryKey>
                </cmn:key>
                <cbecore:describedBy>

                @item.entity.parms.map @{t=>(adic(t._1), t._2)}.filter(! _._1.isEmpty).map{t=>
                        <cbecore:item>
                                <cbecore:value xsi:type="xs:string">@t._2</cbecore:value>
                                <cbecore:characteristic>@adic(t._1)</cbecore:characteristic>
                        </cbecore:item>
                }

                @suppParms.map{t=>
                        <cbecore:item>
                                <cbecore:value xsi:type="xs:string">@t._2</cbecore:value>
                                <cbecore:characteristic>@t._1</cbecore:characteristic>
                        </cbecore:item>
                }

                </cbecore:describedBy>
                <cbecore:describingSpecificationKey
                        xsi:type="smpcbe:SubscriberServiceSpecificationKey">
                        <cmn:type>
http://www.sigma-systems.com/smp/43/xsd/SubscriberEntity/jsr144/v1-5#SubscriberServiceSpecificationValue
</cmn:type>
                        <cmn:primaryKey>SubSvcSpec:@item.entity.spec</cmn:primaryKey>
                </cbecore:describingSpecificationKey>
                <smpcbe:externalKey>@x.y.ssvextkey</smpcbe:externalKey>

@if(parentKey(item).isEmpty) {
                <smpcbe:parentKey>
                        <cmn:type>
http://www.sigma-systems.com/smp/43/xsd/SubscriberEntity/jsr144/v1-5#SubscriberServiceValue
</cmn:type>
                        <cmn:primaryKey keyType="ExternalKey">@parentKey(item)</cmn:primaryKey>
                </smpcbe:parentKey>
}

        </smpom:entity>
</smpom:item>
