@**************
embedable notes module

for now it's just one per page...

msg types are msg, err
**************@
@(myForm:Form[_], page:razie.wiki.model.WikiEntry, au:Option[model.User])
@import mod.notes.controllers.NotesLocker
@import mod.notes.controllers.routes

@id = @{1}

<div class="well">
@import helper.twitterBootstrap._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@helper.form(action=routes.NotesLocker.save(), 'class->"form-inline") {

@**
  <div id="lock1" style="display:inline-block; width:100%; height:120px;"> </div>
**@

  @helper.textarea(
    myForm("content"),
    '_label -> Html("""Type a note below, give it some tags and throw it in the note locker."""),
    '_showConstraints -> false,
    'class -> "col-sm-7",
    'rows->5)

  @helper.inputText(
    myForm("tags"),
    '_label -> Html("""Tags <small>i.e. note,todo,forjohn,phone,email,contact,project1</small>"""),
    'class -> "col-sm-7",
    'autocomplete -> "off",
    '_showConstraints -> false)


  <input type="hidden" name="id" value="@myForm("id").value" />

    <div class="actions">
      <button type="submit" class="btn btn-info">Save</button>
  </div>

  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  }

  <p><small>See the <a href="/wiki/Blog:Note_Locker/Post:Notes_Quick_Guide">quick guide</a>.</small>
  <br><small>By updating this page, you agree to the <a href="@controllers.WikiUtil.w("Terms of Service")">Terms of Service</a></small>
}

</div>

<script>
$('#content')[0].focus();
</script>
