@**************
list of notes

msg types are msg, err
**************@
@(implicit stok: mod.notes.controllers.NotesOk)
@import mod.notes.controllers.{NotesLocker, Notes}
@import mod.notes.controllers.routes

@tag = @{
  stok.curTag
}

<h3>
  @tag match {
    case "recent" => {Organize <small>| recent notes</small>}
    case "none" => {Organize <small>| missing tags</small>}
    case "all" => {All notes...}
    case _ if stok.isSearch => {Search <small>| @tag </small>}
    case _ => {
      Tagged <small>@tag.split("/").map { t =>
        | <a class="" style="color : #757c82 ;" href="@routes.NotesLocker.tag(t)">@t</a>
      }
      </small>
    }
  }

  @notes.notesmsg(stok.msg)

</h3>

