@(au:Option[model.User]=None)
<p></p>
@if(_root_.admin.Config.isLight) {
  <div style="background-color:#4E4D4D">
  } else {
  <div style="background-color:#4E4D4D">
  }
<div align="center">
  <table>
    <tr style="margin: 0 auto;">
      <td style="width:200px; vertical-align: top">
        <strong class="razbots">More</strong> <br>
        <a class="razbot" href="/">Home</a><br>
        <a class="razbot" href="/wiki/Blog:No_Folders">Blog</a><br>
        <a class="razbot" href="/page/About-notes">About</a><br>
      </td>
      <td style="width:200px; vertical-align: top">
        <strong class="razbots">Support</strong><br>
        <a class="razbot" href="/doe/support">Support</a> <br>
        <a class="razbot" href="/wiki/Terms_of_Service-notes">Terms of Service</a> <br>
        <a class="razbot" href="/wiki/Privacy_Policy-notes">Privacy Policy</a> <br>
      </td>
      <td style="width:200px; vertical-align: top">
        <strong class="razbots">Social</strong><br>
        <a class="razbot" href="http://twitter.com/nofolders">Twitter</a><br>
        <a class="razbot" href="/wiki/Blog:No_Folders">Blog</a><br>
      </td>
    </tr>
  </table>
  <div style="height:20px"></div>
</div>
</div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-dropdown.js")"></script>
    
@***********
    <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>
    
    <script src="@routes.Assets.at("bootstrap/js/jquery.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-transition.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-alert.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-dropdown.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-modal.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-scrollspy.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-tab.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-tooltip.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-popover.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-button.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-collapse.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-carousel.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-typeahead.js")"></script>
****************@

@if(!au.isDefined || au.get.isHarry) {
    <!-- Place this asynchronous JavaScript just before your </body> tag -->
  <script type="text/javascript">
  (function() {
  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
  po.src = 'https://apis.google.com/js/client:plusone.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  </script>
}

  </body>
</html>
