@**************
show/edit/capture a note

msg types are msg, err
**************@
@(tag:String, notes:List[model.WikiEntry], tags:controllers.NotesLocker.Tags, msg:Seq[(String,String)], au:Option[model.User], isSearch:Boolean=false)

@frup(au)

@ccc(we:model.WikiEntry)= @{
    val x = model.Wikis.format(we.wid, we.markup, we.content, Some(we))
    if(x contains "CANNOT PARSE") {
      """<div style="color:red;font-weight:bold;" title="You misspelled some of the advanced features"><small>[[CANNOT PARSE]]</small></div><p></p>""" + we.content
    } else x
  }

<h3>
@tag match {
   case "recent" => {Organize <small>recent notes</small>}
   case "none" => {Organize <small>missing tags</small>}
   case "all" => {All notes...}
   case _ if isSearch => {Search results for '@tag'... }
   case _ => {Tagged <small>@tag.replaceAll("/", " | ")</small> }
}

@notesmsg(msg, au)

</h3>

@tagpath(s:String) = @{ if(tag=="" || isSearch || Seq("none", "recent", "all").contains(tag)) s else (tag+"/"+s) }

@notes.map {we=>
   <div class="well well-small" style="border-radius:9px; margin-bottom:10px;">
   <small><a href="@routes.NotesLocker.noteById(we._id.toString)">@we.crDtm.toString("YYYY-MM-dd hh:mm a").toLowerCase()
       <strong>[Edit]</strong></a></small>

       <div style="float: right;">
       <small>Tags: <strong>
       @we.tags.map {x=>
           @if(tags find (_._1 == x) isEmpty ) {
               @x |
           } else {
               <a href="@routes.NotesLocker.tag(tagpath(x))">@x</a> |
           }
       }
       </strong></small>
       </div>

@**  <p>@Html(model.Wikis.format(we.wid, we.markup, we.content, Some(we)))</p>
**@
  <p>@Html(ccc(we))</p>
  @wiki.wikiFragExtras(au,Some(we))

   </div>
}


@frdown(if(isSearch) "" else tag, tags, au)
