@**************
show/edit/capture a note

msg types are msg, err
**************@
@(tags:model.Tags.Tags, msg:Seq[(String,String)], au:Option[model.User])

@import _root_.controllers.NotesLocker

@frup(au)

<h2>All tips </h2>

<div class="well">

@NotesLocker.tips.map{tip=>
  <small>
  <div class="alert alert-info">
    <strong>Tip</strong>
    @Html(razie.wiki.model.Wikis.format(razie.wiki.model.WID("?","?"), "md", tip).replaceFirst("^\\s*<p>", "").replaceFirst("</p>\\s*$", ""))
  </div>
  </small>
}

</div>

@frdown("", tags, au)
