@**************
show/edit/capture a note

msg types are msg, err
**************@
@(tag:String, we:razie.wiki.model.WikiEntry, tags:model.Tags.Tags, msg:Seq[(String,String)], au:Option[model.User], isSearch:Boolean=false)(implicit request:Request[_])
@import razie.wiki.model.WikiEntry

@frup(au)

@ccc(we:WikiEntry)= @{
    val x = controllers.NotesLocker.format(we.wid, we.markup, we.content, Some(we), au)
    if(x contains "CANNOT PARSE") {
      val id = System.currentTimeMillis().toString
      try {
        val PAT = """.*PARSE\]\] \[([0-9]+)\.([0-9]+)\].*""".r
        val PAT(line, col) = x
        s"""<div style="color:red;font-weight:bold;" title="Problem with your content: $x">
        <small>[[Check content below at Line:$line Position:$col]]</small></div><p></p>""".stripMargin + s"""
          <textarea id="$id" readonly="true" style="width:90%; margin-right:40px" rows="5">${we.content}</textarea>
       """.stripMargin
      } catch {
        case _ : Throwable => s"""<div style="color:red;font-weight:bold;" title="Problem with your content: $x">
        <small>[[Check content]]</small></div><p></p>""".stripMargin + s"""
          <textarea id="$id" readonly="true" style="width:90%; margin-right:40px" rows="5">${we.content}</textarea>
       """.stripMargin
      }
    } else x
  }

<h3>
@tag match {
   case "recent" => {Organize <small>recent notes</small>}
   case "none" => {Organize <small>missing tags</small>}
   case "all" => {All notes...}
   case _ if isSearch => {Search results for '@tag'... }
   case _ => {
     Tagged <small>@tag.split("/").map {t=>
|  <a class="h3 small" style="color:#757c82;" href="@routes.NotesLocker.tag(t)">@t</a>
     }
     </small>
   }
}

@notesmsg(msg, au)

</h3>

@tagpath(s:String) = @{ if(tag=="" || isSearch || Seq("none", "recent", "all").contains(tag)) s else (tag+"/"+s) }


   <div class="well well-small" style="border-radius:9px; margin-bottom:10px;">
   <small>
     <a href="@routes.NotesLocker.noteById(we._id.toString)">@we.crDtm.toString("YYYY-MM-dd hh:mm a").toLowerCase()
       <strong>[Edit]</strong></a>
     [<a href="@routes.NotesLocker.viewNoteById(we._id.toString)"><strong>View</strong></a>]
   </small>

       <div style="float: right;">
       <small>Tags: <strong>
       @we.tags.map {x=>
           @if(tags find (_._1 == x) isEmpty ) {
               @x |
           } else {
               <a href="@routes.NotesLocker.tag(tagpath(x))">@x</a> |
           }
       }
       </strong></small>
       </div>

@**  <p>@Html(razie.wiki.model.Wikis.format(we.wid, we.markup, we.content, Some(we)))</p>
**@
   @if(we.tags.contains("r.domain")) {
     <p><a href="@routes.DomC.domPlay(we._id.toString)">domain playground</a></p>
   }
  <p>@Html(ccc(we))</p>

  @wiki.wikiFragExtras(au,Some(we))

   </div>


@frdown(if(isSearch) "" else tag, tags, au)

