@**************
show/edit/capture a note

msg types are msg, err
**************@
@(content: Html, tag: String, tags: model.Tags.Tags, msg: Seq[(String, String)])(implicit stok: mod.notes.controllers.NotesOk)

  @htmlHead(stok._title, None, None)(Map.empty, Some(stok.au), Some(stok.request))
  @navbar(Some(stok.au))(Some(stok.au), Some(stok.request))

  <div class="container" style="margin-top: 15px">
    <div class="row">
      <div class="col-sm-9">

        @content

        @notes.notesonetip()

      <hr>

      @notes.htmlFooterNotes(true)

      </div> <!-- /col-sm-9 -->

      @notes.notestags(tag, tags, Some(stok.au))

    </div> <!-- row -->
  </div> <!-- /container -->

  @notes.htmlBottomNotes(Some(stok.au))

