@**************
list of contacts

msg types are msg, err
**************@
@(email:String, name:String, msg:Seq[(String,String)])(implicit au:model.User)

@frup(Some(au))

<h3>
  Invite <small>| contact</small>
  @notesmsg(msg, Some(au))
</h3>

@esc(s:String) = @{(razie.wiki.Enc toUrl s).replaceAll("\\+", "%20")}

@subj = @{"""The power of simplicity... """}
@body = @{
  controllers.Emailer.makeNotesInvite(name, 5, s"/notes/connect/accept/${au._id.toString}", au)
}
<p>
<a href="mailto:@email?subject=@esc(subj)&body=@esc(body)">
Send Invite Email
</a>
<br><br>
<p>
<p>

@frdown("", Seq(), Some(au))
