@**************
the right sidebar with tag navigation
**************@
@(current:String, tags:model.Tags.Tags, au:Option[model.User], request:play.api.mvc.Request[_])
@import routes.Assets
@import mod.notes.controllers.routes

@tagpath(s:String) = @{ if(current=="" || Seq("none", "recent", "all", "archive").contains(current)) s else (current+"/"+s) }
@browseTag(t:String)={@routes.NotesLocker.tag(tagpath(t))}
@browseAllTags()={@routes.NotesLocker.alltags}

<script src="@controllers.routes.Assets.at("javascripts/weCommons.js")"></script>

<div class="col-sm-3">
  <a href="/notes" class="btn btn-lg btn-info">New thought...</a>
  <p>
  </p>
  Organize:
  <ul>
    <li><a href="@routes.NotesLocker.tag("recent")">[Recent]</a>
    <li><a href="@routes.NotesLocker.tag("none")">[Not tagged]</a>
    @au.map {u=>
      <li><a href="@routes.NotesLocker.tag("inbox")">[Inbox](@mod.notes.controllers.Inbox.count(u._id))</a>
    }
    <li><a href="@routes.NotesLocker.tag("archive")">[Archive]</a>
  </ul>

  @if(!tags.isEmpty) {

    <input id="typeahead" xonkeypress="keyp(event)" autocomplete="off" type="text"
    class="typeahead search-query" placeholder="Search Tags" data-provide="typeahead" style="display:block; margin-bottom:10px">

    Contemplate:
  } else {
    No more tags
  }
  <ul>
    @defining(mod.notes.controllers.NotesLocker.book(request)) { book =>
      @tags.take(15).map { x =>
        <li><a href="@browseTag(x._1)">@x._1</a> <small>(@x._2)</small>
          @if(book.pinTags.contains(x._1)) {
            <a href="#unpin" onclick="setPinTags('@book.pinTags.ltags.filter(_ != x._1).mkString("/")')" title="Unpin this tag">
            <span class="glyphicon glyphicon-pushpin"></span>
            </a>
          }
        </li>
      }
    }
    @if(tags.size > 15) {
      <li><a href="@browseAllTags()">... more</a></li>
    }
  </ul>
</div>

<script src="@Assets.at("bootstrap-2.2.3/js/bootstrap-typeahead.js")"></script>

<script>
function keyp(e){
var key=e.keyCode || e.which;
if (key==13){
document.location='/notes/tag/'+$('#typeahead')[0].value;
}
}
var selected = function(){
document.location='/notes/tag/'+$('#typeahead')[0].value;
}

var hardct = ['recent','all','none','archive', '']
var t = function (tag) {
return hardct.lastIndexOf('@current') >= 0 ? tag : '@current' + '/'+tag;
}

//var items = [@Html(tags.map(x=>"\""+x._1+"\":\"/notes/tag/"+tagpath(x._1)+"\"").mkString(","))];
var userTags = [@Html(tags.map(x=>"\""+x._1+"\"").mkString(","))];

$('.typeahead').typeahead({
source: userTags,
updater: function (item) {
window.location.href = '/notes/tag/'+t(item);
}
})

</script>

<style>
body {
padding-top: 50px;
  }
</style>
