@**************
show all the tags the user has

msg types are msg, err
**************@
@(tags:controllers.NotesLocker.Tags, au:Option[model.User])

@frup(au)

<h3>Tags <small>(@tags.size)</small></h3>

<div class="well">

<p>
Your tags:
<ul>
  <li><a href="@routes.NotesLocker.tag("all")">all</a></li>
  <li><a href="@routes.NotesLocker.tag("none")">no tag</a></li>
  @tags.map {x=>
    <li><a href="@routes.NotesLocker.tag(x._1)">@x._1 <small>(@x._2)</small></a></li>
  }
</ul>

</div>

@frdown("", tags, au)
