@**************
show/edit/capture a note

msg types are msg, err
**************@
@(myForm:Form[_], tags:controllers.NotesLocker.Tags, msg:Seq[(String,String)], au:Option[model.User])
@import _root_.controllers.NotesLocker

@htmlHead("No Folders", None, None)
@notesnavbar(au)

@id = @{1}

@rows = @{
   val line = myForm("content").value.getOrElse("")
   if(line.length() - line.replace("\n", "").length() > 5) 10 else 5
}

<div class="container">
  <div class="row">
    <div class="span9">

<h2>
@if(!_root_.admin.Config.isLocalhost) {
   Note Locker <small>(preview edition)</small> 
   }
   
@notesmsg(msg, au)

</h2>

<div class="well">
@import helper.twitterBootstrap._

@helper.form(action=routes.NotesLocker.save(), 'class->"form-inline") {

@**
  <div id="lock1" style="display:inline-block; width:100%; height:120px;"> </div>
**@

  @helper.textarea(
    myForm("content"), 
    '_label -> (NotesLocker.html("main")),
    '_showConstraints -> false,
    'class -> "span7",
    'rows->rows)
  
  @helper.inputText(
    myForm("tags"), 
    '_label -> Html("""
       <div class="span7" style="margin-left:0px">
       Tags <small>i.e. note,todo,forjohn,phone,email,contact,project1</small>
  <div style="float:right">
      <a class="btn btn-mini" onclick="enlarge()" title="This is not twitter, eh?">+ Larger</a>
  </div> 
       </div>
       """),
    'class -> "span7",
    'autocomplete -> "off",
    '_showConstraints -> false)

  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  } 

  <input type="hidden" name="id" value="@myForm("id").value" />

    <div class="actions">
      <button type="submit" class="btn btn-info">Save</button>
  </div>
  
  <p><small>You are typing markdown - see the <a href="/wiki/Blog:Note_Locker/Post:Notes_Quick_Guide">quick guide</a>.</small>
  <br><small>By updating this page, you agree to the <a href="@controllers.Wiki.w("Terms of Service")">Terms of Service</a></small>
}

@*** site todos - registration etc ***@
    @if(au.exists(_.tasks.size > 0)) {
       <div class="alert alert-block">
      <strong>Stuff to do</strong>
      <ul>
      @for(t <- au.get.tasks) {
        <li><a style="color:red;font-weight:bold" href="/user/task/@t.name">@t.desc</a></li>
      }
      </ul>
      </div>
    } else {
    
    @if(!au.isDefined || au.get.isHarry) {
       <div class="alert alert-block">
      <strong>Need account</strong>
      You need to <a href="/doe/join">create an account</a> to actually create and save notes...
      </div>
    }
    }

@notesonetip()

</div>

<p>Take notes now and worry about organizing them later! No folders needed...


@***
<p><small>Assistant says:</small><br>

<div style="display:inline-block; width:100%; height:130px; overflow-y:auto;">
  <pre id="pre3b_@id" style="display:inline-block; width:92%; height:129px; margin-bottom:0"><code id="codeb_@id">
  </code></pre>
</div>
***@


<script>
$('#content')[0].focus();

var enlarge = function(s) {
  var r = $('#content')[0].rows;
  $('#content')[0].rows = r+5;
}
   
var saveit = function() {
  document.location = '/notes/saved?tags='+document.getElementById('tags').value+'&n='+razuri(editor1.getValue());
}

</script>

@**
<script src="@routes.Assets.at("ace-builds/src/ace.js")" type="text/javascript" charset="utf-8"></script>

<script>
// div generated by the play forms thing
  var tex = $('#content').val();
  var textarea = $('#content_field').hide();

  var editor1 = ace.edit("lock1");
  editor1.setTheme("ace/theme/twilight");
  editor1.getSession().setMode("ace/mode/markdown");

  //jsh(editor.getValue());

  editor1.getSession().setValue(tex);

  var razChanged=true;
  
  editor1.getSession().on('change', function(e) {
    textarea.val(editor1.getSession().getValue());
    razChanged=true;
    //var j=editor.getValue();
    //jsh(j);
  });

  editor1.focus();
  
setInterval(function(){
   if(razChanged) {
     var j=editor1.getValue();
     //jsh(j);
     razChanged=false;
     }
},500);
   
</script>
**@


      <hr>
      @htmlFooter(ads = true)
    </div> <!-- /span9 -->

@notestags("", tags, au)

  </div> <!-- row -->
</div> <!-- /container -->
    
@htmlBottom()
