@**************
list of contacts

msg types are msg, err
**************@
@(tag:String, notes:List[model.WikiEntry], tags:model.Tags.Tags, msg:Seq[(String,String)], au:Option[model.User], isSearch:Boolean=false)(ncs:List[controllers.NotesContact])
@import model.Tags
@import razie.wiki.model.WikiEntry
@import razie.wiki.model.Wikis


@frup(au)

@ccc(we:WikiEntry)= @{
    val x = Wikis.format(we.wid, we.markup, we.content, Some(we))
    if(x contains "CANNOT PARSE") {
      """<div style="color:red;font-weight:bold;" title="You misspelled some of the advanced features"><small>[[CANNOT PARSE]]</small></div><p></p>""" + we.content
    } else x
  }

<h3>
  Contacts <small>preview</small>
  @notesmsg(msg, au)
</h3>

@tagpath(s:String) = @{ if(tag=="" || isSearch || Seq("none", "recent", "all").contains(tag)) s else (tag+"/"+s) }

  <table class="table">
    <thead>
      <td>Name</td> <td>Email</td><td>Actions</td>
    </thead>

@name(we:WikiEntry) = @{
  we.contentTags.get("name").filter(_ != we._id.toString).orElse(we.contentTags.get("email").map(_.replaceAll("@.*$", ""))).mkString
}
@email(we:WikiEntry) = @{
  we.contentTags.get("email").mkString
}

@notes.map {we=>
        <tr>
          <td>@name(we)</td>
          <td>@email(we)</td>
         <td>
           <small>[<a href="@routes.NotesLocker.noteById(we._id.toString)">Edit</a>]</small>
           @if(! ncs.exists(_.email.toLowerCase == email(we))) {
             <small>[<a href="@routes.NotesLocker.invite(email(we), name(we))">Invite</a>]</small>
           }
         </td>
        </tr>
}
  </table>

  <p>Contacts accepted</p>

<table class="table">
  <thead>
    <td>Name</td> <td>Email</td>
  </thead>

@au.map {u=>
@ncs.map {nc=>
  <tr>
    <td>@nc.nick</td>
    <td>@nc.email</td>
  </tr>
}
}
  </table>

<p></p>

@frdown(if(isSearch) "" else tag, tags, au)
