@**************
list of contacts

msg types are msg, err
**************@
@(email:String, name:String)(implicit stok:mod.notes.controllers.NotesOk)

@stok.title("Invite now")

<h3>
  Invite <small>| contact</small>
  @notes.notesmsg(stok.msg)
</h3>

@esc(s:String) = @{(razie.wiki.Enc toUrl s).replaceAll("\\+", "%20")}

@subj = @{"""The power of simplicity... """}
@body = @{
  controllers.Emailer.makeNotesInvite(name, 5, s"/notes/connect/accept/${stok.au._id.toString}", stok.au)
}
<p>
<a href="mailto:@email?subject=@esc(subj)&body=@esc(body)">
Send Invite Email
</a>
<br><br>
<p>
<p>

