@**************
show/edit/capture a note

msg types are msg, err
**************@
@(implicit stok:controllers.RazRequest)
@import mod.notes.controllers.NotesLocker

@htmlHead("No Folders", Some(stok))(Map.empty, None)

<div class="container">
  <div class="row">
    <div class="col-sm-9">

<h2>
@if(!_root_.razie.wiki.Services.config.isLocalhost) {
   Note Locker <small>(preview edition)</small>
   }
</h2>

<div class="well">
You cannot save notes without an account... please
<a href="/doe/join"><strong>join in</strong></a> and play.

<p>Sorry for the inconvenience - but I'm sure you'll love this simplest of powerful notes apps.
</div>

      <hr>
      @htmlFooter(ads = true)
    </div> <!-- /col-sm-9 -->

@notestags("", Seq(), None, stok.req)

  </div> <!-- row -->
</div> <!-- /container -->

@htmlBottom()

