@**************
show/edit/capture a note

msg types are msg, err
**************@
@import razie.wiki.Config
@import razie.wiki.Services
@(content: Html, tag: String, tags: model.Tags.Tags, msg: Seq[(String, String)])(implicit stok: mod.notes.controllers.NotesOk)

@stok.stok.requireJs(false)

@htmlHead(stok._title, Some(stok.stok), None)(stok.metas, Some(stok.au), Some(stok.request))
@navbar(Some(stok.au))(stok.stok)

  <div class="container" style="margin-top: 15px">
    <div class="row">
      <div class="col-sm-9">

        @content

        @notes.notesonetip(Some(stok.au))

      <hr>

      @notes.htmlFooterNotes(true)

      </div> <!-- /col-sm-9 -->

      @notes.notestags(tag, tags, Some(stok.au), stok.request)

    </div> <!-- row -->
  </div> <!-- /container -->

  <p></p>
  @if(Services.config.getTheme(Some(stok.au), Some(stok.request)) contains "light") {
    <div class="rk-footer-light">
    } else {
    <div class="rk-footer-dark" >
    }
  <div align="center">
    <table>
      <tr style="margin: 0 auto;">
        <td style="width:200px; vertical-align: top">
          <strong class="razbots">More</strong> <br>
          <a class="razbot" href="/">Home</a><br>
          <a class="razbot" href="/wiki/Blog:No_Folders">Blog</a><br>
          <a class="razbot" href="/wiki/Admin:About-notes">About</a><br>
        </td>
        <td style="width:200px; vertical-align: top">
          <strong class="razbots">Support</strong><br>
          <a class="razbot" href="/doe/support">Support</a> <br>
          <a class="razbot" href="/wiki/Terms_of_Service-notes">Terms of Service</a> <br>
          <a class="razbot" href="/wiki/Privacy_Policy-notes">Privacy Policy</a> <br>
        </td>
        <td style="width:200px; vertical-align: top">
          <strong class="razbots">Social</strong><br>
          <a class="razbot" href="http://twitter.com/nofolders">Twitter</a><br>
          <a class="razbot" href="/wiki/Blog:No_Folders">Blog</a><br>
        </td>
      </tr>
    </table>
    <div style="height:20px"></div>
  </div>
</div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  <script src="@routes.Assets.at("bootstrap-3.3.4/js/bootstrap-dropdown.js")"></script>

  @if(stok.au.isHarry) {
      <!-- Place this asynchronous JavaScript just before your </body> tag -->
    <script type="text/javascript">
  (function() {
  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
  po.src = 'https://apis.google.com/js/client:plusone.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  </script>
  }

  </body>
  </html>

