@**************
show/edit/capture a note

context is passed back to the callback
**************@
@(myForm:Form[_], title:String, miniTitle:String, context:String, isAuto:Boolean=false, isReadOnly:Boolean=false, asap:Boolean=false, justCapture:Boolean=false, submit:String="")(implicit stok:mod.notes.controllers.NotesOk)
@import routes.Assets
@import mod.notes.controllers.NotesLocker
@import mod.notes.controllers.NotesTips
@import mod.notes.controllers.routes

@stok.title("Create a note")

<h3>@title <small>| @miniTitle</small> @notes.notesmsg(stok.msg) </h3>

@id = @{1}

@next = @{myForm("next").value}
@nid = @{myForm("id").value}
@ver = @{myForm("ver").value}

@rows = @{
  val line = myForm("content").value.getOrElse("")
  val k = line.length() - line.replace("\n", "").length()
  if(k > 10) 15 else if(k > 5) 10 else 5
}

@saveLabel()=@{
  if(submit == "") "Save it"
  else submit
}

<div class="well" style="padding-bottom:0px">
@import helper.twitterBootstrap._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@helper.form(action=routes.NotesLocker.save(), 'class->"form-inline", 'style->"margin-bottom:0px", 'id -> "notesForm") {

  @** label was     (Html(NotesTips.xhtml("admin,page,main", Some(stok.au)))), **@
  @helper.textarea(
    myForm("content"),
    '_label -> "",
    '_showConstraints -> false,
    'class -> "col-sm-12",
    'style -> "padding-left:5px",
    'rows->rows)

  @helper.inputText(
    myForm("tags"),
    '_label -> Html("""
       <div class="col-sm-12" style="padding-left:0px; display:inline-block;">
       Tags <small>i.e. note,todo,forjohn,phone,email,contact,project1</small>
  <div style="float:right">
      <a class="btn btn-xs btn-default" onclick="larger()" title="This is not twitter, eh?">+ Larger</a>
  </div>
       </div>
       """),
    'class -> "col-sm-12",
    'style -> "padding-left:5px",
    'autocomplete -> "off",
    '_showConstraints -> false)

  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  }

  <input id="name" type="hidden" name="name" value="" />

  <input id="id" type="hidden" name="id" value="@nid" />
  <input id="ver" type="hidden" name="ver" value="@ver" />
  <input type="hidden" id="next" name="next" value="@next"/>

  <div class="actions col-sm-12" style="padding-left:0px; display:inline-block;">
    <a id="submit" class="btn btn-sm btn-info" onclick="submitNotes()" title="Done editing">@saveLabel()</a>

    <a id="discard" href="/notes/discard/@nid" class="btn btn-sm btn-warning" title="This note was auto-saved...">Discard it</a>

    <div style="float:right">
      @if(stok.isLight) {
        <i id="iconsave" class="icon-briefcase"  title="Autosaving ok..."></i>
      } else {
        <i id="iconsave" class="icon-briefcase icon-white" title="Autosaving ok..."></i>
      }
      @if("" == "archive not in embedded notes - I'm not editing, but creating them? ") {
        <a class="btn btn-sm btn-default" onclick="archive()" title="Archive notes">Archive it</a>
      }
    </div>
  </div>

<div style="display:inline-block">
  <p><small>You are typing markdown - see the <a href="/wiki/No_Folders/Notes_Quick_Guide">quick guide</a>.</small>
</div>
}

  <script>
  @if(asap) {
    $( document ).ready(function() {
      submitNotes();
    });
  }

    function submitNotes() {
      var $form = $('#notesForm');

@if(justCapture) {
      noteAdded("@nid", "@context", {
      created:false,
      content: $('#content')[0].value,
      tags: $('#tags')[0].value
      }
      );
  } else {
      $.post($form.attr('action'), $form.serialize(), function(response) {
       console.log(response);
        if(response.indexOf("msg") == 1) {
        // todo deal with response codes
        } else {
          // callback client to save relationships and cleanup
          noteAdded("@nid", "@context", {created:true});
        }
      });
  }
    }
  </script>

@*** site todos - registration etc ***@
    @if(stok.au.tasks.size > 0) {
       <div class="alert alert-block">
      <strong>Stuff to do</strong>
      <ul>
      @for(t <- stok.au.tasks) {
        <li><a style="color:red;font-weight:bold" href="/user/task/@t.name">@t.desc</a></li>
      }
      </ul>
      </div>
    }

</div>

@if(stok.au.isHarry) {
    <div class="alert alert-block alert-danger">
        <strong>Need account</strong>
        You need to <a href="/doe/join">create an account</a> to actually create and save notes.
    </div>
}

@***
<p><small>Assistant says:</small><br>

<div style="display:inline-block; width:100%; height:130px; overflow-y:auto;">
  <pre id="pre3b_@id" style="display:inline-block; width:92%; height:129px; margin-bottom:0"><code id="codeb_@id">
  </code></pre>
</div>
***@

<script>
// CA options for .
var dotTags = [
'shared to:who',
'n name of this note',
  @if(stok.au.hasPerm(model.Perm.codeMaster)) {
    'sfiddle path',
  }
//  'a to:who by:date description',
'email john@@whodunnit.com',
'name name of contact'
];
</script>

<script>
$('#content')[0].focus();

@if(!stok.au.isActive) {
  $('#submit')[0].disabled=true;
  $('#content')[0].disabled=true;
  $('#tags')[0].disabled=true;
  $('#content')[0].title='You need an account to save notes, sorry!';
  $('#tags')[0].title='You need an account to save notes, sorry!';
}

  @if(isReadOnly) {
    $ ( '#submit' )[ 0 ].disabled = true ;
    $ ( '#submit' )[ 0 ].title = "Read only!" ;
  }

var larger = function(s) {
  var r = $('#content')[0].rows;
  $('#content')[0].rows = r+5;
  $('#content')[0].focus();
}

var archive = function(s) {
  var r = $('#tags')[0].value;
  r = r.length > 0 ? r+',' : r
  $('#tags')[0].value = r+'archive';
}

var saveit = function() {
  document.location = '/notes/saved?tags='+document.getElementById('tags').value+'&n='+razuri(editor1.getValue());
}

</script>

@**
<script src="@routes.Assets.at("ace-builds/src/ace.js")" type="text/javascript" charset="utf-8"></script>

<script>
// div generated by the play forms thing
  var tex = $('#content').val();
  var textarea = $('#content_field').hide();

  var editor1 = ace.edit("lock1");
  editor1.setTheme("ace/theme/twilight");
  editor1.getSession().setMode("ace/mode/markdown");

  //jsh(editor.getValue());

  editor1.getSession().setValue(tex);

  var razChanged=true;

  editor1.getSession().on('change', function(e) {
    textarea.val(editor1.getSession().getValue());
    razChanged=true;
    //var j=editor.getValue();
    //jsh(j);
  });

  editor1.focus();

setInterval(function(){
   if(razChanged) {
     var j=editor1.getValue();
     //jsh(j);
     razChanged=false;
     }
},500);

</script>
**@

<form id="autosave" action="@routes.NotesLocker.autosave()" method="post" >
  <input type="hidden" id="aid" name="id" />
  <textarea style="display:none" id="acontent" name="content"></textarea>
  <input type="hidden" id="atags" name="tags" />
  <input type="hidden" id="aver" name="ver" />
  <input type="hidden" id="anext" name="next" />
</form>

<script src="@Assets.at("bootstrap-2.2.3/js/bootstrap-typeahead.js")"></script>
<script>
//from http://stackoverflow.com/questions/12662824/twitter-bootstrap-typeahead-multiple-values

var $tagsInput = $('#tags');

var userTags = [@Html(stok.tags.map(_._1).mkString("\"", "\",\"", "\""))];

function extractor(query) {
  var result = /([^,]*)$/.exec(query);
  if(result && result[1]) return result[1].replace(/.*,/,'').trim();
  return '';
}

  $('#tags').typeahead({
    source: userTags,
    updater: function(item) {
    return this.$element.val().replace(/([^,]*)\w*$/,item);
  },
    matcher: function (item) {
      var tquery = extractor(this.query);
      //if(!tquery) return false;
      return ~item.toLowerCase().indexOf(tquery.toLowerCase())
    },
    highlighter: function (item) {
    var query = extractor(this.query);
    console.log('q '+query)
    if(query.length>0)
      return item.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
        return '<strong>' + match + '</strong>'
      })
    else return item;//+'s';
  }
});
</script>

<script>
var realm = "@stok.realm";
</script>

<script src="@Assets.at("javascripts/rk-contentassist-sqbr.js")"></script>
<script src="@Assets.at("vendor/jquery.textcomplete.min.js")"></script>
<script src="@Assets.at("javascripts/rk-contentassist.js")"></script>

<script>
var dotTags = [];

$('#content').textcomplete([
  CA_TC_braTags (optsToDomain(braDomain)),
  CA_TC_sqbraTags,
  CA_TC_dotTags (optsToDomain(braDomain.concat(dotTags))),
  CA_TC_to
 ]);


  @if(!isAuto) {
    $ ( '#discard' ).fadeOut ( ) ;
  }

  $('#iconsave' ).fadeOut();

  $('#atags')[0].value = $('#tags')[0].value;
  $('#acontent')[0].value = $('#content')[0].value;

// RAZ new crap with bootstrap 3
  $('.textcomplete-wrapper').addClass('col-sm-12');
  $('.textcomplete-wrapper').css({
    "padding-left" : "0px",
    "padding-right" : "0px"
    });
  $('#content_field').addClass('col-sm-12');
  $('#content_field').css({
    "padding-left" : "0px",
    "padding-right" : "0px"
    });

  setInterval(function(){
    var t = $('#tags')[0].value;
    var i = $('#id')[0].value;
    var v = $('#ver')[0].value;
    var c = $('#content')[0].value;

    if(t != $('#atags')[0].value || c != $('#acontent')[0].value) {
      $('#atags')[0].value = t;
      $('#aid')[0].value = i;
      $('#aver')[0].value = v;
      $('#anext')[0].value = "";
      $('#acontent')[0].value = c;

      var $form = $('#autosave');

      $.post($form.attr('action'), $form.serialize(), function(response) {
       console.log(response);
        if(response.indexOf("msg") == 1) {
          $('#iconsave').css("background-color","")
          $('#iconsave' ).fadeIn(1500);
          $('#iconsave' ).fadeOut(1500);
        } else {
          $('#iconsave').css("background-color","red")
          $('#iconsave')[0].title = response;
          $('#iconsave' ).show();

          if(response.indexOf("Old auto") > 0) {
            $('#submit')[0].disabled=true;
            $('#discard')[0].fadeIn();
            $('#submit').removeClass('btn-info').addClass('btn-danger');
            $('#submit')[0].title="This note was completed in a different window!";
          }
        }
      });
    }

  },5000);
</script>

@** typeahead in the main box - not needed
<script src="@routes.Assets.at("bootstrap-2.2.3/js/bootstrap-typeahead.js")"></script>
<script>
//from http://stackoverflow.com/questions/12662824/twitter-bootstrap-typeahead-multiple-values

var $myTextarea = $('#content');

function extractor(query) {
var result = /^(\.\w*)$/m.exec(query);
if(result && result[1]) return result[1].trim();
return '';
}

$('#content').typeahead({
source: dotTags,
updater: function(item) {
return this.$element.val().replace(/\.\w*$/,'.')+item.replace(/(\w)[: ].*/, '\$1') +' ';
},
matcher: function (item) {
var tquery = extractor(this.query);
if(!tquery) return false;
tquery=tquery.substring(1)
return item.toLowerCase().indexOf(tquery.toLowerCase()) == 0;
},
highlighter: function (item) {
var query = extractor(this.query).replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&')
if(query.lentgh>1)
return item.replace(new RegExp('(^' + query.substr(1) + ')', 'ig'), function ($1, match) {
return '<strong>' + match + '</strong>'
})
else return item;
}
});
</script>
**@

