@**************
browse a domain
**************@
@(realm:String, cat:String, left:List[razie.diesel.RDOM.A], right:List[razie.diesel.RDOM.A])(mkLink:String=>String)

<div class="row">
  <div class="col-sm-4 alert alert-info" style="height: 120px; overflow-y: auto; vertical-align: middle; text-align: right;">
          @left.distinct.map { assoc =>
            @if(assoc.aRole.length > 0) {
              <small>(@assoc.aRole)</small>
            }
            <a href="@mkLink(assoc.a)"><b>@assoc.a</b></a><br>
          }
  </div>
  <div class="col-sm-4 alert alert-info" style="height: 120px; vertical-align: middle; text-align: center;">
<span style="top: 30px; position:relative"><b>@cat</b></span>
  </div>
  <div class="col-sm-4 alert alert-info" style="height: 120px; overflow-y: auto; vertical-align: middle; text-align: left;">
        @right.distinct.map { assoc =>
          <a href="@mkLink(assoc.z)"><b>@assoc.z</b></a>
          @if(assoc.zRole.length > 0) {
            <small>(@assoc.zRole)</small>
          }
          <br>
        }
  </div>
</div>

