@**************
browse a domain
**************@
@(realm:String, cat:String, left:List[razie.diesel.RDOM.A], right:List[razie.diesel.RDOM.A])(mkLink:String=>String)(implicit stok: controllers.StateOk)

@stok.title("Category browser: "+cat)

@diesel.browser(realm, cat, left, right)(mkLink)

<div class="col-sm-12">
  @razie.wiki.dom.WikiDomain(realm).rdom.classes.get(cat).map { c =>
    <div align="right"><small><a href="/diesel/list2/@c.name">list</a> | <a href="/doe/diesel/create/@c.name">new</a>
      </small></div><div class="well">
      @Html(c.fullHtml)
      </div>
    @wiki.wikiAddMore(razie.wiki.model.WID("Category", cat).r(realm), None, stok.au)(stok.au, stok.request.get)
  }.getOrElse{
    <span style="color:red">Absolutely nothing found about <b>@cat</b> - it is most likely inferred!</span>
    <p>
    <a href="/wikie/edit/@{realm}.Category:@cat">Create <b>@cat</b></a><br><br>
  }


</div>

