@**************
browse a domain
**************@
@(realm:String, middle:List[razie.diesel.RDOM.A], left:List[razie.diesel.RDOM.A], right:List[razie.diesel.RDOM.A])(mkLink:String=>String)

@height()=@{
  if(left.size < 3 && middle.size < 3 && right.size < 3) "80px"
  else if(left.size > 5 || middle.size > 5 || right.size > 5) "200px"
  else "130px"
}

@label(s:String)=@{
  razie.wiki.model.Wikis(realm).index.label(s).getOrElse(s)
}

<div class="row">
  <div class="col-sm-4 alert alert-info" style="height: @height(); overflow-y: auto; vertical-align: middle; text-align: right;">
          @left.distinct.map { assoc =>
            @if(assoc.zRole.length > 0) {
              <small>(@assoc.zRole)</small>
            }
            <a href="@mkLink(assoc.z)">@label(assoc.z)</a><br>
          }
  </div>
  <div class="col-sm-4 alert alert-info" style="height: @height(); overflow-y: auto; vertical-align: middle; text-align: center;">
  @middle.distinct.map { assoc =>
    @if(assoc.zRole.length > 0) {
      <small>(@assoc.zRole)</small>
    }
  <a href="@mkLink(assoc.z)">@label(assoc.z)</a><br>
  }
  </div>
  <div class="col-sm-4 alert alert-info" style="height: @height(); overflow-y: auto; vertical-align: middle; text-align: left;">
        @right.distinct.map { assoc =>
          <a href="@mkLink(assoc.z)">@label(assoc.z)</a>
          @if(assoc.zRole.length > 0) {
            <small>(@assoc.zRole)</small>
          }
          <br>
        }
  </div>
</div>

