@(wid:model.WID, cid:String, myForm:Form[controllers.Comment.Habibi], user:Option[model.User])

   @htmlHead("Editing comment")

   @navbar(user)
   
    <div class="container">

        <div class="row">

    <div class="span9">

<div >
@import helper.twitterBootstrap._

        @helper.form(action=routes.Comment.save(wid, cid), 'class->"well form-inline") {
  @helper.textarea(
    myForm("content"), 
    '_label -> "Edit comment", 
    '_showConstraints -> false,
    'class -> "span6",
    'rows->15)
          <button type="submit" class="btn btn-primary" onclick="$(this).addClass('disabled');">Now</button>
          }

      <hr>

      @htmlFooter()

    </div> <!-- /span9 -->

      <div class="span3">
          @wiki.wikiFrag(model.WID("Admin","Right"),user,true)
      </div>

      </div> <!-- row -->

    </div> <!-- /container -->

    @htmlBottom()
    