@**************
comments - list of comments
**************@
@(ostream:Option[razie.wiki.model.CommentStream], pid:String, role:String, canAdd:Boolean)(implicit stok:controllers.StateOk)
@import razie.wiki.model._

@ostream.map {stream=>
    There's @stream.comments.size comment(s)...
  @if(stream.comments.size == 0) {
    &nbsp add one below!
  }
    <p>

    @stream.comments.map { c =>
      <div class="well">
        <b>By: <a href="/user/@c.userName">@(c.userName)</a></b>
          &nbsp; <a href="@routes.CommentControl.startComment(pid, role, {new com.mongodb.casbah.Imports.ObjectId().toString}, "text")" class="btn btn-xs btn-success">Reply</a>
          &nbsp; <a href="" class="btn btn-xs btn-warning">Report</a>
        @if(canAdd && controllers.CommentUtils.canEdit(c,stok.au)) {
            &nbsp; <a href="@routes.CommentControl.edit(pid,role,c._id.toString)" class="btn btn-xs btn-info">Edit</a>
        }
        @if(canAdd && controllers.CommentUtils.canRemove(c,stok.au)) {
            &nbsp; <a href="@routes.CommentControl.remove(pid,role,c._id.toString)" class="btn btn-xs btn-danger">Remove</a>
        }

        @if(stok.au.exists(_.isActive) && !(c.likes contains stok.au.get._id.toString)) {
            &nbsp; <a href="@routes.CommentControl.like(pid, role, c._id.toString, 1)" class="glyphicon glyphicon-thumbs-up" title="This comment is helpful"></a>
        } else {
          @if(stok.au.exists(_.isActive)) {
            &nbsp; <span class="glyphicon glyphicon-thumbs-up" title="You already rated this comment"></span>
          } else {
            &nbsp; <span class="glyphicon glyphicon-thumbs-up" title="Need to login to rate comment"></span>
          }
        }
        @if(c.likes.size > 0) {
          <span style="font-size: x-small">(@c.likes.size)</span>
        }

        @if(stok.au.exists(_.isActive) && !(c.dislikes contains stok.au.get._id.toString)) {
          &nbsp; <a href="@routes.CommentControl.like(pid,role,c._id.toString, 0)" class="glyphicon glyphicon-thumbs-down" title="This comment is not helpful"></a>
        } else {
          @if(stok.au.exists(_.isActive)) {
            &nbsp;  <span class="glyphicon glyphicon-thumbs-down" title="You already rated this comment"></span>
          } else {
            &nbsp; <span class="glyphicon glyphicon-thumbs-down" title="Need to login to rate comment"></span>
          }
        }
        @if(c.dislikes.size > 0) {
          <span style="font-size: x-small">(@c.dislikes.size)</span>
        }
        <br>
        <br>
        @Html(Wikis.format(WID.empty.r(stok.realm), "md", c.content, None, stok.au))
      </div>
    }
}

@commentBar

 @** add new comments **@
@commentBar() = {
@if(canAdd) {
  <a href="@routes.CommentControl.startComment(pid, role, {new com.mongodb.casbah.Imports.ObjectId().toString}, "text")" class="btn btn-default"><span style="color:orange">+</span>Comment</a>
  <a href="@routes.CommentControl.startComment(pid, role, {new com.mongodb.casbah.Imports.ObjectId().toString}, "video")" class="btn btn-default"><span style="color:orange">+</span>Video</a>
  <a href="@routes.CommentControl.startComment(pid, role, {new com.mongodb.casbah.Imports.ObjectId().toString}, "photo")" class="btn btn-default"><span style="color:orange">+</span>Photo</a>
  <a href="@routes.CommentControl.startComment(pid, role, {new com.mongodb.casbah.Imports.ObjectId().toString}, "slideshow")" class="btn btn-default"><span style="color:orange">+</span>Slideshow</a>

  &nbsp;&nbsp;

}
}


