@(salutation:String, user: model.User, item:Int)

@import org.joda.time.DateTime

      <div class="well">
        <div class="row">
          <div class="span5">
          <h2>@salutation, @user.ename!</h2>
          <p style="font-weight:bold">Add stuff to your profile with the buttons below.</p>
<p>You can "Like" any topic and add it to your profile. Start by adding sports, clubs, series and seasons, then see the magic.</p>
<p>If you can't find your sports, clubs or championships - add them! If you don't feel like it, tell us and we'll add them for you.</p>
<p>Map not centered correctly? Please update your location in your <a href="/do/profile">profile</a>!</p>
          <p><a class="btn btn-primary" href="/wiki/Help:Main Page">Learn more &raquo;</a></p>
          </div>
@uFragInfo1(user, item)
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span3">
          <h2>Sports</h2>
            @if(user.pages("Sport").size>0) {
              <ul>
              @for(t <- user.pages("Sport")) {
                <li><a href="/user/@user.id/wiki/@t.cat/@t.name">@model.Wikis.label(t.cat,t.name)</a></li>
              }
              </ul>
            } else {
              <b style="color:red">No sports...</b><p>
            }
          <p>
            <a class="btn btn-mini" href="/wiki/Sport">Add &raquo;</a></p>
          </p>
        </div>
        <div class="span3">
          <h2>Clubs</h2>
            @if(user.pages("Club").size>0) {
              <ul>
              @for(t <- user.pages("Club")) {
                <li><a href="/user/@user.id/wiki/@t.cat/@t.name">@model.Wikis.label(t.cat,t.name)</a></li>
              }
              </ul>
            } else {
              <b style="color:red">No clubs...</b><p>
            }
          <p>
            <a class="btn btn-mini" href="/wiki/Club">Add &raquo;</a></p>
          </p>
        </div>
        <div class="span3">
          <h2>Championships</h2>
            @if(user.pages("Series").size>0) {
              <ul>
              @for(t <- user.pages("Series")) {
                <li><a href="/user/@user.id/wiki/@t.cat/@t.name">@model.Wikis.label(t.cat,t.name)</a></li>
              }
              </ul>
            } else {
              <b style="color:red">No championships...</b><p>
            }
          <p>
            <a class="btn btn-mini" href="/wiki/Series">Add &raquo;</a></p>
          </p>
       </div>
        <div class="span3">
          <h2>Seasons</h2>
            @if(user.pages("Season").size>0) {
              <ul>
              @for(t <- user.pages("Season")) {
                <li><a href="/user/@user.id/wiki/@t.cat/@t.name">@model.Wikis.label(t.cat,t.name)</a></li>
              }
              </ul>
            } else {
              <b style="color:red">No seasons...</b><p>
            }
          <p>
            <a class="btn btn-mini" href="/wiki/Season">Add &raquo;</a></p>
          </p>
       </div>
      </div>
