@(pForm: Form[(String, String)], exp: String, e: String, u: String)(implicit stok: controllers.StateOk)

@htmlHeadBar()

<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="jumbotron">

    <div class="row">
      <div class="col-sm-6">
        <h2>Email verification</h2>
        <p>Please login for verification!
      </div>

      <div class="col-sm-4">

        @import helper.twitterBootstrap._
        @import play.api.Play.current
        @import play.api.i18n.Messages.Implicits._

        @helper.form(action = routes.Tasks.verifyEmail3(exp, e, u), 'class -> "well") {

          @util.razText(pForm, "email", "Email", '_error -> pForm.error("email"))

          @helper.inputPassword(
            pForm("password"),
            '_label -> "Password",
            '_error -> pForm.error("password"))

          <button type="submit" class="btn btn-primary">Continue</button>

          @pForm.globalError.map { err =>
            <p style="color: red;
              font-weight: bold">@err.message</p>
          }

          <p><small>By registering or logging in, you agree to the <a href="@controllers.WikiUtil.w("Terms of Service")">
            Terms of Service</a></small><p>
        }

      </div>
    </div>

  </div>

    <!-- Example row of columns -->

  <hr>

  @htmlFooter()

</div> <!-- /container -->

@htmlBottom()

