@***
purge audit tables
***@
@(what:Option[String])(implicit au:Option[model.User])

@fufu(db:com.mongodb.casbah.Imports.DBObject, k:String, v:String) = {
  @k match {
    case "cleared" => {
    <a href="@routes.Admin.clearaudit(db.get("_id").toString)">clear</a>
    }
    case "when" if (db.containsField("link")) => {
      <a href="@db.get("link").toString">@v</a>
    }
   case "msg" => {
       <a href="@routes.Admin.showAudit(v)">@v</a>
    }
    case _ => { @v }
    }
}

@htmlHeadBar("admin audit", au)

  <div class="container">

    <h2>Audit events <small>| @math.min(1000, razie.db.RazMongo("Audit").size) of @razie.db.RazMongo("Audit").size |
        <a href="@routes.Admin.clearauditSome(5)">clear 5</a> | <a href="@routes.Admin.clearauditSome(10)">clear 10</a> |
        <a href="@routes.Admin.clearauditSome(20)">clear 20</a> | <a href="#bottom">Bottom</a></small></h2>

    @util.utilTable("Audit", Seq("level"->"L", "when"->"When", "msg"->"What", "cleared"->"Done", "details"->"Details"),what.map(s=>Map("msg" -> s)),Some("when"), Some(fufu))

      <a name="bottom"></a>
      <hr>

    @if(what.isDefined) {
      <a href="@routes.Admin.clearauditAll(what.mkString)">clear all @what</a>
    } else {
      <a href="@routes.Admin.clearauditAll()">clear all</a>
    }
    <hr>

     Summary:

      <ul>
          @controllers.Admin.auditSummary.map{t=>
              <li>@t._1 <a href="@routes.Admin.showAudit(t._2)">@t._2</a>
          }
       </ul>

      <hr>

    @htmlFooter()

  </div> <!-- /container -->

  @htmlBottom()

