@**
screen to admin one user
**@
@()(implicit stok: controllers.StateOk)
@import razie.wiki.Dec

@stok.title("admin testing")

Target host:
<input type="text" class="input-lg" name="target" id="target" onchange="setTarget();" value="@stok.request.get.host"></input>

<h2>Content test</h2>

Tests the content of all pages - through parser looking for CANNOT PARSE errors


<a class="btn btn-primary" onclick="runContentTest();">Run content test</a>
<a class="btn btn-primary" onclick="pauseTest();">Pause</a>
<a class="btn btn-primary" onclick="stopTest();">Stop</a>
<p></p>
  <a class="btn btn-primary" onclick="runStressTest();">Run STRESS test</a>
<a class="btn btn-primary" onclick="runSuites();">Run Suites</a>

<div class="row">
  <div class="col-md-9">
<table>
  <tr> <td>Count:</td> <td><div id="count">?</div></td> </tr>
  <tr> <td>Current:</td> <td><div id="cur">?</div></td> </tr>
  <tr> <td>Average:</td> <td><div id="average">?</div></td> </tr>
  <tr> <td>Errors:</td> <td><div id="err"></div></td> </tr>
</table>
    Report:<br>
    <div id="topics">
    </div>
  </div>
  <div id="frag" style="max-lines: 20" class="col-md-3">
  </div>
</div>

<script src="@routes.Assets.at("javascripts/weTest.js")"></script>

<script>

function testApi() {
  var tests = [
    // test API
    sok('/weapi/v1/entry/rk.Admin:TestPublic',         'Testing'),
    sok('/weapi/v1/content/rk.Admin:TestPublic',       'Testing'),
    sok('/weapi/v1/html/rk.Admin:TestPublic',          'Testing'),
    sok('/weapi/v1/entry/id/574f1c26b0c8520467c017c7', 'Testing'),
    nok('/weapi/v1/entry/ver/1/rk.Admin:TestPublic',   'Testing'),

    // test private
    auth('None'),
    err('/weapi/v1/entry/rk.Admin:TestPrivate',        401),
    err('/weapi/v1/content/rk.Admin:TestPrivate',      401),
    err('/weapi/v1/html/rk.Admin:TestPrivate',         401),
    err('/weapi/v1/entry/id/506c867a0cf26592618ee264', 401),
    err('/weapi/v1/entry/ver/1/rk.Admin:TestPrivate',  401),
    auth(''),

    err('/weapi/v1/entry/rk.A:dm:in:TestPublic',       404)
  ];
  return tests;
}

function testCode() {
  var tests = [
    // test API
    sok('/improve/skiing/view', '<title>View progress</title>'),
    //sok('http://www.effectiveskiing.com/improve/skiing/view', '<title>'),

    // test private
    //auth('None'),
    //err('/weapi/v1/entry/ver/1/rk.Admin:TestPrivate',  401),
    auth('')
    ];
  return tests;
}

var suites = [[], testCode(), testApi()];

</script>


