@**
DB Admin - admin a record
**@
@(name:String, id:String, col:Option[com.mongodb.casbah.Imports.DBObject])(implicit stok: controllers.StateOk)
@import razie.js

@stok.title("admin db entity: "+name)

@col.map { db =>
<ul>
  @db.keySet.map { k =>
       <li><b>@k</b> : @admin.adminDbRelationship(name, k, db.get(k).toString)</li>
  }

  @if(!Array("User","Profile","WikiEntry","Ver","Audit", "WikiAudit").contains(name)) {
    <a class="btn btn-xs btn-danger" href="@routes.AdminDb.delcoldb(name,db.get("_id").toString)">DEL - no confirmation!</a>
  }
</ul>
}

<hr>
<form action="@routes.AdminDb.updcoldb(name,id)" class="form-inline" method="POST">
Field: <input name="field">
Value: <input name="value">
Type:
  <select id="type" name="type" class="input-small">
    <option value="String" >String</option>
    <option value="Number" >Number</option>
  </select>
<input type="submit" value="Update">
</form>
<hr>

@col.map { db =>
    <pre>
  @js.tojsons(js.parse(db.toString))
    </pre>
  <hr>@db.toString
   }

<h2>Usages</h2>
  <div id="usages"><span class="badge">...loading...</span></div>
  <script async="">razOnLoad(function(){
    $("#usages").load("@routes.AdminDb.dbFind(id)");
  });
  </script>

