@(user:Option[model.User], admin:Option[model.User])
@import com.mongodb.casbah.Imports._

@pro(p:model.Profile) = {
<br>userId: @p.userId
<br>location: @p.loc
<br>  tags: @p.tags
<br>  perms: @p.perms
<br>  aboutMe: @p.aboutMe
<br>  relationships: @p.relationships.map { r =>
      <a href="/admin/user/@r._1">@r._1</a> - @r._2 <br>
    }
<br>  _id: @p._id
}
    

  @htmlHead("admin user")
  @navbar(admin)
   
  <div class="container">

    <h2>User</h2>

@user.toString
<p>
@user match {
  case Some(u) => {
<br>userName:@u.userName
<br>firstName:@u.firstName
<br> lastName:@u.lastName
<br> yob: @u.yob
<br>  email: @model.Enc.unapply(u.email)
<br>  emailenc: @u.email
<br>  pwd: @u.pwd
<br>  status: @u.status
<br>  roles: @u.roles
<br>  _id: @u.id
}
}
<p>
@user.map(_.profile)
<p>
@user.flatMap(_.profile).map(pro(_))

    <hr>
<ul>Counts
@user.map {u=>
<li>  WikiEntry    count = @model.Mongo.db("WikiEntry").count(Map("by" -> u.id))
<li>  WikiEntryOld count = @model.Mongo.db("WikiEntryOld").count(Map("entry.by" -> u.id))
<li>  Comment count = @model.Mongo.db("Comment").count(Map("userId" -> u._id))
}
</ul>
    <hr>

<a href="/admin/user/@user.get.id/delete2">IF YOU PRESS THIS THE WORLD WILL END! YOU SURE?</a>

    <hr>
    @htmlFooter()

  </div> <!-- /container -->

  @htmlBottom()