@**
screen to admin one user
**@
@(user:Option[model.User], admin:Option[model.User])
@import com.mongodb.casbah.Imports._

@pro(p:model.Profile) = {
<br>userId: @p.userId
<br>location: @p.loc
<br>  tags: @p.tags
<br>  perms: @p.perms
<br>  aboutMe: @p.aboutMe
<br>  relationships: @p.relationships.map { r =>
      <a href="/razadmin/user/@r._1">@r._1</a> - @r._2 <br>
    }
<br>  _id: @p._id
}


  @htmlHeadBar("admin user", admin)

  <div class="container">

    <h2>User</h2>

@user.toString
<p>
@user.map {u=>
<br>userName:@u.userName
<br>firstName:@u.firstName
<br> lastName:@u.lastName
<br> yob: @u.yob
<br>  email: @razie.wiki.Enc.unapply(u.email)
<br>  emailenc: @u.email
<br>  pwd: @u.pwd
<br>  status: @u.status
<br>  roles: @u.roles
<br>  realms: @u.realms
<br>  prefs: @u.prefs
<br>  _id: @u.id
}
<p>
@user.map(_.profile)
<p>
@user.flatMap(_.profile).map(pro(_))

    <hr>
<ul>Counts
@user.map {u=>
<li>  WikiEntry    count = @razie.db.RazMongo("WikiEntry").count(Map("by" -> u._id))
<li>  WikiEntryOld count = @razie.db.RazMongo("WikiEntryOld").count(Map("entry.by" -> u._id))
<li>  Comment count = @razie.db.RazMongo("Comment").count(Map("userId" -> u._id))
<li>  Notes    count = @razie.db.RazMongo("weNote").count(Map("by" -> u._id))
<li>  Quota =  @user.flatMap(_.quota.updates)
}
</ul>
    <hr>

<a href="/razadmin/user/@user.get.id/su">SU</a> |
<a href="/razadmin/user/@user.get.id/delete1">DELETE</a> |
@if(user.isDefined) {
@if('a' == user.get.status) {
<a href="/razadmin/user/@user.get.id/status/s">SUSPEND</a>
} else {
<a href="/razadmin/user/@user.get.id/status/a">ACTIVATE</a>
}
}
|
      @helper.form(action=routes.Admin.uperm(user.get.id), 'class->"well form-inline") {
        <input type="text" class="input-xlarge" name="perm" placeholder="+Perm">
        <button type="submit" class="btn btn-default">+/-Perm</button>
      }

      @helper.form(action=routes.Admin.uquota(user.get.id), 'class->"well form-inline") {
        <input type="text" class="input" name="quota" placeholder="+Quota">
        <button type="submit" class="btn btn-default">+/-Quota</button>
      }

      @helper.form(action=routes.Admin.uname(user.get.id), 'class->"well form-inline") {
        <input type="text" class="input" name="val" placeholder="username">
        <button type="submit" class="btn btn-default">Username</button>
      }

      @helper.form(action=routes.Admin.urealms(user.get.id), 'class->"well form-inline") {
        <input type="text" class="input-xlarge" name="val" placeholder="Realms">
        <button type="submit" class="btn btn-default">Set Realms</button>
      }

  <hr>

  <ul>Events
  @user.map {u=>
    @razie.db.RazMongo("UserEvent").find(Map("userId" -> new ObjectId(u.id))).map {ue=>
      <li> @ue.toString
    }
  }
  </ul>

  <hr>

  <ul>Links
  @user.map {u=>
    @u.wikis.map {uw=>
      <li> @uw._id - @uw.role - <a href="/wiki/@uw.wid.wpath">@uw.wid</a>
    }
  }
  </ul>

  <hr>

  @htmlFooter()

</div> <!-- /container -->

@htmlBottom()
