@(name:String, col:com.mongodb.casbah.MongoCollection)

@htmlHead("admin db: "+name)
@navbar(None)
   
<div class="container">

<h2>Records</h2>

@col.map { db =>
<ul>
  @db.keySet.map { k =>
   <li>@k : @db.get(k)</li>
}
@if(!Array("User","Profile","WikiEntry","Ver","Audit", "WikiAudit").contains(name)) {
<a class="btn btn-mini btn-danger" href="@routes.Admin.delcoldb(name,db.get("_id").toString)">DEL - no confirmation!</a>
}
</ul>
   }
<hr>

@col.map { db =>
  <br>@db.toString
   }

<hr>

  @htmlFooter()

</div> <!-- /container -->

@htmlBottom()
    