@()(implicit stok: controllers.StateOk)
@import razie.db.RazMongo

@lictab(c: String, cols: String) = {
  <li><a href="@routes.Admin.col(c)">@c (@RazMongo(c).size)</a>
    | <a href="@routes.Admin.colTab(c, cols)">@c (@RazMongo(c).size)</a></li>
}

@stok.title("admin db")

  <h2>Collections</h2>

Find: /razadmin/db/find/VALUEHERE

  <ul>
  @RazMongo.collectionNames.toList.sortWith(_ < _).map { c =>
    @c match {
      case "WikiCount" => {
        @lictab(c, "")
      }
      case "WikiAudit" => {
        @lictab(c, "event,userId,crDtm,wpath")
      }
      case "RacerKidAssoc" => {
        @lictab(c, "_id,from,to,assoc,role,owner,year,crDtm")
      }
      case "RacerKid" => {
        @lictab(c, "_id,ownerId,userId,kind,rkiId,oldRkId,crDtm")
      }
      case _ => {
        <li><a href="@routes.Admin.col(c)">@c (@RazMongo(c).size)</a></li>
      }
    }
  }
  </ul>

