@(salutation:String, au:Option[model.User])
@import db.RazMongo

@htmlHeadBar("admin index", au)

<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <div class="row">
      <div class="span4">
        <b><a href="@routes.Profile.doeJoin()">Not @au.get.ename?</a></b>
        <p>If you're not an admin of this site, please leave and report seeing this page with a brief support request at the bottom of the page</p>
        See the content of a page: /wikie/content/Page:X
      <p><a href="@routes.Admin.system("x")" class="btn btn-large">system</a>
        <p><a href="/razadmin/reloadurlmap" class="btn btn-large">admin reload urlmap</a>
        <p><a href="/razadmin/resendEmails" class="btn btn-large">resend emails</a>
        <p><a href="/razadmin/tickEmails" class="btn btn-large">emails tick</a>
        <p><a href="@routes.Wikie.replaceAll1()" class="btn btn-large">replace all</a>
      </div>
    <div class="span6">
      <p><a href="/razadmin/db" class="btn btn-large">admin db</a>
      <a href="/razadmin/users" class="btn btn-large">admin users</a>
      <p><a href="/razadmin/wikidx" class="btn btn-large">admin wikidx</a>
      <p><a href="/razadmin/audit/purge1" class="btn btn-large">audit purge1</a>
      <p><a href="/razadmin/audit" class="btn btn-large">admin audit</a>
      <a href="/razadmin/auditreport/d/1" class="btn btn-large">day</a>
      <a href="/razadmin/auditreport/d/7" class="btn btn-large">week</a>
      <a href="/razadmin/auditreport/d/30" class="btn btn-large">month</a>
      <a href="/razadmin/auditreport/y/1" class="btn btn-large">yesterday</a>
    </div>
  </div>
</div>

  <div class="row">
    <div class="span3">
      <h2>Pages</h2>
      <p>There are @RazMongo("WikiEntry").size pages</p>
      <p>There are @RazMongo("weNote").size notes</p>
      <p><a class="btn" href="/razadmin/calendars">View details &raquo;</a></p>
    </div>
    <div class="span3">
      <h2>Users</h2>
      <p>@RazMongo("User").size users and @RazMongo("RacerKid").size RacerKidz</p>
      <p><a class="btn" href="/razadmin/calendars">View details &raquo;</a></p>
    </div>
    <div class="span3">
      <h2>Registrations</h2>
      <p>@RazMongo("Reg").size and @RazMongo("RegKid").size kidz</p>
      <p><a class="btn" href="/razadmin/calendars">View details &raquo;</a></p>
   </div>
    <div class="span3">
      <h2>Forms</h2>
      <p>@RazMongo("weForm").size forms</p>
      <p><a class="btn" href="/razadmin/calendars">View details &raquo;</a></p>
   </div>
  </div>

  <hr>
  @htmlFooter()
</div> <!-- /container -->

@htmlBottom()
    