@***
purge audit tables
***@
@(reactor:String, target:String, lnew:List[controllers.Admin.WEAbstract], lremoved:List[controllers.Admin.WEAbstract], lchanged:List[(controllers.Admin.WEAbstract, controllers.Admin.WEAbstract, String)])(implicit au:Option[model.User])
@import razie.wiki.model.WID

@wp(wid:WID)=@{
  if(_root_.admin.Config.isLocalhost && wid.getRealm == "rk") "rk." + wid.wpath
  else wid.wpath
}

@htmlHeadBar("admin difflist", au)

  <div class="container">

    <h2>Diffs from @target</h2>

      Removed:
    <ul>
    @lremoved.sortBy(_.realm).map { wea =>
            <li>
      @wea.realm <a href="http://@target@WID(wea.cat, wea.name).r(wea.realm).urlRelative">@wea.cat:@wea.name v@wea.ver</a>
    }
    </ul>
    <hr>
    Diffs:
    <table class="table table-striped">
    @lchanged.sortBy(_._2.realm).map { t =>
      <tr>
        <td>
          <a href="@routes.Admin.applyDiff2(target, WID(t._2.cat, t._2.name).r(t._2.realm))" class="btn btn-xs btn-default">USE REMOTE</a>
      </td>
        <td>
          @t._2.realm <a href="@WID(t._1.cat, t._1.name).r(t._1.realm).url">@t._1.cat:@t._1.name</a> (<a href="/wikie/content/@wp(WID(t._1.cat, t._1.name).r(t._1.realm))">content</a>) TO
        <a href="http://@target/@WID(t._2.cat, t._2.name).r(t._2.realm).urlRelative">@t._2.cat:@t._2.name</a>
        - see
      <a href="@routes.Admin.showDiff(target, WID(t._2.cat, t._2.name).r(t._2.realm))" class="btn btn-xs btn-info">>DIFF</a>
        </td>
        <td>
          @t._3
        </td>
        <td>
      <a href="@routes.Admin.applyDiff(target, WID(t._2.cat, t._2.name).r(t._2.realm))" class="btn btn-xs btn-default">USE LOCAL</a>
        </td>
      </tr>
    }
    </table>

    <hr>
    New: (won't copy over links)
    <table class="table table-striped">
    @lnew.sortBy(_.realm).map { wea =>
      <tr>
        <td>
          <a href="@routes.Wikie.wikieDelete1(WID(wea.cat, wea.name).r(wea.realm))" class="btn btn-xs btn-default">DELETE</a>
        </td>
        <td>
        @wea.realm <a href="@WID(wea.cat, wea.name).r(wea.realm).url">@wea.cat:w/@wea.name v@wea.ver </a>
        ( <a href="/wikie/content/@wp(WID(wea.cat, wea.name).r(wea.realm))">content </a> )
        </td>
        <td>
      <a href="@routes.Admin.applyDiffCr(target, WID(wea.cat, wea.name).r(wea.realm))" class="btn btn-xs btn-default">TO REMOTE</a>
        </td>
      </tr>
    }
    </table>
    <hr>

    @htmlFooter()

  </div> <!-- /container -->

  @htmlBottom()
