@***
purge audit tables
***@
@(src:String, dest:String, diff:difflib.Patch, srcWe:razie.wiki.model.WikiEntry, destWe:razie.wiki.model.WikiEntry)(implicit au:Option[model.User])
@import razie.wiki.model.WID

@wp(wid:WID)=@{
  if(_root_.admin.Config.isLocalhost && wid.getRealm == "rk") "rk." + wid.wpath
  else wid.wpath
}

@htmlHeadBar("admin showDiff", au)

  <div class="container">

    <h2>Diffs</h2>

      <table class="table table-striped">
          <thead>
              <td>What</td>
              <td>Local</td>
              <td>Remote</td>
          </thead>
        <tr>
          <td>Ver/updDtm</td>
          <td>@srcWe.ver / @srcWe.updDtm</td>
          <td>@destWe.ver / @destWe.updDtm</td>
        </tr>
@diff.getDeltas.map{d =>
  @d.getType.toString match {
      case "INSERT" => {
          <tr class="success">
          }
      case "DELETE" => {
          <tr class="error">
          }
      case "CHANGE" => {
          <tr class="">
          }
     case _ => {
         <tr>
         }
      }
      <td>
          @d.getType
      </td>
      <td>
          @d.getOriginal.getPosition <br>
          @d.getOriginal.getLines.map{s=> @s <br>}
      </td>
<td>
    @d.getRevised.getPosition <br>
    @d.getRevised.getLines.map{s=> @s <br>}
</td>
  </tr>
}
@if(srcWe.tags.mkString(",") != destWe.tags.mkString(",")) {
  <tr>
    <td>tags</td>
    <td>@srcWe.tags.mkString(",")</td>
    <td>@destWe.tags.mkString(",")</td>
  </tr>
}
      </table>

      <hr>
          @diff.getDeltas.mkString("\n")
      <hr>

    @htmlFooter()

  </div> <!-- /container -->

  @htmlBottom()
