@(salutation:String)(implicit stok: controllers.StateOk)
@import razie.db.RazMongo

@stok.title("admin index")

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-4">
        <b><a href="@routes.Profile.doeJoin()">Not @stok.au.get.ename?</a></b>
        <p>If you're not an admin of this site, please leave and report seeing this page with a brief support request at the bottom of the page</p>
        See the content of a page: /wikie/content/Page:X
      <p>
        <a href="@routes.AdminSys.system("x")" class="btn btn-default btn-lg">system</a>
        <a href="/razadmin/difflist/all/www.racerkidz.com" class="btn btn-default btn-lg">diff list RK</a>
        <p><a href="/razadmin/page/reloadurlmap" class="btn btn-default btn-lg">admin reload urlmap</a>
        <p><a href="@routes.AdminTest.test()" class="btn btn-default btn-lg">TESTS</a>
        <p>
          <a href="/razadmin/page/resendEmails" class="btn btn-default btn-lg">resend emails</a>
          <a href="/razadmin/page/send10" class="btn btn-default btn-lg" title="send 10 emails">send 10 emails</a>
          <a href="/razadmin/page/stopEmails" class="btn btn-default btn-lg" title="suspend all existing emails">suspend emails</a>
          <a href="#" class="btn btn-default btn-lg" onclick="testEmail()">SEND TEST EMAIL</a>
          <a href="/razadmin/page/tickEmails" class="btn btn-default btn-lg">emails tick</a>
        <p></p>
        <a href="@routes.Wikie.replaceAll1()" class="btn btn-default btn-lg">replace all</a>
      </div>
    <div class="col-sm-6">
      <p><a href="/razadmin/page/db" class="btn btn-default btn-lg">admin db</a>
      <a href="/razadmin/page/users" class="btn btn-default btn-lg">admin users</a>
      <p><a href="/razadmin/wikidx" class="btn btn-default btn-lg">admin wikidx</a>
      <p><a href="/razadmin/audit/purge1" class="btn btn-default btn-lg">audit purge1</a>
      <p><a href="/razadmin/audit" class="btn btn-default btn-lg">admin audit</a>
      <a href="/razadmin/auditreport/d/1" class="btn btn-default btn-lg">day</a>
      <a href="/razadmin/auditreport/d/7" class="btn btn-default btn-lg">week</a>
      <a href="/razadmin/auditreport/d/30" class="btn btn-default btn-lg">month</a>
      <a href="/razadmin/auditreport/y/1" class="btn btn-default btn-lg">yesterday</a>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-sm-3">
      <h2>Pages</h2>
      <p>There are @RazMongo("WikiEntry").size pages</p>
      <p>There are @RazMongo("weNote").size notes</p>
      <p><a class="btn btn-default" href="/razadmin/calendars">View details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
      <h2>Users</h2>
      <p>@RazMongo("User").size users and @RazMongo("RacerKid").size RacerKidz</p>
      <p><a class="btn btn-default" href="/razadmin/calendars">View details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
      <h2>Registrations</h2>
      <p>@RazMongo("Reg").size and @RazMongo("RegKid").size kidz</p>
      <p><a class="btn btn-default" href="/razadmin/calendars">View details &raquo;</a></p>
   </div>
    <div class="col-sm-3">
      <h2>Forms</h2>
      <p>@RazMongo("weForm").size forms</p>
      <p><a class="btn btn-default" href="/razadmin/calendars">View details &raquo;</a></p>
   </div>
  </div>

  <script>
    function testEmail() {
     $.post('/razadmin/testEmail');
    }
  </script>
