@(name:String, id:String, col:Option[com.mongodb.casbah.Imports.DBObject])(implicit stok: controllers.StateOk)

@stok.title("admin db entity: "+name)

@col.map { db =>
<ul>
  @db.keySet.map { k =>
    <li>@k : @admin.maybe_entity(name, k, db.get(k).toString)</li>
  }

  @if(!Array("User","Profile","WikiEntry","Ver","Audit", "WikiAudit").contains(name)) {
    <a class="btn btn-xs btn-danger" href="@routes.Admin.delcoldb(name,db.get("_id").toString)">DEL - no confirmation!</a>
  }
</ul>
}

<hr>

@col.map { db =>
  <br>@db.toString
   }

<h2>Usages</h2>
  <div id="usages"><span class="badge">...loading...</span></div>
  <script async="">$("#usages").load("@routes.Admin.dbFind(id)");</script>
