@***
purge audit tables
***@
@(what:Option[String])(implicit au:Option[model.User])

@fufu(db:com.mongodb.casbah.Imports.DBObject, k:String, v:String) = {
  @k match {
    case "cleared" => {
    <a href="/razadmin/clearaudit/@db.get("_id").toString">clear</a>
    }
    case "when" if (db.containsField("link")) => {
      <a href="@db.get("link").toString">@v</a>
    }
   case "msg" => {
      <a href="/razadmin/audit?msg=@v">@v</a>
    }
    case _ => { @v }
    }
}

@htmlHeadBar("admin audit", au)

  <div class="container">

    <h2>Audit events <small>| 1000 of @db.RazMongo("Audit").size | <a href="@routes.Admin.clearauditSome(5)">clear 5</a> | <a href="@routes.Admin.clearauditSome(10)">clear 10</a> | <a href="@routes.Admin.clearauditSome(20)">clear 20</a></small></h2>

    @util.utilTable("Audit", Seq("level"->"L", "when"->"When", "msg"->"What", "cleared"->"Done", "details"->"Details"),what.map(s=>Map("msg" -> s)),Some("when"), Some(fufu))

    <hr>
    @if(what.isDefined) {
      <a href="/razadmin/clearauditall?msg=@what">clear all @what</a>
    } else {
      <a href="/razadmin/clearauditall">clear all</a>
    }
    <hr>
      
    @htmlFooter()

  </div> <!-- /container -->

  @htmlBottom()
    