@(user:Option[model.User])

@fufu(db:com.mongodb.casbah.Imports.DBObject, k:String, v:String) = {
  @k match {
    case "email" => {
      @model.Enc.unapply(v)
    }
    case "userName" => {
      <a href="/admin/user/@db.get("_id").toString">@v</a>
    }
    case _=> {
      @v
    }
  }
}


  @htmlHead("admin users")
  @navbar(user)
   
  <div class="container">

    <h2>Users</h2>

    @util.utilTable("User", Seq("userName" -> "UserName", "_id"->"Id", "email"->"Email", "firstName"->"First Name", "lastName"->"Last Name", "yob"->"YOB"), None, None, Some(fufu))

    <hr>
      
    @htmlFooter()

  </div> <!-- /container -->

  @htmlBottom()
    