@***
  print a nice table of text diffs
***@
@(side:String, diff:difflib.Patch, heading:Option[(String,String,String)]=None)

@rowclsi=@{if(side=="R") "success" else "error"}
@rowclsd=@{if(side=="L") "success" else "error"}
@colorl=@{if(side=="L") "green" else "red"}
@colorr=@{if(side=="R") "green" else "red"}

@fo(c:difflib.Delta)=@{
//  if(side=="R") c.getOriginal else c.getRevised
  c.getOriginal
}

@fr(c:difflib.Delta)=@{
//  if(side=="L") c.getOriginal else c.getRevised
  c.getRevised
}

@computeDiff(s1:String, s2:String,color:String)={
@defining(org.apache.commons.lang3.StringUtils.indexOfDifference(s1, s2)) { d =>
  @defining(s1.length - org.apache.commons.lang3.StringUtils.indexOfDifference(s1.reverse, s2.reverse)) { d2 =>
    @if(d >= 0 && d < s1.length) {
      @if(d2 >= d && d2 < s1.length-1) {
        @s1.substring(0, d)<span style="color:@color; background-color: #f5ffb3">@s1.substring(d, d2+1)</span>@s1.substring(d2+1)
      } else {
        @s1.substring(0, d)<span style="color:@color; background-color: #f5ffb3">@s1.substring(d)</span>
      }
    } else {
      @s1
    }
  }
}
}

  @heading.map{t=>
    <table class="table table-striped">
      <thead>
        <td>@t._1</td>
        <td>@t._2</td>
        <td>@t._3</td>
      </thead>
  }
@diff.getDeltas.map{d =>
  @d.getType.toString match {
      case "INSERT" => {
          <tr class="@rowclsi">
          }
      case "DELETE" => {
          <tr class="@rowclsd">
          }
      case "CHANGE" => {
          <tr class="">
          }
     case _ => {
         <tr>
         }
      }
      <td>
          @d.getType<br><small>(R from L)</small>
      </td>
<td>
          @fo(d).getPosition <br>
          @fo(d).getLines.zipWithIndex.map{s=>
            @if(fr(d).getLines.size > s._2) {
            @computeDiff(s._1.toString,
              (if(fr(d).getLines.size > s._2) fr(d).getLines().get(s._2).toString else ""),
              colorl)
            } else {
              @s
            }
            <br>
          }
      </td>
<td>
    @fr(d).getPosition <br>
  @fr(d).getLines.zipWithIndex.map{s=>
    @if(fo(d).getLines.size > s._2) {
      @computeDiff(s._1.toString,
      (if(fo(d).getLines.size > s._2) fo(d).getLines().get(s._2).toString else ""),
      colorr)
    } else {
      @s
    }
    <br>
  }
</td>
  </tr>
}

  @heading.map{t=>
    </table>
  }

