@(sForm:Form[_], page:String)(implicit stok: controllers.StateOk)
@import model.Website.realm
@import helper.twitterBootstrap._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@stok.title("Support")

@admin.adminLayout {


<div class="row">
  <h2>Support request</h2>
<div class="well col-md-8">
@helper.form(action=routes.Support.supportu(page)) {

@if(stok.au.isDefined) {
  <input type="hidden" name="name" value="@stok.au.get.ename" />
  <input type="hidden" name="email" value="@razie.wiki.Enc.unapply(stok.au.get.email)" />
} else {
  @helper.inputText(
    sForm("name"),
    '_label -> "Your name",
    '_showConstraints -> false)
  @helper.inputText(
    sForm("email"),
    '_label -> "Your Email",
    '_showConstraints -> false)
}

  @helper.inputText(
    sForm("desc"),
    '_label -> "Description",
    '_showConstraints -> false)

  @helper.textarea(
    sForm("details"),
    '_label -> "Details",
    '_showConstraints -> false,
    'rows->5)

<script>
  $("textarea, input").addClass("form-control");
</script>

@if(stok.au.isDefined) {
  <input type="hidden" name="g-recaptcha-response" />
} else {
  @util.recaptcha()
}

  <br>
  @sForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  }

  <div class="actions">
    <button type="submit" class="btn btn-primary">Submit support request</button>
  </div>

  <p><small>By using this form, you agree to the <a href="@controllers.Wiki.w("Terms of Service")">Terms of Service</a></small><p>
  }
</div>
  </div>
}

