@**************
add data tables with sort pagination and search

name is the ID of the table to upgrade
**************@
@(name:String)

<link  href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

@**
<link  href="@routes.Assets.at("vendor/dataTables1.10.7.bootstrap.css")" rel="stylesheet" />
<script src="@routes.Assets.at("jquery.dataTables1.10.7.min.js")"></script>
<script src="@routes.Assets.at("dataTables1.10.7.bootstrap.js")"></script>
**@

<script>
  $(document).ready(function() {
  var @name = $('#@name').dataTable({
    'paging' : false
  });
});
</script>


