@***************
display a message with navigation (next)
***************@
@(msg:String, next:Option[String], user:Option[model.WikiUser], cancel:Option[(String,String)]=None)(implicit request:Request[_])
@import _root_.admin.Config.realm

@htmlHead()
@navbar(user, realm)
   
<div class="container">
  <div class="well">
  
    <h3>@Html(model.Wikis.format(model.WID("?","?"), model.Wikis.MD, msg))</h3>
    <br>
    
    @next.map { n=>
      <a class="btn btn-primary btn-large" href="@n">Continue</a>
     }
    @cancel.map { n=>
      <a class="btn btn-large btn-danger" href="@n._2">@n._1</a>
     }
  </div>

  <hr>
  @htmlFooter(false, false, realm)

</div> <!-- /container -->

@htmlBottom()
    