@***************
display a message with navigation (next)
***************@
@(msg:String, next:Option[String], user:Option[model.WikiUser], cancel:Option[String]=None)

@htmlHead()
@navbar(user)
   
<div class="container">
  <div class="well">
  
    <h3>@Html(model.Wikis.format(model.WID("?","?"), model.Wikis.MD, msg))</h3>
    <br>
    
    @next.map { n=>
      <a class="btn btn-primary btn-large" href="@n">Continue</a>
     }
    @cancel.map { n=>
      <a class="btn btn-primary btn-fatal" href="@n">Cancel</a>
     }
  </div>

  <hr>
  @htmlFooter()

</div> <!-- /container -->

@htmlBottom()
    