@**************
a JS fiddle only, no html/css
**************@

@( lang:String,
   content:String,
   user:Option[model.User],
   id:String = java.lang.System.currentTimeMillis().toString())

@** to JS multiline string - make generated JS code look nice **@
@tos(s:String) = @{
  s.replaceAll("\r", "").replaceAll("\n", "\\\\n'\n+'")
}

@encscr(s:String) = @{
  s.replaceAll("'","%27").replaceAll("script","scrRAZipt")
  //.replace(/'/g,'%27')););
}

@h1 = @{
  val x1 = 150//(args.get("height").getOrElse("150")).toInt
  (x1, x1-2)
}

<script>
var resettabs = function(lid, id) {
   document.getElementById('js_'+id).className='';

   document.getElementById(lid).className='active';
}

var setpill = function(lid,id,s) {
   document.getElementById('code_'+id).innerText = s;
   resettabs(lid, id);
}

var razuri = function(s) {
   return encodeURI(s.replace(/;/g,'%3B').replace(/\+/g,'%2B').replace(/script/g,'scrRAZipt'));
}

var encscr = function(s) {
   return s.replace(/'/g,'%27'); }

var decscr = function (s) {
  return s.replace(/%27/g,'\'');
}

var j_@id  ='@Html(tos(encscr(content)))'
</script>

<ul class="nav nav-tabs" style="margin-bottom:0">
  <li id="js_@id" > <a href="#">@if(lang=="scala") {Scala} else {JS} </a></li>
  <li id="run_@id" > <a title="Works only on Chrome and Firefox" href="javascript:runpill_@{id}('@{id}')">Run &raquo;</a> </li>
  <li id="play_@id" > <a href="javascript:playpill_@{id}('@{id}')">Play...</a> </li>
</ul>

<table style="width:100%">
    <tr><td width="70%">
    <div style="display:inline-block; width:100%; height:@{h1._1}px; overflow-y:auto;">
      <pre id="pre_@id" style="display:inline-block; width:90%; height:@{h1._2}px; margin-bottom:0; border:0"><code id="code_@id">@content</code></pre>
    </div>
    </td><td width="30%">
      @if(_root_.admin.Config.theme.contains("light")) {
        <iframe id="iframe_@id" name="iframe_@id" style="border:0; width:100%; height:@{h1._1}px;"></iframe>
      } else {
        <iframe id="iframe_@id" name="iframe_@id" style="border:0; width:100%; height:@{h1._1}px; background-color:gray;"></iframe>
      }
  </td></tr></table>

<div id="sform_@id">
<form id="ssform_@id" name="ssform_@id" method="post" target="iframe_@id">
  <textarea id="l_@id" name="l" ></textarea>
  <textarea id="j_@id" name="j" ></textarea>
</form>
</div>

<script>
$('#sform_'+@id).hide();

var upd_@id = function(id) {
  $('#l_'+id)[0].value= "@lang";
  $('#j_'+id)[0].value= j_@id;
}

var runpill_@id = function(id) {
  upd_@{id}(id);
  $('#ssform_'+id)[0].target = 'iframe_'+id;
  $('#ssform_'+id)[0].action = "/sfiddle/sfiddle2/"+id;
  $('#ssform_'+id)[0].submit();
}

var playpill_@id = function(id) {
  upd_@{id}(id);
  $('#ssform_'+id)[0].target = '';
  $('#ssform_'+id)[0].action = "/sfiddle/play2/"+id;
  $('#ssform_'+id)[0].submit();
}
</script>

