@**************
a JS with HTML and CSS fiddle
**************@
@(reactor:String,
    args:Map[String,String],
    origSpec:String,
    spec:String,
    origStory:String,
    story:String,
    capture:String,
    specWpath:String,
    storyWpath:String,
    specChanged:Boolean,
    storyChanged:Boolean,
    errMsg:Option[String],
    id:String = java.lang.System.currentTimeMillis().toString(),
    wpath:String,
    line:String,
    col:String
    )(implicit stok:controllers.StateOk)
@import razie.wiki.model.WID

<div style="margin-left: 20px; margin-right: 20px">
@stok.title("Diesel fiddle")
@stok.requireJs(false)

<style>
.ace-primaryline {
  background-color: yellow;
  position:absolute;
}
</style>

<script src="@routes.Assets.at("javascripts/rk-contentassist-sqbr.js")"></script>
<script src="@routes.Assets.at("javascripts/weCommons.js")"></script>
<script src="@routes.Assets.at("javascripts/weFiddles.js")"></script>

  <h3 id="heading">Diesel fiddle<a href="/wiki/Diesel_Fiddle_Guide"><sup><span class="glyphicon glyphicon-question-sign"></span></sup></a> | <small>
    <span id="errors" class="label label-default">0/? failed</span>

    <span onclick="setSpec('Story');" class="label label-primary" style="cursor:pointer"><span id="curStory">Story</span> <span class="glyphicon glyphicon-chevron-down">
    </span></span><span id="storyChanged" class="label label-success" onclick="popupMenu1('Story');" style="cursor:pointer" title="Current draft differs from original">
      <span class="glyphicon glyphicon-floppy-disk"> </span>
  </span>&nbsp;

    <span onclick="setSpec('Spec');" class="label label-primary" style="cursor:pointer"><span id="curSpec">Spec</span> <span class="glyphicon glyphicon-chevron-down">
    </span></span><span id="specChanged" class="label label-success" onclick="popupMenu1('Spec');" style="cursor:pointer" title="Current draft differs from original">
      <span class="glyphicon glyphicon-floppy-disk"> </span>
    </span>&nbsp;

    | <span id="realTimeBox" class="label label-default" >
       <input type="checkbox" id="realTime" checked> <span title="real time preview">RT/</span><span onclick="configSim();" style="cursor:pointer" >Sim <span class="glyphicon glyphicon-chevron-down"></span></span></span>

    | <span class="label label-default" >
        <input type="checkbox" id="mockMode" title="Use the mocks" checked>
          <span onclick="configMock();" style="cursor:pointer" >Mocks <span class="glyphicon glyphicon-chevron-down"></span></span></span>

    | <input type="checkbox" id="sketchMode" title="Not used yet"> Sketch

    | <span id="blenderBox" class="label label-default" style="cursor:pointer">
      <input type="checkbox" id="blenderMode" title="Mix all specs together" checked> <span onclick="configBlender();">Blender <span class="glyphicon glyphicon-chevron-down"></span></span></span>

    | <input type="checkbox" id="draftMode" title="Use autosaved drafts not originals" checked> Drafts
    | <input type="checkbox" id="wikiMode" title="Show the wiki instead of the tree" > Wiki
    | <span onclick="startESP();" class="label label-primary" style="cursor:pointer">ESP
        <span class="glyphicon glyphicon-log-out"></span>
      </span>

      &nbsp;
    (<span id="roundtrip" title="real time roundtrip response time">.. ms</span>)
    &nbsp;
    <span id="spinner" style="display: none"><img src="https://cdn.razie.com/Public/spinner.gif" height="24" width="24"></span>

  </small>
  </h3>

  @*story - buttons*@

  <div class="row" style="align-items:center;">
    <div id="title3a_@id" class="col-sm-6" style="font-size: small">Story <span class="" style="font-face:bold" onclick="openStory();"><span class="glyphicon glyphicon-new-window"></span></span>
      &nbsp;<input type="checkbox" id="expandedStory" title="Expand/collapse story" checked> <small>(show/hide)</small>
    </div>
    <div id="title3b_@id" class="col-sm-6" style="font-size: small">
      <input type="checkbox" id="debugStory" title="Expand/collaps debug nodes" checked> <small>(debug)</small>
      <input type="checkbox" id="generatedStory" title="Expand/collaps generated nodes" checked> <small>(generated)</small>
      <button id="ferrStory" title="Find first error" onclick="ferrStory()" class="btn btn-default btn-xs"> <small><span class="glyphicon glyphicon-menu-down"></span> (first error)</small>
    </div>

  @*story - editors*@

  <div id="storyRow" class="row" style="align-items:center;">
    <div id="divIn3_@id" class="col-sm-6" style="">
      <pre id="pre3_@id" style="height:228px; ">@story</pre>
    </div>
    <div class="col-sm-6 well" id="divOut3_@id" style="overflow: scroll; margin-bottom:2px">
    </div>
    <pre class="col-sm-6" id="iframeOut3_@id" style="padding:1px; Xtext-align: center">Start typing...</pre>
  </div>


  @*spec row - buttons*@

  <div class="row" style="align-items:center;">
    <div id="title1a_@id" class="col-sm-6" style="font-size: small">Mock/Spec <span class="" style="font-face:bold"  onclick="openSpec();"><span class="glyphicon glyphicon-new-window"></span></span>
      &nbsp;<input type="checkbox" id="expandedSpec" title="Expand/collapse spec" checked> <small>(show/hide)</small>
    </div>
    <div id="title1b_@id" class="col-sm-6" style="font-size: small">
      @*<input type="checkbox" id="debugSpec" title="Expand/collaps debug nodes" checked> <small>(debug)</small>*@
      @*<input type="checkbox" id="generatedSpec" title="Expand/collaps generated nodes" checked> <small>(generated)</small>*@
      @*<button id="ferrSpec" title="Find first error" onclick="ferrSpec()" class="btn btn-default btn-xs"> <small>(first error)</small>*@
    </div>
  </div>

  @*spec row - editors*@

  <div id="specRow" class="row" style="align-items:center;">
    <div id="divIn1_@id" class="col-sm-6" style="">
      <pre id="pre1_@id" style="height:228px; ">@spec</pre>
    </div>
    <div class="col-sm-6 well" id="divOutSpec_@id" style="overflow: scroll; margin-bottom:2px">
    </div>
    <pre class="col-sm-6" id="iframeOutSpec_@id" style="padding:1px; Xtext-align: center; display: none">Start typing...</pre>
  </div>


    @*capture row*@

  <div class="row" style="align-items:center;">
  <div id="title5a_@id" class="col-sm-6" style="font-size: small">Capture
  </div>
  <div id="title5b_@id" class="col-sm-6" style="font-size: small">
  </div>
</div>
<div class="row" style="align-items:center;">
  <div id="divIn5_@id" class="col-sm-6" style="">
    <pre id="pre5_@id" style="height:228px; ">@capture</pre>
  </div>
  @*<div class="col-sm-6 well" id="pre6_@id" style="overflow: scroll; margin-bottom:2px">*@
  @*</div>*@
  <pre class="col-sm-6" id="iframeOut5_@id" style="padding:1px; Xtext-align: center">Start typing...</pre>

  <pre id="origStory_@id" style="display:none">@story</pre>
  <pre id="origSpec_@id" style="display:none">@spec</pre>
</div>


@md{
### Help

Change anything and see your changes **reflected** instantly.

If you need help with the syntax, just click Ctrl+Space (Cmd+Space on Mac).

If you'd rather see the elements ($msg, $when etc) as a dialog, go to that line and press Ctrl+G (Cmd+G on Mac).

}


<script>
// used in imported scripts
var realm = '@reactor';
var fiddleId = '@id';

// current debounce before running the scripts - goes up if results come slowly
var currDebounce = 2000;

// the current request or null - if this is something, we won't run new ones
var curDomRequest = null;

useLocalStorageCheckbox("sketchMode", "domFiddleSketchMode");
useLocalStorageCheckbox("mockMode", "domFiddleMockMode");
useLocalStorageCheckbox("blenderMode", "domFiddleBlenderMode");
useLocalStorageCheckbox("draftMode", "domFiddleDraftsMode");
useLocalStorageCheckbox("wikiMode", "domFiddleWikiMode");
useLocalStorageCheckbox("realTime", "domFiddleRealTime");

$('#sketchMode, #mockMode, #blenderMode, #draftMode, #realTime').change(function(){
  runpill2_@{id}('@{id}');
});

var simMode = function () { return ! $('#realTime').prop('checked');}

var updRT = function() {
  $("#realTimeBox").removeClass();
  if (simMode())
    $("#realTimeBox").addClass("label label-default");
  else
    $("#realTimeBox").addClass("label label-warning");
}

var updBlender = function() {
  $("#blenderBox").removeClass();
    if ($('#blenderMode').prop('checked'))
      $("#blenderBox").addClass("label label-default");
    else
      $("#blenderBox").addClass("label label-danger");
}

$('#realTime').change(updRT);
updRT();

$('#blenderMode').change(updBlender);
updBlender();

function startESP() {
  window.open('/diesel/fiddle/startESP/@reactor/@id');

  setTimeout(function(){
    // populate/update the ESP screen
    runpill2_@{id}('@{id}');
  }, 500);
}

$('#divOutSpec_'+@id).css('max-height', $('#divIn1_@id').height()-10+'px');
$('#divOut3_'+@id).css('max-height', $('#divIn3_@id').height()-10+'px');
$('#iframeOut3_'+@id).css('max-height', $('#divIn3_@id').height()-10+'px');
$('#iframeOut5_'+@id).css('max-height', $('#pre5box_@id').height()-10+'px');

function hideSpinner() {
  $('#spinner').hide();
};

function showSpinner() {
  $('#spinner').show();
};

function showHideIframe() {
  if($('#wikiMode').prop('checked')) {
    $('#divOut3_@id').show();
    $('#iframeOut3_'+@id).hide();
  } else {
    $('#divOut3_@id').hide();
    $('#iframeOut3_@id').show();
  }
};

showHideIframe();

$('#wikiMode').change(function(){
  showHideIframe();
  runpill2_@{id}('@{id}');
});

var domContentAssist=[];
var instContentAssist=[];

var specWpath='@specWpath';
var storyWpath='@storyWpath';

if(specWpath.length > 0) $("#curSpec").text('@WID.fromPath(specWpath).map(_.name)');
if(storyWpath.length > 0) $("#curStory").text('@WID.fromPath(storyWpath).map(_.name)');

// am I waiting for a refresh now? this counts how many
var isRefreshing = 0;
var isRefreshing2 = 0;


var runpill_@id = function(id) {
  isRefreshing += 1;
  showSpinner();
  console.log("run isRefreshing="+isRefreshing);

  // set this before going to backend which could take a long time
  @*specChanged(!(specEditor.getValue() === $("#origSpec_@id").text()));*@

  var lastTime = new Date().getTime();

  $.ajax(
    '/diesel/fiddle/fiddleSpecUpdated/'+id+'?@Html(mod.diesel.controllers.SFiddles.qtourl(args))', {
    type: 'POST',
    data: $.param({
      sketchMode : $('#sketchMode').prop('checked'),
      mockMode : $('#mockMode').prop('checked'),
      blenderMode : $('#blenderMode').prop('checked'),
      draftMode : $('#draftMode').prop('checked'),
      reactor : '@reactor',
      specWpath : specWpath,
      storyWpath : storyWpath,
      spec : specEditor.getValue(),
      story : storyEditor.getValue(),
      capture : editor5.getValue(),
      simMode : simMode()
    }),
    contentType: 'application/x-www-form-urlencoded',
    success: function(data) {
      isRefreshing -= 1;
      hideSpinner();

      $('#divOutSpec_'+id).html(data.res);
      domContentAssist = data.ca;
      var du = new Date().getTime() - lastTime;
      $('#roundtrip').text(du+' ms');
      specChanged(data.specChanged);

      if(specEditor) updateMarkers(specEditor, data.ast);
      console.log("MARK spec");

      // also trigger inst update
      runpill2_@{id}('@{id}');
    },
    error  : function(x) {
      isRefreshing -= 1;
      hideSpinner();
      console.log( "ERR "+x.toString());
    }
  });
}

function setErrors (s,e,t) {
  $('#errors').text(s + '/' + e + '/' + t);
  $('#errors').removeClass();
  if(s == 0 || s == "0") {
    if(e == 0 || e == "0") {
      $('#errors').prop("title", "no errors");
      $('#errors').addClass("label label-success");
    } else {
      $('#errors').prop("title", "no failures, but some exceptions");
      $('#errors').addClass("label label-warning");
    }
  } else {
    $('#errors').prop("title", "some tests failed");
    $('#errors').addClass("label label-danger");
  }
}

var encAmp = function(s) {
  return s
      .replace(/&lt;/g, '〈')
      .replace(/&gt;/g, '〉');
}

var runpill2_@id = function(id) {
  isRefreshing2 += 1;
  showSpinner();
  console.log("run isRefreshing2="+isRefreshing2);

  // set this before going to backend which could take a long time
  @*storyChanged(!(specEditor.getValue() === $("#origStory_@id").text()));*@

  if(curDomRequest != null) {
    console.log ("Ignore request - already in progress: " + curDomRequest);
    return;
  }

  curDomRequest = "yes";

  var lastTime = new Date().getTime();

  $.ajax(
    '/diesel/fiddle/fiddleStoryUpdated/'+id+'?@Html(mod.diesel.controllers.SFiddles.qtourl(args))', {
    type: 'POST',
    data: $.param({
      saveMode : true,
      sketchMode : $('#sketchMode').prop('checked'),
      mockMode : $('#mockMode').prop('checked'),
      blenderMode : $('#blenderMode').prop('checked'),
      draftMode : $('#draftMode').prop('checked'),
      reactor : '@reactor',
      specWpath : specWpath,
      storyWpath : storyWpath,
      spec : specEditor.getValue(),
      story : storyEditor.getValue(),
      capture : editor5.getValue(),
      simMode : simMode(),
      runEngine : ! $('#wikiMode').prop('checked')
    }),
    contentType: 'application/x-www-form-urlencoded',
    success: function(data) {
      isRefreshing2 -= 1;
      hideSpinner();

      if($('#wikiMode').prop('checked'))
        $('#divOut3_'+id).html(data.wiki);
      else {
        // console.log("TREE: "+data.res);

        // jquery.html will expan the escaped html, we need to escape again with encAmp
        // if i don't do this, html values will mess up the current page
        // if(! data.simMode) { // was not executed
          $('#iframeOut3_' + id).html(encAmp(data.res) + '\n');
          $('#iframeOutSpec_' + id).html(encAmp(data.res) + '\n');
          hideDebug($('#debugStory').prop('checked'));
          hideGenerated($('#generatedStory').prop('checked'));
        // }
      }
      $('#iframeOut5_'+id).html(data.capture);
      instContentAssist = data.ca;
      setErrors(data.failureCount, data.errorCount, data.totalCount);
      var du = new Date().getTime() - lastTime;
      $('#roundtrip').text(du+' ms');

      if(storyEditor) updateMarkers(storyEditor, data.ast);
      console.log("MARK story");

      // automatic backoff
      if(du > 7000)
        currDebounce = 7000;
      else if(du > 5000)
        currDebounce = 7000;
      else if(du > 2000)
        currDebounce = 5000;
      else
        currDebounce = 2000;

      curDomRequest = null;
      storyChanged(data.storyChanged);
    },
    error  : function(x) {
      isRefreshing2 -= 1;
      hideSpinner();
      console.log( "ERR "+x.toString());
      curDomRequest = null;
    }
  });
}

</script>

<script src="@routes.Assets.at("javascripts/weDieselDiffs.js")"></script>

<script src="@routes.Assets.at("javascripts/rk-contentassist.js")"></script>
<script src="@routes.Assets.at("javascripts/weDieselDom.js")"></script>

<script src="@routes.Assets.at("ace-builds/src/ace.js")" type="text/javascript" charset="utf-8"></script>

<script src="@routes.Assets.at("ace-builds/src/mode-nvp1.js")" type="text/javascript" charset="utf-8"></script>
<script src="@routes.Assets.at("ace-builds/src/ext-language_tools.js")" type="text/javascript" charset="utf-8"></script>

@*<script type="text/javascript" src="/sfiddle/tempAsset/@id/gLexer.js")"></script>*@
@*<script type="text/javascript" src="/sfiddle/tempAsset/@id/gParser.js")"></script>*@

<script>

var domChanged=true;        // this triggers the first fiddle update
var instChanged=false;      //
var captureChanged=false;

// how long to wait to consider he stopped typing
var CUR_TYPING_MAX=1000;

// last time runpill updated
var lastUpdateMillis = Date.now() - 50000; // to make it refresh the first time
// last time content changed
var lastChangeMillis = Date.now() - 50000;

var storyEditor;
var specEditor;
var editor5;

function attachAce() {
  var langTools = ace.require("ace/ext/language_tools");

  storyEditor = ace.edit("pre3_@id");
  specEditor = ace.edit("pre1_@id");

  @if(stok.isLight) {
  specEditor.setTheme ( "ace/theme/crimson_editor" ) ;
  storyEditor.setTheme ( "ace/theme/crimson_editor" ) ;
} else {
  specEditor.setTheme ( "ace/theme/twilight" ) ;
  storyEditor.setTheme ( "ace/theme/twilight" ) ;
}
  specEditor.getSession().setMode("ace/mode/nvp1");
  storyEditor.getSession().setMode("ace/mode/nvp1");

  editor5 = ace.edit("pre5_@id");
  @if(stok.isLight) {
  editor5.setTheme ( "ace/theme/crimson_editor" ) ;
} else {
  editor5.setTheme ( "ace/theme/twilight" ) ;
}

  specEditor.setOptions({
    enableBasicAutocompletion: true,
    // enableLiveAutocomplete:  true,
    enableLiveAutocompletion:  true
  });
  storyEditor.setOptions({
    enableBasicAutocompletion: true,
    // enableLiveAutocomplete:  true,
    enableLiveAutocompletion:  true
  });

  storyEditor.getSession().setOption('indentedSoftWrap', false);
  storyEditor.getSession().setUseWrapMode(true);

  specEditor.getSession().setOption('indentedSoftWrap', false);
  specEditor.getSession().setUseWrapMode(true);

  //todo can't have two editors with two completers...
  //todo I could simulate it with an IF inside instCompletions
  var domCompleter = {
    getCompletions: domCompl(false)
  };
  var instCompleter = {
    getCompletions: domCompl(true)
  };

  // delegate the keywords to the xtext generated completer
  var keyWordCompleter = {
    getCompletions: function(editor, session, pos, prefix, callback) {
        var state = editor.session.getState(pos.row);
        var completions = [];
        completions = session.$mode.getCompletions(state, session, pos, prefix);
        callback(null, completions);
    }
  };

  //  langTools.addCompleter(instCompleter);
  langTools.setCompleters([keyWordCompleter, instCompleter]);

specEditor.commands.addCommand({
    name: "gui",
    bindKey: {win: "Ctrl-G", mac: "Command-G"},
    exec: codeGui
});
storyEditor.commands.addCommand({
    name: "gui",
    bindKey: {win: "Ctrl-G", mac: "Command-G"},
    exec: codeGui
});

  specEditor.getSession().on('change', function(e) {
    domChanged=true;
    lastChangeMillis = Date.now();
  });

  storyEditor.getSession().on('change', function(e) {
    instChanged=true;
    lastChangeMillis = Date.now();
  });

  editor5.getSession().on('change', function(e) {
    captureChanged=true;
    lastChangeMillis = Date.now();
  });
}

attachAce();

var ignoreFirstTime = true;

setInterval(function(){
  var curMillis = Date.now();

  // some timing issues with the ACE setup?
  if(ignoreFirstTime) {
    ignoreFirstTime = false;
    return;
  }

  // if still typing, wait
  if(curMillis - lastChangeMillis < CUR_TYPING_MAX) {
    // console.log("still typing " + lastChangeMillis + " - " + curMillis);
    return;
  }

  // if changed and last updated a while ago, refresh
  if((domChanged || captureChanged) && curMillis - lastUpdateMillis > currDebounce) {
    domChanged=false; captureChanged=false;
    lastUpdateMillis = curMillis;
    runpill_@{id}('@{id}');
    }

  // if changed and last updated a while ago, refresh
  if(instChanged && curMillis - lastUpdateMillis > currDebounce) {
    instChanged=false;
    lastUpdateMillis = curMillis;
    runpill2_@{id}('@{id}');
    }
},500);

</script>


<script> // weDieselDiffs
/** Diffs in story/spec for Diesel
 *
 */

specChanged("@specChanged");
storyChanged("@storyChanged");

function specChanged(spec) {
  $('#specChanged').removeClass();
  if(spec === "true" || spec === true) $("#specChanged").addClass("label label-warning");
  else $("#specChanged").addClass("label label-success");
}

function storyChanged(story) {
  $('#storyChanged').removeClass();
  if(story === "true" || story === true) $("#storyChanged").addClass("label label-warning");
  else $("#storyChanged").addClass("label label-success");
}

function setSpec(what) {
  $.ajax(
    '/diesel/fiddle/domListCat/@reactor/'+what, {
      type: 'GET',
      success: function(data) {
        popupContent("Select "+what+"<br><br>"+data);
      },
      error  : function(x) {
        popupContent("ERR... can't set spec<p>"+x);
      }
    });
}

function popupMenu1(what) {
  //todo get the diffs
  $.ajax(
    '/diesel/fiddle/diffDom/@id', {
      type: 'POST',
      data: $.param({
        reactor : '@reactor',
        specWpath : specWpath,
        storyWpath : storyWpath,
        spec : specEditor.getValue(),
        story : storyEditor.getValue()
      }),
      contentType: 'application/x-www-form-urlencoded',
      success: function(data) {
        var cant = '@reactor' == "specs" ? "<small><b>You cannot save in <em>this</em> reactor!</b></small>" : "";
        var tex = "Save/revert "+what+"<br>"+cant+"<br>"+
          '<a href="#" onclick="revertOrig(\''+what+'\'); return false;">Revert</a> | ' +
          '<a href="#" onclick="saveOrig(\''+what+'\'); return false;">Save</a> | ' +
          '<a href="#" onclick="saveNew(\''+what+'\'); return false;">Save as</a> ' +
          '<input name="news" id="news" type="text" placeholder="new topic name"></input>' +
          '<hr>Local changes:' ;
        if(what == "Spec") {
          popupContent(tex + data.specDiff);
        } else if(what == "Story") {
          popupContent(tex + data.storyDiff);
        }
      },
      error  : function(x) {
        console.log( "ERR "+x.toString());
      }
    });
}

function revertOrig(what) {
  console.log("revert.."+what);
  //todo get the diffs
  $.ajax(
    '/diesel/fiddle/revert/@id/'+what, {
      type: 'POST',
      data: $.param({
        reactor : '@reactor',
        specWpath : specWpath,
        storyWpath : storyWpath,
        spec : specEditor.getValue(),
        story : storyEditor.getValue()
      }),
      contentType: 'application/x-www-form-urlencoded',
      success: function(data) {
        location.reload(true);
      },
      error  : function(x) {
        console.log( "ERR "+x.toString());
      }
    });

}

function saveOrig(what) {
  console.log("save.."+what);
  //todo get the diffs
  $.ajax(
    '/diesel/fiddle/save/@id/'+what, {
      type: 'POST',
      data: $.param({
        newName : '',
        reactor : '@reactor',
        specWpath : specWpath,
        storyWpath : storyWpath,
        spec : specEditor.getValue(),
        story : storyEditor.getValue()
      }),
      contentType: 'application/x-www-form-urlencoded',
      success: function(data) {
        location.reload(true);
      },
      error  : function(x) {
        alert("ERR - can't save: " + x.statusText + " : " + x.responseText);
        console.log( "ERR "+JSON.stringify(x));
      }
    });
}

function saveNew(what) {
  console.log("saveNEW.."+what);
  var name = $("#news").val();
  //todo get the diffs
  $.ajax(
    '/diesel/fiddle/save/@id/'+what, {
      type: 'POST',
      data: $.param({
        newName : name,
        reactor : '@reactor',
        specWpath : specWpath,
        storyWpath : storyWpath,
        spec : specEditor.getValue(),
        story : storyEditor.getValue()
      }),
      contentType: 'application/x-www-form-urlencoded',
      success: function(data) {
        location.reload();
        //location = '/diesel/fiddle/playDom?what='+newName
      },
      error  : function(x) {
        alert("ERR - can't save: " + x.statusText + " : " + x.responseText);
        console.log( "ERR "+JSON.stringify(x));
      }
    });
}

function hideDebug(expanded) {
  hideKind(expanded, 'debug');
}

function hideGenerated(expanded) {
  hideKind(expanded, 'generated');
}

function hideKind(expanded, debug) {
  if (expanded) {
    $("div[kind='"+debug+"']").show();
  } else {
    $("div[kind='"+debug+"']").hide();
  }
}

function ferrStory() {
  var x = $("div[kind='error']")[0];//.scrollIntoView();
  var parent = $('#iframeOut3_'+@id)[0];
  if(typeof x != "undefined")
    parent.scrollTop = x.offsetTop;
}


// it's on load because otherwise the div has no contents
$(window).load (function() {
  // make sure for new users it will be open
  if(localStorage.getItem("domFiddleExpandedStory") == null)
    localStorage.setItem("domFiddleExpandedStory", true);
  if(localStorage.getItem("domFiddleExpandedSpec") == null)
    localStorage.setItem("domFiddleExpandedSpec", true);

  // figure out the heights, depending on current window height
  var h = $(window).height() - $("#heading").height() - $("nav").height();
  var h1 = (h-70) > 300 ? (h-70) : 300; // if too small, force it 300 anyways
  var h2 = (h1 / 2) + "px"; // 228 - when both stoore/spec open
  var h3 = h1 + "px"; // 428 - when only spec open

  useLocalStorageCheckbox("expandedStory", "domFiddleExpandedStory", function (a,b,expanded) {
    if(expanded) {
      $("#storyRow").show();
      $("#divIn1_@id").css("height", h2);
      $("#pre1_@id").css("height", h2);
      $("#divOutSpec_@id").css("max-height", h2);
      $("#divOutSpec_@id").show();
      $("#iframeOutSpec_@id").css("max-height", h2);
      $("#iframeOutSpec_@id").hide();
      attachAce();
    } else {
      $("#storyRow").hide();
      $("#divIn1_@id").css("height", h3);
      $("#pre1_@id").css("height", h3);
      $("#divOutSpec_@id").hide();
      $("#iframeOutSpec_@id").css("max-height", h3);
      $("#iframeOutSpec_@id").show();
      attachAce();
    }
  });

  useLocalStorageCheckbox("expandedSpec", "domFiddleExpandedSpec", function (a,b,expanded) {
    if(expanded) {
      $("#specRow").show();
      $("#divIn3_@id").css("height", h2);
      $("#pre3_@id").css("height", h2);
      $("#divOut3_@id").css("max-height", h2);
      $("#iframeOut3_@id").css("max-height", h2);
      attachAce();
    } else {
      $("#specRow").hide();
      $("#divIn3_@id").css("height", h3);
      $("#pre3_@id").css("height", h3);
      $("#divOut3_@id").css("max-height", h3);
      $("#iframeOut3_@id").css("max-height", h3);
      attachAce();
    }
  });

  // useLocalStorageCheckbox("debugSpec", "domFiddleDebugSpec", function (a,b,expanded) {
  //   hideDebug(expanded);
  // });

  useLocalStorageCheckbox("debugStory", "domFiddleDebugStory", function (a,b,expanded) {
    hideDebug(expanded);
  });

  // useLocalStorageCheckbox("generatedSpec", "domFiddleGeneratedSpec", function (a,b,expanded) {
  //   hideGenerated(expanded);
  // });

  useLocalStorageCheckbox("generatedStory", "domFiddleGeneratedStory", function (a,b,expanded) {
    hideGenerated(expanded);
  });
});

/** popup config TQ */
function configTagQuery (title,tq,cback) {
  $.ajax(
      '/diesel/engine/configTags', {
        type: 'POST',
        data: $.param({
          title : title,
          tq : tq
        }),
        contentType: 'application/x-www-form-urlenGcoded',
        success: function(data) {
          popupContent(data);
        },
        error  : function(x) {
          popupContent("ERR... <p>"+x);
          cback(tq, x);
        }
      });
}

function configSim() {
  configTagQuery("Sim config", "sub|fibe/spec/-dsl", function (tq,err) {
  });
}

function configMock() {
  configTagQuery("Mock config", "sub|fibe/spec/-dsl", function (tq,err) {
  });
}

function configBlender() {
  configTagQuery("Blender config", "sub|fibe/spec/-dsl", function (tq,err) {
  });
}

function openStory() {
  window.open("about:blank", "_blank").location = '/wiki/'+storyWpath;
}

function openSpec() {
  window.open("about:blank", "_blank").location = '/wiki/'+specWpath;
}

</script>

@if(line.length > 0 && col.length > 0) {
  <script>
    // when you got here by navigating something, select it and highlight it
  setTimeout(function(){
    weSelect('@wpath', @line, @col);
  }, 500);
  </script>
}

</div>

@util.oneModal()

