@**************
a JS with HTML and CSS fiddle
**************@
@(reactor:String,
    args:Map[String,String],
    spec:String,
    story:String,
    specWpath:String,
    storyWpath:String,
    specChanged:Boolean,
    storyChanged:Boolean,
    au:Option[model.User],
    errMsg:Option[String],
    id:String = java.lang.System.currentTimeMillis().toString())(implicit stok:controllers.StateOk)
@import razie.wiki.model.WID

@stok.title("Diesel fiddle")

<script src="@routes.Assets.at("javascripts/weFiddles.js")"></script>
<script src="@routes.Assets.at("javascripts/weCommons.js")"></script>

  <h3>Diesel fiddle | <small>
    <input type="checkbox" id="refresh" checked> Real time (<span id="roundtrip">.. ms</span>)
    <span id="errors" class="label label-default">0 failed</span>
    <span onclick="setSpec('Spec');" class="label label-primary" style="cursor:pointer">Spec <span id="curSpec"></span> <span class="glyphicon glyphicon-chevron-down"></span></span><span id="specChanged" class="label label-success">
    <a href="#" onclick="popupMenu1('Spec');return false;">
      <span class="glyphicon glyphicon-floppy-disk"> </span>
    </a>
    </span>&nbsp;
    <span onclick="setSpec('Story');" class="label label-primary" style="cursor:pointer">Story <span id="curStory"></span> <span class="glyphicon glyphicon-chevron-down"></span></span><span id="storyChanged" class="label label-success">
      <a href="#" onclick="popupMenu1('Story');return false;">
        <span class="glyphicon glyphicon-floppy-disk"> </span>
        </a>
    </span>&nbsp;
    | <input type="checkbox" id="mockMode" title="Use the mocks" checked> Mocks
    | <input type="checkbox" id="sketchMode" title="Not used yet"> Sketch
    | <input type="checkbox" id="blenderMode" title="Blend all specs together" checked> Blender
    | <input type="checkbox" id="draftMode" title="Use autosaved drafts not originals" checked> Drafts
  </small>
  </h3>

@*<a class="btn btn-primary btn-xs" title="Works only on Chrome and Firefox" href="javascript:runpill_@{id}('@{id}')">Run &raquo;</a>*@
@*<br>*@

<div class="row" style="align-items:center;">
  <div id="title1_@id" class="col-sm-6" style="">
  </div>
  <div id="title2_@id" class="col-sm-6" style="">
  </div>
</div>
<div class="row" style="align-items:center;">
  <div id="pre1box_@id" class="col-sm-6" style="">
    <pre id="pre1_@id" style="height:228px; ">@spec</pre>
  </div>
  <div class="col-sm-6 well" id="pre2_@id" style="overflow: scroll; margin-bottom:2px">
  </div>
</div>
<div class="row" style="align-items:center;">
  <div id="title3_@id" class="col-sm-6" style="">
  </div>
  <div id="title4_@id" class="col-sm-6" style="">
  </div>
</div>
<div class="row" style="align-items:center;">
  <div id="pre3box_@id" class="col-sm-6" style="">
    <pre id="pre3_@id" style="height:228px; ">@story</pre>
  </div>
  @*<div class="col-sm-6" id="resultdiv_@id" style="">*@
    <pre class="col-sm-6" id="iframe_@id" name="iframe_@id" style="padding:1px; Xtext-align: center">Start typing...</pre>
  @*</div>*@
</div>

  <small>Errors in code:</small><br>

  <div style="display:inline-block; width:100%; height:130px; overflow-y:auto;">
    <pre id="pre3b_@id" style="display:inline-block; width:92%; height:119px; margin-bottom:0; padding:0px; border:0;"><code id="codeb_@id">

    </code></pre>
  </div>


@md(f: =>Html)={
  @Html(razie.wiki.model.Wikis.sformat(f.toString(), "md", au))
}

@md{
When done with this session, click the browser's BACK button to go back.

## Help

Type some DOM, then some instance and see them **reflected** instantly.
}





<script>
$('#pre2_'+@id).css('max-height', $('#pre1box_@id').height()-10+'px');
$('#iframe_'+@id).css('max-height', $('#pre3box_@id').height()-10+'px');
$('#iframe_'+@id).contents().find('html').html("<div style='text-align: center;'>@errMsg.getOrElse("Press Run to see results...")</div>");

useLocalStorageCheckbox("sketchMode", "domFiddleSketchMode");
useLocalStorageCheckbox("mockMode", "domFiddleMockMode");
useLocalStorageCheckbox("blenderMode", "domFiddleBlenderMode");
useLocalStorageCheckbox("draftMode", "domFiddleDraftsMode");

$('#sketchMode, #mockMode, #blenderMode, #draftMode').change(function(){
      runpill2_@{id}('@{id}');
});

var domContentAssist=[];
var instContentAssist=[];

var specWpath='@specWpath';
var storyWpath='@storyWpath';

$(document).keyup(function(e) {
  if (e.keyCode == 27) { // escape key maps to keycode `27`
    $("#oneModal").modal('hide');
  }
});

var runpill_@id = function(id) {
  var lastTime = new Date().getTime();
  $.ajax(
    '/dfiddle/buildDom1/'+id+'?@Html(mod.diesel.controllers.SFiddles.qtourl(args))', {
    type: 'POST',
    data: $.param({
      sketchMode : $('#sketchMode').prop('checked'),
      mockMode : $('#mockMode').prop('checked'),
      blenderMode : $('#blenderMode').prop('checked'),
      draftMode : $('#draftMode').prop('checked'),
      reactor : '@reactor',
      specWpath : specWpath,
      storyWpath : storyWpath,
      spec : editor1.getValue(),
      story : editor.getValue()
    }),
    contentType: 'application/x-www-form-urlencoded',
    success: function(data) {
//      $('#pre2_'+id).contents().find('html').html(data.res);
      $('#pre2_'+id).html(data.res);
      domContentAssist = data.ca;
      var du = new Date().getTime() - lastTime;
      $('#roundtrip').text(du+' ms');
      specChanged(data.specChanged);
      // also trigger inst update
      runpill2_@{id}('@{id}');
    },
    error  : function(x) {
      console.log( "ERR "+x.toString());
    }
  });
}

function setErrors (s) {
  $('#errors').text(s + ' failed');
  $('#errors').removeClass();
  if(s == 0 || s == "0")
    $('#errors').addClass("label label-success");
  else
    $('#errors').addClass("label label-danger");
}

var runpill2_@id = function(id) {
  var lastTime = new Date().getTime();
  $.ajax(
    '/dfiddle/buildDom2/'+id+'?@Html(mod.diesel.controllers.SFiddles.qtourl(args))', {
    type: 'POST',
    data: $.param({
      sketchMode : $('#sketchMode').prop('checked'),
      mockMode : $('#mockMode').prop('checked'),
      blenderMode : $('#blenderMode').prop('checked'),
      draftMode : $('#draftMode').prop('checked'),
      reactor : '@reactor',
      specWpath : specWpath,
      storyWpath : storyWpath,
      spec : editor1.getValue(),
      story : editor.getValue()
    }),
    contentType: 'application/x-www-form-urlencoded',
    success: function(data) {
      $('#iframe_'+id).html(data.res);
      instContentAssist = data.ca;
      setErrors(data.failureCount);
      var du = new Date().getTime() - lastTime;
      $('#roundtrip').text(du+' ms');
      storyChanged(data.storyChanged);
    },
    error  : function(x) {
      console.log( "ERR "+x.toString());
    }
  });
}

if('@specWpath'.length > 0) $("#curSpec").text('(@WID.fromPath(specWpath).map(_.name))');
if('@storyWpath'.length > 0) $("#curStory").text('(@WID.fromPath(storyWpath).map(_.name))');

function specChanged(spec) {
  $('#specChanged').removeClass();
  if(spec === "true") $("#specChanged").addClass("label label-warning");
  else $("#specChanged").addClass("label label-success");
}

function storyChanged(story) {
  $('#storyChanged').removeClass();
  if(story === "true") $("#storyChanged").addClass("label label-warning");
  else $("#storyChanged").addClass("label label-success");
}

function setSpec(what) {
  $.ajax(
    '/dfiddle/domListCat/@reactor/'+what, {
    type: 'GET',
    success: function(data) {
      popupContent("Select "+what+"<br><br>"+data);
    },
    error  : function(x) {
      popupContent("ERR... can't set spec<p>"+x);
    }
  });
}

function popupMenu1(what) {
  //todo get the diffs
  $.ajax(
    '/dfiddle/diffDom/@id', {
    type: 'POST',
    data: $.param({
      reactor : '@reactor',
      specWpath : specWpath,
      storyWpath : storyWpath,
      spec : editor1.getValue(),
      story : editor.getValue()
    }),
    contentType: 'application/x-www-form-urlencoded',
    success: function(data) {
      var tex = "Save/revert "+what+"<br><br>"+
       '<a href="#" onclick="revertOrig(\''+what+'\'); return false;">Revert</a> | ' +
       '<a href="#" onclick="saveOrig(\''+what+'\'); return false;">Save</a> | ' +
       '<a href="#" onclick="saveNew(\''+what+'\'); return false;">Save as</a> ' +
       '<input name="news" id="news" type="text" placeholder="new topic name"></input>' +
        '<hr>Local changes:' ;
      if(what == "Spec") {
        popupContent(tex + data.specDiff);
      } else if(what == "Story") {
        popupContent(tex + data.storyDiff);
      }
    },
    error  : function(x) {
      console.log( "ERR "+x.toString());
    }
  });
}

function revertOrig(what) {
  console.log("revert.."+what);
  //todo get the diffs
  $.ajax(
    '/dfiddle/revert/@id/'+what, {
    type: 'POST',
    data: $.param({
      reactor : '@reactor',
      specWpath : specWpath,
      storyWpath : storyWpath,
      spec : editor1.getValue(),
      story : editor.getValue()
    }),
    contentType: 'application/x-www-form-urlencoded',
    success: function(data) {
      location.reload(true);
    },
    error  : function(x) {
      console.log( "ERR "+x.toString());
    }
  });

}

function saveOrig(what) {
  console.log("save.."+what);
  //todo get the diffs
  $.ajax(
    '/dfiddle/save/@id/'+what, {
    type: 'POST',
    data: $.param({
      newName : '',
      reactor : '@reactor',
      specWpath : specWpath,
      storyWpath : storyWpath,
      spec : editor1.getValue(),
      story : editor.getValue()
    }),
    contentType: 'application/x-www-form-urlencoded',
    success: function(data) {
      location.reload(true);
    },
    error  : function(x) {
      console.log( "ERR "+x.toString());
    }
  });
}

function saveNew(what) {
  console.log("saveNEW.."+what);
  var name = $("#news").val();
  //todo get the diffs
  $.ajax(
    '/dfiddle/save/@id/'+what, {
    type: 'POST',
    data: $.param({
      newName : name,
      reactor : '@reactor',
      specWpath : specWpath,
      storyWpath : storyWpath,
      spec : editor1.getValue(),
      story : editor.getValue()
    }),
    contentType: 'application/x-www-form-urlencoded',
    success: function(data) {
      location.reload();
      @*location = '/dfiddle/playDom/@id?what='+newName, {*@
    },
    error  : function(x) {
      console.log( "ERR "+x.toString());
    }
  });
}

</script>

<script type="text/javascript" src="@routes.Assets.at("vendor/jshint.js")"></script>

<script>
var jsh = function(code) {
  JSHINT(code);
  var ret = JSHINT.data();

  var er = 'Line\tReason\n';

  document.getElementById('pre3b_@id').innerText = "";

  if(JSHINT.data().errors) {
    JSHINT.data().errors.forEach(function(e){
      er = er+e.line + '\t\t'+e.reason+'\n';
    })
  }

  document.getElementById('pre3b_@id').innerText = er;
}
</script>

<script src="@routes.Assets.at("javascripts/rk-contentassist.js")"></script>

<script src="@routes.Assets.at("ace-builds/src/ace.js")" type="text/javascript" charset="utf-8"></script>

<script src="@routes.Assets.at("ace-builds/src/mode-nvp1.js")" type="text/javascript" charset="utf-8"></script>
<script src="@routes.Assets.at("ace-builds/src/ext-language_tools.js")" type="text/javascript" charset="utf-8"></script>

@*<script type="text/javascript" src="/sfiddle/tempAsset/@id/gLexer.js")"></script>*@
@*<script type="text/javascript" src="/sfiddle/tempAsset/@id/gParser.js")"></script>*@

<script>
  var langTools = ace.require("ace/ext/language_tools");

  var editor1 = ace.edit("pre1_@id");
  @if(_root_.admin.Config.isLight(au)) {
  editor1.setTheme ( "ace/theme/crimson_editor" ) ;
} else {
  editor1.setTheme ( "ace/theme/twilight" ) ;
}
  editor1.getSession().setMode("ace/mode/nvp1");

  var editor = ace.edit("pre3_@id");
  @if(_root_.admin.Config.isLight(au)) {
  editor.setTheme ( "ace/theme/crimson_editor" ) ;
} else {
  editor.setTheme ( "ace/theme/twilight" ) ;
}
  editor.getSession().setMode("ace/mode/nvp1");

  var domCompleter = {
    getCompletions: domCompl(false)
  };
  var instCompleter = {
    getCompletions: domCompl(true)
  };

var keyWordCompleter = {
    getCompletions: function(editor, session, pos, prefix, callback) {
        var state = editor.session.getState(pos.row);
        var completions = session.$mode.getCompletions(state, session, pos, prefix);
        callback(null, completions);
    }
};

//  editor.setOptions({enableBasicAutocompletion: true});
  editor1.setOptions({
    enableBasicAutocompletion: true  //[domCompleter]
  });
  editor.setOptions({
    enableBasicAutocompletion: true, //[instCompleter]
    enableLiveAutocomplete:  true,
    enableLiveAutocompletion:  true
  });
//  langTools.addCompleter(instCompleter);
  langTools.setCompleters([keyWordCompleter, instCompleter]);


  function domCompl (i) {
    return function (editor, session, pos, prefix, callback) {
      var contentAssist = i ? instContentAssist : domContentAssist;
//      if (prefix.length === 0) { callback(null, wl); return }
      var line = session.getLine(pos.row);
      var terms = line.split(' ');
      if(terms.indexOf('->') == terms.length-1 ||
         terms.indexOf('=>') == terms.length-1 ||
         terms[0] && terms[0] == '$expect' ||
         terms[0] && terms[0] == '$mock') {
        var newTerms = ['$when', ''];
        line = '$when ';
        var opts = getOptions(contentAssist, newTerms, 0); // options
        callback(null, opts.map(function(value) {
          // double space is a marker for the FUTURE options
          var xvalue = value.replace(/(\w)  .*/, '\$1');
          var aft = value.replace(/(.*)  /, '');
          var curr = aft.replace(line, '');
          return {name: value, value: curr, score: 100, meta: "dom"}
        }));
      } else {
      var opts = getOptions(contentAssist, terms, 0); // options
//      callback(null, opts);
      callback(null, opts.map(function(value) {
        // double space is a marker for the FUTURE options
        var xvalue = value.replace(/(\w)  .*/, '\$1');

//      if (xvalue.indexOf(' ') >= 0)
//        s= ['\{\{' + xvalue + ' ', ''];
//      else if (xvalue.indexOf('/') == 0)
//        s= ['\{\{' + xvalue, '\}\}'];
//      else
//       first time, only one term, insert }}
//        s= ['\{\{' + xvalue + ' ', '\}\}'];

        var curr = xvalue.replace(line, '');
        var aft = value.replace(/(.*)  /, '');
//        return {name: ea.word, value: ea.word, score: ea.score, meta: "rhyme"}
        return {name: value, value: curr, score: 100, meta: "dom"}
        }));
    };
    };
  };


function z(m,i) {
  return m && m.length >= i && m[i] ? m[i] : "";
}

var curCap='';

function capWhenTo(s) {
//$when email.update (name,pwd) =>yahoo.upd_pwd (email,password=pwd)
  curCap='when';
  var m=/\$when *([\w*]+)\.([\w*]+) *(\([^)]*\))? *=> *([\w*]+)\.([\w*]+) *(\([^)]*\))?/.exec(s);
  var e1=m[1];
  var a1=z(m,2);
  var p1=z(m,3);
  var e2=z(m,4);
  var a2=z(m,6);
  var p2=z(m,7);

return ''+
  'Entity: <input id="entity1" value=\''+e1+'\'></input><br>'+
  'Action: <input id="action1" value=\''+a1+'\'></input><br>'+
  'Parms: <input id="parms1" value=\''+p1+'\'></input><br>'+
  '<hr>'+
  'Entity: <input id="entity1" value=\''+e2+'\'></input><br>'+
  'Action: <input id="action1" value=\''+a2+'\'></input><br>'+
  'Parms: <input id="parms1" value=\''+p2+'\'></input><br>'+
  ''
};

function capMsgTo(s) {
//$msg <GET> billing.get_email (name, url="/bill/email") : (email)
  curCap='msg';
  var m=/\$msg *(<\w+>)? *([\w*]+)\.([\w*]+) *(\([^)]*\))?(( *: *)\([^)]*\))?/.exec(s);
  var k=m[1];
  var e=z(m,2);
  var a=z(m,3);
  var p=z(m,4);
  var r=z(m,6);

return ''+
  'Kind: <input id="kind" value=\''+k+'\'></input><br>'+
  'Entity: <input id="entity" value=\''+e+'\'></input><br>'+
  'Action: <input id="action" value=\''+a+'\'></input><br>'+
  'Parms: <input id="parms" value=\''+p+'\'></input><br>'+
  'Result: <input id="result" value=\''+r+'\'></input><br>'+
  ''
};

function capMsgFrom() {
//$msg <GET> billing.get_email (name, url="/bill/email") : (email)
  var k=$("#kind").val();
  var e=$("#entity").val();
  var a=$("#action").val();
  var p=$("#parms").val();
  var r=$("#result").val();

return '$msg '+k+' '+e+'.'+a+' '+p +(r.length > 0 ? r : '');
};

function capExpectMTo(s) {
//expect $msg <GET> billing.get_email (name, url="/bill/email") : (email)
  curCap='expect';
  var m=/\$expect \$msg *(<\w+>)? *([\w*]+)\.([\w*]+) *(\([^)]*\))? * (:)? *(\([^)]*\))?/.exec(s);
  var k=m[2];
  var e=z(m,3);
  var a=z(m,4);
  var p=z(m,5);
  var r=z(m,7);

return ''+
  'Kind: <input id="kind" value=\''+k+'\'></input><br>'+
  'Entity: <input id="entity" value=\''+e+'\'></input><br>'+
  'Action: <input id="action" value=\''+a+'\'></input><br>'+
  'Parms: <input id="parms" value=\''+p+'\'></input><br>'+
  'Result: <input id="result" value=\''+p+'\'></input><br>'+
  ''
};

function capTo(s) {
  if(s.match(/\$msg/)) return capMsgTo(s);
  else if(s.match(/\$when/)) return capWhenTo(s);
  else if(s.match(/\$expect \$msg/)) return capExpectMTo(s);
  else return "?";
};

function capFrom() {
  if(curCap == 'msg') return capMsgFrom();
  else return "";
};

var saveLine;

var codeGui = function(editor) {
//  var selectionRange = editor.getSelectionRange();
//  var content = editor.session.getTextRange(selectionRange);
  var line = editor.session.getLine(editor.selection.getCursor().row);

saveLine = function () {
  var s = capFrom();
  if(s.length > 0) {

var Range = require("ace/range").Range
var row = editor.selection.getCursor().row
var newText = s
editor.session.replace(new Range(row, 0, row, Number.MAX_VALUE), newText)
//    editor.session.getLine(editor.selection.getCursor().row);
  }
  $("#oneModal").modal('hide');
};

  popupContent("This is the GUI<p></p>"+capTo(line) +
  '<hr><button class="btn btn-primary" onclick="saveLine()">Done</button>');
  }

editor1.commands.addCommand({
    name: "gui",
    bindKey: {win: "Ctrl-G", mac: "Command-G"},
    exec: codeGui
});
editor.commands.addCommand({
    name: "gui",
    bindKey: {win: "Ctrl-G", mac: "Command-G"},
    exec: codeGui
});

  //jsh(editor.getValue());

  var domChanged=true;
  var instChanged=true;

  editor1.getSession().on('change', function(e) {
    domChanged=true;
  });

  editor.getSession().on('change', function(e) {
    instChanged=true;
  });

setInterval(function(){
   if(domChanged) {
     domChanged=false;
     runpill_@{id}('@{id}');
     }
   if(instChanged) {
     instChanged=false;
     runpill2_@{id}('@{id}');
     }
},500);

</script>

<div id="oneModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>?</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    // clear modal contents on close
    $('#oneModal').on('hidden.bs.modal', function (e) {
        $("#oneModal > div > div > div.modal-body").html('...');
    })

  function popupContent (content) {
    loadInDivContent("#oneModal > div > div > div.modal-body", content);
    $("#oneModal").modal('show');
  }

  function loadInDivContent(div, content, complete) {
    $(div).html(content);
  }

  function popupUrl(url) {
    loadInDiv("#oneModal > div > div > div.modal-body", url);
    $("#oneModal").modal('show');
  }

  function loadInDiv(div, url, complete) {
    $.ajaxSetup({
    dataFilter:lookupLabels(url),
    cache: false
    });

    $(div).load(url, complete);
  }

</script>

