@**************
a JS/SCALA client side fiddle, **full page**
**************@
@(lang:String,
  content:String,
  q:Map[String,String],
  we:Option[razie.wiki.model.WikiEntry]=None,
  moreContext:String="",
  id:String = java.lang.System.currentTimeMillis().toString())(implicit stok:controllers.StateOk)

@stok.title("Fiddle, fiddle")

<h2>Browser fiddle (@lang) | <small>
  <input type="checkbox" id="refresh" checked> Real time (<span id="roundtrip"></span>)
</small></h2>

<script src="@routes.Assets.at("javascripts/weFiddles.js")"></script>

<pre id="moreContext" style="display: none">
@moreContext
</pre>

<div class="row" style="align-items:center;">
  <div id="pre3box_@id" class="col-sm-9" style="">
    <pre id="pre3_@id" style="height:228px; ">@content.trim.replaceAll("\n$", "")</pre>
  </div>
  <div class="col-sm-3" id="resultdiv_@id" style="">
    <pre id="iframe_@id" name="iframe_@id" style="background:lightgray; padding:1px; text-align: center">Start typing...</pre>
  </div>
</div>


<small>Errors in code:</small><br>

<div style="display:inline-block; width:100%; height:130px; overflow-y:auto;">
  <pre id="pre3b_@id" style="display:inline-block; width:92%; height:119px; margin-bottom:0; padding:0px; border:0;"><code id="codeb_@id">
  </code></pre>
</div>

<b>When done, click the browser's BACK button to go back.</b>

<div id="preamble" style="display: none">
//can't move this because you could have many in the same page
function println() {
  // the default prints to printer
  }
function println(x) {
  // output is from the closure so for each occurence in a page
  output = output + JSON.stringify(x) + "\n";
  }
</div>

<script>
$('#iframe_'+@id).css('max-height', $('#pre3box_@id').height()+'px');

// TODO IMPORTANT
// running is async, it may race with you typing
// must queue run/save requests
var runpill_@id = function(id) {
  var moreContext = $("#moreContext").text();
  var preamble = $("#preamble").text();
  var code = editor.getValue();

  var output = "";
  var res = "";

  try {
  $.ajax(
    '/sfiddle/saveFiddle/JSFiddle/@stok.realm', {
    type: 'POST',
    data: $.param({
      l : 'js',
      j : editor.getValue()
    }),
    contentType: 'application/x-www-form-urlencoded',
    success: function(data) {
    // todo paint something
    },
    error  : function(x) {
      console.log( "ERR "+x.toString());
    }
  });

//    res = eval(moreContext+preamble+"\n"+code);

  limitEval(moreContext+preamble+"\n"+code, function(success, returnValue) {
    if (success) {
      res = returnValue;
      paintErr(false);
    }
    else {
      paintErr(true);
      res = 'TIMEOUT - infinite loop?';
    }

    if(typeof res != 'undefined' && res != null) res = res.toString();
    else if(typeof res == 'undefined') res = "";
    if(code.length > 0) $('#iframe_'+id).text(output+res);
    else $('#iframe_'+id).text("Start typing...");
  }, 3000);

    paintErr(false);
  } catch (e) {
    paintErr(true);
    if (e instanceof SyntaxError) {
        res = e.message;
    } else {
        res = e;
    }
    if(typeof res != 'undefined' && res != null) res = res.toString();
    else if(typeof res == 'undefined') res = "";
    if(code.length > 0) $('#iframe_'+id).text(output+res);
    else $('#iframe_'+id).text("Start typing...");
  }
}

function paintErr(isErr) {
  $('#iframe_'+@id).toggleClass("panel panel-success", !isErr);
  $('#iframe_'+@id).toggleClass("panel panel-danger", isErr);
}
</script>

<script type="text/javascript" src="@routes.Assets.at("vendor/jshint.js")"></script>
<script>
var jsh = function(code) {
  JSHINT(code, {expr: true, asi:true}); // enable expression mode and don't warn semicolons
  var ret = JSHINT.data();

  if(JSHINT.data().errors) {
    var er = 'Line\tReason\n';
    JSHINT.data().errors.forEach(function(e){
      er = er+e.line + '\t\t'+e.reason+'\n';
    })
    document.getElementById('pre3b_@id').innerText = er;
    paintErr(true);
    return false;
  } else {
  document.getElementById('pre3b_@id').innerText = "";
    paintErr(false);
    return true;
  }

  document.getElementById('pre3b_@id').innerText = er;
}
</script>

  <script src="@routes.Assets.at("ace-builds/src/ace.js")" type="text/javascript" charset="utf-8"></script>
  <script src="@routes.Assets.at("ace-builds/src/mode-javascript.js")" type="text/javascript" charset="utf-8"></script>
  <script src="@routes.Assets.at("ace-builds/src/ext-language_tools.js")" type="text/javascript" charset="utf-8"></script>
<script>
  ace.require("ace/ext/language_tools");
  var editor = ace.edit("pre3_@id");
  editor.setOptions({
//    maxLines: 10,
//    highlightActiveLine: false,
    enableBasicAutocompletion: true,
    enableSnippets: false,
    enableLiveAutocomplete: true
  });

  @if(stok.isLight) {
  editor.setTheme ( "ace/theme/solarized_light" ) ;
  //editor.setTheme ( "ace/theme/crimson_editor" ) ;
} else {
  editor.setTheme ( "ace/theme/twilight" ) ;
}
  editor.getSession().setMode("ace/mode/javascript");

  //jsh(editor.getValue());

  var razChanged=true;

  editor.getSession().on('change', function(e) {
    razChanged=true;
    //var j=editor.getValue();
    //jsh(j);
  });

setInterval(function(){
   if(razChanged) {
     var j=editor.getValue();
     if(jsh(j)) runpill_@{id}('@{id}');
     razChanged=false;
     }
},500);

</script>


