@()
@import helper.twitterBootstrap._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@***** recaptcha - include this in the form, just before the error or end of form ********@

<script type="text/javascript">
  var onloadCallback = function() {
        grecaptcha.render('withrec', {
          'sitekey' : '6Ldg3R8TAAAAABUziKbTSYZJIWUYSA7cwSz6uBBn'
        });
      };
</script>

<div id="withrec">
</div>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
</script>


