@*********
FRAGMENT create a html table from a Mongo table
name = mongo collection name
cols = (key,label)
@func.map(_.apply(db, k, (if(db.get(k)==null) null else db.get(k).toString))).getOrElse(db.get(k))
*********@
@(  name:String,
    cols:Seq[(String,String)],
    criteria:Option[Map[String,Any]]=None,
    sortby:Option[String]=None,
    func:Option[(com.mongodb.casbah.Imports.DBObject,String,String)=>Html] = None,
    filterFunc:Option[(com.mongodb.casbah.Imports.DBObject)=>Boolean] = None)

@import com.mongodb.casbah.Imports._
@import org.joda.time.DateTime

@col() = @{
  razie.db.RazMongo(name).m
  }

@doFilter(entry:DBObject)=@{
  filterFunc.map(_.apply(entry)) getOrElse true
}

@ccol() = @{
  val m = razie.db.RazMongo(name).m
  if (criteria.isDefined)
    (sortby.map(p=>m.find(criteria.get).sort(Map(p -> -1)).take(2000)).getOrElse(m.find(criteria.get).take(2000)))
  else
    (sortby.map(p=>m.find.sort(Map(p -> -1)).take(2000)).getOrElse(m.find()))
}

<hr>

<table id="@name" class="table table-striped">
<thead>
  <tr>
    @cols.map { case (k,l) =>
      <th>@l</th>
    }
  </tr>
</thead>
@ccol.filter(doFilter).map { db =>
  <tr>
    @cols.map { case (k,l) =>
     <td>
@{
db.get(k) match {
  case null => func.map(_.apply(db, k, null)).getOrElse("")
  case dtm:DateTime => func.map(_.apply(db, k, dtm.toLocalDateTime.toString)).getOrElse(dtm)
  case x => func.map(_.apply(db, k, x.toString)).getOrElse(x)
  }
}
</td>
    }
  </tr>
}
</table>

<hr>
