@**************
browse a domain
**************@
@(rep:controllers.WikiUtil.WTReport)(implicit stok: controllers.StateOk)

@stok.title("Wiki report tag " + rep.tag)

@rep.rep.size @rep.tag used in @rep.rep.values.toList.flatten.size wikis

<table class="table" style="width:100%">
  @rep.rep.keySet.toList.sortWith((a,b)=>rep.rep(a).size > rep.rep(b).size).map { k =>
    <tr>
      <td><a href="@k">@k</a></td>
      <td>
      @rep.rep(k).map { wp =>
        <a href="@wp.url">@wp.wpath</a><br>
      }
      </td>
    </tr>
  }
</table>
