@**************
browse a domain
**************@
@()(implicit stok: controllers.StateOk)

@stok.title("Wiki report views")

@** can't - better if I leave it alone
@util.dataTables("WikiCount")
**@

@fFilter(db:com.mongodb.casbah.Imports.DBObject) = @{
  razie.wiki.model.Wikis.findById(db.get("pid").toString).map {wp=>
    wp.realm == stok.realm
  }.getOrElse(false)
}

@wikicount(db:com.mongodb.casbah.Imports.DBObject, k:String, v:String) = {
@k match {
  case "wpath" => {
    @razie.wiki.model.Wikis.findById(db.get("pid").toString).map {wp=>
      <a href="/wiki/@wp.wid.wpath">@wp.wid.wpath</a>
    }
  }
  case _=> {
    @v
  }
}
}

@util.utilTable("WikiCount", List("pid","count","wpath").map(c=>c->c), None, Some("count"), Some(wikicount), Some(fFilter))

