@(sForm:Form[_], page:String)(implicit stok:controllers.StateOk)
@import helper.twitterBootstrap._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@htmlHeadBar("Suggest something")

<div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h2>Questions / suggestions</h2>

@helper.form(action=routes.Support.suggested(page), 'class->"well") {

@if(stok.au.isDefined) {
  <input type="hidden" name="name" value="@stok.au.get.ename" />
  <input type="hidden" name="email" value="@stok.au.get.emailDec" />
} else {
  @helper.inputText(
    sForm("name"),
    '_label -> "Your name",
    '_showConstraints -> false)
  @helper.inputText(
    sForm("email"),
    '_label -> "Your Email",
    '_showConstraints -> false)
}

  @helper.inputText(
    sForm("desc"),
    '_label -> "Description",
    '_showConstraints -> false)

  @helper.textarea(
    sForm("details"),
    '_label -> "Details",
    '_showConstraints -> false,
    'rows->15)

<script async>
withJquery(function() {
  $("textarea, input").addClass("form-control");
  });
</script>

  @if(stok.au.isDefined) {
    <input type="hidden" name="g-recaptcha-response" />
  } else {
    @util.recaptcha()
  }

  <button type="submit" class="btn btn-primary">Submit!</button>

  @sForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  }

  <p><small>By using this form, you agree to the <a href="@controllers.WikiUtil.w("Terms of Service")">Terms of Service</a></small><p>
  }

        </div>
      </div>

  <hr>

  @htmlFooter()

  </div> <!-- /container -->

@htmlBottom()

