@****************
create new page given a template
****************@
@(cat:String, name:String, formWid:razie.wiki.model.WID, formPage:Option[razie.wiki.model.WikiEntry], torspec:String, errors:Map[String,String])(implicit stok:controllers.StateOk)
@import controllers.IgnoreErrors
@import razie.diesel.dom.WikiDomain
@import razie.wiki.model.Wikis

@stok.title("Create new with template")

<h3>Creating a new
  <em>@Html({if(cat == "Reactor") "Project (<small>Reactor</small>)" else cat})</em>
  , with <em>@formWid.name</em></h3>

<p>Fill in the required attributes below.</p>

@helper.form(
  action=routes.Wikie.addWithSpec(cat, name, formWid.wpath, torspec:String, stok.realm),
  'id->"curForm",
  'class->"alert alert-info col-sm-12") {

  @** you can override the entire form in your template *@
  @if(!formPage.exists(_.form.fields.contains("name"))) {
    @WikiDomain(stok.realm).prop(cat, "label.createWithTemplate").getOrElse {
      @if(cat == "Reactor") {
        Use
        a simple punchy single word, like "<b>mysite</b>" - your new project website will be
        available at <b><small>http://mysite.dieselapps.com</small></b>
      } else {
        Give it a name...
      }
    }

    <p></p><p>

    <div class="form-group">
      <label for="name" class="control-label">Name:</label>
      <input type="text" id="name" class="input-lg" name="name" placeholder="Name" value="@name">
    </div> @* form-group *@

    @if(cat == "Reactor") {
      <p></p>
      <div class="form-group">
        <label for="access" class="control-label">Default access:</label>
        <select name="access">
          <option value="Public">Public - anyone can see content</option>
          <option value="Member">Member - only members can see content</option>
        </select>
      </div> @* form-group *@
    }

    <hr>
    <p>More particulars:</p>
  }

  @wiki.wikiFormInt(formWid, Some(name), formPage, errors, false, false, true)
<hr>
  <button type="submit" class="btn btn-primary">Create Now!</button>
}

<hr>

  <script>
      withJquery(
          function ($) {
            $('#curForm').submit(
                function(event) {
                  var n = $('#name').val();

                  if (n.length > 15 || n.length < 3) {
                    popupError("Name too short(<3) or too long (>15)...");
                    event.preventDefault();
                  } else if (!n.match(/^[A-Za-z][A-Za-z0-9-_]+[A-Za-z0-9]$/) ) {
                    popupError("Name cannot contain special characters (!#$%^...)");
                    event.preventDefault();
                  }
                }
            );
          }
      );
  </script>

@util.oneModal()

