@**************
list of pages, with links etc - result of a query of some kind
**************@

@(title:String, pages:List[(model.WID, String)], user:Option[model.User])
@import model._

@htmlHead("Results for: " + title)

@navbar(user)
   
<div class="container">
  <div class="row">
    <div class="span9">
      <div class="well">
        @if(pages.size>0) {
          <ul>
          @pages.map { p=>
            <li><a href="@controllers.Wiki.w(p._1)">@p._2</a> <small>&nbsp;  @p._1.cat</small>
          } 
         </ul>
        } else {
          <h3>No results found...</h3>
        }
        </div> 

      <hr>
      @htmlFooter()

    </div> <!-- /span9 -->

    <div class="span3">
      @wiki.wikiFrag(WID("Admin","Right"),user,true, None)

      @addRight()
    </div>

  </div> <!-- row -->

</div> <!-- /container -->

@htmlBottom()
    