@**************
list all topics in category
**************@

@(realm:String, name:String, au:Option[model.User])
@import model._

@htmlHeadBar("All topics in category: " +name, au)

<div class="container">
  <div class="row">
    <div class="span9">

    <!-- list of pages in category -->
    @if("User" != name || au.map(_.hasPerm(Perm.adminDb)).getOrElse(false)) {
      <div class="well">
	<b>All</b> @name entries:
	<ul>
	@for(p <- model.Wikis(realm).pages(name) if(controllers.Wiki.isVisible(au,p.props))) {
	  <li><a href="@controllers.Wiki.w(name, p.name, realm)">@p.label</a> </li>
	}
	</ul>
      </div>
    }

      <hr>
      @htmlFooter(ads=true)

    </div> <!-- /span9 -->

      <div class="span3">
	  @wiki.wikiFrag(WID("Admin","Right").r(realm),au,true, None)
      </div>

  </div> <!-- row -->
</div> <!-- /container -->

@htmlBottom()
