@**************
select a destination parent
**************@
@(wid:razie.wiki.model.WID, page:razie.wiki.model.WikiEntry, parents:List[(razie.wiki.model.UWID, String)])(implicit stok:controllers.StateOk)
@import razie.wiki.model._

@stok.title("Choose new parent for: " + wid.toString)

  Choose carefully as you won't be asked to confirm!
  <p></p>

      <div class="well">
        @parents.groupBy(_._1.cat).map { t =>
           @t._1 :
           @if(t._2.size>0) {
             <ul>
             @t._2.map { p=>
               <li><a href="@routes.WikieDebug.wikieMove2(page._id.toString, page.parent.get.toString, p._1.id.toString)">@p._2</a>
             }
            </ul>
           } else {
             No results found...
           }
        }
        </div>

      <hr>

