@***************
link(like) a wiki: select or create from categoyr
**************@
@(wid:razie.wiki.model.WID, page:Option[razie.wiki.model.WikiEntry])(implicit stok: controllers.StateOk)
@import _root_.admin.Config
@import razie.wiki.model.Wikis

<b>Find an existing <em>@wid.name</em> or create a new one.</b>
<hr>

@if(wid.name == "Club") {
  <div class="alert alert-info">
  <strong>Clubs with registration open:</strong>
  @Html(Config.sitecfg("regClubs.list").toList.flatMap(_.split(",")).map(x=>Wikis.sformat(s"<b>[[Club:$x]]</b>", "md", stok.au)).mkString(" | "))
  </div>
<hr>
}

@wiki.wikiAddMore(wid, page)

      <div class="well">
        @wiki.wikiFrag(wid,stok.au,false,page, None)
      </div>

      <hr>

