@**************
wiki fragment, used in another page
**************@
@(wid:razie.wiki.model.WID, au:Option[model.User], simple:Boolean = false, page:Option[razie.wiki.model.WikiEntry]=None, iname:Option[String]=None, noTitle:Boolean=false, ads:Boolean=true, canEdit:Boolean=false, isSite:Boolean=false, print:Boolean=false)
@import razie.wiki.model.{Wikis, WikiCount, WID, WikiEntry}
@import _root_.admin.Config
@import razie.wiki.util.IgnoreErrors

@nicename() = @{ iname.getOrElse(wid.name) }

@favoriteCat = @{ "Topic" }

  @w(c:String) = @{
    if(page.isDefined) page else wid.page//razie.wiki.model.Wikis.find(c,wid.name)
  }

  @prepend(l:List[String], c:String) = @{ c :: l }

  @ww() = @{ Wikis(wid.getRealm).findAny(wid.name) }

  @label()=@{ page.flatMap(_.contentTags.get("label")).orElse(page.map(_.label)).getOrElse(Wikis(wid.getRealm).label(wid)) }

  @url() = @{
    val u = controllers.Wiki.w(wid)
    if(u startsWith "http") u else  s"http://${Config.hostport}$u"
  }

  @ccc(wid:WID, we:WikiEntry)= @{
//    val x = Wikis.format(wid, we.markup, wid.content.mkString, Some(we))
    val x = Wikis.format(wid, we.markup, "", Some(we))
    try {
      if(x contains "CANNOT PARSE") {
        val PAT = """.*PARSE\]\] \[([0-9]+)\.([0-9]+)\].*""".r
        val PAT(line, col) = x
        val id = System.currentTimeMillis().toString
        s"""<div style="color:red;font-weight:bold;" title="Problem with your content: $x">
          <small>[[Check content below at Line:$line Position:$col]]
            <p>Sorry, dumb program here! The content is not lost: try editing this topic... also, please open a support issue and copy/paste there the content.
          </small></div><p></p>""".stripMargin + s"""
            <textarea id="$id" readonly="true" style="width:90%; margin-right:40px" rows="15">${we.content.lines.zipWithIndex.map(t=>f"${t._2}%3s> ${t._1}").mkString("\n")}</textarea>
         """.stripMargin
      } else x
    } catch {
      case _ : Throwable => x
    }
  }

  @one(page:Option[WikiEntry]) = {
  @page match {
    case Some(we) => {
      @if(!simple && !noTitle) {
        @wid.cat match {
          case "any" => {
            <h2>@wid.name</h2>
          }
          case "Category" => {
            <h2>@label()
              (Category)</h2>
          }
          case _ => {
            <h2>@label()
              @if(au.isEmpty && "Blog" == wid.cat) {
                <a class="btn btn-info" title="Subscribe to updates via email" href="@routes.Wikil.linkFollower1(wid)"><i class="icon-envelope icon-white"></i> Subscribe</a>
              } else {
                @if(au.isEmpty && wid.parentWid.exists(_.cat == "Blog")) {
                  <a class="btn btn-info" title="Subscribe to updates via email" href="@routes.Wikil.linkFollower1(wid.parentWid.get)"><i class="icon-envelope icon-white"></i> Subscribe</a>
                }
              }

              @if(!(Seq("WikiLink", "Form").contains(wid.cat) || page.exists(_.contentTags.contains("noSocial")))) {
                <br>
                <a class="btn btn-small btn-info" href="@routes.Wiki.social(label().toString, url())">Share <i class="icon-thumbs-up icon-white"></i></a>

                @if(Seq("Blog", "Forum").contains(wid.cat)) {
                  <a class="btn btn-small btn-info" href="@controllers.Wiki.w(wid)/rss.xml">Feed (RSS) <i class="icon-star icon-white"></i></a>
                }

              }

            </h2>
          }
        }
      }

      <p></p>
      @Html(ccc(wid, we))
      <p></p>

      @wikiFragExtras(au,page)

      @if(!simple && !print) {

        @if(ads && page.isDefined && !page.exists(_.contentTags.contains("noAds")) &&
                """\{\{ad[:}]""".r.findFirstIn(page.get.content).isEmpty &&
                page.get.content.length > 100 && razie.wiki.dom.WikiDomain(wid.getRealm).noAds(page.get.category) &&
                ! _root_.admin.Config.noads) {
          <br>
          @Html(model.Ads.lederboard)
        }

        <p><small>
          @if(!isSite) {
            <em>By</em>:
            @**todo use separate page for missing users **@
            <a href="/user/@model.Users.nameOf(page.get.by)">@model.Users.nameOf(page.get.by)</a>
            | <small>
              @page.get.crDtm.toLocalDate().toString
              @if(page.get.updDtm.toLocalDate != page.get.crDtm.toLocalDate) { .. @page.get.updDtm.toLocalDate().toString }
              </small>
          }

          @** todo tag-based browsing **@
          @if(page.isDefined && page.get.tags.size>0) {
            | <em>Tags</em>:
            @page.get.tags.map { t =>
               @Html(controllers.Wiki.hrefTag(wid, t, t))@if(t != page.get.tags.last){,}
             }
          }
        </small></p>

        @wid.findParent.map {pwe=>
          <hr>
        See more in: <strong><a href="@controllers.Wiki.w(pwe.wid)">@pwe.label</a> </strong>
        @if(au.isEmpty && pwe.wid.cat == "Blog") {
          <a class="btn btn-info" title="Subscribe to updates via email" href="@routes.Wikil.linkFollower1(pwe.wid)"><i class="icon-envelope icon-white"></i> Subscribe</a>
        }
        }

        <hr>
        @page.flatMap(x=>WikiCount.findOne(x._id)).map {pw=>
          <p><small>Viewed <strong>@pw.count</strong> times</small>
        }
        <small>
          (
          @if(canEdit && wid.cat != "Form" || au.exists(_.hasPerm(model.Perm.adminDb))) {
            <a href="@routes.Wikie.wikieEdit(page.get.wid)">Edit</a> |
          }
            @au.map {u =>
              <a href="@routes.Wikie.report(wid)">Report</a> |
            }
            <a href="@routes.Wiki.printWid(WID.cmdfromPath(wid.wpath).get, wid.getRealm)">Print</a>
            @if(au.exists(_.hasPerm(model.Perm.adminDb))) {
              | <a href="@controllers.Wiki.w(wid)/debug"><em>debug</em></a>
            }
            @if(!(Array("WikiLink", "Category", "Form") contains wid.cat)) {
              @if(canEdit) {
                | <a href="@routes.Wikie.wikieRename1(wid)">Rename</a>
              }
              @if(au.isDefined && au.get.isActive) {

                @if(au.get.isLinkedTo(we.uwid)) {
                  | <a href="@routes.Wikil.unlinkUser(wid)">@wid.label("Unlike", "Unlike")</a>
                } else {
                  | <a href="@routes.Wikil.linkUser(wid,false)">@wid.label("Like")</a>
                }

                @if(au.get.isLinkedTo(we.uwid) && we.parent.isDefined) {
                  | <a href="@routes.Wikie.wikieMove1(we._id.toString)">@wid.label("Move", "Move")</a>
                }

                @if(we.isOwner(au.get.id) || au.exists(_.hasPerm(model.Perm.adminDb)) ||
                    we.owner.exists(o=> o.asInstanceOf[model.User].isClub &&
                    Club.findForUser(o.asInstanceOf[model.User]).flatMap(_.uregAdmin).exists(_._id == au.get._id))) {
                  | <a href="@routes.Wikie.manage(we._id.toString)">Manage</a>
                }

              }

              @if(au.isEmpty && "Blog" == wid.cat) {
                | <a href="@routes.Wikil.linkFollower1(wid)"><span style="color:red">Subscribe</span></a>
                }

            }
            ) this page.

            @wid.cat match {
              case "WikiLink" if(wid.name.startsWith("User:")) => {
                <br>This link page connects you to ??? TODO ???
@**
                <a href="/wiki/@razie.wiki.model.Wikis.linkFromName(wid.name).to.toString">@razie.wiki.model.Wikis.linkFromName(wid.name).to.name</a>
                : you can add some notes by <a href="@routes.Wikie.wikieEdit(page.get.wid)">editing</a> it.
**@
              }
              case "Category" => {
                <br>You cannot edit categories.
              }
              case _ => {
                <br>This content is Copyrighted, all rights reserved.
              }
            }
        </small></p>
      } <!-- /simple -->
    }

    case None => {
      @if("any" != wid.cat && !wid.cat.isEmpty) {
        @if("Race" == wid.cat || "Event" == wid.cat || "Training" == wid.cat) {
          <p><strong><font style="color:red">Note: </font></strong>A <strong>@wid.cat</strong> doesn't need its own page unless there you have some specific information about it... so, if you have some photos, videos or comments about it, create it below and share it with your mates!
        <hr>
        }
        No entry for a <strong>@wid.cat</strong> named <strong>@nicename</strong> ... <a href="@routes.Wikie.wikieEdit(wid.copy(name=nicename))">create one</a></b>
      } else {
        <strong>No entry for @wid.name ... you could create one:</strong>

        <form action="@routes.Wikie.edit2" method="GET" class="well form-inline">
          <input type="text" name="name" id="name" value="@nicename">
          <select id="cat" name="cat" class="input-small">
          @prepend(razie.wiki.model.Wikis(wid.getRealm).pageNames("Category").toList.filter(_ != favoriteCat).sortWith(_ < _), favoriteCat).map{x=>
            <option value="@x" >@x</option>
          }
          </select>

          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      }
    }
  }
  }

  @many() = {
    Multiple options:
    <ul>
    @ww.map { we =>
      <li><a href="@controllers.Wiki.w(we.category, we.name)">@we.category @we.name</a></li>
    }
    </ul>
  }

@{
  page match {
    case Some(x) => one(w(x.category))
    case None => wid.cat match {
      case "any" => {
        if(ww.size >= 1) many
        else if(ww.size == 1) ww.map ( x=> one(w(x.category)) )
        else one(None)
      }
      case _ => one(w(wid.cat))
    }
  }
}

