@**************
render a page in a site rather than a normal page - some missing stuff
**************@
@(wid:razie.wiki.model.WID, iname:Option[String], page:Option[razie.wiki.model.WikiEntry])(implicit stok: controllers.StateOk)
@import razie.wiki.model.Wikis

@showads() = @{
  page.isDefined && page.get.contentProps.get("showads").isDefined
}

@logo()    = @{page.flatMap(_.contentProps.get("logo"))}
@siteurl() = @{page.flatMap(_.contentProps.get("siteurl"))}
@club()    = @{page.flatMap(_.contentProps.get("club")).map("?club="+_).getOrElse("")}

@stok.maybeCss(page.flatMap(_.contentProps.get("css")))

@htmlHead(""+page.flatMap(_.contentProps.get("sitelabel")).getOrElse(page.map(_.label).getOrElse(razie.wiki.model.Wikis(wid.getRealm).label(wid))), Some(stok))(Map.empty, stok.au, stok.request)
@navbar(stok.au, Wikis.RK, false, "Menu", logo(), siteurl(), true, club())

<div class="container">
  <div class="row">

  @if(showads()) {
    <div class="col-sm-9">
  } else {
    <div class="col-sm-12">
  }
      <div class="well">
        @wiki.wikiFrag(wid,stok.au,false,page, iname, true, false, true)
      </div>

      @wiki.wikiAddMore(wid, page)

      <hr>
      @htmlFooter(ads=showads(), isSite=true)

    </div> <!-- /col-sm-9 -->

    @if(showads()) {
      <div class="col-sm-3">
@*************
        @wiki.wikiFrag(WID("Admin","Right"),au,true, None)
*************@

        @addRight()
      </div>
      }

  </div> <!-- row -->
</div> <!-- /container -->

@htmlBottom(false, stok.request)
