@**************
edit a wiki page
**************@
@(wid:model.WID, myForm:Form[controllers.Wiki.EditWiki], user:Option[model.User])(implicit request:Request[_])
@import _root_.admin.Config.realm

@v(name:String) = @{
  myForm(name).value.getOrElse("?")
}

@wvis() = @{
  model.Wikis.visibilityFor(wid.cat) ++ (if(user.exists(_.isAdmin)) Seq("Private") else Nil)
}

@reserved(page:Option[model.WikiEntry]) = {
  @page match {
    case Some(we) => { 
      @if(we.isReserved) {
        YES <a href="@routes.Wiki.reserve(wid,false)">Unreserve it</a>
      } else {
        NO <a href="@routes.Wiki.reserve(wid,true)">Reserve it</a>
      } 
    }
    case None => { 
      <b>new page</b>
    }
  }
} 

@htmlHead("Editing "+wid.cat+":"+ wid.name)
@navbar(user, realm)
   
<div class="container">
  <div class="row">
    <div class="span9">

<div >
@import helper.twitterBootstrap._

@helper.form(action=routes.Wiki.save(wid.formatted), 'class->"well form-inline") {
<table valign="top">
<tr><td>
@******* 
PROBLEM: many places use label as name... via Wikis.formatName
**********@
  @helper.inputText(
    myForm("label"), 
    'class -> "input-xxlarge",
    '_label -> "Label (don't change)",
    '_showConstraints -> false)
  @helper.textarea(
    myForm("content"), 
    '_label -> "Content", 
    '_showConstraints -> false,
    'class -> "span7",
    'rows->20)
  @helper.inputText(
    myForm("tags"), 
    'class -> "input-xlarge",
    '_label -> "Tags (separated with ,)",
    '_showConstraints -> false)
</td><td>
    <div>
  @helper.select(
    myForm("markup"), 
    Seq("md"->"Markdown"), //model.Wikis.markups.map(x=>(x,x)),
    '_label -> "Markup Language", 
    'class -> "input-small",
    '_showConstraints -> false)

  @helper.select(
    myForm("visibility"), 
    model.Wikis.visibilityFor(wid.cat).map(x=>(x,x)),
    '_label -> "Visibility", 
    'class -> "input-small",
    '_showConstraints -> false)

  @helper.select(
    myForm("wvis"), 
    wvis().map(x=>(x,x)),
    '_label -> "EditBy", 
    'class -> "input-small",
    '_showConstraints -> false)
    
  @helper.select(
    myForm("draft"), 
    Seq("Notify"->"Notify", "Draft" -> "Draft", "Silent" -> "Silent"), 
    'class -> "input-small",
    '_label -> "Notify followers", 
    '_showConstraints -> false)
            
  @if(user.get.hasPerm(model.Perm.adminDb)) {
    <p>Reserved: @reserved(model.Wikis.find(wid.cat,wid.name))
    @if(model.Wikis.find(wid.cat,wid.name).isDefined) {
      <p><a href="@routes.Wiki.wikieDelete1(wid)">Delete it</a>
    }
  }

  </div>
</td></tr></table>    
    <div class="actions">
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="@controllers.Wiki.w(wid, false)" class="btn">Cancel</a>
  </div>
  
  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  } 
  
  <p><small>See the <a href="/wiki/Admin/Quick Guide">quick guide</a>.</small>
  <br><small>By updating this page, you agree to the <a href="@controllers.Wiki.w("Terms of Service")">Terms of Service</a></small>
  <br><small>Please do not replicate information already contained in other reference places like 
      Wikipedia, just link to them. Use [[[Main_Page]]] to link to wikipedia.</small>
}
</div>

@model.Wikis.find(wid).map{we=>
  <div class="well">
    @wiki.wikiFrag(wid,user, false, Some(we))
  </div>
}

    <hr>
    @htmlFooter(false, false, realm)
    </div> <!-- /span9 -->

    <div class="span3">
      @wiki.wikiFrag(model.WID("Admin","Right"),user,true)
    </div>
  </div> <!-- row -->
</div> <!-- /container -->

@htmlBottom()
    