@****************
fragment: add more stuff to the current topic, including children, sub-topics etc
****************@

@(wid:model.WID, page:Option[model.WikiEntry], user:Option[model.User])
@import model._
@import _root_.admin.IgnoreErrors

    <!-- list of pages in category -->
    @if("Category" == wid.cat && "User" != wid.name && ("WikiLink" != wid.name || user.exists(_.hasPerm(Perm.adminDb)))) {

      @if(model.Wikis.pageNames(wid.name).size > 0) {
      <div class="well">
        @wid.name entries:

        @for(p <- model.Wikis.pages(wid.name).take(50) if(controllers.Wiki.isVisible(user,p.props))) {
          <a href="@controllers.Wiki.w(p.wid)">@p.label</a> |
        } 

        @if(model.Wikis.pageNames(wid.name).size > 50) {
          <p><br>
          ... <a href="@routes.Wiki.all(wid.name)">See <b>all</b> !</a> 
      </p>
        }
      </div> 

      @if(!model.WikiDomain.needsParent(wid.name)) {
        @helper.form(action=routes.Wiki.add(wid.name), 'class->"well form-inline") {
          <label>Create a new <a href="/wiki/Category:@wid.name">@model.Wikis.label(WID("Category",wid.name))</a> </label>
          <input type="text" class="input-xlarge" name="name" placeholder="Name">
          <button type="submit" class="btn">Now</button>
        }
      }
      } 
    } else {
      <!-- list of child pages -->
      @model.WikiDomain.aEnds(wid.cat, "Child").map {child=>

        @if(page.isDefined && controllers.Wiki.canEdit(wid,user,page)(IgnoreErrors)) {
          @helper.form(action=routes.Wiki.addLinked(child,wid,"Child"), 'class->"form-inline") {
            <label>Create a <a href="/wiki/Category:@child">@model.Wikis.label(WID("Category",child))</a> </label>
            <input type="text" class="input-xlarge" name="name" placeholder="Name">
            <button type="submit" class="btn btn-mini btn-primary">Now</button> 
            <a href="/wiki/Admin:Adding_a_Child" class="btn btn-mini btn-info">?</a>
          }
        }
  
        @if(model.Wikis.linksTo(wid,"Child").filter(_.from.cat == child).size > 0) {
        <div class="well">
          @child (s) :
          <ul>
          @model.Wikis.linksTo(wid,"Child").filter(_.from.cat == child).toList.reverse.take(200).sortWith((a,b)=>b.crDtm.isBefore(a.crDtm)).map(_.from).map { p=>
            <li><a href="@controllers.Wiki.w(p)">@model.Wikis.label(p)</a>
          } 
         </ul>
        </div> 
        }
      } 
    }
