@(wid:model.WID, iname:Option[String], page:Option[model.WikiEntry], user:Option[model.User])
@import model._

@htmlHead(wid.cat +": "+ page.map(_.label).getOrElse(model.Wikis.label(wid)))

@navbar(user)
   
<div class="container">
  <div class="row">
    <div class="span9">

      <div class="well">
        @wiki.wikiFrag(wid,user,false,page, iname)
      </div>

      @wiki.wikiAddMore(wid, page, user)

      @wiki.wikiPageComments(wid, page, user)

      <hr>
      @htmlFooter(ads=true)

    </div> <!-- /span9 -->

    <div class="span3">
    @wiki.wikiFrag(WID("Admin","Right"),user,true)

    @addRight()
    </div>

  </div> <!-- row -->
</div> <!-- /container -->

@htmlBottom()
    