@**************
render a regular wiki page - site pages are rendered with wikiSite.scala.html
**************@
@(cat:String, realm:String, au:Option[model.User])
@import model._

@htmlHeadBar("Creating a "+cat, au)

<div class="container">
  <div class="row">
    <div class="span9">

      @helper.form(action=routes.Wikie.addWithName(cat, realm), 'class->"well form-inline") {
        Name: <input type="text" class="input-xlarge" name="name" placeholder="Name">

        <button type="submit" class="btn">Create Now!</button>
      }

      <hr>
    </div> <!-- /span9 -->

    <div class="span3">
    @wiki.wikiFrag(WID("Admin","Right"),au,true)

    @addRight()
    </div>

  </div> <!-- row -->
</div> <!-- /container -->

@htmlBottom()
    