@****************
select module to add to reactor
****************@
@(realm:String, au:Option[model.User])
@import model._
@import razie.wiki.model.WID

@htmlHeadBar("Select mod for reactor", au)

@CAT()=@{"ReactorModule"}
@CATINST()=@{"ReactorMod"}

<div class="container">
    <div class="row">
        <div class="col-sm-9">

            <h3>Select mod to add</h3>
            <hr>

            @* mod tempaltes that are not there already *@
           @defining(razie.wiki.model.Wikis.dflt.pages(CAT).filter(x=> !razie.wiki.model.Wikis(realm).pageNames(CATINST).contains(x.name))) {list=>
                   @if(list.isEmpty) {
                       No more mods available... <a href="@controllers.Wiki.w("Admin", "Creating Reactor Mods")">create one!</a>
                   }
           @list.map {we =>
               <a href="@routes.Realm.addMod2(we.wid.wpath, realm)" style="text-decoration:none">
                   <div class="alert alert-cool">
                       <h2><span style="color:#FF7519">@we.label</span>
                       @we.contentTags.get("title").map{t=><small>| @t</small>}
                       </h2>
                       <p>@we.contentTags.getOrElse("description", "Needs description>")</p>
                   </div>
               </a>
           }
           }

            <hr>
            @htmlFooter(ads = true)

        </div> <!-- /col-sm-9 -->

        <div class="col-sm-3">
            @wiki.wikiFrag(WID("Admin","Right"),au,true)

            @addRight()
        </div>

    </div> <!-- row -->
</div> <!-- /container -->

@htmlBottom()


