@**************
when creating a new topic with category but no name
**************@
@(cat: String, tags:String)(implicit stok: controllers.StateOk)

  @stok.title("Creating a " + cat)

  <br>
  Creating a new <em>@cat</em> @if(tags.length > 0) {with tags: @tags} ...
  <p></p>

  @helper.form(action=routes.Wikie.addWithName(cat, tags), 'class -> "form-inline") {
  <div class="alert alert-success col-md-12">
    Label: <input type="text" style="width:50%" class="form-control" name="name" placeholder="Name" autofocus>

    <button type="submit" class="btn btn-default">Create Now!</button>
  </div>
  }

  <p></p>
  <span class="glyphicon glyphicon-education"></span> Don't use weird symbols in the label. It can contain spaces.

