@(from:model.WID, to:model.WID, myForm:Form[controllers.Wiki.LinkWiki], user:Option[model.User])
@import model.Wikis
@import helper.twitterBootstrap._

@how() = @{
  Wikis.find("Category", to.cat).flatMap(_.tags.get("roles:"+from.cat)) match {
    case Some(s) => {
      s.split(",").map(x=>(x,x)).toSeq
    }
    case None => {
      Wikis.pageNames("Link").map(x=>(x,x)).toList
    }
  }
}
   @htmlHead()

   @navbar(user)
   
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      @if("User" == from.cat) {
          <h2>Cool! So you want to link to @to.cat @to.name!</h2>
          } else {
          <h2>Cool! So you want to link @from.cat @from.name to @to.cat @to.name!</h2>
          }
          <p>
      </div>

<div >

@helper.form(action=routes.Wiki.linked(from.cat,from.name,to.cat,to.name), 'class->"well") {
  @helper.select(
    myForm("how"), 
     how(),
    '_label -> "Enjoy it as a", 
    '_showConstraints -> false)
  @helper.select(
    myForm("markup"), 
     model.Wikis.markups.map(x=>(x,x)),
    '_label -> "Markkup language", 
    '_showConstraints -> false)
  @helper.textarea(
    myForm("comment"), 
    '_label -> "Comment", 
    '_showConstraints -> false,
    'cols->100,
    'rows->10)
    
    <div class="actions">
      <button type="submit" class="btn btn-primary">Link it!</button>
      <a href="@controllers.Wiki.w(to.cat,to.name)" class="btn">Nah</a>
  </div>
  
  @if(myForm.globalError.isDefined) {
     <br><br><b>@myForm.globalError.get.message</b>
  } 
  
  <br><small>By updating this page, you agree to the <a href="@controllers.Wiki.w("Terms of Service")">Terms of Service</a></small>
}
</div>

          @wiki.wikiFrag(from.cat,from.name)
          
      <hr>

      @htmlFooter()

    </div> <!-- /container -->

    @htmlBottom()
    