@**************
select or create from categoyr
**************@
@(wid:model.WID, page:Option[model.WikiEntry], au:Option[model.User])
@import model._

@htmlHeadBar(page.flatMap(_.contentTags.get("title")).getOrElse(wid.cat +": "+ page.map(_.label).getOrElse(model.Wikis(wid.getRealm).label(wid))), au)

<div class="container">
  <div class="row">
    <div class="span9">

<b>Find an existing <em>@wid.name</em> or create a new one.</b>
<hr>

@import _root_.admin.Config
@import model.Wikis

@if(wid.name == "Club") {
  <div class="alert alert-info">
  <strong>Clubs with registration open:</strong> 
 @Html(Config.sitecfg("regClubs.list").toList.flatMap(_.split(",")).map(x=>Wikis.sformat(s"<b>[[Club:$x]]</b>")).mkString(" | "))
  </div>
<hr>	
}

      @wiki.wikiAddMore(wid, page, au)
      
      <div class="well">
        @wiki.wikiFrag(wid,au,false,page, None)
      </div>

      <hr>
      @********** if already two adds in page put none at the bottom, there's also one on the left **********@
      @htmlFooter(ads = !page.exists(_.content.matches("""(?s).*\{\{ad[:}].*\{\{ad[:}].*""")))

    </div> <!-- /span9 -->

    <div class="span3">
    @wiki.wikiFrag(WID("Admin","Right"),au,true)

    @addRight()
    </div>

  </div> <!-- row -->
</div> <!-- /container -->

@htmlBottom()
    