@**************
render a regular wiki page - site pages are rendered with wikiSite.scala.html
**************@
@(wid:razie.wiki.model.WID, iname:Option[String], page:Option[razie.wiki.model.WikiEntry], canEdit:Boolean, print:Boolean=false)(implicit au:Option[model.User], request:Request[_])

@label()=@{ page.map(_.label).getOrElse(razie.wiki.model.Wikis(wid.getRealm).label(wid)) }
@web()=@{model.Website(request) getOrElse model.Website.dflt}
@isSite()=@{Array("Site", "Page").contains(wid.cat) && page.isDefined}

@htmlHead(page.flatMap(_.contentTags.get("title")).getOrElse(wid.cat +": "+ label), None, page)

@if(!print) {@navbar(au, wid.getRealm)(au,Some(request))}

<div class="container">
  <div class="row">

    @if(web().divMain == "9") {
      <div class="span9">
      } else {
      <div class="span12">
      }

    @if(page.flatMap(_.props.get("draft")).exists(_.toLowerCase == "draft")) {
      <div class="alert">
        <strong>Draft!</strong> This page is a draft - a work in progress!
      </div>
    }

      <div class="well">
        @wiki.wikiFrag(wid,au,false,page, iname, false, true, canEdit)
      </div>

      @if(page.isDefined) {
        @wiki.wikiAddMore(wid, page, au)
        @wiki.wikiPageComments(wid, page, au)
      }

      <hr>
      @htmlFooter(ads = web().showAds == "yes" && !page.exists(_.content.matches("""(?s).*\{\{ad[:}].*\{\{ad[:}].*""")) && !au.exists(_.isUnder13), false, wid.getRealm)

    </div> <!-- /span9 -->

    @* is there room for the right stuff **@
    @if(web().divMain == "9") {
      <div class="span3">
        @web().rightTop.map { rt =>
          @wiki.wikiFrag(rt, au, simple = true)
        }

        @if(web().showAds == "yes") {
          @addRight()
        }

        @web().rightBottom.map { rt =>
          @wiki.wikiFrag(rt, au, simple = true)
        }

      </div>
    }

  </div> <!-- row -->
</div> <!-- /container -->

@htmlBottom(false, Some(request))

