@**************
render a regular wiki page - site pages are rendered with wikiSite.scala.html
**************@

@(wid:model.WID, iname:Option[String], page:Option[model.WikiEntry], canEdit:Boolean, print:Boolean=false)(implicit au:Option[model.User], request:Request[_])
@import model._
@import _root_.admin.Config.realm

@label()=@{ page.map(_.label).getOrElse(model.Wikis.label(wid)) }

@htmlHead(page.flatMap(_.contentTags.get("title")).getOrElse(wid.cat +": "+ label), None, page)
@if(!print) {@navbar(au, realm)}
   
<div class="container">
  <div class="row">
  
    <div class="span9">

      <div class="well">
        @wiki.wikiFrag(wid,au,false,page, iname, false, true, canEdit)
      </div>

      @wiki.wikiAddMore(wid, page, au)

      @wiki.wikiPageComments(wid, page, au)

      <hr>
      @htmlFooter(ads = !page.exists(_.content.matches("""(?s).*\{\{ad[:}].*\{\{ad[:}].*""")) && !au.exists(_.isUnder13), false, realm)

    </div> <!-- /span9 -->

    <div class="span3">
    @wiki.wikiFrag(WID("Admin","Right"),au,simple=true)

    @addRight()
    </div>

  </div> <!-- row -->
</div> <!-- /container -->

  @if(_root_.admin.Config.realm == "notes") {
    @notes.htmlBottomNotes()
  } else {
    @htmlBottom()
  }
