@****************
select module to add to reactor
****************@
@(realm: String)(implicit stok: controllers.StateOk)


  @stok.title("Select mod for reactor")

  @CAT() = @{
    "ReactorModule"
  }

  @CATINST() = @{
    "ReactorMod"
  }

  <h3>Select mod to add (<small>@CAT()</small>)</h3>
  <hr>
  @* mod tempaltes that are not there already *@
  @defining(razie.wiki.model.Wikis.dflt.pages(CAT).filter(x => !razie.wiki.model.Wikis(realm).pageNames(CATINST).contains(x.name))) { list =>
    @if(list.isEmpty) {
      No more mods available... <a href="@controllers.WikiUtil.w("Admin", "Creating Reactor Mods", "wiki")">create one!</a>
    }
    @list.map { we =>
      <a href="@routes.Realm.addMod2(we.wid.wpath, realm)" style="text-decoration: none">
        <div class="alert alert-cool">
          <h2><span style="color: #FF7519">@we.label</span>
            @we.contentProps.get("title").map { t => <small>| @t</small> }
          </h2>
          <p>@we.contentProps.getOrElse("description", "Needs description>")</p>
        </div>
      </a>
    }
  }

  <hr>

