@**************
render a page in a site rather than a normal page - some missing stuff
**************@

@(wid:model.WID, iname:Option[String], page:Option[model.WikiEntry], user:Option[model.User])
@import model._

@htmlHead(""+page.flatMap(_.contentTags.get("sitelabel")).getOrElse(page.map(_.label).getOrElse(model.Wikis.label(wid))), page.flatMap(_.contentTags.get("css")))

@showads() = @{
  page.isDefined && page.get.contentTags.get("showads").isDefined
}

@if(page.isDefined && page.get.contentTags.get("logo").isDefined) {
  @navbar(user, false, "Menu", page.get.contentTags.get("logo"), page.get.contentTags.get("siteurl"), true, page.get.contentTags.get("club").map("?club="+_).getOrElse(""))
} else {
  @navbar(user, false, "Menu", None, None, true)
}
   
<div class="container">
  <div class="row">
  
  @if(showads()) {
    <div class="span9">
  } else {
    <div class="span12">
  }
      <div class="well">
        @wiki.wikiFrag(wid,user,false,page, iname, true, false, true)
      </div>

      @wiki.wikiAddMore(wid, page, user)

      <hr>
      @htmlFooter(ads=showads(), isSite=true)

    </div> <!-- /span9 -->

    @if(showads()) {
      <div class="span3">
@************* 
        @wiki.wikiFrag(WID("Admin","Right"),user,true, None)
*************@

        @addRight()
      </div>
      }

  </div> <!-- row -->
</div> <!-- /container -->

@htmlBottom()
    