@**************
render a regular wiki page - site pages are rendered with wikiSite.scala.html
**************@

@(wid:model.WID, page:Option[model.WikiEntry], user:Option[model.User])
@import model._

@htmlHead(page.flatMap(_.contentTags.get("title")).getOrElse(wid.cat +": "+ page.map(_.label).getOrElse(model.Wikis.label(wid))))

@navbar(user)
   
<div class="container">
  <div class="row">
    <div class="span9">

      @wiki.wikiAddMore(wid, page, user)

      <div class="well">
        @wiki.wikiFrag(wid,user,false,page, None)
      </div>

      <hr>
     
      @wiki.wikiPageComments(wid, page, user)
      
      @********** if already two adds in page put none at the bottom, there's also one on the left **********@
      @htmlFooter(ads = !page.exists(_.content.matches("""(?s).*\{\{ad[:}].*\{\{ad[:}].*""")))

    </div> <!-- /span9 -->

    <div class="span3">
    @wiki.wikiFrag(WID("Admin","Right"),user,true)

    @addRight()
    </div>

  </div> <!-- row -->
</div> <!-- /container -->

@htmlBottom()
    