@(wid:model.WID, myForm:Form[controllers.Wikie.ReportWiki], au:Option[model.User])

@htmlHeadBar("", au)

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="well">
          <h2>Opa! Need to report @wid!</h2>
          <p>
      </div>

<div >
@import helper.twitterBootstrap._

@helper.form(action=routes.Wikie.reported(wid), 'class->"well") {
  @helper.textarea(
    myForm("reason"), 
    '_label -> "Reason", 
    '_showConstraints -> false,
    'cols->100,
    'rows->10)
    
    <div class="actions">
      <button type="submit" class="btn btn-primary">Report it!</button>
      <a href="@controllers.Wiki.w(wid)" class="btn">Nah</a>
  </div>
  
  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  } 
  
  <br><small>By updating this page, you agree to the <a href="@controllers.Wiki.w("Terms of Service")Wiki.w("Terms of Service")">Terms of Service</a></small>
}
</div>

      <div class="well">
          @wiki.wikiFrag(wid,au)
      </div>
          
      <hr>

      @htmlFooter()

    </div> <!-- /container -->

    @htmlBottom()
    