@***************
link(like) a wiki: select or create from categoyr
**************@
@(wid: razie.wiki.model.WID, page: Option[razie.wiki.model.WikiEntry])(implicit stok: controllers.StateOk)
@import razie.wiki.Config
@import razie.wiki.model.Wikis

  <b>Find an existing <em>@wid.name</em> or create a new one.</b>
<p></p>

  @if(wid.name == "Club") {
    <div class="alert alert-success">
      <strong>Clubs with registration open:</strong>
      @Html(
        Wikis.sformat(
          Config.sitecfg("regClubs.list").toList.flatMap(_.split(",")).map(x => s"<b>[[Club:$x]]</b>").mkString(" | "),
          "md", stok.realm, stok.au))
    </div>
  <div class="alert alert-warning">
@md {
  **If you're looking to test the capabilities, please join the demo club:**
  <b>[[Club:Demo Ski Club]]</b>
}
  </div>
@md {
Creating a new club or activate one is quick and free, but we'll have to do it for you - please submit a <a href="/doe/support">support request</a>, detailing:
- club name
- system (CSCF, USSA, CSIA, PSIA, PMTS etc)
 - this is used to get specific evaluation forms
- racing club vs ski school (racer/team/coach vs guest/instructor)
- administrator email (should be yours)
}
    <hr>
  } @** if club **@



  @if(wid.name == "Pro") {
    @if(stok.au.exists(_.roles.contains("Pro")) &&
        !razie.wiki.model.WID("Pro", stok.au.get.userName).r(stok.realm).page.isDefined) {
      <div class="alert alert-danger">
        <small><b>
          You need to <a href="/4us/activate/Pro">Activate your Pro page</a>
          OR read more <a href="/wiki/Admin:Hosted_Services_for_Ski_Pros">about this website</a>]
        </b></small>
      </div>
    }

    <div class="alert alert-info">
      <small><b>
        Invite a Pro to <a href="/4us/invitePro/Pro">join us</a>
      </b></small>
    </div>
  }


  @if(wid.name == "School") {
    <div class="alert alert-warning">
@md {
 **If you're looking to test the website, please join the demo school:**
<br> <b>[[Club:Demo Snow School]]</b>
    }
    </div>
@md {
Creating a new school or activate one is quick and free, but we'll have to do it for you - please submit a <a href="/doe/support">
support request</a>, detailing:
- school name
- mountain
- system (CSCF, USSA, CSIA, PSIA, PMTS etc)
- this is used to get specific evaluation forms
- racing club vs ski school (racer/team/coach vs guest/instructor)
- administrator email (should be yours)
    }
  }

  @wiki.wikiAddMore(wid, page)

  @if(!Array("Club", "Pro", "School").contains(wid.name)) {
    <div class="well">
    @wiki.wikiFrag(wid, None, false, page, None)
    </div>
  }


