@(category:String, name:String, myForm:Form[_], user:Option[model.User])

   @htmlHead()

   @navbar(user)
   
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="well">
          <h2>Renaming a topic!</h2>
          <p><strong>Warning</strong> - currently references are not renamed so if any other topic has a reference to this one, the reference will not work anymore! 
      </div>

<div >
@import helper.twitterBootstrap._

@helper.form(action=routes.Wiki.wikieRename2(category,name), 'class->"well") {
  @helper.inputText(
    myForm("oldlabel"), 
    '_class -> "input-xlarge disabled", 
    '_label -> "Out with the old", 
    'readonly -> "yes",
    '_showConstraints -> false)
  @helper.inputText(
    myForm("newlabel"), 
    '_class -> "input-xlarge", 
    '_label -> "In with the new", 
    '_showConstraints -> false)
    
    <div class="actions">
      <button type="submit" class="btn btn-primary">Rename it!</button>
      <a href="@controllers.Wiki.w(category,name)" class="btn">Nah</a>
  </div>
  
  @if(myForm.globalError.isDefined) {
     <br><br><b>@myForm.globalError.get.message</b>
  } 
  
  <br><small>By updating this page, you agree to the <a href="@controllers.Wiki.w("Terms of Service")Wiki.w("Terms of Service")">Terms of Service</a></small>
}
</div>

      <div class="well">
          @wiki.wikiFrag(category,name)
      </div>
          
      <hr>

      @htmlFooter()

    </div> <!-- /container -->

    @htmlBottom()
    