@********
special handlng of forms

this will render a form containing the wiki, no headers/footers

the actual form contents are in wikiFormInt
*********@
@(wid: razie.wiki.model.WID, iname: Option[String], page: Option[razie.wiki.model.WikiEntry], errors: Map[String, String], canEdit: Boolean, print: Boolean = false, simple:Boolean=false, next:Option[String]=None)(implicit stok: controllers.StateOk)
@import razie.wiki.model.WID
@import model.User
@import mod.snow.Reg

@label() = @{
  page.flatMap(_.contentProps.get("label")).orElse(page.map(_.label)).getOrElse(razie.wiki.model.Wikis(wid.getRealm).label(wid))
}

@isClubAdmin(u: User) = @{
  page.flatMap(_.owner).exists(controllers.RazWikiAuthorization.isClubAdmin(u, _))
}

@fid()=@{page.map(_._id).mkString}

@getaction() = @{
  if(page.exists(_.fields.contains("weRedirectPlease"))) {
    page.get.fields("weNextUrl").value
  } else {
    "/doe/form/submit/"+wid.wpath
  }
}

@if(page.exists(_.fields.contains("weRedirectPlease"))) {
  <h1 style="color:blue">Processing the form... please wait!</h1>
}

<!-- canEdit: @page.exists(_.form.canEdit) -->

  <form id="wikiForm-@fid" action="@getaction" method="POST">

  @wiki.wikiFormInt(wid, iname, page, errors, canEdit, print, simple)
  <hr>

  @if(!print) {

    @if(page.exists(_.form.canEdit) ||
        stok.au.exists(isClubAdmin(_)) &&
            (page.get.form.canBeApproved || page.get.form.canBeRejected)) {
    }

    @if(page.exists(_.form.canEdit)) {
      @if(!simple) {
        @if(next.isDefined) {
          <input type="submit" name="submit_button" value="Submit and continue" class="btn btn-success">
        } else {
          <input type="submit" name="save_button" value="Save for later" class="btn btn-info">
          <input type="submit" name="submit_button" value="Submit" class="btn btn-success">
          <strong>Please <font style="color : red">save </font> before leaving this page!</strong>
        }
      } else {
        @** coach can edit questionaire *@
        <input type="submit" name="save_button" value="Save for later" class="btn btn-info">
        @if(page.exists(_.form.canEditBy(stok.au.get._id.toString))) {
          <input type="submit" name="submit_button" title="Notify the owner" value="Submit" class="btn btn-success">
        }
        <span name="saved" class="label label-default" hidden></span>
      }
    }
    @if(stok.au.exists(isClubAdmin(_)) && page.get.form.canBeApproved && next.isEmpty) {
      <input type="submit" name="approve_button" value="Approve" class="btn btn-success">
    }
    @if(stok.au.exists(isClubAdmin(_)) && (page.get.form.canBeApproved || page.get.form.canBeRejected) && next.isEmpty) {
      <input type="submit" name="reject_button" value="Reject" class="btn btn-danger">
      <p>
        <textarea name="formRejected" value="Reject reason" rows="3" placeholder="reason for rejection" class="input-xxlarge" style="background-color: #dcadad"></textarea>
        }
  }

  @if(next.isDefined) {
    <input type="text" name="weNextUrl" value="@next.mkString" hidden>
    <textarea name="weContent" hidden>@page.get.content</textarea>
    }
</form>

@formFix(page.toList.flatMap(_.form.fields.values.filter(_.attributes.get("type").exists(_ == "date"))).map(_.name).toSeq)

<script>
withJquery(function($) {

  @if(simple) {
// this is the id of the form
  $('#wikiForm-@fid').submit(function(e) {
    var sub1 = $("#wikiForm-@fid > input[type=submit][clicked=true]").attr("name");
    var sub2 = $("#wikiForm-@fid > input[type=submit][clicked=true]").val();
    $("#wikiForm-@fid > input[type=submit][clicked=true]").attr("disabled", "disabled");

    var data = $('#wikiForm-@fid').serialize()
    data=data+'&'+sub1+'='+sub2;

    $.ajax({
      type: $('#wikiForm-@fid').attr('method'),
      url: $('#wikiForm-@fid').attr('action'),
      data: data,
      success: function(data) {
        weBlink('#wikiForm-@fid [name="saved"]', "Saved", "green");
        if(typeof weNotifyFormSubmitted != 'undefined')
          weNotifyFormSubmitted('@wid.wpath');
      },
      error: function(data) {
        weBlink('#wikiForm-@fid [name="saved"]', "NOT Saved - "+data.responseText, "red", 5000);
      }
    });

    e.preventDefault(); // avoid to execute the actual submit of the form.
  });

  $("form input[type=submit]").click(function() {
    $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
    $(this).attr("clicked", "true");
  });

}

// submit automatically after validation
@if(page.exists(_.fields.contains("weRedirectPlease"))) {
  $('#wikiForm-@fid').submit();
}
  });
</script>

