@**************
edit a wiki page
**************@
@(wid:razie.wiki.model.WID, myForm:Form[controllers.Wikie.EditWiki], noshow:String="")(implicit stok: controllers.StateOk)
@import model.Website.realm
@import razie.wiki.model.{Wikis, WID, WikiEntry}
@import razie.wiki.model.Reactors

@stok.title("Editing "+wid.cat+":"+ wid.name)

@v(name:String) = @{
  myForm(name).value.getOrElse("?")
}

@wvis() = @{
  Reactors(stok.realm).wiki.visibilityFor(wid.cat, "wvis") ++ (if(stok.au.exists(_.isAdmin)) Seq("Admin") else Nil)
}

@reserved(page:Option[WikiEntry]) = {
  @page match {
    case Some(we) => {
      @if(we.isReserved) {
        YES <a href="@routes.Wikie.reserve(wid,false)">Unreserve it</a>
      } else {
        NO <a href="@routes.Wikie.reserve(wid,true)">Reserve it</a>
      }
    }
    case None => {
      <b>new page</b>
    }
  }
}


<div class="container">
  <div class="row">
    <div class="col-sm-12">

<div >
@import helper.twitterBootstrap._

@helper.form(action=routes.Wikie.save(wid.formatted), 'class->"well") {
<div class="row">
@*******
PROBLEM: many places use label as name... via Wikis.formatName
**********@
  <input type="hidden" name="oldVer" value='@myForm("oldVer").value' >

  <div class="form-group col-sm-9">
  @helper.inputText(
    myForm("label"),
    'class -> "form-control col-sm-12",
    '_label -> "Label (don't change)",
    '_showConstraints -> false)
  @helper.textarea(
    myForm("content"),
    '_label -> "Content",
    '_showConstraints -> false,
    'class -> "form-control col-sm-12",
    'rows->20)
  @helper.inputText(
    myForm("tags"),
    'class -> "form-control col-sm-12",
    '_label -> "Tags (separated with ,)",
    'autocomplete -> "off",
    '_showConstraints -> false)
  </div>
  <div class="form-group col-sm-3">
  @helper.select(
    myForm("markup"),
    razie.wiki.model.Wikis.markups.list,
    '_label -> "Markup Language",
    'class -> "input-small",
    '_showConstraints -> false)

  @helper.select(
    myForm("visibility"),
    Reactors(stok.realm).wiki.visibilityFor(wid.cat).map(x=>(x,x)),
    '_label -> "Visibility",
    'class -> "input-small",
    '_showConstraints -> false)

  @helper.select(
    myForm("wvis"),
    wvis().map(x=>(x,x)),
    '_label -> "EditBy",
    'class -> "input-small",
    '_showConstraints -> false)

  @helper.select(
    myForm("draft"),
    Seq("Notify"->"Notify", "Draft" -> "Draft", "Silent" -> "Silent"),
    'class -> "input-small",
    '_label -> "Notify followers",
    '_showConstraints -> false)

  @if(stok.au.get.hasPerm(model.Perm.adminDb)) {
    <p>Reserved: @reserved(Wikis(stok.realm).find(wid.cat,wid.name))
    @if(Wikis(wid.getRealm).find(wid.cat,wid.name).isDefined) {
      <p><a href="@routes.Wikie.wikieDelete1(wid)">Delete it</a>
    }
  }

</div>
</div>
    <div class="actions">
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="@controllers.Wiki.wr(wid, stok.realm, false)" class="btn btn-default">Cancel</a>
  </div>

  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  }

  <p><small>See the <a href="/wiki/rk.Admin:Quick Guide">quick guide</a>.</small>
  <br><small>By updating this page, you agree to the <a href="@controllers.Wiki.w("Terms of Service")">Terms of Service</a></small>
  <br><small>Please do not replicate information already contained in other reference places like
      Wikipedia, just link to them. Use [[[Main_Page]]] to link to wikipedia.</small>
}
</div>

<script>
var realm = "@stok.realm";
</script>

<!-- for tags -->
<script src="@routes.Assets.at("bootstrap-2.2.3/js/bootstrap-typeahead.js")"></script>
<script>
//from http://stackoverflow.com/questions/12662824/twitter-bootstrap-typeahead-multiple-values

  var $tagsInput = $('#tags');

  //todo populate dynamically when user does need tag editing.. using /wikie/tagOptions
  // see CA_TC_sqbraTags for jquery load json example
  var userTags = [
    @Html(razie.wiki.model.Wikis(stok.realm).index.usedTags.keys.map(s=> "'" + s + "'").mkString(","))
    ]

  function extractor(query) {
    var result = /([^,]*)$/.exec(query);
    if(result && result[1]) return result[1].replace(/.*,/,'').trim();
    return '';
  }

  $('#tags').typeahead({
    source: userTags,
    updater: function(item) {
    return this.$element.val().replace(/([^,]*)\w*$/,item);
  },
    matcher: function (item) {
      var tquery = extractor(this.query);
      //if(!tquery) return false;
      return ~item.toLowerCase().indexOf(tquery.toLowerCase())
    },
    highlighter: function (item) {
    var query = extractor(this.query);
    console.log('q '+query)
    if(query.length>0)
      return item.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
        return '<strong>' + match + '</strong>'
      })
    else return item;//+'s';
  }
});
</script>

<script src="@routes.Assets.at("javascripts/rk-contentassist-sqbr.js")"></script>
<script src="@routes.Assets.at("vendor/jquery.textcomplete.min.js")"></script>
<script src="@routes.Assets.at("javascripts/rk-contentassist.js")"></script>

<script>
var dotTags = [];

$('#content').textcomplete([
  CA_TC_braTags (optsToDomain(braDomain)),
  CA_TC_sqbraTags,
  CA_TC_dotTags (optsToDomain(braDomain.concat(dotTags)))
 ]);

</script>

@Wikis(wid.getRealm).find(wid).map{we=>
  <div class="well">
    @if(noshow.isEmpty) {
      @wiki.wikiFrag(wid,stok.au, false, Some(we))
    }
  </div>
}

    </div> <!-- /col-sm-9 -->
  </div> <!-- row -->
</div> <!-- /container -->

