@**************
edit a wiki page
**************@
@import razie.wiki.model.Perm
@(wid:razie.wiki.model.WID, myForm:Form[controllers.WikiUtil.EditWiki], hasDraft:Boolean = false, noshow:String="")(implicit stok: controllers.StateOk)
@import razie.hosting.Website.realm
@import razie.wiki.model.{Wikis, WID, WikiEntry}
@import razie.hosting.WikiReactors

@stok.title("Editing event "+wid.cat+":"+ wid.name)

@v(name:String) = @{
  myForm(name).value.getOrElse("?")
}

@wvis() = @{
  WikiReactors(stok.realm).wiki.visibilityFor(wid.cat, "wvis") ++ (if(stok.au.exists(_.isAdmin)) Seq("Admin") else Nil)
}

@reserved(page:Option[WikiEntry]) = {
  @page match {
    case Some(we) => {
      @if(we.isReserved) {
        YES <a href="@routes.Wikie.reserve(wid,false)">Unreserve it</a>
      } else {
        NO <a href="@routes.Wikie.reserve(wid,true)">Reserve it</a>
      }
    }
    case None => {
      <b>new page</b>
    }
  }
}

@import helper.twitterBootstrap._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

  <div id="bigOne">
      <div id="weForm" class="col-md-12">
          <h2 style="padding-top: 40px; margin-top: -40px;">Edit event
            <small> |
              <a href="#" onclick="submitPlease()" class="btn btn-xs "><span id="floppy" class="glyphicon glyphicon-floppy-disk"></span> Save</a>
            </small>
            <div class="pull-right">
              @if(stok.au.exists(_.isAdmin)) {
                <a href="#" onclick="resetView()" class="btn btn-xs "><span class="glyphicon glyphicon-th-large"></span> Layout</a>
              }
              <span style="font-size: x-small">
              </span>
            </div>
          </h2>

@dateEh()=@{
 wid.page.flatMap(_.attr("date")).map(controllers.DateParser.apply(_).get).map(_.toString("yyyy-MM-dd")).getOrElse("")
}

@hasReg()=@{
  wid.page.flatMap(_.attr("module:reg")).exists(_ == "yes")
}

@regOpen()=@{
  wid.page.flatMap(_.attr("module:reg-open")).exists(_ == "yes")
}

@helper.form(action=routes.Wikie.save(wid.formatted), 'id -> "editForm", 'class -> "well") {
<div class="row">
@*******
PROBLEM: many places use label as name... via Wikis.formatName
**********@
  <input type="hidden" name="oldVer" value='@myForm("oldVer").value' >
  <input type="hidden" name="label" value='@myForm("label").value' >

  <div id="weForm9" class="form-group col-sm-9">

   <div class="col-sm-12" style="padding : 0 ;">

   <div class="col-sm-4 col-lg-3">
     <label for="when">When</label>
     <input name="when" value='@dateEh' type="text" class="form-control">
   </div>

   <div class="col-sm-8 col-lg-6">
     <label for="where">Where</label>
     <input id="where" name="where" value='@wid.page.flatMap(_.attr("venue")).mkString' type="text" class="form-control">
   </div>

     <div class="col-sm-2 col-lg-1">
       <label for="reg">Reg?</label>
       @if(hasReg()) {
         <input id="reg" name="reg" type="checkbox" class="form-control" checked>
       } else {
         <input id="reg" name="reg" type="checkbox" class="form-control">
         }
     </div>

     <div class="col-sm-2 col-lg-1">
       <label for="regopen">open</label>
       @if(regOpen()) {
         <input id="regopen" name="regopen" type="checkbox" class="form-control" checked>
       } else {
         <input id="regopen" name="regopen" type="checkbox" class="form-control">
         }
     </div>

     <div class="col-sm-4 col-lg-2">
       <label for="price">Price</label>
       <input name="price" id="price" value='@wid.page.flatMap(_.attr("price")).mkString' type="number" class="form-control"> CAD
     </div>
   </div>

  <div>
  @helper.textarea(
    myForm("content"),
    '_label -> "Content",
    '_showConstraints -> false,
    'placeholder -> "Edit content here",
    'class -> "form-control col-sm-12",
    'rows->5)
  @helper.inputText(
    myForm("tags"),
    'class -> "form-control col-sm-12",
    '_label -> "Tags (separated with ,)",
    'autocomplete -> "off",
    '_showConstraints -> false)

  </div>
    <br>
    <div class="actions">
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="@controllers.WikiUtil.wr(wid, stok.realm, false)" onclick="return cancel();" class="btn btn-default">Cancel</a>
    </div>
  </div>


  <div id="weSettings" class="form-group col-sm-3">
  @helper.select(
    myForm("markup"),
    razie.wiki.model.Wikis.markups.list,
    '_label -> "Markup Language",
    'class -> "input-small",
    '_showConstraints -> false)

  @helper.select(
    myForm("visibility"),
    WikiReactors(stok.realm).wiki.visibilityFor(wid.cat).map(x=>(x,x)),
    '_label -> "Visibility",
    'class -> "input-small",
    '_showConstraints -> false)

  @helper.select(
    myForm("wvis"),
    wvis().map(x=>(x,x)),
    '_label -> "EditBy",
    'class -> "input-small",
    '_showConstraints -> false)

  @helper.select(
    myForm("draft"),
    Seq("Notify"->"Notify", "Draft" -> "Draft", "Silent" -> "Silent"),
    'class -> "input-small",
    '_label -> "Notify followers",
    '_showConstraints -> false)

  @if(stok.au.get.hasPerm(Perm.adminDb)) {
    <p>Reserved: @reserved(wid.page)
    @if(wid.page.isDefined) {
      <p><a href="@routes.Wikie.wikieDelete1(wid)">Delete it</a>
    }
  }

</div>
</div>

  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  }

  <p><small>See the <a href="/wiki/rk.Admin:Quick Guide">quick guide</a>.</small>
  <br><small>By updating this page, you agree to the <a href="@controllers.WikiUtil.w("Terms of Service")">Terms of Service</a></small>
  <br><small>Please do not replicate information already contained in other reference places like
      Wikipedia, just link to them. Use [[[Main_Page]]] to link to wikipedia.</small>
}
      </div>

@*********************** some validation ************************@

<script>
var realm = "@stok.realm";

withJquery(function(){
  function checkDraft()  {
    if ($("#draft").val() == "Notify" && $("#visibility").val() != "Public")
      confirm("Warning: publishing with visibility not Public reduces views!");
  }

  $("#draft").change(checkDraft);
});

</script>


      @*********************** content assist ************************@

<!-- for tags -->
<script>
//from http://stackoverflow.com/questions/12662824/twitter-bootstrap-typeahead-multiple-values

razOnLoad(function(){
  //todo populate dynamically when user does need tag editing.. using /wikie/tagOptions
  // see CA_TC_sqbraTags for jquery load json example
  var userTags = [
    @Html(razie.wiki.model.Wikis(stok.realm).index.usedTags.keys.map(s=> "'" + s + "'").mkString(","))
    ]

  function extractor(query, idx) {
    var result = /([^,]*)$/.exec((idx && query.substring(0,idx).indexOf(',') >= 0) ? query.substring(query.substring(0,idx).indexOf(','), idx) : query);
    if(result && result[1]) return result[1].replace(/.*,/,'').trim();
    return '';
  }

require(['jquery', 'bootstrap-typeahead'], function($){
    $('#tags').typeahead({
    source: userTags,
    updater: function(item) {
      var idx = this.$element.context.selectionStart;
      var query = this.$element.val();
      if(idx && query.substring(0,idx).indexOf(',') >= 0) {
        var cpre  = query.substring(0,idx).lastIndexOf(',');
        var cpost = query.substring(idx).indexOf(',');
        var pre   = query.substring(0, cpre+1);
        var it    = cpost >= 0 ? query.substring(cpre+1,idx+cpost) : query.substring(cpre+1, idx);
        var post  = cpost >= 0 ? query.substring(idx+query.substring(idx).indexOf(',')) : '';

        return pre + it.replace(/([^,]*)\w*$/,item) + post;
      } else {
        return this.$element.val().replace(/([^,]*)\w*$/,item);
      }
    },
    matcher: function (item) {
      var query = extractor(this.query, this.$element.context.selectionStart);
      //if(!tquery) return false;
      return ~item.toLowerCase().indexOf(query.toLowerCase())
    },
    highlighter: function (item) {
      var query = extractor(this.query, this.$element.context.selectionStart);
      console.log('q '+query)
      if(query.length>0)
        return item.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
          return '<strong>' + match + '</strong>'
        })
      else return item;//+'s';
    }
  });
});
});
</script>

<script>
var dotTags = [];

razOnLoad(function(){
require(['jquery'
  ,
  "../vendor/jquery.textcomplete.min",
  "weCommons",
  "wikiEdit",
  "rk-contentassist-sqbr",
  "rk-contentassist"
], function($) {

                      $('#content').textcomplete([
                        CA_TC_braTags(optsToDomain(braDomain)),
                        CA_TC_sqbraTags,
                        CA_TC_dotTags(optsToDomain(braDomain.concat(dotTags)))
                      ]);

                      $('#where').textcomplete([
                        CA_TC_wikifield("Venue")
                      ]);
});
});
</script>

<div id="weForm1" class="col-sm-4" style="display: none;"></div>

</div>
      @*********************** live preview ************************@

      @** todo make it nicely live like this http://spec.commonmark.org/dingus/ ***@

  @*<script src="https://cdnjs.cloudflare.com/ajax/libs/commonmark/0.25.1/commonmark.js"></script>*@
  @*<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.12.0/lodash.min.js"></script>*@
@*<script src="@routes.Assets.at("vendor/commonmark.25.1.js")"></script>*@
@*<script src="@routes.Assets.at("vendor/lodash.4.12.0.min.js")"></script>*@

@formFix(Seq("when"))

