@**************
debug a wiki page
**************@
@(wid:razie.wiki.model.WID, iname:Option[String], page:Option[razie.wiki.model.WikiEntry], realm:String, au:Option[model.User])(implicit request:Request[_])
@import razie.wiki.model.{WikiEntry, WID, Wikis, CommentStream, WikiLink, WikiEntryOld}
@import model.{Website, User}
@import razie.db.{ROne, RMany, RUpdate}

@comments(stream:Option[CommentStream]) = {
  @stream match {
    case None => {}
    case Some(stream) => {
  There's @stream.comments.size comment(s)...
  <p>

  @stream.comments.map { c =>
    <div class="well">
      <b>By: <a href="/user/@model.Users.nameOf(c.userId)">@model.Users.nameOf(c.userId)</a></b>
@*********
&nbsp;    <a href="/wikie" class="btn btn-xs">Reply</a>
**********@
       &nbsp; <a href="" class="btn btn-xs btn-info">Report</a>
@if(controllers.Comment.canEdit(c,au)) {
       &nbsp; <a href="@routes.Comment.edit(wid,c._id.toString)" class="btn btn-xs btn-info">Edit</a>
}
      <br>
      <br>
      @Html(razie.wiki.model.Wikis.format(page.map(_.wid).getOrElse(razie.wiki.model.WID("?","?")), "md", c.content))
    </div>
    }
    }
  }
}

@htmlHeadBar("WikiUsage: "+wid.cat +":"+ wid.name, au)

    <div class="container">
        <div class="row">

    <div class="col-sm-9">

        <div class="well">
            <ul>Settings
                <li>current realm: @realm</li>
                <li>page realm: @page.map(_.realm)</li>
                <li>wid.realm: @wid.realm</li>
                <li>getHost: @Website.getHost</li>
                <li>Website: @Website.apply(request).map(_.name)</li>
            </ul>
        </div>

        <div class="well">
        <ul>tags
        @page.get.tags.map { p=>
          <li>@p</li>
        }
       </ul>
      </div>

      <div class="well">
        <ul>ilinks
        @page.get.ilinks.map { p=>
          <li>@p</li>
        }
       </ul>
      </div>

      @defining(model.Users.findUserLinksTo(page.get.uwid).toList) {followers=>
      <div class="well">
        <ul>followers: userWikis @followers.size
        @followers.map { uw=>
          <li>@model.Users.findUserById(uw.userId).map(_.userName).getOrElse(uw.userId) , @uw.role</li>
        }
       </ul>
      </div>
      }

      <div class="well">
        <ul>external followers
        @model.Users.findFollowerLinksTo(page.get.uwid).toList.flatMap(_.follower).map {f=>
          <li>@razie.wiki.Enc.unapply(f.email)</li>
        }
       </ul>
      </div>

@defining(RMany[WikiLink]("from" -> page.get.uwid.grated).toList) {linksFrom=>
  @defining(RMany[WikiLink]("to" -> page.get.uwid.grated).toList) {linksTo=>
    @defining(RMany[WikiEntry]("parent" -> Some(page.get.uwid.id)).toList) {pages=>

      <div class="well">
        <ul>children (pages with parent=me) @pages.size
        @pages.map{ p=>
          <li>@controllers.Wiki.w(p.wid)</li>
        }
        </ul>
      </div>

      <div class="well">
        <ul>links TO me (pages linked WikiLink to=me) @linksTo.size
          @linksTo.sortBy(_.to.wid.get.name).map{ p=>
            <li>@p.how @p.from.wid.map(_.wpath) @p._id</li>
          }
        </ul>
        Duplicates:
        <ul>
        @linksTo.groupBy(_.from.wid.get.name).filter(_._2.size > 1).map{ t=>
          <li>@t._1 <br>@t._2.map{wl=> <br>@wl }</li>
        }
      </div>

      <div class="well">
        <ul>links FROM me (pages linked WikiLink from=me) @linksFrom.size
          @linksFrom.sortBy(_.to.wid.get.name).map{ p=>
            <li>@p.how @p.to.wid.map(_.wpath) @p._id</li>
          }
        </ul>
        Duplicates:
        <ul>
        @linksFrom.groupBy(_.to.wid.get.name).filter(_._2.size > 1).map{ t=>
          <li>@t._1 @t._2.map{wl=> <br>@wl }</li>
        }
      </div>

    }
  }
}

      <div class="well">
        VERY BLOODY CAREFUL. Careful - no checking done, heh.
        @helper.form(action=routes.Wikie.update("category", page.get.wid), 'class->"well form-inline") {
          <input type="text" class="input-large" name="newvalue" value="@page.map(_.category)">
          <button type="submit" class="btn btn-default">Update Category</button>
        }
      </div>

      <hr>
      @htmlFooter()

    </div> <!-- /col-sm-9 -->

      <div class="col-sm-3">
          @wiki.wikiFrag(WID("Admin","Right"),au,true)
      </div>

  </div> <!-- row -->
</div> <!-- /container -->

@htmlBottom()
