@**************
wiki fragment, used in another page
**************@

@(wid:model.WID, user:Option[model.User], simple:Boolean = false, page:Option[model.WikiEntry]=None, iname:Option[String]=None, noTitle:Boolean=false, ads:Boolean=true)
@import _root_.admin.Config
@import _root_.admin.IgnoreErrors

@nicename() = @{
  iname.getOrElse(wid.name)
}

@cat() = @{
  wid.cat
}

@w(c:String) = @{
  if(page.isDefined) page else model.Wikis.find(c,wid.name)
}

@prepend(l:List[String], c:String) = @{
  c :: l
}

@ww() = @{
  model.Wikis.findAny(wid.name)
}

@one(page:Option[model.WikiEntry]) = {
  @page match {
    case Some(we) => { 
      @if(!simple && !noTitle) {
        @cat match {
          case "any" => {
              <h2>@wid.name</h2>
            } 
          case "Category" => {
              <h2>@model.Wikis.label(wid) (Category)</h2>
            } 
          case _ => {
              <h2>@model.Wikis.label(wid)
              @if(user.isEmpty && controllers.Wiki.canSee(wid,None,page)(IgnoreErrors) && "Blog" == wid.cat) { 
                <a class="btn btn-info" title="Subscribe to updates via email" href="@routes.Wiki.linkFollower1(wid)"><i class="icon-envelope icon-white"></i> Follow</a>
              }

              @if(!(Seq("WikiLink", "Form").contains(wid.cat) || page.exists(_.contentTags.contains("noSocial")))) { 

&nbsp;&nbsp;
<ul class="like-buttons">
<li class="twitter-like"><a href="https://twitter.com/share" class="twitter-share-button" data-via="racerkid">Tweet</a></li>
<li class="g-like"><div class="g-plusone" data-size="medium"></div></li>
<li class="fb-like" data-href="http://@Config.hostport@controllers.Wiki.w(wid)" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></li>
</ul>
}
              
              </h2>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

           }
         }
      }
      
      <p>@Html(model.Wikis.format(we.wid, we.markup, we.content, page))</p> 
        
@if(page.exists(_.contentTags.contains("module.modrkreg"))) {
  @user.map {u=>
    @views.html.modules.doeModRkRegs(u, we,
      controllers.ModRkReg(we.wid), 
      controllers.ModRk.regd(u, we.wid),
      controllers.ModRk.rks(u, we.wid))
    }.getOrElse {
    <p> @alert("blue"){<strong>Registration: </strong>you need to <strong>log in</strong> to register to this event }
    }
}
          
        @if(!simple) {

          @if(ads && page.isDefined && !page.exists(_.contentTags.contains("noAds")) &&
                """\{\{ad[:}]""".r.findFirstIn(page.get.content).isEmpty && 
          	  	page.get.content.length > 100 && model.WikiDomain.noAds(page.get.category) &&
          	  	! _root_.admin.Config.noads) {
          	<br>
            @Html(model.Ads.lederboard)
          }

          @if(page.isDefined && page.get.tags.size>0) {
            <p><small><em>Tags</em>:  @page.get.tags.mkString(", ")</small>
          }

      @wid.findParent.map {pwe=>
        <hr>
        See more in: <b><a href="@controllers.Wiki.w(pwe.wid)">@pwe.label</a> </b>
      }

      <hr>
      @page.flatMap(x=>model.WikiCount.findOne(x._id)).map {pw=>
        <p><small>Viewed <b>@pw.count</b> times</small>
      }
<small>(
      @if(controllers.Wiki.canEdit(wid,user, page)(IgnoreErrors) && wid.cat != "Form" || user.exists(_.hasPerm(model.Perm.adminDb))) { 
        <a href="@routes.Wiki.wikieEdit(page.get.wid)">Edit</a> | 
      }
      <a href="@routes.Wiki.report(wid)">Report</a> 
      @if(user.exists(_.hasPerm(model.Perm.adminDb))) { 
        | <a href="@routes.Wiki.wikieDebug(wid)"><i>debug</i></a> 
      }
      @if(!(Array("WikiLink", "Category", "Form") contains cat)) {
        @if(controllers.Wiki.canEdit(wid,user, page)(IgnoreErrors)) {
          | <a href="@routes.Wiki.wikieRename1(wid)">Rename</a> 
        }
        @if(user.isDefined && user.get.isActive) { 
          @if(user.get.pages(wid.cat).find(_.wid.name == wid.name).isDefined) {
          | <a href="@routes.Wiki.unlinkUser(wid)">@wid.label("Unlike", "Unlike")</a> 
          } else {
          | <a href="@routes.Wiki.linkUser(wid,false)">@wid.label("Like")</a> 
          }
        }
        @if(user.isEmpty && controllers.Wiki.canSee(wid,None,page)(IgnoreErrors) && "Blog" == wid.cat) { 
          | <a href="@routes.Wiki.linkFollower1(wid)"><font style="color:red">Subscribe</font></a>
        }
      }
      ) this page.


      @cat match {
        case "WikiLink" if(wid.name.startsWith("User:")) => {
          <br>This link page connects you to 
          <a href="/wiki/@model.Wikis.linkFromName(wid.name).to.toString">@model.Wikis.linkFromName(wid.name).to.name</a> 
          : you can add some notes by <a href="@routes.Wiki.wikieEdit(page.get.wid)">editing</a> it.
        }
      case "Category" => {
          <br>You cannot edit categories.
      }
      case _ => {
          <br>This content is Copyrighted, all rights reserved.
      }
      }
} <!-- /simple -->

      </small></p>
      }

    case None => { 
      @if("any" != cat && !cat.isEmpty) {
      	@if("Race" == cat || "Event" == cat) {
      	<p><strong><font style="color:red">Note: </font></strong>A <strong>@cat</strong> doesn't need its own page unless there you have some specific information about it... so, if you have some photos, videos or comments about it, create it below and share it with your mates!
      	<hr>
      	}	
        No entry for a <strong>@cat</strong> named <strong>@nicename</strong> ... <a href="@routes.Wiki.wikieEdit(model.WID(cat,nicename))">create one</a></b> 
      } else {
        <b>No entry for @wid.name ... you could create one:</b>
        
        <form action="@routes.Wiki.edit2" method="GET" class="well form-inline">
          <input type="text" name="name" id="name" value="@nicename"> 
          <select id="cat" name="cat" class="input-small">
            @prepend(model.Wikis.pageNames("Category").toList.filter(_ != "Topic").sortWith(_ < _), "Topic").map{x=>
              <option value="@x" >@x</option>
            }
          </select>

          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      }
    }
  }
} 

@many() = {
Multiple options:
<ul>
  @ww.map { we => 
    <li><a href="@controllers.Wiki.w(we.category, we.name)">@we.category @we.name</a></li>
  }
</ul>
} 

@{
page match {
  case Some(x) => one(w(x.category))
  case None => cat match {
    case "any" => { 
      if(ww.size >= 1) many
      else if(ww.size == 1) ww.map ( x=> one(w(x.category)) )
      else one(None)
      }
    case _ => one(w(cat)) 
    }
  }
}

