@**************
debug a wiki page
**************@
@(wid:razie.wiki.model.WID, iname:Option[String], page:Option[razie.wiki.model.WikiEntry])(implicit stok: controllers.StateOk)
@import razie.wiki.model.{WikiAudit, WikiEntry, WID, Wikis, CommentStream, WikiLink, WikiEntryOld}
@import model.{User}
@import razie.hosting.Website
@import razie.db.{ROne, RMany, RUpdate}

@stok.title("WikiUsage: "+wid.cat +":"+ wid.name)

        <div class="well">
            <ul>Settings
                <li>current realm: @stok.realm</li>
                <li>page realm: @page.map(_.realm)</li>
                <li>wid.realm: @wid.realm</li>
                <li>getHost: @Website.getHost(stok.request.get)</li>
                <li>Website: @Website.apply(stok.request.get).map(_.name)</li>
            </ul>
          <ul>Stats
            <li>Word count: <b>@page.map(_.wordCount).mkString</b>
            <li>Label: @page.map(_.getLabel)
            <li>Description: @page.map(_.getDescription)
            </ul>
        </div>

        <div class="well">
        <ul>tags
        @page.get.tags.map { p=>
          <li>@p</li>
        }
       </ul>
      </div>

      <div class="well">
        <ul>ilinks
        @page.get.ilinks.map { p=>
          <li>@p</li>
        }
       </ul>
      </div>

      @defining(model.Users.findUserLinksTo(page.get.uwid).toList) {followers=>
      <div class="well">
        <ul>followers: userWikis @followers.size
        @followers.map { uw=>
          <li>@model.Users.findUserById(uw.userId).map(_.userName).getOrElse(uw.userId) , @uw.role</li>
        }
       </ul>
      </div>
      }

      <div class="well">
        <ul>external followers
        @model.Users.findFollowerLinksTo(page.get.uwid).toList.flatMap(_.follower).map {f=>
          <li>@razie.wiki.Enc.unapply(f.email)</li>
        }
       </ul>
      </div>

@defining(RMany[WikiLink]("from.id" -> page.get.uwid.id).toList) {linksFrom=>
  @defining(RMany[WikiLink]("to.id" -> page.get.uwid.id).toList) {linksTo=>
    @defining(RMany[WikiEntry]("parent" -> Some(page.get.uwid.id)).toList) {pages=>

      <div class="well">
        <ul>children (pages with parent=me) @pages.size
        @pages.map{ p=>
          <li>@controllers.WikiUtil.w(p.wid)</li>
        }
        </ul>
      </div>

      <div class="well">
        <ul>links TO me (pages linked WikiLink to=me) @linksTo.size
          @linksTo.sortBy(_.to.wid.get.name).map{ p=>
            <li>@p.how @p.from.wid.map(_.wpath) @p._id</li>
          }
        </ul>
        Duplicates:
        <ul>
        @linksTo.groupBy(_.from.wid.get.name).filter(_._2.size > 1).map{ t=>
          <li>@t._1 <br>@t._2.map{wl=> <br>@wl }</li>
        }
      </div>

      <div class="well">
        <ul>links FROM me (pages linked WikiLink from=me) @linksFrom.size
          @linksFrom.sortBy(_.to.wid.get.name).map{ p=>
            <li>@p.how @p.to.wid.map(_.wpath) @p._id</li>
          }
        </ul>
        Duplicates:
        <ul>
        @linksFrom.groupBy(_.to.wid.get.name).filter(_._2.size > 1).map{ t=>
          <li>@t._1 @t._2.map{wl=> <br>@wl }</li>
        }
      </div>

    }
  }
}

      <div class="well">
        VERY BLOODY CAREFUL. Careful - no checking done, heh.
        @helper.form(action=routes.WikieDebug.update("category", page.get.wid), 'class->"well form-inline") {
          <input type="text" class="input-large" name="newvalue" value="@page.map(_.category)">
          <button type="submit" class="btn btn-default">Update Category</button>
        }
      </div>

  <div class="well">
        Readers (recent):
    <ul>
@defining(RMany[WikiAudit]("wpath" -> page.get.wid.wpath, "event" -> "SHOW").filter(_.userId.isDefined)) { shows =>
    @shows.map{show=>
<li>@model.Users.nameOf(show.userId.get)</li>
    }
}
    </ul>

  </div>

