@**************
select a destination parent
**************@
@(wid:model.WID, page:model.WikiEntry, parents:List[(model.UWID, String)], au:Option[model.User])
@import model._

@htmlHeadBar("Choose new parent for: " + wid.toString, au)

  Choose carefully as you won't be asked to confirm!
  <p></p>

<div class="container">
  <div class="row">
    <div class="span9">
      <div class="well">
	@parents.groupBy(_._1.cat).map { t =>
	   @t._1 :
	   @if(t._2.size>0) {
	     <ul>
	     @t._2.map { p=>
	       <li><a href="@routes.Wikie.wikieMove2(page._id.toString, page.parent.get.toString, p._1.id.toString)">@p._2</a>
	     }
	    </ul>
	   } else {
	     No results found...
	   }
	}
	</div>

      <hr>
      @htmlFooter()

    </div> <!-- /span9 -->

    <div class="span3">
      @wiki.wikiFrag(WID("Admin","Right"),au,true, None)

      @addRight()
    </div>

  </div> <!-- row -->

</div> <!-- /container -->

@htmlBottom()
