@****************
fragment: add more stuff to the current topic, including children, sub-topics etc
****************@
@(wid:razie.wiki.model.WID, page:Option[razie.wiki.model.WikiEntry], user:Option[model.User])
@import razie.wiki.util.IgnoreErrors
@import razie.wiki.model.{Wikis, WID}
@import razie.wiki.dom.WikiDomain
@import model.Perm

@if("Category" == wid.cat && "User" != wid.name && ("WikiLink" != wid.name || user.exists(_.hasPerm(Perm.adminDb)))) {
  <!-- list of pages in category -->
  @if(Wikis(wid.getRealm).pageNames(wid.name).size > 0) {
    <div class="well">
      @wid.name entries:

      @for(p <- Wikis(wid.getRealm).pages(wid.name).take(50) if(controllers.Wiki.isVisible(user,p.props))) {
        <a href="@controllers.Wiki.w(p.wid)">@p.label</a> |
      }

      @if(Wikis(wid.getRealm).pageNames(wid.name).size > 50) {
        <p><br>
          ... <a href="@routes.Wiki.all(wid.name, wid.getRealm)">See <b>all</b> !</a>
        </p>
      }
    </div>
  } else {
      <div class="well">
      No @wid.name
          (s)
      </div>
  }

  @if(!WikiDomain(wid.getRealm).needsParent(wid.name)) {
    @** see if there is an associated Template **@
    @WikiDomain(wid.getRealm).aEnds(wid.name, "Template").headOption.map { wet =>
      @helper.form(action=routes.Wikie.addWithSpec1(wid.name, wet, wid.getRealm), 'class->"well form-inline") {
        <label>Create a new <a href="@wid.url">@Wikis(wid.getRealm).label(WID("Category",wid.name))</a> </label>
        <button type="submit" class="btn">Choose template</button>
      }
    }

    @** no Template - use default **@
    @if(WikiDomain(wid.getRealm).aEnds(wid.name, "Template").isEmpty) {
      @helper.form(action=routes.Wikie.addWithName(wid.name, wid.getRealm), 'class->"well form-inline") {
        <label>Create a new <a href="@wid.url">@Wikis(wid.getRealm).label(WID("Category",wid.name))</a> </label>
        <input type="text" class="input-xlarge" name="name" placeholder="Name">
        <button type="submit" class="btn">Now</button>
      }
    }
  }
} else {
  <!-- list of child pages -->
  @WikiDomain(wid.getRealm).aEnds(wid.cat, "Child").map {child=>
    @if(page.isDefined && controllers.Wiki.canEdit(wid,user,page)(IgnoreErrors)) {
      @helper.form(action=routes.Wikie.addLinked(child,wid,"Child"), 'class->"form-inline") {
        <label>Create a <a href="/wiki/Category:@child">@Wikis.category(child).map(_.label).mkString</a> </label>
        <input type="text" class="input-xlarge" name="name" placeholder="Name">
            <button type="submit" class="btn btn-mini btn-primary">Now</button>
            <a href="/wiki/Admin:Adding_a_Child" class="btn btn-mini btn-info">?</a>
          }
        }

    <!-- list of child pages -->
    @* @Wikis.linksTo(page.get.uwid, "Child").filter(_.from.cat == child).toList) { kids =>*@
    @if(!page.exists(_.contentTags.contains("nochildposts"))) {
      @defining(Wikis.linksTo(page.get.uwid, "Child").filter(_.from.cat == child).toList) { allKids =>
      @defining(allKids.filter(_.draft.isEmpty)) { kids =>
        @if(kids.size > 0) {
          <div class="well">
            @child (s) :
            <ul>
            @kids.reverse.take(200).sortWith((a,b)=>b.crDtm.isBefore(a.crDtm)).map(_.from).map { p=>
              <li><a href="@controllers.Wiki.w(p)">@Wikis.label(p)</a>
            }
            </ul>
          </div>
        }
      }
        @defining(allKids.filter(_.draft.isDefined)) { kids =>
        @if(kids.size > 0) {
          <div class="well">
            DRAFT @child (s) :
            <ul>
            @kids.reverse.take(200).sortWith((a,b)=>b.crDtm.isBefore(a.crDtm)).map(_.from).map { p=>
              <li><a href="@controllers.Wiki.w(p)">@Wikis.label(p)</a>
            }
            </ul>
          </div>
        }
      }
    }
    }
  }
}
