@**************
wiki fragment, used in another page
**************@
@import razie.wiki.model.Perm
@(page: Option[razie.wiki.model.WikiEntry])(implicit stok:controllers.StateOk)
@import controllers.IgnoreErrors
@import razie.wiki.model.{Wikis, WID, WikiEntry}
@import _root_.razie.wiki.Services
@import razie.wiki.model.features.WikiCount

@label() = @{
    page.flatMap(_.contentProps.get("label")).orElse(page.map(_.label)).getOrElse(Wikis(wid.getRealm).label(wid))
}
@wid = @{
    page.get.wid
}
@we = @{
    page.get
}

@url() = @{
    val u = page.get.wid.w
    if(u startsWith "http") u else s"http://${Services.config.hostport}$u"
}

@followers = @{
    model.Users.findUserLinksTo(page.get.uwid).toList
}

    <h2>Manage @label</h2>
    <p>

        @if(stok.au.exists(_.hasPerm(Perm.adminDb))) {
        }

        @if(stok.au.isDefined && stok.au.get.isActive) {

            @if(we.owner.exists(_.asInstanceOf[model.User].isClub)) {
                followers: @followers.size
    <p>
        <a href="@routes.Wikil.unlinkAll(wid)">Unlink all members</a>
    <p>
        <a href="@routes.Wikil.linkAll(wid)">Link all members</a>
        }

        @if(we.isOwner(stok.au.get.id)) {
        }

        @if(stok.au.get.isLinkedTo(we.uwid) && we.parent.isDefined) {
    <p><a href="@routes.WikieDebug.wikieMove1(we._id.toString)">@wid.label("Move", "Move")</a>
        }

        }

</div>

<hr>
