@****************
create new page given a template
****************@
@(cat:String, name:String, formWid:razie.wiki.model.WID, torspec:String, realm:String, au:Option[model.User], errors:Map[String,String])
@import razie.wiki.util.IgnoreErrors

@htmlHeadBar("Create new with template", au)

<div class="container">
    <div class="row">
        <div class="span9">

            <h3>Creating a new <em>@cat</em>, with <em>@formWid.name</em></h3>

            <p>Fill in the required attributes below.</p>

            @helper.form(action=routes.Wikie.addWithSpec(cat, name, formWid.wpath, torspec:String, realm), 'class->"well form-inline") {
                @if(!formWid.page.exists(_.form.fields.contains("name"))) {
                    Use a simple punchy single word, like "<b>mysite</b>" - your new website will be available at <b><small>http://mysite.wikireactor.com</small></b>
                    <p>Name: <input type="text" class="input-xlarge" name="name" placeholder="Name" value="@name">
                    <hr><p>More particulars:</p>
                }

                @wiki.wikiFormInt(formWid, Some(name), None, au, errors, false, false, true)

                <button type="submit" class="btn">Create Now!</button>
            }

            <hr>
            @htmlFooter(ads = true)

        </div> <!-- /span9 -->

        <div class="span3">
            @wiki.wikiFrag(razie.wiki.model.WID("Admin","Right"),au,true)

            @addRight()
        </div>

    </div> <!-- row -->
</div> <!-- /container -->

@htmlBottom()


