@**************
list of pages, with links etc - result of a query of some kind
**************@
@import razie.wiki.model._
@(wtag:WikiTag)(implicit stok: controllers.StateOk)


<table id="wlist" class="table table-condensed">
  <thead>
    <tr>
      <td>Realm</td>
      <td>Name</td>
      <td>Ver</td>
    </tr>
  </thead>

  @wtag.pages.map{p=>
    <tr>
        <td><small><small>@p.uwid.realm</small></small></td>
    <td>
      @p.uwid.findWid.map { w =>
        <a href="@controllers.WikiUtil.wr(w, stok.realm)">@w.cat : @w.name</a>
      }.getOrElse{
        n/a ?? not found
      }
    </td>
    <td>
      @p.ver
    </td>
      @*<td>*@
      @*<small><span title="wordcount"> @p.wordCount </span> </small>*@
      @*</td>*@
    </tr>
  }
</table>
