@**************
edit a wiki page
**************@
@import razie.wiki.model.Perm
@(wid:razie.wiki.model.WID,
  myForm:Form[controllers.WikiUtil.EditWiki],
  hasDraft:Boolean = false,
  noshow:String="")(implicit stok: controllers.StateOk)
@import razie.hosting.Website.realm
@import razie.wiki.model.{Wikis, WID, WikiEntry}
@import razie.hosting.WikiReactors

@import play.mvc.Http.Context.Implicit

<!--
wikiEditOld
WID: @wid
hasDraft: @hasDraft
myForm.ver: @myForm.data.get("oldVer")
myForm.draft: @myForm.data.get("draft")


  wid.page: @(wid.page.map(_.grated).mkString)

-->

@stok.title("Editing "+wid.cat+":"+ wid.name)
@stok.requireJs(false)

@v(name:String) = @{
  myForm(name).value.getOrElse("?")
}

@notifs()=@{
  (
  if(wid.cat == "Item")
    Seq("Notify", "History", "Silent") ++ (if(stok.au.exists((_.isMod))) Seq("Site", "HistorySite") else Nil)
  else if(wid.page.exists(_.isDraft))
    Seq("Draft", "Silent", "Notify", "History") ++ (if(stok.au.exists((_.isMod))) Seq("Site", "HistorySite") else Nil)
  else
    Seq("Silent", "Draft")
  ) map (x=> (x,x))
}

@varx(name:String, value:String="") = @{
Implicit.flash().put("bibi", "haha")
}

  @vis(s:Option[String]) = @{
    val x = WikiReactors(stok.realm).wiki.visibilityFor(wid.cat)
    // add the current value, if not contained
    if(s.exists(x.contains)) x
    else s.map(Seq(_) ++ x) getOrElse x
  }

@wvis(s:Option[String]) = @{
  val x = WikiReactors(stok.realm).wiki.visibilityFor(wid.cat, "wvis") ++ (if(stok.au.exists(_.isAdmin)) Seq("Admin") else Nil)
  // add the current value, if not contained
  if(s.exists(x.contains)) x
  else s.map(Seq(_) ++ x) getOrElse x
}

@reserved(page:Option[WikiEntry]) = {
  @page match {
    case Some(we) => {
      @if(we.isReserved) {
        YES <a href="@routes.Wikie.reserve(wid,false)">Unreserve it</a>
      } else {
        NO <a href="@routes.Wikie.reserve(wid,true)">Reserve it</a>
      }
    }
    case None => {
      <b>new page</b>
    }
  }
}

@import helper.twitterBootstrap._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

  <div id="bigOne">
      <div id="weForm" class="col-md-12">
          <h2 style="padding-top: 40px; margin-top: -40px;">Editor
            <small> |
              <button onclick="return submitPlease();" id="btnSave" class="btn btn-default btn-xs"><span id="floppy" class="glyphicon glyphicon-check"></span> Save</button>
              <button onclick="return popupDiff();" id="btnDiff" class="btn btn-default btn-xs" style="color:limegreen" title="Show diff from original">&Delta;</button>
              <a onclick="return deleteDraft();" class="btn btn-default btn-xs"><span id="fla" class="glyphicon glyphicon-floppy-remove"></span> Cancel</a>
            </small>
            <div class="pull-right">
              @if(stok.au.exists(_.isMod)) {
                <small>
                @if(true || wid.page.exists(_.tags.contains("dsl"))) {
                <a href="#" onclick="showDsl(); return false;" class="btn btn-xs ">
                  <input type="checkbox" xonclick="showDsl(); return false;" name="weDsl" id="weDsl" disabled>
                  dsl</a><span style="font-size:x-small">(<span id="roundtrip" >.. ms</span>)
                  </span>
                | }
                }
                  <a href="#" onclick="showSettings()" class="btn btn-xs "><span id="showSettings" class="glyphicon glyphicon-list-alt"></span> Settings</a>
                | <a href="#" onclick="resetView()" class="btn btn-xs " title="Change editor window elements layout"><span class="glyphicon glyphicon-th-large"></span> Layout</a>
                </small>
              <span style="font-size: x-small">
              </span>

            </div>
            @util.notesmsgDiv("notesmsg")
          </h2>

@helper.form(action=routes.Wikie.save(wid.formatted), 'id -> "editForm", 'class -> "well") {
<div class="row">
@*******
PROBLEM: many places use label as name... via Wikis.formatName
**********@
  <input type="hidden" name="oldVer" value='@myForm("oldVer").value' >

  <div id="weForm9" class="form-group col-sm-9">
  @helper.inputText(
    myForm("label"),
    'class -> "form-control col-sm-12",
    '_label -> "Label",
    '_showConstraints -> false)
  @helper.textarea(
    myForm("content"),
    '_label -> "Content",
    'placeholder -> "Edit content here",
    '_showConstraints -> false,
    'class -> "form-control col-sm-12",
    'rows->20)

    <span style="font-size: small" id="ace-label" style="display:none;">Content</span>
    <span id="errMsg" class="label label-danger" style="display:none;"></span>
    <br>
    @*<textarea xstyle="display:none;" name="content" id="content" class="form-control col-sm-12" rows="20">@myForm("content").value</textarea>*@
    <pre style="display:none;" id="acec" style="height: 200px;">@myForm("content").value<</pre>

    @helper.inputText(
    myForm("tags"),
    'class -> "form-control col-sm-12",
    '_label -> "Tags (separated with ,)",
    'autocomplete -> "off",
    '_showConstraints -> false)

    <br>
    <div class="actions">
      <button onclick="return submitPlease();" class="btn btn-primary">Save</button>
      @*<button type="submit" class="btn btn-primary">Save</button>*@
      <a onclick="return deleteDraft();" class="btn btn-default">Cancel</a>
      <a href="javascript:popupDiff()" class="btn btn-default">Diff</a>
    </div>

  </div>

  <div id="weSettings" class="form-group col-sm-3 alert alert-info">
  @helper.select(
    myForm("markup"),
    razie.wiki.model.Wikis.markups.list,
    '_label -> "Markup Language",
    'class -> "input-small",
    '_showConstraints -> false)

  @helper.select(
    myForm("visibility"),
    vis(myForm("visibility").value).map(x=>(x,x)),
    '_label -> "Visibility",
    'class -> "input-small",
    '_showConstraints -> false)

  @helper.select(
    myForm("wvis"),
    wvis(myForm("wvis").value).map(x=>(x,x)),
    '_label -> "EditBy",
    'class -> "input-small",
    '_showConstraints -> false)

  @helper.select(
    myForm("draft"),
    notifs(),
    'class -> "input-small",
    '_label -> "Notify followers",
    '_showConstraints -> false)

  @if(stok.au.get.hasPerm(Perm.adminDb)) {
    <p>Reserved: @reserved(wid.page)
    @if(wid.page.isDefined) {
      <p><a href="@routes.Wikie.wikieDelete1(wid)">Delete it</a>
    }
  }

</div>
</div>

  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  }

  <p><small>See the <a href="/wiki/rk.Admin:Quick Guide">quick guide</a>.</small>
  <br><small>By updating this page, you agree to the <a href="@controllers.WikiUtil.w("Terms of Service")">Terms of Service</a></small>
  <br><small>Please do not replicate information already contained in other reference places like
      Wikipedia, just link to them. Use [[[Main_Page]]] to link to wikipedia.</small>
}
      </div>


@*********************** help / formatting ************************@

<div id="mdHelp" style="display: none">
@md {
<small>Markdown syntax:

Type "`*italic*`" for *italic* and "`**bold**`" for **bold**.
<br>
Lists start with "`- item`" and use one space to indent one level.
<br>
Headers start with "`## Something`" for a heading level 2 etc.
</small>

See more at [[rk.Admin:Modified Markdown Syntax]].

...
}
</div>

<div id="widgetHelp" style="display: none">
@md {
Inside widgets, use WIDGET_ARGS or upper case arg names like MSG.

Call widgets with {{widget:name:MSG=lll}}

See more at [[rk.Admin:Modified_Markdown_Syntax]].

...
}
</div>

@*********************** some validation ************************@

<script>
// this is used to prevent stale pages (back browser button or older tabs) from overwriting newer drafts
var timeStamp = @{System.currentTimeMillis().toString} ;

var realm = "@stok.realm";

var label =
    'Content <a href="javascript:popupHelp(\'mdHelp\');" title="Help with markdown editor\nA note on scrolling: if the editor is selected it will act better."><span class="glyphicon glyphicon-question-sign"></span></a> <span id="ehelp"></span>';

var label1 =
    ' <a href="javascript:popupHelp(\'widgetHelp\');" title="Help with widget editor">widget <span class="glyphicon glyphicon-question-sign"></span></a> <span id="ehelp"></span>';

function errMsg(text) {
  $('#errMsg').html('<strong>'+text+'</strong>');
  $('#errMsg').show();
  $('#errMsg').fadeOut(5000);
};

function hideSpinner() {
  $('#spinner').hide();
};

function showSpinner() {
  $('#spinner').show();
};

withJquery(function($) {

// setup jquery to not reload scripts all the time
  $.ajaxSetup({
    cache: true
  });

  $("#draft").change(checkDraft);

  console.log("START - timeStamp:"+timeStamp+" - hasDraft:"+@hasDraft + " - ver:" + @{wid.page.map(_.ver)} );

  if (localStorage.getItem("weDsl") != 'undefined')
    $('#' + "weDsl").prop('checked', localStorage.getItem("weDsl") === 'true');

  $("#content_field > dt > label").html(label);
  $("#ace-label").html(label);

  @if(wid.cat=="Admin" && wid.name.startsWith("widget_")) {
  $("#ehelp").html(label1);
  }
});

function checkDraft()  {
  if ($("#draft").val() == "Notify" && $("#visibility").val() != "Public")
    confirm("Warning: publishing with visibility not Public reduces views!");
}

function popupHelp (id) {
  popupContent($("#"+id).html());
}

popupDiff = function() {
  $.ajax(
      '/wikie/draftDiff/@{wid.wpath}', {
        type: 'POST',
        data: $.param({
        }),
        contentType: 'application/x-www-form-urlencoded',
        success: function(data) {
          popupContent(data.diff);
        },
        error  : function(x) {
          console.log( "ERR "+x.toString());
        }
      });
}
</script>

      @*********************** content assist ************************@


<script>
//from http://stackoverflow.com/questions/12662824/twitter-bootstrap-typeahead-multiple-values

razOnLoad(function() {
  require(['jquery', 'bootstrap-typeahead'], function($){
  //todo populate dynamically when user does need tag editing.. using /wikie/tagOptions
  // see CA_TC_sqbraTags for jquery load json example
  var userTags = [
    @Html(razie.wiki.model.Wikis(stok.realm).index.usedTags.keys.map(s=> "'" + s + "'").mkString(","))
    ]

    function extractor(query, idx) {
      var result = /([^,]*)$/.exec((idx && query.substring(0, idx).indexOf(',') >= 0) ? query.substring(query.substring(0, idx).indexOf(','), idx) : query);
      if (result && result[1]) return result[1].replace(/.*,/, '').trim();
      return '';
    }

    $('#tags').typeahead({
      source: userTags,
      updater: function (item) {
        var idx = this.$element[0].selectionStart;
        var query = this.$element.val();
        if (idx && query.substring(0, idx).indexOf(',') >= 0) {
          var cpre = query.substring(0, idx).lastIndexOf(',');
          var cpost = query.substring(idx).indexOf(',');
          var pre = query.substring(0, cpre + 1);
          var it = cpost >= 0 ? query.substring(cpre + 1, idx + cpost) : query.substring(cpre + 1, idx);
          var post = cpost >= 0 ? query.substring(idx + query.substring(idx).indexOf(',')) : '';

          return pre + it.replace(/([^,]*)\w*$/, item) + post;
        } else {
          return this.$element.val().replace(/([^,]*)\w*$/, item);
        }
      },
      matcher: function (item) {
        var query = extractor(this.query, this.$element[0].selectionStart);
        //if(!tquery) return false;
        return ~item.toLowerCase().indexOf(query.toLowerCase())
      },
      highlighter: function (item) {
        var query = extractor(this.query, this.$element[0].selectionStart);
        console.log('q ' + query)
        if (query.length > 0)
          return item.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
            return '<strong>' + match + '</strong>'
          })
        else return item;//+'s';
      }
    });
  });
});
</script>

<div id="weForm1" class="col-sm-4" style="display: none;"></div>

<div class="well col-md-12" id="weOutput">
  <h2 style="padding-top: 40px; margin-top: -40px;">Preview
    <small>
      | <input type="checkbox" name="weLive" id="weLive"> preview<sup><span class="glyphicon glyphicon-question-sign" title="The preview may be imprecise when not in server mode"></span></sup>
        <span id="rtrip"></span>
@if(stok.au.exists(_.isMod)) {
      | <input type="checkbox" name="weServer" id="weServer"> server
}
        @if(wid.page.exists(_.tags.contains("dsl"))) {
          | <input type="checkbox" id="treeMode" title="Run this and show the trace" checked> diesel
          }

        &nbsp;
        <span id="spinner" style="display: none"><img src="https://cdn.razie.com/Public/spinner.gif" height="24" width="24"></span>

    </small>
    <div class="pull-right">
      <a href="#" onclick="refreshServerNow()" class="btn btn-xs" title="Refresh preview from server"><span class="glyphicon glyphicon-refresh"></span> Refresh</a>
      </span>
    </div>
  </h2>
  <pre class="col-sm-12" id="iframeOut3_" style="padding:1px; Xtext-align: center; display: none;">Start typing...</pre>
<div id="weOutputData">
@wid.page.map{we=>
    @if(noshow.isEmpty) {
      @wiki.wikiFrag(wid,None, true, Some(we))
    }
}
  </div>
 <br>
  <div class="actions2">
    <button class="btn btn-primary" onclick="submitPlease()">Save</button>
    <a onclick="return deleteDraft();" class="btn btn-default">Cancel</a>
    <a href="javascript:popupDiff()" class="btn btn-default">Diff</a>
  </div>

</div>

  </div>
  @*********************** live preview ************************@

  @** todo make it nicely live like this http://spec.commonmark.org/dingus/ ***@
  <script src="@routes.Assets.at("vendor/commonmark.25.1.js")"></script>
  <script src="@routes.Assets.at("vendor/lodash.4.12.0.min.js")"></script>

  <script async src="@routes.Assets.at("bootstrap-3.3.4/js/bootstrap3-typeahead.js")"></script>

  <script src="@routes.Assets.at("javascripts/rk-contentassist-sqbr.js")"></script>
  <script src="@routes.Assets.at("vendor/jquery.textcomplete.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/weCommons.js")"></script>
  <script src="@routes.Assets.at("javascripts/wikiEdit.js")"></script>
  <script src="@routes.Assets.at("javascripts/rk-contentassist.js")"></script>

  <script>
  // only applies to old style tetarea
  var dotTags = [];

  razOnLoad(function () {
    require(['jquery',
      "../vendor/jquery.textcomplete.min",
      "weCommons",
      "rk-contentassist-sqbr",
      "rk-contentassist"
    ], function ($) {
      $('#content').textcomplete([
        CA_TC_braTags(optsToDomain(braDomain)),
        CA_TC_sqbraTags,
        CA_TC_dotTags(optsToDomain(braDomain.concat(dotTags)))
      ]);
    });
});
</script>


@*these apply for ACE*@
<script src="@routes.Assets.at("javascripts/weDieselDom.js")"></script>

<script src="@routes.Assets.at("ace-builds/src/ace.js")"></script>

<script src="@routes.Assets.at("ace-builds/src/mode-nvp2.js")"></script>
<script src="@routes.Assets.at("ace-builds/src/ext-language_tools.js")"></script>

<script>
  // --------------------------------------- ACE specifics

var aceAttached = false; // true in ACE mode
var aceEditor;    // set only when attached
var aceTimer;
var Range;

var domContentAssist=[];
var instContentAssist=[];

var domChanged=true;
var firstPreview=true;
var instChanged=false;
var captureChanged=true;

  @if(wid.page.exists(_.tags.contains("dsl"))) {
  var isDiesel = true;
  } else {
  var isDiesel = false;
  }

var textarea = '';


razOnLoad(function() {
//  require(['jquery',
//    '../vendor/commonmark.25.1',
//    '../ace-builds/src/ace',
//    '../vendor/lodash.4.12.0.min',
//    'weDieselDom',
//    'weCommons',
//    'wikiEdit',
//    '../ace-builds/src/mode-nvp2',
//    '../ace-builds/src/ext-language_tools'
//  ], function ($, commonmark, ace) {

myattachAce = function() {
  Range = ace.require('ace/range').Range;

  aceEditor = attachAce(ace, "acec", textarea.val(), @stok.isLight.toString);

  aceEditor.getSession().setOption('indentedSoftWrap', false);
  aceEditor.getSession().setUseWrapMode(true);
  aceEditor.getSession().setOption("wrap", true);
  aceEditor.getSession().setUseWrapMode(true);

  @if(stok.isLight) {
      aceEditor.setTheme ( "ace/theme/crimson_editor" ) ;
  } else {
      aceEditor.setTheme ( "ace/theme/twilight" ) ;
  }

  // aceEditor.getSession().setMode("ace/mode/nvp2");

  aceEditor.getSession().on('change', function(e) {
    instChanged=true;
  });

  aceEditor.setOptions({
    tabSize: 2,
    enableBasicAutocompletion: true,
    enableLiveAutocomplete:  true,
    enableLiveAutocompletion:  true
  });

  // aceEditor.getSession().on('changeFrontMarker', function(e) {
  //   console.log('changeFrontMarker');
  // });
  //
  // aceEditor.getSession().on('changeBackMarker', function(e) {
  //   console.log('changeBackMarker');
  // });
  //
  // aceEditor.getSession().on('changeBreakpoint', function(e) {
  //   console.log('changeBreakpoint');
  // });

  console.log("tick " + firstPreview);

  aceEditor.commands.addCommand({
    name: "FindUsage",
    bindKey: {win: "Ctrl-B", mac: "Command-B"},
    exec: findUsagesEditor
  });

  aceTimer = setInterval(function () {
    if (firstPreview || instChanged) {
      firstPreview = false;
      instChanged = false;
      livePreview();
    }
  }, 500);
}

  textarea = $("#content");

  @if(hasDraft) {
    $("#floppy").css("color", "LimeGreen");
    $("#btnDiff").show();
  } else {
    $("#btnDiff").hide();
  }

  $("#bigOne").css("min-height", $("#weForm").height());

  var findUsagesEditor = function (editor) {
    findUsages("@{wid.wpath}", editor);
  }

  /** syc content between the two forms */
  getContent = function () {
    return aceAttached ? aceEditor.getSession().getValue() : $("#content").val();
  }

  /** syc content between the two forms */
  syncContent = function () {
    if (aceAttached) {
      $("#content").val(aceEditor.getSession().getValue());
  } else if(typeof aceEditor != 'undefined') {
    aceEditor.getSession().setValue($("#content").val());
  }
}

submitPlease = function() {
  syncContent();
  $("#editForm").submit();
  return false;
}

useLocalStorageCheckbox("weLive", "weLive");
@if(stok.au.exists(_.isMod)) {
  useLocalStorageCheckbox("weServer", "weServer");
}

  var preview = _.debounce(livePreview, 250, {maxWait: 1000});
  textarea.bind('input propertychange', preview);
  $("#tags").bind('input propertychange', preview);

  var saveDraftDebounced = _.debounce(saveDraft, 2000, {maxWait: 5000});

  $("#content").change(livePreview);

refreshServerNow = function() {
  var content = getContent();
  var tags = $("#tags").val();

  refreshServer('@wid.wpath', content, tags);
}

/** update the preview */
function livePreview() {
  refreshDslDebounced();

  var content = getContent();
  var tags = $("#tags").val();

  if($('#weLive').prop('checked')) {
    if(
      canRenderInPage('@wid.cat', '@wid.name', content, tags) &&
      ! $('#weServer').prop('checked')
      ) parseAndRender(commonmark);
    else {
      refreshServer('@wid.wpath', content, tags);
    }
  }

  saveDraftDebounced();
}

@if(hasDraft) {
  lastDraftContent = "nothinglikethis"; // it will differ
  } else {
  lastDraftContent = getContent();
  }

/** save the draft on the backend */
function saveDraft() {
  var content = getContent();
  var tags = $("#tags").val();

  if(content != lastDraftContent) {
    lastDraftContent = content;

    $.ajax(
      '/wikie/saveDraft/@wid.wpath', {
      type: 'POST',
      data: $.param({
        content : content,
        ver : @wid.page.map(_.ver).getOrElse(0),
        tags : tags,
        timeStamp: timeStamp
      }),
      timeout : 2000,
      contentType: 'application/x-www-form-urlencoded',
      success: function(data) {
        $("#floppy").fadeOut(500);
        $("#floppy").attr("title", "Draft saved!");
        $("#floppy").css("color", "green");
        $("#floppy").fadeIn(500);
        $("#btnDiff").show();
        console.log("savedraft ts old "+timeStamp + " new "+data.info.timeStamp + " diff: " + (timeStamp - data.info.timeStamp));
        if(timeStamp < data.info.timeStamp) timeStamp = data.info.timeStamp;
      },
      error  : function(x) {
        $("#floppy").fadeOut(500);
        $("#floppy").attr("title", "ERROR: Cannot save draft");
        $("#floppy").css("color", "red");
        $("#floppy").fadeIn(500);

        console.log( "ERR "+JSON.stringify(x));

        if(x.status && x.status == 409) {
          notesMsgShow("err", "Conflict - " + x.responseText);
          $("#floppy").attr("title", "Conflict - " + x.responseText);
        } else {
          notesMsgShow("err", "Cannot save draft");
        }

        if(JSON.stringify(x).indexOf("staleid") >= 0) {
          console.log("saveDraft - Stale page, cannot be saved! Please copy changes and refresh to get the latest saved draft!!!");
          errMsg("Stale page, cannot be saved! Please copy changes and refresh to get the latest saved draft!!!");
          // location.reload();
        }
      }
    });
  }
}


deleteDraft = function() {
  $.ajax(
    '/wikie/deleteDraft/@wid.wpath', {
    type: 'POST',
    async: false,
    data: $.param({
      nothing : ''
    }),
    contentType: 'application/x-www-form-urlencoded',
    success: function(data) {
      window.location = "@controllers.WikiUtil.wr(wid, stok.realm, false)";
    },
    error  : function(x) {
      console.log( "ERR "+x.toString());
    }
  });

  return true;
}

//////////////////////// resizing layout

var currentLayout = "12";

withJquery(function() {
  if (window.localStorage.getItem("weEditLayout") != null) {
    currentLayout = window.localStorage.getItem("weEditLayout");
  }

  setView("12", currentLayout);
});

function setTextAreaHeight () {
  var textHeight = aceAttached ? $("#acec").height() : textarea.height();
  var curOthers = $("#weForm9" ).height() - textHeight;
  if(aceAttached)
    $("#acec").height(window.innerHeight-curOthers-130);
  else
    textarea.height(window.innerHeight-curOthers-130);
}

function setView(currentLayout, newLayout) {
  if(newLayout != currentLayout) {
    $("#weForm9").removeClass();
    $("#weForm").removeClass();
    $("#weOutput").removeClass();
    $("#editForm").removeClass();
    $("#weForm1").removeClass();
  }

  if(newLayout == "12" && newLayout != currentLayout) {
    // preview under editor
    $("#weForm"  ).addClass("col-sm-12");
    $("#weForm"  ).css("position", "relative");
    $("#weOutput").addClass("well col-sm-12");
    $("#weForm9" ).addClass("form-group col-sm-9");
    $("#editForm").addClass("well");
    $("#weSettings").show();
    $("#weForm1"  ).addClass("col-sm-4");
    $("#weForm1"  ).hide();
    $("#label_field").show();
  } else if(newLayout == "6" && newLayout != currentLayout) {
    // preview side by side editor
    $("#weForm"  ).addClass("col-sm-6");
    $("#weForm"  ).css("position", "fixed");
    $("#weOutput").addClass("col-sm-6");
    $("#weForm9" ).addClass("form-group col-sm-12");
    $("#editForm").addClass("well");
    $("#weSettings").hide();
    $("#weForm1"  ).addClass("col-sm-6");
    $("#weForm1"  ).show();
    $("#label_field").hide();
    setTextAreaHeight();
  } else if(newLayout == "9" && newLayout != currentLayout) {
    // 1/3 editor 2/3 preview
    $("#weForm"  ).addClass("col-sm-4");
    $("#weForm"  ).css("position", "fixed");
//    $("#weForm"  ).css("height", window.innerHeight+"px);
    $("#weForm1"  ).addClass("col-sm-4");
    $("#weForm1"  ).show();
    $("#weOutput").addClass("col-sm-8");
    $("#weForm9" ).addClass("form-group col-sm-12");
//    $("#editForm"     ).addClass("well");
    $("#weSettings").hide();
    $("#label_field").hide();
    setTextAreaHeight();
  }
}

// toggle weSettings
showSettings = function() {
  var wes = $("#weSettings");
  if(wes.is(":visible")) {
    $("#weSettings").hide();
    $("#weSettings"  ).css("position", "relative");
  } else {
    $("#weSettings"  ).css("position", "fixed");
    $("#weSettings").show();
  }
}

// toggle dsl
showDsl = function() {
  if($('#weDsl').prop('checked')) {
    $('#weDsl').prop('checked', false);
  } else {
    $('#weDsl').prop('checked', true);
  }

  localStorage.setItem('weDsl', $('#weDsl').prop('checked'));

  switchDsl();
}

// toggle dsl
switchDsl = function(a,b,state) {
  syncContent();
  if($('#weDsl').prop('checked')) {
    // show ACE
    $("#content").hide();
    $("#content_field").hide();
    $("#acec").show();
    $("#ace-label").show();
    if(! aceAttached) myattachAce();
  } else {
    // hide ACE
    $("#ace-label").hide();
    $("#acec").hide();
    $("#content_field").show();
    $("#content").show();
  }
  setTextAreaHeight();
}

var layouts = ["12", "6", "9"];

resetView = function() {

  var newLayout = layouts[(layouts.indexOf(currentLayout)+1) % layouts.length];

  window.localStorage.setItem("weEditLayout", newLayout);

  setView(currentLayout, newLayout);
  currentLayout = newLayout;
}

// prevent footer scrolling over editor
withJquery(function() {
  footR=$('#weFooter').offset().top;

  $(window).scroll(function() {
    footR=$('#weFooter').offset().top;
    var formB=$('#weForm').height();
    if(! $("#content").is(':focus') && (currentLayout=="9" || currentLayout=="6")) {
      var s = footR - $(window).scrollTop(); // dist to top of screen

      // if want to just stop scrolling bottom
      if(s <= formB) {
        //      $('#header').css({'top':''+(s-$('#header').height())+'px'});
        $("#weFooter"  ).css("position", "fixed");
        $('#weFooter').css({'top':formB-100});
      }
      else{
        $("#weFooter"  ).css("position", "static");
//        $('#weFooter').css({'top':s});
      }

      var wtop = $(window).scrollTop();    // dist to top of screen
      var weh=$('#weOutputData').height(); // all content to scroll
      var wh=$(window).height();           // visible height
      var perc = wtop / (weh - wh + 220);  // deduct page height and add back the buttons

      if(!aceAttached) {
        var h1 = $('#content')[0].scrollHeight;
        var h2 = $('#content').height();
        var h3 = h1 - h2;
        var newtop = Math.min(h1, Math.max(0, Math.ceil(perc * h3)));

//        console.log("w " + h1 + " - " + newtop + " - " + (newtop/h3) + " - " + wtop + " - " + weh + " - " + perc);

        // only if there's more content than visible
        if(weh > wh)
          $('#content').scrollTop(newtop);
      } else {
        var lines = getContent().split("\n");
        var lineNum = Math.min(lines.length-1, Math.max(0, Math.ceil(perc * lines.length)));

        var Range = ace.require('ace/range').Range;
        aceEditor.scrollToLine(lineNum, true, true, function () {});
        //editor1.gotoLine(lineNum, 10, true);
//          editor1.session.addMarker(new Range(lineNum-1, 0, lineNum-1, 100), "ace-primaryline", "fullLine");
      }
    }
  });

  $("#content").scroll(function() {
    if(false && $("#content").is(':focus') && (currentLayout=="9" || currentLayout=="6")) {
      var wtop = $("#content").scrollTop();    // dist to top of screen
      var weh= $('#content')[0].scrollHeight;
      var wh=$("#content").height();           // visible height
      var perc = wtop / (weh - wh);  // deduct page height and add back the buttons

      var h1 = $('#weOutputData').height();
      var h2 = $(window).height();    // dist to top of screen
      var h3 = h1 - h2;
      var newtop = Math.min(h1, Math.max(0, Math.ceil(perc * h3)));

      console.log("t " + h1 + " - " + newtop + " - " + (newtop/h3) + " - " + wtop + " - " + weh + " - " + perc);

      $(window).scrollTop(newtop);
    }
  });
});

  switchDsl();


  useLocalStorageCheckbox("treeMode", "domFiddleWikiMode");

  $('#treeMode').change(function(){
    showHideIframe();
  });

  showHideIframe();

function showHideIframe() {
  if($('#treeMode').prop('checked')) {
    $('#iframeOut3_').show();
    runpill2('5');
  } else if(isDiesel) {
    $('#iframeOut3_').hide();
    runpill2('5');
  }
};


refreshDsl = function() {
  // run all the time not just when tree is checked - now we use syntax markers
  // if($('#treeMode').prop('checked')) {
    if(isDiesel) runpill2('5');
  // }
};

  var refreshDslDebounced = _.debounce(refreshDsl, 2000, {maxWait: 5000});

function runpill2 (id) {
  var lastTime = new Date().getTime();
  showSpinner();
  $.ajax(
      '/diesel/fiddle/fiddleStoryUpdated/'+id+'?@Html(mod.diesel.controllers.SFiddles.qtourl(Map.empty))', {
        type: 'POST',
        data: $.param({
          saveMode : false,
          sketchMode : false, //$('#sketchMode').prop('checked'),
          mockMode : true, //$('#mockMode').prop('checked'),
          blenderMode : true, //$('#blenderMode').prop('checked'),
          draftMode : false, //$('#draftMode').prop('checked'),
          reactor : '@wid.getRealm',
          specWpath : '',
          storyWpath : '@wid.wpath', //storyWpath,
          spec : '',
          story : getContent(),
          capture : '',
          runEngine : $('#treeMode').prop('checked'),
          timeStamp: timeStamp
        }),
        contentType: 'application/x-www-form-urlencoded',
        success: function(data) {

          hideSpinner();

          if($('#treeMode').prop('checked'))
            $('#iframeOut3_').html(data.res.replace(/weref/g, 'wefiddle')+'\n');
          else
            $('#divOut3_'+id).html(data.wiki);

          instContentAssist = data.ca;

//            setErrors(data.info.failureCount);
          var du = new Date().getTime() - lastTime;
          $('#roundtrip').text(du+' ms');

          console.log("fiddle ts old "+timeStamp + " new "+data.info.timeStamp + " diff: " + (timeStamp - data.info.timeStamp));
          if(timeStamp < data.info.timeStamp) timeStamp = data.info.timeStamp;

          if(aceAttached) updateMarkers(aceEditor, data.ast);
        },
        error  : function(x) {
          hideSpinner();
          console.log( "ERR "+x.toString());
          if(JSON.stringify(x).indexOf("staleid") >= 0) {
            alert("Stale page - please refresh to get the latest saved draft!!!");
            location.reload();
          }
        }
      });
}

// setInterval(function(){
    if(firstPreview) {
      firstPreview=false;
      livePreview();
    }
  // },100);

//}); - if I remove these, it goes berserk
}); // withJquery


  // annotations are like erorrs etc
  // aceEditor.getSession().addGutterDecoration(2, "bold");
  // setTimeout(function(){

    // aceEditor.getSession().setAnnotations([{
    //   row: 1,
    //   column: 10,
    //   text: "Strange error",
    //   type: "error" // also warning and information
    // },
    //   {
    //     row: 2,
    //     column: 10,
    //     text: "Strange error",
    //     type: "warning" // also warning and information
    //   },
    // {
    //   row: 3,
    //   column: 10,
    //   text: "Strange error",
    //   type: "info" // also warning and information
    // }
    // ]);
    //

    // markers are added to the content text - could be underline, bold, background etc
    // I can remember the markers
    // var markerId = ...addMarker...

    // ace_active-line, ace_line-hover
    // fullLine, screenLine, text
    // aceEditor.getSession().addMarker(new Range(5, 0, 6, 0), "ace-primaryline", "fullLine");

    // aceEditor.getSession().addMarker(new Range(8, 0, 8, 0), 'activeBreakpoint', 'line'); - no working, found online

  // },2000);

</script>

  @*overwriting this to allow the dialog to be large...*@

  <style>
    .modal-dialog{
      position: relative;
      display: table; /* This is important */
      overflow-y: auto;
      overflow-x: auto;
      width: auto;
      min-width: 300px;
      max-height: 600px;
    }
  </style>

@util.oneModal()

