@**************
included in wikiListAssets - just the actual list, nothing else
**************@
@import razie.tconf.FullSpecRef
@import razie.diesel.dom.DIQueryResult
@import razie.diesel.dom.DieselAsset
@(search:String, realm:String, curTags:String, pages:DIQueryResult, fieldsToShow:Array[String], showRealm:Boolean = false)(implicit stok: controllers.StateOk)
@import razie.wiki.model._

@highlight(s:String)={
  @if(search.length>1) {
    @Html(s.replaceAll(s"(?i)(${search.replaceAllLiterally("{", "\\{")})", "<b>$1</b>"))
  } else {
    @s
  }
}

@getp(p:DieselAsset[_], name:String) = @{p.valueO.get.parms.find(_.name == name).map(_.currentStringValue).mkString}

@sor(s:String, s2: =>String) = @{if(s == null || s.isEmpty) s2 else s}

@label(s:String, wid: =>WID) = @{if(s == null || s.isEmpty) wid else s}

<table id="wlist" class="table table-condensed">
  <thead>
    <tr>
      @if(showRealm) {
        <td><small><small>Realm</small></small></td>
      }
      <td>Name</td>
      @fieldsToShow.filter(x=> !x.toLowerCase.equals("name") && !x.startsWith("-")).map { f =>
        <td>
          @f.capitalize
        </td>
      }
      @if(!fieldsToShow.contains("-category")) {
        <td>Category</td>
      }
    </tr>
  </thead>
  @pages.data.map{p=>
    <tr>
      @if(showRealm) {
        <td><small><small>@p.ref.realm</small></small></td>
      }
    <td>
      <a href="@razie.diesel.dom.DieselAssets.mkLinkAsset(p.ref.asInstanceOf[FullSpecRef], "")">@label(sor(getp(p, "name"), p.ref.key), p.ref)</a>
    </td>
    @fieldsToShow.filter(x=> !x.equals("name") && !x.startsWith("-")).map { f =>
      <td>
        @p.valueO.get.parms.find(_.name == f).map(_.currentStringValue).mkString
      </td>
    }
      @if(!fieldsToShow.contains("-category")) {
        <td>
          <small>&nbsp;  @p.ref.category</small>
        </td>
      }
      @*<td>*@
        @*<small><span title="wordcount"> @p.wordCount </span> </small>*@
      @*</td>*@
    </tr>
  }
</table>

@util.dataTables("wlist")

