@(title:String, pages:List[model.WikiEntry], au:Option[model.User])
@import model._

@htmlHeadBar("Results for: " + title, au)

<div class="container">
  <div class="row">
    <div class="span9">
      <div class="well">
	@if(pages.size>0) {
	  <ul>
	  @pages.map { p=>
	    <li><a href="@controllers.Wiki.w(p.wid)">@p.label</a> <small>&nbsp;  @p.category</small>
	  }
	 </ul>
	} else {
	  <h3>No results found...</h3>
	}
	</div>

      <hr>
      @htmlFooter()

    </div> <!-- /span9 -->

    <div class="span3">
      @wiki.wikiFrag(WID("Admin","Right"),au,true, None)

      @addRight()
    </div>

  </div> <!-- row -->

</div> <!-- /container -->

@htmlBottom()
