@**************
render a page in a site rather than a normal page - some missing stuff
**************@
@(wid:model.WID, iname:Option[String], page:Option[model.WikiEntry])(implicit au:Option[model.User], request:Request[_])

@htmlHead(""+page.flatMap(_.contentTags.get("sitelabel")).getOrElse(page.map(_.label).getOrElse(model.Wikis(wid.getRealm).label(wid))), page.flatMap(_.contentTags.get("css")).orElse(web().css))

@showads() = @{
  page.isDefined && page.get.contentTags.get("showads").isDefined
}

@web()=@{model.Website(request) getOrElse model.Website.dflt}

@if(page.isDefined && page.get.contentTags.get("logo").isDefined) {
  @navbar(au, model.Wikis.RK, false, "Menu", page.get.contentTags.get("logo"), page.get.contentTags.get("siteurl"), true, page.get.contentTags.get("club").map("?club="+_).getOrElse(""))(au,Some(request))
} else {
  @navbar(au, model.Wikis.RK, false, "Menu", None, None, true)(au,Some(request))
}
   
<div class="container">
  <div class="row">
  
  @if(showads()) {
    <div class="span9">
  } else {
    <div class="span12">
  }
      <div class="well">
        @wiki.wikiFrag(wid,au,false,page, iname, true, false, true)
      </div>

      @wiki.wikiAddMore(wid, page, au)

      <hr>
      @htmlFooter(ads=showads(), isSite=true)

    </div> <!-- /span9 -->

    @if(showads()) {
      <div class="span3">
@************* 
        @wiki.wikiFrag(WID("Admin","Right"),au,true, None)
*************@

        @addRight()
      </div>
      }

  </div> <!-- row -->
</div> <!-- /container -->

@htmlBottom(false, Some(request))
    