@(from:model.WID, to:model.WID, myForm:Form[controllers.Wiki.LinkWiki], withComment:Boolean, user:Option[model.User])
@import model.Wikis
@import helper.twitterBootstrap._

@how() = @{
  Wikis.category(to.cat).flatMap(_.contentTags.get("roles:"+from.cat)) match {
    case Some(s) => {
      s.split(",").filter(x => ! Array("Owner","Admin").contains(x)).map(x=>(x,x)).toSeq
    }
    case None => {
      Wikis.pageNames("Link").map(x=>(x,x)).toList
    }
  }
}

@htmlHead()
@navbar(user)
   
<div class="container">

  <div class="hero-unit">
      @if("User" == from.cat) {
          <h2>Cool! So you want to @to.label("LinkTo", "link to") @to.cat @to.name!</h2>
          <b>@to.label("LinkTo.Desc", "You may be notified of new activity.") !</b>
          } else {
          <h2>Cool! So you want to link @from.cat @from.name to @to.cat @to.name!</h2>
          }
          <p>
@********
      <div class="hero-unit">
      </div>
********@
@Wiki.moderator(to).map {mu=>
  Note that the @to.cat.toLowerCase is moderated by <a href="@controllers.Wiki.w("User", mu)">@mu</a> - we'll ask for permission!
}

<div >

@helper.form(action=routes.Wiki.linked(from.cat,from.name,to.cat,to.name,withComment), 'class->"well") {
  @helper.select(
    myForm("how"), 
     how(),
    '_label -> "Select a role", 
    '_showConstraints -> false)
    
    @if(withComment) {
  @helper.select(
    myForm("markup"), 
     model.Wikis.markups.map(x=>(x,x)),
    '_label -> "Markkup language", 
    '_showConstraints -> false)
  @helper.textarea(
    myForm("comment"), 
    '_label -> "Comment", 
    '_showConstraints -> false,
    'cols->100,
    'rows->10)
    } else {
     <input type="hidden" name="markup" value="md">
     <input type="hidden" name="comment" value="">
    }

    @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  } 

    <div class="actions">
      <button type="submit" class="btn btn-primary">Ok</button>
      <a href="@controllers.Wiki.w(to.cat,to.name)" class="btn">Nah</a>
    @if(withComment) {
      <a href="@routes.Wiki.linkUser(to,false)" class="btn">Remove the note!</a>
    } else {
      @if(false && "Club" != to.cat) {
        <a href="@routes.Wiki.linkUser(to,true)" class="btn">Add a note!</a>
      }
    }
  </div>
  
  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  } 
  
  <br><small>By updating this page, you agree to the <a href="@controllers.Wiki.w("Terms of Service")">Terms of Service</a></small>
}
  </div>

  <hr>
  @htmlFooter()

</div> <!-- /container -->

@htmlBottom()
    