@***********
  user manages registrations
***********@
@(reg:mod.snow.Reg, rks:List[(mod.snow.RacerKidAssoc,mod.snow.RacerKid)])(implicit stok:controllers.StateOk)
@import mod.snow.RacerKid
@import mod.snow.RK
@import mod.snow.RegStatus._
@import razie.wiki.model.features.FormStatus._
@import mod.snow.RK._
@import mod.cart.{Acct, Price}

@au=@{stok.au.get}
@stok.title("Reg for " + stok.au.get.userName)

@canPay()=@{
  (controllers.Club(reg.clubName).exists(_.props.get("payments.online").exists(_ == "after")) &&
      reg.regStatus == ACCEPTED ||
  controllers.Club(reg.clubName).exists(_.props.get("payments.online").exists(_ == "before")) &&
    reg.allFormsSubmitted ) &&
      (reg.regStatus != CURRENT) &&
  reg.fee.amount > 0
}

<h2>@model.Users.findUserById(reg.userId).map(_.userName).mkString Registration for @reg.clubName (as @reg.role)</h2>

<p>  Status: @regStatusColored(reg.regStatus)
  @reg.regStatus match {
        case PENDING => {Need to complete all the forms below - please follow the simple steps below.}
        case CURRENT => {Registration completed}
        case ACCEPTED => {Forms completed, awaiting payment}
        case EXPIRED => {Membership expired - ask for and complete the new forms}
        case FAMILY  => {Another member of the family is handling it}
        case _ => {???}
  }

<span class="label label-light">
Amount paid: <b>@reg.amountPaid</b>
</span>
  <br>
@if(canPay()) {
  <div class="well">
    <h3>Payment instructions:</h3>
@defining(Acct.findCurrent(reg.userId, reg.club).map(_.balance).getOrElse(Price(0))) { currbal =>
      Past/current balance: <b>@currbal.toString</b><br>
  Current registration total: <b>@reg.fee</b> due now: <b>@reg.feeDue</b>
<p></p>
  Fees payable (including credits) total: <b>@{(reg.fee - currbal - reg.amountPaid).orZero}</b> due now: <b>@{(reg.feeDue - currbal - reg.amountPaid).orZero}</b>
<br>
  Amount paid: <b>@reg.amountPaid</b>
}
  <p></p>
    @if(controllers.Club(reg.clubName).exists(_.props.get("payments.online").exists(_ != "no"))) {
      <div class="alert alert-success">
      Your club requires online payments to consider this registration completed and reserve your racer's spot for the season. Please make sure you have a paypal account and continue below
        <br>
<br>
     <a href="@routes.Club.doeClubRegStartPay(reg._id.toString, "total")" class="btn btn-lg btn-info">Pay TOTAL amount</a>
        @if(reg.fee.amount != reg.feeDue.amount) {
          <a href="@routes.Club.doeClubRegStartPay(reg._id.toString, "due")" class="btn btn-lg btn-info">
            Pay only DUE NOW amount</a>
        }
      </div>
    }
  <p></p>
    @controllers.Club(reg.clubName).map{x=> @Html(x.msgFormsAccepted)}
  </div>
}

<div class="well">
<h3>Step 1. Fill out your contact information here: <a href="@routes.ProfileUpd.doeContact(reg._id.toString)">contact info</a></h3>
<p>... or update it. It is used in several forms and you won't have to type it many times...
</div>

<div class="well">
<h3>Step 2. List all familiy members:</h3>
<p>Racers, parents, guardians, volunteers etc.
  <p>Add a:
@mod.snow.RK.RELATIONSHIPS.map{r=>
  <a href="@routes.Kidz.doeUserKid(stok.au.get._id.toString, "11", r, "-", "Reg:"+reg._id.toString)" class="btn btn-xs btn-info">@r</a>
}

@rkidz=@{
  rks.map(t=>
    Map("fname"->t._2.info.firstName,
      "rel" -> t._1.role,
        "role" -> t._2.info.role,
        "button" -> t._2._id.toString,
        "id"->t._2._id.toString))
}

@addlink(row:Map[String,String],k:String,v:String)={
  @k match {
        case "button" => {
      <a href="@routes.Kidz.doeUserKid(au._id.toString, v,
        "-",
        rks.find(_._2._id.toString == v).map(_._1._id.toString).getOrElse("-"),
        "Reg:"+reg._id.toString)" class="btn btn-xs btn-default">&nbsp;&nbsp;<span class="glyphicon glyphicon-list-alt"/>&nbsp;</a>
          }
        case "id" => {
      @if(reg.kids.exists(_.rkId.toString == v)) {
            <span class="label label-success">Included</span>
        as @reg.kids.filter(_.rkId.toString == v).map(_.role).mkString
        <a href="@routes.Club.doeClubUwRmFormKid(reg._id.toString,v,au._id.toString, "x")" class="btn btn-default btn-xs btn-danger" title="remove from registration"> x </a>
      } else {
        <a href="@routes.Club.doeClubUserRegAdd(reg._id.toString,v,au._id.toString, "x")" class="btn btn-primary btn-xs" title="also adds neccessary forms">Include now!</a>
          }
        }
    case _ => {@v}
  }
}

@util.utilSimpleTable(rkidz.iterator,
        Seq("fname" -> "Name",
          "rel" -> "Relationship",
                "role" -> "Role",
                "button" -> "Details",
                "id"->"Included in registration?"),
        Some(addlink))
</div>

<div class="well">
<h3>Step 3. Make sure <em>everyone</em> is included in this registration</h3>
<p>Use the <span class="btn btn-xs">Include now!</span> buttons in the table above, to add to the current registration. Please include anyone that is a parent/guardian and/or will race, volunteer or coach for the club.
<p>If you make a mistake, use the red <span class="label label-important"> x </span> button with care: it will delete completed forms if it has to...
<p>Making sure this list is correct <b>before</b> you start completing the forms can save you having to re-fill some forms!
@if(rks.exists(rk => !reg.kids.exists(_.rkId == rk._2._id))) {
  <div class="alert alert-warning">
  @if(rks.filter(rk => !reg.kids.exists(_.rkId == rk._2._id)).size == 1) {
    You have <strong>1 person
    } else {
  You have <strong>@rks.filter(rk => !reg.kids.exists(_.rkId == rk._2._id)).size persons
  }
  not included</strong> in the registration - are you sure you want to continue to the forms below?
  </div>
}
</div>

<div class="well">
<h3>Step 4. Complete all the forms</h3>
<p>After adding all the members/racers in your family, these are the forms you need to complete... each form is important, not just the racer forms: <b>your club needs your address and contact information for each parent as well as medical information for the racers</b>.
@club.userFormList(reg.deprecatedWids, true)
</div>

<div class="well">

<h3>Step 5. Payment</h3>

  @defining(Acct.findCurrent(reg.userId, reg.club).map(_.balance).getOrElse(Price(0))) { currbal =>
    Past/current balance: <b>@currbal.toString</b><br>
    Current registration total: <b>@reg.fee</b> due now: <b>@reg.feeDue</b>
    <p></p>
    Fees payable (including credits) total: <b>@{(reg.fee - currbal - reg.amountPaid).orZero}</b> due now: <b>@{(reg.feeDue - currbal - reg.amountPaid).orZero}</b>
    <br>
    Amount paid: <b>@reg.amountPaid</b>
  }

    @if(controllers.Club(reg.clubName).exists(_.props.get("payments.online").exists(_ != "no"))) {
    <div class="well">
      <p></p>
      <div class="alert alert-success">
      @if(canPay() || (reg.regStatus == CURRENT && reg.amountPaid < reg.fee)) {
          Your club requires online payments to consider this registration completed and reserve your racer's spot for the season.
          Please make sure you submitted all forms and have a paypal account, then continue below.
          <br>
          <br>
        <a href="@routes.Club.doeClubRegStartPay(reg._id.toString, "total")" class="btn btn-lg btn-info">Pay TOTAL amount</a>
        <a href="@routes.Club.doeClubRegStartPay(reg._id.toString, "due")" class="btn btn-lg btn-info">Pay only DUE amount</a>
      } else {
        @if(controllers.Club(reg.clubName).exists(_.props.get("payments.online").exists(_ == "after"))) {
      <p>After all the forms have been aproved, you will receive separate payment instructions.
      } else {
          <p>After all the forms have been submitted, you will be able to pay here.
        }
      }
      </div>
      <p></p>
@**
@controllers.Club(reg.clubName).map{x=> @Html(x.msgFormsAccepted)}
**@
    </div>
  }

</div>

  <hr>
  @club.formStatusLegend()


