@**************
Create a domain object / cat
**************@
@import razie.diesel.dom.{RDOM, RDomain}
@import play.twirl.api.TemplateMagic.defining
@import razie.diesel.dom.WikiDomain
@(plugin:String, conn:String, realm:String, cat:String, left:List[RDOM.A], right:List[RDOM.A], domain:WikiDomain, currValues:List[(String,RDOM.P)], errors:Map[String,String])(mkLink:(String,String,Option[RDOM.A])=>String)(implicit stok: controllers.StateOk)
@import mod.diesel.model.Diesel

@stok.title(cat + " - category browser")

@hasRecalc(c:Option[RDOM.C]) = @{c.exists(_.parms.exists(_.stereotypes.contains("excache")))}

<script src="@routes.Assets.at("javascripts/weDieselDom.js")"></script>

@modules.diesel.domBrowserInt("diesel", realm, realm, cat, Nil, left, right)(mkLink)

<div class="col-sm-12">
  @domain.rdom.classes.get(cat).map{c=>

      <h2>Creating a new <i>@cat</i></h2>

    @defining(Diesel.mkFormDef(realm, c, "temp", stok.au.get, currValues)) { page =>
      <form action="/diesel/dom/doUpsert/@cat?plugin=@plugin&conn=@conn&wid=@page.wid.wpath" method="POST" id="myForm" name="myForm">

        <textarea name="category" hidden>@page.category</textarea>
        <textarea name="content" hidden>@page.content</textarea>
        <textarea name="realm" hidden>@realm</textarea>
        <textarea name="tags" hidden>@page.tags.mkString(",")</textarea>

        @wiki.wikiFormInt(page.wid, None, Some(page), errors, true, false)

        @if(page.form.canEdit && hasRecalc(Some(c))) {
          <a href="javascript:weDomRecalculateFormData()" class="btn btn-info">Recalculate</a>
        }
          <input type="submit" name="save_button" value="Save for later" class="btn btn-info">
          <input type="submit" name="submit_button" value="Submit" class="btn btn-success">
          <strong>Please <font style="color:red">save or submit</font> before leaving this page!</strong>
@*//        @if(stok.au.exists(isClubAdmin(_)) && page.form.canBeApproved) {*@
          @*<input type="submit" name="approve_button" value="Approve" class="btn btn-success">*@
@*//        }*@
@*//        @if(stok.au.exists(isClubAdmin(_)) && (page.form.canBeApproved || page.form.canBeRejected)) {*@
          @*<input type="submit" name="reject_button" value="Reject" class="btn btn-danger">*@
          @*<p>*@
            @*<textarea name="formRejected" value="Reject reason" rows="3" placeholder="reason for rejection" class="input-xxlarge"></textarea>*@
@*//        }*@
<p></p>

      </form>
      <script>

recalculatedNames = '@{domain.rdom.classes.get(cat).get.parms.filter(_.stereotypes.contains("excache")).map(_.name).mkString(",")}';
recalculated = recalculatedNames.split(",");

require(['jquery', 'weCommons'], function($) {

  function getFormData($form){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
      // RAZ - this content field is huge, I think I add it
      if(n['name]'] != 'content') indexed_array[n['name']] = n['value'];
    });

    return indexed_array;
  }

  sendForm = function () {
    var data = getFormData($("form#myForm"));
    $.ajax({
      url: '/diesel/dom/doUpsert/@cat?plugin=@plugin&conn=@conn&wid=@page.wid.wpath',
      type: 'post',
      data: JSON.stringify(data),
      contentType: 'application/json',
      success: function (data) {
        window.location.href = '/diesel/dom/list/@cat';
      },
      error: function (data) {
        alert(typeof data == "object" ? JSON.parse(data):data);
      }
    });
  }

  weDomRecalculateFormData = function () {
    var data = getFormData($("form#myForm"));
    $.ajax({
      url: '/diesel/dom/recalcForm/@cat',
      type: 'post',
      data: JSON.stringify(data),
      contentType: 'application/json',
      success: function (data) {
        var o = typeof data == "object" ? data : JSON.parse(data);
        console.log(o);
        Object.keys(o).forEach(x=> $("input[name=" + x + "]").val(o[x]));
      },
      error: function (data) {
        alert(data);
      }
    });
  }

  @if(page.form.canEdit && hasRecalc(domain.rdom.classes.get(cat))) {
    $("form#myForm :input[type=text]").on( "blur", function() {
      if(! recalculated.includes($(this).attr("name")))
        weDomRecalculateFormData();
    } );
  }

  $("form#myForm").submit(function(e){
    e.preventDefault();
    var form = this;
    sendForm();
  });

});
      </script>
    }

  }.getOrElse{
    Class not found: <b>@cat</b>
  }


</div>

@util.oneModal()
