@**************
browse a domain
**************@
@import razie.diesel.dom.{RDOM, RDomain}
@(realm:String, cat:String, left:List[RDOM.A], right:List[RDOM.A], rdom:RDomain, errors:Map[String,String])(mkLink:String=>String)(implicit stok: controllers.StateOk)
@import mod.diesel.model.Diesel

@stok.title("Category browser: "+cat)

@modules.diesel.browser(realm, cat, Nil, left, right)(mkLink)


<div class="col-sm-12">
  @rdom.classes.get(cat).map{c=>
    <h2>Creating a new <i>@cat</i></h2>

    @*<form action="/doe/diesel/createSubmit/@cat/@wpath" method="POST">*@

    @defining(Diesel.mkFormDef(realm, c, "temp", stok.au.get)) { page =>
      <form action="/doe/form/submit2/@page.wid.wpath" method="POST">

        <textarea name="category" hidden>@page.category</textarea>
        <textarea name="content" hidden>@page.content</textarea>
        <textarea name="realm" hidden>@realm</textarea>
        <textarea name="tags" hidden>@page.tags.mkString(",")</textarea>

        @wiki.wikiFormInt(page.wid, None, Some(page), errors, true, false)

        @if(page.form.canEdit){
          <input type="submit" name="save_button" value="Save for later" class="btn btn-info">
          <input type="submit" name="submit_button" value="Submit" class="btn btn-success">
          <strong>Please <font style="color:red">save or submit</font> before leaving this page!</strong>
        }
@*//        @if(stok.au.exists(isClubAdmin(_)) && page.form.canBeApproved) {*@
          @*<input type="submit" name="approve_button" value="Approve" class="btn btn-success">*@
@*//        }*@
@*//        @if(stok.au.exists(isClubAdmin(_)) && (page.form.canBeApproved || page.form.canBeRejected)) {*@
          @*<input type="submit" name="reject_button" value="Reject" class="btn btn-danger">*@
          @*<p>*@
            @*<textarea name="formRejected" value="Reject reason" rows="3" placeholder="reason for rejection" class="input-xxlarge"></textarea>*@
@*//        }*@
<p></p>

      </form>
    }

  }.getOrElse{
    Class not found: <b>@cat</b>
  }


</div>

