@**
view an engine
**@
@import razie.diesel.engine.DomEngineView
@(eng:Option[razie.diesel.engine.DomEngine])(implicit stok: controllers.StateOk)
@import razie.diesel.engine.DomAst
@import razie.diesel.engine.DomState

<script src="@routes.Assets.at("javascripts/weCommons.js")"></script>
<script src="@routes.Assets.at("javascripts/weDieselDom.js")"></script>

@eng.map{ e=>
  @if(!DomState.isDone(e.status)) {
    In progress... @e.progress
    <a class="label label-danger" href="@mod.diesel.controllers.routes.DomGuard.dieselEngineCancel(e.id)">Cancel</a>

    <span id="refreshBox" class="label label-default" title="Keep refreshing..." >
      <input type="checkbox" id="refreshMode" checked>
      <span onclick="setRefreshMode();" style="cursor:pointer" >Refresh </span>
    </span>
    <span id="spinner" style="display: none"><img src="https://cdn.razie.com/Public/spinner.gif" height="20" width="20"></span>
    <br>
  }

DESC: @{e.description}<br>
  <br>

  @if(e.root.children.exists(x=> x.kind == "story")) {
<b>Summary:</b> @e.failedTestCount / @e.successTestCount / @e.totalTestCount / @e.todoTestCount (fail/succ/total/todo) (<a href="/diesel/viewAst/@eng.get.id?format=junit">junit</a>)
<br>
<pre>
@Html(DomEngineView.storySummary(e.root))
</pre>
  }

  <a href="@e.href("json")">Json</a>

  <div id="title3b" class="col-sm-6" style="font-size: small">
    <input type="checkbox" id="traceStory" title="Expand/collaps trace nodes" > <small>(trace)</small>
    <input type="checkbox" id="debugStory" title="Expand/collaps debug nodes" checked> <small>(debug)</small>
    <input type="checkbox" id="generatedStory" title="Expand/collaps generated nodes" checked> <small>(generated)</small>
    <button id="ferrStory" title="Find first error" onclick="ferrStory()" class="btn btn-warning btn-xs"> <small><span class="glyphicon glyphicon-menu-down"></span> (first error)</small></button>
    <input type="checkbox" id="showDur" title="Expand duration info" > <small>(durations)</small>
  </div>

  <pre>
@Html(e.root.toHtmlInPage)
</pre>

}.getOrElse {
  Engine not found...
}

<script>
var done = true;

@if(eng.exists(e=>DomState.isDone(e.status))) {
done = true;
} else {
done = false;
}

var refreshMode = true;
function setRefreshMode () {
  refreshMode = $('#refreshMode').prop('checked');
  $('#refreshMode').prop('checked', !refreshMode);
  $('#refreshMode').trigger("change");
};

withJquery(function ($) {
  $(window).on('load', function () {
    useLocalStorageCheckbox("refreshMode", "domFiddleRefreshMode", function (a, b, expanded) {
      refreshMode = expanded;
    });

    useLocalStorageCheckbox("traceStory", "domFiddleTraceStory", function (a, b, expanded) {
      dieselHideTrace(expanded);
    });

    useLocalStorageCheckbox("debugStory", "domFiddleDebugStory", function (a, b, expanded) {
      dieselHideDebug(expanded);
    });

    // useLocalStorageCheckbox("generatedSpec", "domFiddleGeneratedSpec", function (a,b,expanded) {
    //   hideGenerated(expanded);
    // });

    useLocalStorageCheckbox("generatedStory", "domFiddleGeneratedStory", function (a, b, expanded) {
      dieselHideGenerated(expanded);
    });

    // show duration as separate element
    $('#showDur').change(function () {
      $("span[kind='dur']").remove();

      if($('#showDur').prop('checked')) {
        $('[msec]').each(function (index) {
          var m = $(this).attr("msec");
          var s = '';
          if(m.length >= 3) s = 'color:red;font-weight:bold';
          else if(m.length >= 2) s = 'font-weight:bold';
          var t = '<span kind="dur" style="' + s + '">' + m + '-</span>';
          $(t).insertBefore(this);
        });
      }
    });

    setInterval(function(){
      if(refreshMode && !done)  window.location.reload();
    }, 3000);

  });
});

</script>

@util.oneModal()


