@**
view an engine
**@
@import razie.diesel.engine.DomEngineView
@(eng:Option[razie.diesel.engine.DomEngine])(implicit stok: controllers.StateOk)
@import razie.diesel.engine.DomAst
@import razie.diesel.engine.DomState

<script src="@routes.Assets.at("javascripts/weCommons.js")"></script>
<script src="@routes.Assets.at("javascripts/weDieselDom.js")"></script>
<script src="@routes.Assets.at("javascripts/weFiddles.js")"></script>

<script>
  var done = true;

  @if(eng.isDefined) {
    curEngineViewId = '@eng.get.id';
    currEngineId = '@eng.get.id';
  } else {
    curEngineViewId = null;
  }

  @if(eng.exists(e=>DomState.isDone(e.status))) {
    done = true;
  } else {
    done = false;
  }

  var refreshMode = true;
  function setRefreshMode () {
      refreshMode = $('#refreshMode').prop('checked');
      $('#refreshMode').prop('checked', !refreshMode);
      $('#refreshMode').trigger("change");
  };

    withJquery(function ($) {
      $(window).on('load', function () {
        useLocalStorageCheckbox("refreshMode", "domFiddleRefreshMode", function (a, b, expanded) {
          refreshMode = expanded;
        });

        useLocalStorageCheckbox("verboseStory", "domFiddleVerboseStory", function (a, b, expanded) {
          dieselHideVerbose(expanded);
        });

        useLocalStorageCheckbox("traceStory", "domFiddleTraceStory", function (a, b, expanded) {
          dieselHideTrace(expanded);
        });

        useLocalStorageCheckbox("debugStory", "domFiddleDebugStory", function (a, b, expanded) {
          dieselHideDebug(expanded);
        });

        // useLocalStorageCheckbox("generatedSpec", "domFiddleGeneratedSpec", function (a,b,expanded) {
        //   hideGenerated(expanded);
        // });

        useLocalStorageCheckbox("generatedStory", "domFiddleGeneratedStory", function (a, b, expanded) {
          dieselHideGenerated(expanded);
        });

        // show duration as separate element
        var showDurations = function () {
          $("span[kind='dur']").remove();

          if($('#showDur').prop('checked')) {
            $('[msec]').each(function (index) {
              var m = $(this).attr("msec");
              var s = '';
              if(m.length >= 3) s = 'color:red;font-weight:bold';
              else if(m.length >= 2) s = 'font-weight:bold';
              var t = '<span kind="dur" style="' + s + '">' + m + '-</span>';
              $(t).insertBefore(this);
            });
          }
        };

        // show duration as separate element
        $('#showDur').change(showDurations);

        showDurations();

        var t = setInterval(function(){
          if(refreshMode && !done && $('#refreshMode').prop('checked'))  window.location.reload();
        }, 5000);
        console.log ("refreshInterval set: " + t);
      });

      postThis = function (url, next) {
        $.ajax(
            url, {
              type: 'POST',
              data: $.param({}),
              contentType: 'application/x-www-form-urlencoded',
              success: function(data) {
                console.log( "OK "+JSON.stringify(data));
                if(typeof next == "function") next(data);
              },
              error  : function(x) {
                console.log( "ERR "+JSON.stringify(x));
              }
            });
      };

      afterEngineCommand = function (id, command) {
        location.reload();
      };

      thisEngineQueue = function () {
        postThis("@mod.diesel.controllers.routes.DomGuard.dieselEngineQueue(eng.get.id)",
            function(data) {alert(data)});
      };

    });

</script>


@eng.map{ e=>
  @if(!DomState.isDone(e.status)) {
    In progress... <span class="label label-primary">@e.progress</span>
    <span class="label label-danger">
     <span
       id="cancel"
     class="glyphicon glyphicon-remove"
     onclick="engineCancel();"
       title="Cancel the flow"
     ></span>

    @if(e.paused) {
        &nbsp;
      <span id="xx"
      title="Step/pause..."
      >
        Paused (
        <a onclick="thisEngineQueue();">queue</a>
        : @e.stashedMsg.size): &nbsp;
        <span class="glyphicon glyphicon-play"
        id="play"
        onclick="enginePlay();"
        title="One step forward..." > </span>
          &nbsp;
        <span class="glyphicon glyphicon-forward"
        id="continue"
        onclick="engineContinue();"
        title="Resume the engine..." > </span>
      </span>
        &nbsp;
    } else {
      <span
        id="pause"
      class="glyphicon glyphicon-pause"
      onclick="enginePause();"
      title="Pause the flow..." ></span>
        &nbsp;
    }
    </span>
&nbsp;
    <span id="refreshBox" class="label label-default" title="Keep refreshing..." >
      <input type="checkbox" id="refreshMode" checked>
      <span onclick="setRefreshMode();" style="cursor:pointer" >Refresh </span>
    </span>

    <span id="spinner" style="display: none"><img src="https://cdn.razie.com/Public/spinner.gif" height="20" width="20"></span>
    <br>
  }
<small>
DESC: @{e.description.take(2000)}<br>
Started at: @{e.createdDtm}
</small>
  <br>

  @if(e.root.children.exists(x=> x.kind == "story")) {
    @if(e.failedTestCount > 0) {
    <b>
      Summary:</b> <span class="label label-danger">@e.failedTestCount / @e.successTestCount / @e.totalTestCount / @e.todoTestCount (fail/succ/total/todo)</span> (duration: @{e.duration / 1000} s) (<a href="/diesel/viewAst/@eng.get.id?format=junit">junit</a>)
    } else {
    <b>
      Summary:</b> <span class="label label-success">@e.failedTestCount / @e.successTestCount / @e.totalTestCount / @e.todoTestCount (fail/succ/total/todo)</span> (duration: @{e.duration / 1000} s) (<a href="/diesel/viewAst/@eng.get.id?format=junit">junit</a>)
    }
<br>
<pre>
@Html(DomEngineView.storySummary(e.root))
</pre>
  }

  <div id="title3b" class="" style="font-size: small">
    <input type="checkbox" id="traceStory" title="Expand/collaps trace nodes" > <small>(trace)</small>
    <input type="checkbox" id="debugStory" title="Expand/collaps debug nodes" checked> <small>(debug)</small>
    <input type="checkbox" id="generatedStory" title="Expand/collaps generated nodes" checked> <small>(generated)</small>
    <button id="ferrStory" title="Find first error" onclick="ferrStory()" class="btn btn-warning btn-xs"> <small><span class="glyphicon glyphicon-menu-down"></span> (first error)</small></button>
    <input type="checkbox" id="showDur" title="Expand duration info" > <small>(durations)</small>
    <input type="checkbox" id="verboseStory" title="Expand/collaps verbose nodes" > <small>(verbose)</small>

    @eng.map(_.id).map { id =>
      <span class="pull-right"><a id="saveTrace" href="javascript:saveTrace('@id')"><span class="glyphicon glyphicon-save"></span></a></span>
    }

  </div>

  <pre>
@Html(e.root.toHtmlInPage)
</pre>

}.getOrElse {
  Engine not found...
}

@util.oneModal()
