@**************
default layout 9/3 with ads, top and bottom
**************@
@(content: Html, msg: Seq[(String, String)])(implicit stok: controllers.StateOk)

@web()=@{stok.website}
@layout=@{web().layout}

  @{
    layout.trim match {
      case
        "Play:wiki.layout.div12"         |
        "Play:wiki.layout.div12FullPage" |
        "Play:wiki.layout.div12Cool"     |
        "Play:wiki.layout.div12Plain"    => util.reactorLayout12(content, msg)

      case _ => util.reactorLayout9(content, msg)
    }
  }


