@**
create account
**@
@(myForm: Form[controllers.Profile.CrProfile], au:Option[model.User]=None)(implicit request:Request[_])
@import model.Website.realm

@salutation() = @{
  val names = Array("Hi", "Hello", "Hey", "Howdy")
  val i = new scala.util.Random().nextInt(names.length)
  names(i)
  }

@htmlHeadBar("Create an account / Register", au, realm)

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="jumbotron">

      <div class="row">
        <div class="col-sm-6">
          @wiki.wikiFragInt("Admin:page-join3-"+realm, au)
        </div>

        <div class="col-sm-4">

@import helper.twitterBootstrap._

@helper.form(action=routes.Profile.doeCreateProfile(), 'class->"well") {
  @helper.select(
    myForm("userType"),
    _root_.admin.Config.userTypes.map(x=>(x.toString,x.toString)),
     '_label ->
             (if (realm==razie.wiki.model.Reactors.NOTES) "Account type"
  else "What you are"),
    '_showConstraints -> false)
  @helper.inputText(
    myForm("firstName"),
    '_label -> "First name",
    '_showConstraints -> false)
  @helper.inputText(
    myForm("lastName"),
    '_label -> "Last name")
  @helper.select(
    myForm("yob"),
     Seq("" -> "") ++ (Range(2005, 1912, -1) map (y=>(y.toString,y.toString))),
    '_label -> "When you were born",
    'style -> "width: 100px",
    '_showConstraints -> false)
  @helper.inputText(
    myForm("address"),
    '_label -> "City, province/state, country",
    '_showConstraints -> false)
  @helper.checkbox(
    myForm("accept"),
    '_text -> Html(
    if (realm==razie.wiki.model.Reactors.NOTES)
      """I accept the <a href="/wiki/Terms of Service-notes">Terms of Service</a>"""
    else
      """I accept the <a href="/wiki/Terms of Service">Terms of Service</a>"""
    ),
    '_label -> "",
    '_showConstraints -> false)

    @***** recaptcha ********@
@if(Profile.RE_localhost && _root_.admin.Config.isLocalhost) {
    @helper.inputText(myForm("recaptcha_challenge_field"))
    @helper.inputText(myForm("recaptcha_response_field"))
} else {
    <script type="text/javascript" src="//www.google.com/recaptcha/api/challenge?k=6Ld9uNASAAAAAL_5jXRwtBAtiJy8XGwSzZOWW80s"></script>
     <noscript>
       <iframe src="//www.google.com/recaptcha/api/noscript?k=6Ld9uNASAAAAAL_5jXRwtBAtiJy8XGwSzZOWW80s" height="300" width="500" frameborder="0"></iframe>
       <br><textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
       <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
     </noscript>
}

  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  }
<br>

  <button type="submit" class="btn btn-primary">That's it - create account!</button>

}

       </div>
      </div>

      </div>

      <hr>

      @htmlFooter(false, false, realm)

    </div> <!-- /container -->

    @htmlBottom()
