@import mod.snow.RkHistory
@(club: Option[controllers.Club], rk: mod.snow.RacerKid, settings: String)(implicit stok: controllers.StateOk)
@import model.User
@import mod.snow.RK
@import mod.snow.RacerKid
@import razie.wiki.model.Visibility
@import org.bson.types.ObjectId
@import controllers.RKU
@import util.razText
@import razie.wiki.model.{WID, WikiEntry, Wikis}

@import helper.twitterBootstrap._

@help()= @{
}

@renderContent(wid: WID, we: WikiEntry, c:Option[String]=None) = {
 @{
   we.preprocess(stok.au)
   ""
 }

  @if(we.fields.nonEmpty && c.isEmpty) {
    @wiki.wikiFormSimple(wid, None, Some(we), Map.empty, false, false, true)
  } else {
    @wiki.wikiFrag(wid, c, true, Some(we), None, true, false, false, false, false)
  }
}

  @paint(h: RkHistory, we:WikiEntry) = {
   @if(h.eKind != "Comment") {
      <div class="panel panel-@pnelColor(h, we)" id="@h._id.toString" style="border-radius : 9 px ; margin-bottom : 10 px;">
        <div class="panel-heading"
        style="pading:5px 5px; padding-top: 3px; padding-right: 5px; padding-bottom: 3px; padding-left: 5px;">
          <small>
            @model.Users.nameOf(we.by) |
            @we.crDtm.toString("YYYY-MM-dd hh:mm a").toLowerCase()
            @if(canEdit(h,we)) {
              [<a href="@mod.notes.controllers.routes.NotesLocker.noteById(we._id.toString)"><strong>Edit</strong>]</a>
            }
            [<a href="@mod.notes.controllers.routes.NotesLocker.viewNoteById(we._id.toString)"><strong>View</strong></a>]
          </small>

          <div style="float : right ;">
            <small>Tags: <strong>
            @we.tags.map { x =>
              @x |
              @**
              @if(stok.tags find (_._1 == x) isEmpty ) {
              @x |
              } else {
              <a href="@mod.notes.controllers.routes.NotesLocker.tag(stok.tagPath(x))">@x</a> |
              }
              **@
            }
            </strong></small>
          </div>
        </div>

        <div class="panel-body alert-@pnelColor(h,we)" style="background-color: #fCf8eb; color:black">
        @*<div class="panel-body alert-@pnelColor(h,we)" style="color:black">*@
          @if(we.category != "Note" && h.eKind != "memo") {
            @Html(we.wid.ahrefNice(stok.realm))<br>
          }

          @if(h.role == "post" || stok.au.exists(_.isAdmin) || club.exists(c=>stok.au.exists(c.isClubAdmin(_)))) {
            <button type="button" class="close" aria-label="Dismiss" onclick="dismissPost('@h._id.toString', '@h.eId.mkString')" title="Dismiss this alert">
              <span aria-hidden="true">&times;</span>
            </button>
          }

          @if(h.role == "post") {
            <p>@renderContent(we.wid, we, we.getFirstParagraph.map(_ +
                "<br><small>... <a href=\"" + we.wid.urlRelative +
                "\">(more available)</a></small>"
            ))</p>
          } else {
            <p>@renderContent(we.wid, we)</p>
          }
        </div>

      </div>
  } else {
    @h
  }
  }

@pnelColor(h:RkHistory, we:WikiEntry) = @{
  // todo notes are always private
  if(we.tags.contains("insight") || we.visibility == Visibility.CLUB_COACH) "success"
  else if(we.tags.contains("private") /*|| we.visibility == Visibility.PRIVATE*/ ) "danger"
  else if(we.tags.contains("goal") || we.tags.contains("plan")) "info"
  else if(h.role == "post" || we.tags.contains("post") || we.tags.contains("item")) "warning"
  else "info"
}

@canEdit(t:RkHistory, we:WikiEntry) = @{
  // I see my own and my posts
  if(we.tags.contains("private") /*|| we.visibility == Visibility.PRIVATE*/) we.ownerId.exists(_ == stok.au.get._id)
  else if(t.role=="post") false
  else if(we.tags.contains("coaching") || we.visibility == Visibility.CLUB_COACH) club.exists(_.isClubCoach(stok.au.get))
  else !Array("private", "insight").exists(we.tags.contains)
}

@stok.title("athlete history")

<h3>@rk.info.fullName
  <small>|
    @if(rk.userId.isDefined) {account holder} else {parent acct: @rk.parentUsers.map(_.fullName).mkString(",")}
    | <a href="#" onclick="help(); return false;" title="More help" style="color:red">Help!</a>
  </small>
  @notes.notesmsgDiv("histmsg")
</h3>

  <p>
  </p>

@if(settings contains "grouped") {
  <input type="checkbox" name="grouped" checked onchange="changeGrouped(this);"/> Grouped
} else {
  <input type="checkbox" name="grouped" onchange="changeGrouped(this);"/> Grouped
}
  | <a href="#" class="btn btn-xs btn-success" onclick="deletePosts(); return false;"      title="Delete all the post notifications">Clear posts</a>
  | Add a:
  <span onclick="startNote(); return false;" class="label label-primary" style="cursor:pointer"><span id="curNote">Note</span> <span class="glyphicon glyphicon-chevron-down">
  </span></span>

   <a href="#" onclick="addMsg(); return false;"      title="Send a message">Message</a>
@if(club.exists(c=> c.isClubCoach(stok.au.get) || c.isClubAdmin(stok.au.get)) || stok.au.exists(_.isAdmin)) {
  @*| <a href="#" onclick="addGoal(); return false;"      title="Select a goal">Goal</a> |*@
  @*| <a href="#" onclick="addPlan(); return false;"      title="Select a plan">Plan</a> |*@
    | <a href="#" onclick="addInsight();; return false;"    title="Private insight / notes visible to coaches only">Insight</a>
    | <a href="#" onclick="addEval(); return false;"     title="An evaluation shared with the athlete">Evaluation</a>
    | <a href="#" onclick="addFeedback(); return false;" title="Some feedback">Feedback</a>
    | <a href="#" onclick="addVideo(); return false;"       title="Video analysis">Video</a>
  }
<p>
</p>

<div id="info" class="bg-primary"></div>
<div id="extra"></div>

@goodItems(rk:RacerKid, au:User) = @{
  rk.history.items.map(h=>
    (h,
     h.eId.flatMap(razie.wiki.model.Wikis.findById(h.eKind, _)).filter
            (! _.tags.contains("archive")).filter
            (filterForCoach(rk,h,au)))
  ).filter(x=>x._2.isDefined || x._1.eId.isEmpty)
}

@filterForCoach(rk:RacerKid,t:RkHistory,au:User)(we:WikiEntry) = @{
  // I see my own and my posts
  if(we.tags.contains("private") /*|| we.visibility == Visibility.PRIVATE*/) we.ownerId.exists(_ == stok.au.get._id)
  else if(t.role=="post") rk.userId.exists(_ == au._id)
  else if(we.tags.contains("insight") || we.visibility == Visibility.CLUB_COACH) club.exists(_.isClubCoach(stok.au.get))
  else !Array("private", "insight").exists(we.tags.contains)
  }

@items()=@{
  goodItems(rk, stok.au.get)
}

@defining(items().take(20)) { history =>
  @notes.notesmsgShow("histmsg", Seq(("msg" -> ("Found "+history.size.toString+" items"))))

<div id="help" class="alert alert-success" style="display: none;">
  <p>This is your <b>main feed</b>.
    Items appear from the different notifications you subscribed to (like news, alerts or blog items).
    <b>You can dismiss notifications with the X button on the right!</b></p>
  <p><b>As a coach</b>
    , you'll keep track of your own personal notes. You can see each athlete's profile by going to the respective team
    - read <a href="/wiki/rk.Admin:Coaches_and_notifications">Coaches and notifications</a>
  </p>
  <p><b>As a member / parent / racer</b>
    , you'll keep track of your own notes and messages with coaches
    - read <a href="/wiki/rk.Admin:Members_and_notifications">Members and notifications</a>
  </p>
  <p>You can use <a href="#" class="btn btn-xs btn-success" onclick="deletePosts(); return false;" title="Delete all the post notifications">Clear posts</a> to
  clear all the small notifications and leave only the important items.
</div>

  @if(settings contains "grouped") {
    <p></p>Groups: @history.groupBy(_._1.role).map { g =>
      <a href="#@g._1">@g._1 <small>(s)</small></a> |
    }

    @history.groupBy(_._1.role).map { g =>
      <a name="@g._1"></a>

      <h2>@g._1 <small>(s)</small></h2>

    @g._2.map(t=> paint(t._1, t._2.getOrElse(justContent(t._1))))
      <hr>
    }
  } else {
    @history.map(t=> paint(t._1, t._2.getOrElse(justContent(t._1))))
  }

  @if((history.size == 0 || rk.history.firstTime.isDefined) &&
      rk.userId.exists(uid=> stok.au.exists(_._id == uid))) {
    <script>
    // don't show when looking at someone else's history
    $("#help").show();
    </script>
  }
}

@justContent(h:RkHistory)=@{
  // make up a wiki from a message
  WikiEntry("-", "-", "-", "md", h.ctx, h.authorId.getOrElse(stok.au.get._id), Seq(h.role)).copy(
    crDtm = h.crDtm
  )
}

@tagSelect(what:String, s:String)=@{
List(
  s,
  club.map(_.props.getOrElse(what, "")).mkString,
  club.map(_.props.getOrElse("system.discipline", "")).mkString
).filter(! _.isEmpty).mkString("/")
}

<script>
var selecting="";

function dismissPost(hid,eid) {
  var url = "@controllers.routes.Kidz.doeDismissHistory("NID")".replace(/NID/g, hid);
  $.ajax({
    type: "POST",
    url:  url,
    success: function(data) {
      $("#"+hid).fadeOut(600);
//      notesMsgShow("msg", "Dismissed ok")
    },
    error: function(result) {
      console.log("ERROR: Can't dismiss: "+result.responseText)
      notesMsgShow("err", "Can't dismiss: "+result.statusText)
    }
});
}
function addInsight() {
  $("#info").text("Private insight / notes visible to coaches only");
  $("#extra").load("@mod.notes.controllers.routes.NotesLocker.embed("Note", "for coaches", "coaching,insight", "Note", "")");
}
function addMsg() {
  $("#info").text("Message");
  $("#extra").load("@mod.notes.controllers.routes.NotesLocker.embed("Message", "message", "message", "Message", "")");
}
function addFeedback() {
  $("#info").text("Feedback is shared with the athlete");
  $("#extra").load("@mod.notes.controllers.routes.NotesLocker.embed("Message", "feedback", "coaching,feedback", "Message", "")");
}
function addVideo() {
  $("#info").text("Video analysis is shared with the athlete");
  $("#extra").load("@mod.notes.controllers.routes.NotesLocker.embed("Note", "Video", "video,feedback", "Video", "")");
}
function addGoal() {
  selecting="goal";
  $("#info").text("Select a goal...");
  showSelectModal("@mod.notes.controllers.routes.NotesLocker.selectFrom(tagSelect("system.plan", "public/template/goal"))");
}

function addPlan() {
  selecting="plan";
  $("#info").text("Select a plan...");
  showSelectModal("@mod.notes.controllers.routes.NotesLocker.selectFrom(tagSelect("system.plan", "public/template/plan"))");
}

function addEval() {
  selecting="eval";
  $("#info").text("Select an eval ...");
  showSelectModal("@mod.notes.controllers.routes.NotesLocker.selectFrom(tagSelect("system.eval", "public/template/eval"))");
//  $("#info").text("Evaluations are shared with the athlete");
  @*$("#extra").load("@mod.notes.controllers.routes.NotesLocker.embed("Evaluation", "feedback", "evaluation", "Evaluation", "")");*@
}

/** callback from Notes on note selected */
function noteSelected(nid) {
  $("#selectModal").modal('hide');

  if(selecting == 'plan' || selecting=='goal' || selecting=='eval') {
    var url ;

    $("#info").text("Now customize for the athlete...");
    if(selecting=='plan') {
      url = '@mod.notes.controllers.routes.NotesLocker.embed("Plan", "organize", "plan,long-term", "Plan", "NID")';
    } else if(selecting=='goal') {
      url = '@mod.notes.controllers.routes.NotesLocker.embed("Goal", "reach", "goal,long-term", "Goal", "NID")';
    } else if(selecting=='eval') {
      url = '@mod.notes.controllers.routes.NotesLocker.embed("Evaluation", "feedback", "eval", "Evaluation", "NID", true)';
    }
    $("#extra").load(url.replace(/NID/g, nid));
    selecting="";
  }
}

/** callback from Notes on note content submitted */
function noteAdded (noteId, context) {
  $.post(
    '/doe/4us/addNote?club=@club.map(_.name).mkString&noteid='+noteId+'&role='+context+'&rkid=@rk._id.toString',
    '',
    function(response) {
      console.log(response);

      if(response.indexOf("msg") == 1) {
      // todo deal with response codes
      } else {
      }

      setTimeout(function() {
        window.location.reload();
      }, 100);
  });
}

function deletePosts () {
  $.post('/doe/4us/deletePosts',
    '', function(response) {
    console.log(response);

    setTimeout(function() {
      window.location.reload();
    }, 100);
  });
}

function changeGrouped (element) {
  var settings = element.checked ? "grouped" : "";
  window.location = '@routes.Kidz.doeKidHistory(club.map(_.name).mkString, rk._id.toString, "")&settings='+settings;
}

function help() {
  $("#help").toggle();
}

function startNote(what) {
   popupContent("Select category:<br><br>"+
   '<a href="#" onclick="addNote(\'equipment\'); return false;">Equipment</a><br>' +
   '<a href="#" onclick="addNote(\'technical\'); return false;">Technical</a><br>' +
   '<a href="#" onclick="addNote(\'tactical\'); return false;">Tactical</a><br>'
   );
}

function addNote(tag) {
  $("#oneModal").modal('hide');
  $("#info").text("Note");
  $("#extra").load("@mod.notes.controllers.routes.NotesLocker.embed("Note", "message", "TAGG", "Note", "")".replace(/TAGG/, tag));
}
</script>


<div id="selectModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="max-height: 420px; overflow-y: auto;">
        <p>?</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    // clear modal contents on close
    $('#selectModal').on('hidden.bs.modal', function (e) {
        $("#selectModal > div > div > div.modal-body").html('...');
    })

  $("#selectModal").css("max-height", "");
  $("#selectModal").css("overflow-y", "");


   function showSelectModal(url)
    {
        $("#selectModal > div > div > div.modal-body").load(url);
        $("#selectModal").modal('show');
    }
</script>


@util.oneModal()


