@***
profile - username
***@
@(myForm: Form[_])(implicit request: controllers.RazRequest)

@import helper.twitterBootstrap._
@import play.api.i18n.Messages.Implicits._

@user.doePLayout(request.au.get, "Username", 4) {

  <div class="col-sm-9">
    <h2>Changing the username</h2>
    <p>
      The username is displayed whenever other users see your activity. You should not really change this except to choose one the first time.</p>
    <p>If you have sent anyone a link to your username, those links may not work anymore.</p>
    <p>If you're under 13, your parent may want you to choose an anonymous username</p>

    @helper.form(action = routes.EdUsername.doeProfileUname2, 'class -> "well") {
      @helper.inputText(
        myForm("currusername"),
        '_label -> "Current username",
        'readonly -> "yes",
        '_showConstraints -> false)
      @helper.inputText(
        myForm("newusername"),
        '_label -> "New Username",
        '_showConstraints -> false,
        '_error -> myForm.error("newusername"))
      @****
      <button type="submit" class="btn btn-primary">Change !</button>
      ****@
      <div class="alert alert-danger">
        <strong>Note!</strong>
        changing username is disabled for now!
      </div>

      @formErrors(myForm)

      @user.agree()

      }

  </div>
}
