@***
simple layout for profile and preference pages
***@
@(au: model.User, title: String, itemNo: Integer)(body: => play.twirl.api.Html)(implicit request:Request[_])

@htmlHead(title)(Map.empty, Some(au))
@navbar(Some(au))(Some(au), Some(request))

<div class="container">
  <div class="row">
    @user.leftmenu(itemNo, au)

    @body

  </div> <!-- /row -->
  <hr>
  @htmlFooter(ads = true)(new StateOk(Seq(), "", Some(au), Some(request)))
</div> <!-- /container -->

@htmlBottom(false)(new StateOk(Seq(), "", Some(au), Some(request)))
