@(myForm: Form[model.User], au:model.User)(implicit request: Request[_])

@htmlHeadBar("Profile", Some(au))
   
<div class="container">
  <div class="row">
  @leftmenu(1, au)

<div class="span4">

@import helper.twitterBootstrap._

@helper.form(action=routes.Profile.doeProfileUpdate(), 'class->"well") {
  @util.razText(myForm,"firstName", "First name")
  @util.razText(myForm,"lastName", "Last name")          
  @helper.select(
    myForm("userType"), 
     _root_.admin.Config.userTypes.map(x=>(x.toString,x.toString)),
     '_label -> "What you are",
    'readonly -> "no",
    '_showConstraints -> false)
  @helper.select(
    myForm("yob"), 
     (Range(2005, 1912, -1) map (y=>(y.toString,y.toString))),
    '_label -> "When you were born", 
    'style -> "width: 100px", 
    'readonly -> "no",
    '_showConstraints -> false)
  @util.razText(myForm,"address", "City, Prov/State, Country")
    
  <button type="submit" class="btn btn-primary">Update account!</button>
  
  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  } 
}
    </div>
     
    <div class="span4">
  
      <h2>Basic profile</h2>
<p>
<p>Your <b>name</b> is used when filling out registrations etc.
<p>The <b>role</b> is a default when registering to clubs - you can always play different roles for clubs.
<p>We use your <b>year of birth</b> to decide to require a parent account or not.
<p>The <b>city/state/country</b> is used in several places, to center dynamic maps, weather etc - please enter it properly to get a proper experience.
<p>You have the option to add more detailed contact information under <b>Contact info</b>.
  
    </div>
      
  </div> <!-- /row -->
  @user.agree()
  <hr>
  @htmlFooter(ads=true)
</div> <!-- /container -->
@htmlBottom()
    