@(au:model.User)

@salutation() = @{
  val names = Array("Hi", "Hello", "Hey", "Howdy")
  val i = new scala.util.Random().nextInt(names.length)
  names(i)
  }
  
@htmlHeadBar("", Some(au))
   
<div class="container">
  <div class="row">
  @leftmenu(0, au)

  <div class="span9">
        <h2>Profile and preferences</h2>
        
<p>&nbsp;<p>        

@if(au.isClub) {
  <a href="@routes.Club.doeClubRegs()" class="btn btn-large btn-info">Registrations</a>
  <a href="@routes.Kidz.doeUserKids" class="btn btn-large btn-info">Members/Racerz</a>
  <a href="@routes.Club.doeVol" class="btn btn-large btn-info">Volunteers</a>
} else {
  <a href="@routes.Kidz.doeUserKids" class="btn btn-large btn-info">People/Racerz</a>
  <a href="@routes.Club.doeClubUserRegs" class="btn btn-large btn-info">Registrations</a>
  @if(!au.profile.flatMap(_.consent).isDefined) {
    <a href="@routes.Profile.doeConsent()" class="btn btn-large btn-danger">Need Consent!</a>
  }
}

<p>&nbsp;<p>
<p>Most of the forms in here are pretty obvious, like changing the email, personal information etc.

<p><b>Basic profile</b> - contains basic information we need to know.
<p><b>Contact info</b> - detailed contact information, which is optional.
<p><b>Public profile</b> - is an optional public page that describes yourself.
<p><b>Password</b> - use to change password
<p><b>Username</b> - use to change Username
<p><b>Email</b> - use to change email
<p><b>Preferences</b> - use to change Preferences
<p><b>Registrations</b> - manage registrations and forms for club mbberships
<p><b>Tribes</b> - use to manage team memberships 
<p><b>Racerz</b> - household and children accounts on this website

</div> 


  </div> <!-- /row -->
  @user.agree()
  <hr>
  @htmlFooter(ads=true)
</div> <!-- /container -->

@htmlBottom()
    