@** select a theme for this session
**@
@(au:Option[model.User]=None)(implicit request:Request[_])
@import model.Website.realm

@htmlHead("Select a theme")(Map("description"->"Select a dark or light theme to browse this website."), au)
@navbar(au, realm)

<div class="container">
  <div class="well">
    <h2>Select a theme</h2>
<p class="lead">While we are convinced that it's a matter of time until the web will be dark, i.e. light-colored fonts on dark backgrounds,
we are big fans of "browsing the web the way you want".
<p>So go ahead, turn this entire site <strong>light</strong> or <strong>dark</strong>, as you wish...
<p>
&nbsp;&nbsp;&nbsp;
<p>
<a href="/doe/theme?css=dark" title="browse website with a dark theme">
  <img src="@routes.Assets.at("images/rk-dark.jpg")" class="img-rounded" alt="dark theme"/></a>
&nbsp;&nbsp;&nbsp;
<a href="/doe/theme?css=light" title="browse website with a dark theme">
  <img src="@routes.Assets.at("images/rk-light.jpg")" class="img-rounded" alt="light theme"/></a>
<p>
Note that this setting is temporary. If you want to make it permanent, get an account and set your preferences there!
<p>
Have fun!
  </div>
  <hr>
  @htmlFooter()
</div> <!-- /container -->
@htmlBottom()
