@(userId:String, rkid:String, role:String, associd:String, next:String, myForm: Form[_], au:model.User)
@import org.bson.types.ObjectId
@import controllers.RKU
@import util.razText
@import model.RK

@htmlHeadBar("Racer Kid", Some(au))

<div class="container"> <div class="row">
@user.leftmenu(6, au)

<div class="span4">

@if(role=="-") {
  <h2>Edit a person</h2>
} else {
  <h2>Add a person as @role</h2>
}

@relationships = @{
        if(au.isClub) Array(RK.ROLE_KID, RK.ROLE_COACH, RK.ROLE_SPOUSE, RK.ROLE_PARENT, RK.ROLE_MEMBER)
        else RK.RELATIONSHIPS
}


@import helper.twitterBootstrap._
@helper.form(action=routes.Kidz.doeKidUpdate(userId, rkid, role, associd, next), 'class->"well") {
  @razText(myForm, "fname",  "First Name")
  @razText(myForm, "lname",  "Last Name")
  @razText(myForm, "email",  "Email")

@helper.inputDate(
    myForm("dob"),
    '_label -> "Date of Birth",
    '_error->myForm.error("role"),
    '_showConstraints -> false)

  @helper.select(
    myForm("gender"),
     Seq( "M"->"Male", "F"->"Female"),
    '_label -> "Gender",
    '_error->myForm.error("gender"),
    '_showConstraints -> false)

  @helper.select(
    myForm("role"),
     relationships.map(x=> (x,x)),
    '_label -> "Relationship",
    '_showConstraints -> false)

  @helper.select(
    myForm("notifyParent"),
     Seq( "y"->"Yes", "n"->"No"),
    '_label -> "Notify parent",
    '_error->myForm.error("notifyParent"),
    '_showConstraints -> false)

@if(associd.length > 3) {
  @helper.select(
    myForm("assocRole"),
     model.RK.ROLES.map{r=>(r,r)},
    '_label -> "ROLE",
    '_error->myForm.error("assocRole"),
    '_showConstraints -> false)
} else {
  <input type="hidden" name="assocRole" value="@myForm("assocRole").value" />
}

@***
  @helper.select(
    myForm("status"),
     Seq("a"->"Active", "s"->"Suspended", "f" -> "Former"),
    '_label -> "Status",
    '_error->myForm.error("status"),
    '_showConstraints -> false)
***@
  <input type="hidden" name="status" value="@myForm("status").value" />

  <p>
@if(rkid.length > 2){
  @if(model.RacerKidz.findById(new ObjectId(rkid)).exists(_.rkiId.isDefined)) {
        @*** no update for myself or RK for Users ***@
    <button type="submit" class="btn btn-primary">Update Info</button>
  } else {
  Can't update this info right now... click here if you need to overwrite it:
    <a href="@routes.Kidz.doeKidOverride(userId, rkid, role, associd, next)" class="btn btn-danger">Override</a>
  }
} else {
  <button type="submit" class="btn btn-primary">Create</button>
}

@myForm.errors.map{err=>
  <p style="color:red;font-weight:bold">@err.message</p>
}

@myForm.globalError.map{err=>
     <p style="color:red;font-weight:bold">@err.message</p>
}

  <div class="alert alert-warning"><strong>Privacy!</strong> This information will be shared with the clubs you are a member of! </div>
  <p><small>By maintaining a profile, you agree to the <a href="@controllers.Wiki.w("Terms of Service")">Terms of Service</a></small><p>
}

      </div>

<div class="span4">

<h2>Create / update a RacerKid</h2>
<p>The racers associated to you.
<p>This information about your racers is shared with the clubs you belong to. The club administrators can help you kepe this up to date as well, by editing it... it may even have been created by the club administrator the first time you registered the racer.</p>
<p><b>Email</b> If provided, coaches messages and other notices are sent to this address. If the racer doesn't have one, leave empty and use the "notify parent" option.
<p>Do not provide the email if you don't want the person to be contacted by other club members like coaches, team managers etc.
<p>Other notifications include posting videos of a race or training session where the kid participated etc.
<p><b>Notify parent</b> Do you want to be notified about all messages sent to the racer by coaches etc?
<p><strong>Status=Former</strong> is for clubs manually managing their membership.


@rka = @{
        if (associd.length < 2) None
        else model.RacerKidz.findAssocById(associd)
}

@mc=@{
  for ((a,k) <- RKU(au).mergeCandidates(rka.get)) yield
    Map("fname"->k.info.firstName,
        "lname"->k.info.lastName,
        "role" -> a.role,
        "source" -> a.assoc,
        "associd" -> a._id.toString,
        "button"->k._id.toString,
        "merge"->a._id.toString)
}

@mnglink(row:Map[String,String],k:String,v:String)={
  @k match {
        case "button" => {
      <a href="@routes.Kidz.doeKid(au._id.toString, v, "-", row("associd"), "clubkidz")" class="btn btn-mini">More...</a>
      }
        case "merge" => {
      <a href="@routes.Club.doeMergeKid(row("associd"), associd)" class="btn btn-mini btn-info">MERGE</a>
      }
    case _ => { @v }
  }
}

</div>
  </div>

@if(associd.length > 3 && !RKU(au).mergeCandidates(rka.get).isEmpty) {
There are merge candidates:
@util.utilSimpleTable(mc,
        Seq("fname" -> "F.Name", "lname"->"L.Name", "role" -> "Role", "source" -> "Source", "button"->"Details", "merge" -> "Merge"), Some(mnglink))
}


  <hr>
  @htmlFooter(ads=true)
</div> <!-- /container -->
@htmlBottom()
