@(item:Int, user:model.User)

@active(i:Int) = @{
  if(i == item) "active" else ""
}

<div class="well span2"> 
  <ul class="nav nav-list">
    <li class="@active(0)"><a href="@routes.Profile.doeHelp"><i class="icon-question-sign"></i>Help</a></li>
    <li class="@active(1)"><a href="@routes.Profile.doeProfile"><i class="icon-edit"></i>Basic profile</a></li>
    <li class="@active(11)"><a href="@routes.Profile.doeContact"><i class="icon-pencil"></i>Contact info</a></li>
    <li class="@active(2)"><a href="@routes.Profile.publicProfile"><i class="icon-share"></i>Public page</a></li>
    <li class="@active(3)"><a href="@routes.Profile.doeProfilePass"><i class="icon-lock"></i>Password</a></li>
    <li class="@active(4)"><a href="@routes.EdUsername.doeProfileUname"><i class="icon-off"></i>Username</a></li>
    <li class="@active(5)"><a href="@routes.EdEmail.doeProfileEmail"><i class="icon-envelope"></i>Email</a></li>
    <li class="@active(8)"><a href="@routes.Profile.doeProfilePreferences"><i class="icon-cog"></i>Preferences</a></li>
@if(user.isClub) {
    <li class="@active(9)"><a href="@routes.Club.doeClubRegSettings"><i class="icon-list"></i>Setup</a></li>
    <hr>
    <li class="@active(7)"><a href="@routes.Club.doeClubRegs("")"><i class="icon-list"></i>Registrations</a></li>
    <li class="@active(6)"><a href="@routes.Club.doeClubKids"><i class="icon-user"></i>Members</a></li>
    <li class="@active(12)"><a href="@routes.Tribe.doeClubTribes"><i class="icon-list"></i>Tribes</a></li>
    <li class="@active(15)"><a href="@routes.Club.doeVol"><i class="icon-user"></i>Volunteers</a></li>
} 

@if(! user.isClub && user.hasRealm(model.Wikis.RK)) {
    <hr>
    <li class="@active(10)"><a href="@routes.Club.doeClubUserRegs"><i class="icon-list"></i>Registrations</a></li>
    <li class="@active(14)"><a href="@routes.Tribe.doeUserTribes"><i class="icon-list"></i>Tribes</a></li>
    <li class="@active(6)"><a href="@routes.Kidz.doeUserKids"><i class="icon-user"></i>Racerz</a></li>
    <ul>
      @for(c <- user.rel("child")) {
       <li><a href="@routes.Profile.profile2(c.id)">@c.ename</a></li>
      }
    </ul>
} 

@if(! user.isClub && user.hasRealm(model.Reactors.NOTES)) {
}

  </ul>
</div> <!-- /well -->

