@(user:model.User)

@salutation() = @{
  val names = Array("Hi", "Hello", "Hey", "Howdy")
  val i = new scala.util.Random().nextInt(names.length)
  names(i)
  }
  
@htmlHead()
@navbar(Some(user))
   
  <div class="span2">
    @leftmenu(0, user)
  </div>

    <div class="container span8">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="well">

      <div class="row">
        <div class="span9">
        <h2>Help with the profile</h2>

Most of the forms in here are pretty obvious, like changing the email, personal information etc.

      </div>
    </div>
  </div>

  <hr>
  @htmlFooter()

</div> <!-- /container -->

@htmlBottom()
    