@(club: String, rk: model.RacerKid, settings: String)(implicit stok: controllers.StateOk)
@import org.bson.types.ObjectId
@import controllers.RKU
@import util.razText
@import model.RK
@import razie.wiki.model.{WID, WikiEntry, Wikis}

@stok.title("athlete history")

@ccc(wid: WID, we: WikiEntry) = @{
  //    cdebug << "D"
  // this will use the preprocessed cache and just do MD format
  val x = Wikis.format(wid, we.markup, null, Some(we), stok.au)
  var y = try {
    if(x contains "CANNOT PARSE") {
      val PAT = """.*PARSE\]\] \[([0-9]+)\.([0-9]+)\].*""".r
      val PAT(line, col) = x
      val id = System.currentTimeMillis().toString
      s"""<div style="color:red;font-weight:bold;" title="Problem with your content: $x">
          <small>[[Check content below at Line:$line Position:$col]]
            <p>Sorry, dumb program here! The content is not lost: try editing this topic... also, please open a support issue and copy/paste there the content.
          </small></div><p></p>""".stripMargin +
          s"""
            <textarea id="$id" readonly="true" style="width:90%; margin-right:40px" rows="15">${we.included.lines.zipWithIndex.map(t => f"${t._2 + 1}%3s> ${t._1}").mkString("\n")}</textarea>
         """.stripMargin
    } else {
      Wikis.divLater(x)
    }
  } catch {
    case _: Throwable => x
  }
  //    cdebug << "E"

  y = razie.wiki.mods.WikiMods.modPostHtml(we, y)
  y = Wikis(wid.getRealm).applyTemplates(wid, y, "html")
  //    cdebug << "F"
  y
}

@paint(h: model.TFeedItem) = {
@if(h.kind == "Note") {
  @razie.wiki.model.Wikis.findById("Note", h.eId).map { we =>

    <div class="panel panel-info" style="border-radius : 9 px ; margin-bottom : 10 px;">
      <div class="panel-heading"
      style="pading:5px 5px; padding-top: 3px; padding-right: 5px; padding-bottom: 3px; padding-left: 5px;">
      <small>
        @we.crDtm.toString("YYYY-MM-dd hh:mm a").toLowerCase()
          [<a href="@mod.notes.controllers.routes.NotesLocker.noteById(we._id.toString)"><strong>Edit</strong>]</a>
        [<a href="@mod.notes.controllers.routes.NotesLocker.viewNoteById(we._id.toString)"><strong>View</strong></a>]
      </small>

      <div style="float : right ;">
        <small>Tags: <strong>
        @we.tags.map { x =>
          @x |
          @**
          @if(stok.tags find (_._1 == x) isEmpty ) {
          @x |
          } else {
          <a href="@mod.notes.controllers.routes.NotesLocker.tag(stok.tagPath(x))">@x</a> |
          }
          **@
        }
        </strong></small>
      </div>
      </div>

      <div class="panel-body" style="background-color: #eeeeee">
        <p>@Html(ccc(we.wid, we))</p>
      </div>

    </div>
  }
} else {
  @h
}
}

<h1>@rk.info.fullName</h1>

Quick info:
@if(rk.userId.isDefined) {has account} else {no account}

  <p>
  </p>

@if(settings contains "grouped") {
  <input type="checkbox" name="grouped" checked onchange="changeGrouped(this);"/> Grouped
} else {
  <input type="checkbox" name="grouped" onchange="changeGrouped(this);"/> Grouped
}
  | Add a: <a href="#" onclick="addNote();">Note</a>
  | <a href="#" onclick="addGoal()">Goal</a>
  | <a href="#" onclick="addPlan()">Plan</a>
  | <a href="#" onclick="addEval()">Evaluation</a>
<p>
</p>

<div id="extra"></div>

@defining(rk.history.items) { history =>
  @if(settings contains "grouped") {
    <p></p>Groups: @history.groupBy(_.role).map { g =>
      <a href="#@g._1">@g._1 <small>(s)</small></a> |
    }

    @history.groupBy(_.role).map { g =>
      <a name="@g._1"></a>

      <h2>@g._1 <small>(s)</small></h2>

    @g._2.map(paint)
      <hr>
    }
  } else {
    @history.map(paint)
  }
}

<script>
var selecting="";

function noteSelected(nid) {
  $("#oneModal").modal('hide');

  if("plan" == selecting) {
    var url = '@mod.notes.controllers.routes.NotesLocker.embed("Plan", "", "plan", "Plan", "NID")';
    $("#extra").load(url.replace(/NID/g, nid));
    selecting="";
  }
}

function addNote() {
  $("#extra").load("@mod.notes.controllers.routes.NotesLocker.embed("Note", "feedback", "", "Note", "")");
}
function addGoal() {
  $("#extra").load("@mod.notes.controllers.routes.NotesLocker.embed("Goal", "", "goal", "Goal", "")");
}

function addPlan() {
  selecting="plan";
  showModal("@mod.notes.controllers.routes.NotesLocker.selectFrom("cscf/template/plan/racer")");
}

function addEval() {
  $("#extra").load("@mod.notes.controllers.routes.NotesLocker.embed("Evaluation", "feedback", "evaluation", "Evaluation", "")");
}

function noteAdded (noteId, context) {
  $.post('/doe/4us/addNote?club=@club&noteid='+noteId+'&role='+context+'&rkid=@rk._id.toString',
    '', function(response) {
    console.log(response);
    if(response.indexOf("msg") == 1) {
    // todo deal with response codes
    } else {
    }
  });

  setTimeout(function() {
    window.location.reload();
  }, 100);
}

function changeGrouped (element) {
  var settings = element.checked ? "grouped" : "";
  window.location = '@routes.Kidz.doeKidHistory(club, rk._id.toString, "")&settings='+settings;
}
</script>



<div id="oneModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="max-height: 420px; overflow-y: auto;">
        <p>?</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    // clear modal contents on close
    $('#oneModal').on('hidden.bs.modal', function (e) {
        $("#oneModal > div > div > div.modal-body").html('...');
    })

  $("#oneModal").css("max-height", "");
  $("#oneModal").css("overflow-y", "");

//  newConfirm(dLab(msg),
//  dLab("[[Cancel]]"),
//  function(){cOn(0);},
//  dLab("[[Discard changes]]"),
//  function(){
//  clearLocalChange();
//  logout();
//  });


   function showModal(url)
    {
        $("#oneModal > div > div > div.modal-body").load(url);
        $("#oneModal").modal('show');
    }



  function newConfirm(msg, cancelMsg, onCancel, okMsg, onOk)
  {
  $("#confirmModal > div > div > div.modal-body > p").html(msg);
  $("#confirmModal > div > div > div.modal-footer > button.btn.btn-default").html(cancelMsg);
  $("#confirmModal > div > div > div.modal-footer > button.btn.btn-default").show();
  //        $("#confirmModal > div > div > div.modal-footer > button.btn.btn-default").click(onCancel);
  $("#confirmModal > div > div > div.modal-footer > button.btn.btn-primary").html(okMsg).unbind('click');
  $("#confirmModal > div > div > div.modal-footer > button.btn.btn-primary").html(okMsg).click(onOk);
  $("#confirmModal").modal('show');
  }

  function newConfirmNoYes(msg, onOk, onCancel)
  {
  $("#confirmModal > div > div > div.modal-body > p").html(msg);
  $("#confirmModal > div > div > div.modal-footer > button.btn.btn-default").html(dLab("[[No]]"));
  $("#confirmModal > div > div > div.modal-footer > button.btn.btn-default").show();
  $("#confirmModal > div > div > div.modal-footer > button.btn.btn-default").html(dLab("[[No]]")).unbind('click');
  $("#confirmModal > div > div > div.modal-footer > button.btn.btn-default").html(dLab("[[No]]")).click(onCancel);
  $("#confirmModal > div > div > div.modal-footer > button.btn.btn-primary").html(dLab("[[Yes]]")).unbind('click');
  $("#confirmModal > div > div > div.modal-footer > button.btn.btn-primary").html(dLab("[[Yes]]")).click(onOk);
  $("#confirmModal").modal('show');
  }
</script>



<div id="confirmModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Please confirm</h4>
      </div>
      <div class="modal-body" style="max-height: 420px; overflow-y: auto;">
        <p>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


