@*******
included in mainUserC as the right hand side info box
*********@
@(user: model.User, quiet:String, ui:controllers.UserStuff)
@import org.joda.time.DateTime
@import razie.RString._
@import controllers.XListWrapper
@import controllers.Wiki
@import razie.wiki.model.Wikis

@regs=@{
  val clubs = user.wikis.filter(_.uwid.cat=="Club").map(_.uwid.nameOrId)
  clubs.flatMap(c=>model.Regs.findClubUser(c, user._id)).filter(_.regStatus == model.RegStatus.PENDING)
}

  @if(user.tasks.size + regs.size > 0) {
    @if(quiet.contains("alert")) {
      <div class="alert alert-danger">
    }

    <b>Stuff to do</b>
    <ul>
    @for(t <- user.tasks) {
      <li><a style="color:red;font-weight:bold" href="/user/task/@t.name">@t.desc</a></li>
    }
    @for(t <- regs) {
      <li><a style="color:red;font-weight:bold" href="@routes.Club.doeClubUserReg(t._id.toString)">Pending registration forms for @t.clubName</a></li>
    }
    </ul>

    @if(quiet.contains("alert")) {
      </div>
    }
  } else {
    @if(!quiet.contains("true")) {
      <b>No tasks.</b>
    }
  }


