@(salutation:String, user: model.User, item:Int)

@*******
included in mainUserC as the left hand side info box 
*********@

<div class="span5">
<h2>@salutation, @user.ename!</h2>

@item match {
  case 2|3|4 => { @wiki.wikiFragInt("Admin:page-doeindex"+item, Some(user)) }
  case _     => { @wiki.wikiFragInt("Admin:page-doeindex1", Some(user)) }
}

  <hr>
  <p><a class="btn btn-primary" href="/wiki/Admin:Help Main Page">Learn more &raquo;</a>
  <a class="btn btn-inverse" href="@routes.UserStuff.doeCreateSomething">Create something &raquo;</a></p>
</div>
