@*******
included in mainUserC as the right hand side info box
*********@
@(user: model.User, item:Int, ui:controllers.UserStuff)
@import org.joda.time.DateTime
@import razie.RString._
@import controllers.XListWrapper
@import controllers.Wiki
@import razie.wiki.model.Wikis

@active(i:Int) = @{
  if(i == item) "active" else ""
}

@locs() = @{
  {user.events flatMap { _._5 \ "Venue" \@ "loc"}}.filter(! _.isEmpty).map(_.replaceFirst("ll:",""))
//  {controllers.UserStuff.xp(user, "Calendar") \ UserStuff.Race \ "Venue" \@ "loc"}.filter(! _.isEmpty).map(_.replaceFirst("ll:",""))
}

@evBefore() = @{
    user.events.filter(_._3.isBefore(DateTime.now))
}

@evAfter() = @{
    user.events.filter(_._3.isAfter(DateTime.now))
}

<div class="span6">
    <div class="well">

<ul class="nav nav-tabs">
  <li class="@active(1)"><a href="/doe/index/1">Calendar</a></li>
  <li class="@active(2)"><a href="/doe/index/2">Map</a></li>
  <li class="@active(3)"><a href="/doe/index/3">Blogs/Forums</a></li>
  <li class="@active(4)"><a href="/doe/index/4">Forms</a></li>
</ul>

@regs=@{
  val clubs = user.wikis.filter(_.uwid.cat=="Club").flatMap(w=>model.Users.findUserByUsername(w.uwid.nameOrId).toList)
  clubs.flatMap(c=>model.Regs.findClubUser(c, user._id)).filter(_.regStatus == model.RegStatus.PENDING)
}

@blogs=@{
  user.pages(Wikis.DFLT, "Blog", "Forum")
}

@item match {
  case 1 => {
    @if(user.tasks.size + regs.size > 0) {
      <b>Stuff to do</b>
      <ul>
      @for(t <- user.tasks) {
        <li><a style="color:red;font-weight:bold" href="/user/task/@t.name">@t.desc</a></li>
      }
      @for(t <- regs) {
        <li><a style="color:red;font-weight:bold" href="@routes.Club.doeClubUserReg(t._id.toString)">Pending registration forms for @t.clubName</a></li>
      }
      </ul>
    } else {
      <b>No tasks.</b>
    }
    <p>
    @if(evBefore.size>0) {
      <b>Recent events:</b>
      <ul>
      @for(t <- evBefore.takeRight(scala.math.max(3, 10-evAfter().size))) {
        <li>@Html(razie.wiki.model.Wikis.formatWikiLink(razie.wiki.model.Wikis.RK, t._1.wid,t._1.wid.name, t._2,Some(t._1.label))._1)
        @if(t._4.wid.name != null && t._4.wid.name.length>0) {
          at @Html(t._4.format._1)
        }
        </li>
      }
      </ul>
    } else {
    }
    <p>
    @if(evAfter.size>0) {
      <b>Coming up:</b>
      <ul>
      @for(t <- evAfter.take(math.max(7, 10-evBefore().size))) {
        <li>@Html(razie.wiki.model.Wikis.formatWikiLink(razie.wiki.model.Wikis.RK, t._1.wid,t._1.wid.name,t._2,Some(t._1.label))._1)
        @if(t._4.wid.name != null  && t._4.wid.name.length>0) {
          at @Html(t._4.format._1)
        }
        </li>
      }
    @if(evAfter.size>7) {
      <li>...</li>
    }
      </ul>
    } else {
     <b>Nothing coming up...</b>
    }

@*********
    <a href="http://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&sensor=false&@locs().map(x=>"markers=color:red|%s".format(x, x)).mkString("&")">map</a>
    <a href="http://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&@user.events.filter(_._3.isAfter(DateTime.now)).map(x=>(x._4, x._4.contentTags.get("loc"))).filter(_._2.isDefined).map(x=>"markers=color:red|label:%s|%s".format(x._1.label, x._1.contentTags.get("loc"))).mkString("&")">map</a>
********@
  }

case 2 => {

  @util.utilMap(
      (controllers.UserStuff.xp(Wikis.DFLT, user, "Calendar") \ UserStuff.Race \ "Venue").asInstanceOf[XListWrapper[_]],
      user.ll
      )
  }

case 3 => {

  Followed:
  @if(blogs.filter(_.role != "Owner").size>0) {
    (follow more <a class="btn btn-mini" href="/wikie/like/Forum">Forums &raquo;</a>
    <a class="btn btn-mini" href="/wikie/like/Blog">Blogs &raquo;</a>)</p>
    <ul>
    @for(w <- blogs.filter(_.role != "Owner")) {
      <li><a href="@controllers.Wiki.w(w.wid)">@razie.wiki.model.Wikis.label(w.wid)</a></li>
    }
  </ul>
  } else {
    (follow one now <a class="btn btn-mini" href="/wikie/like/Forum">Forum &raquo;</a>
    <a class="btn btn-mini" href="/wikie/like/Blog">Blog &raquo;</a>)</p>
  }
<p>
  Owned:
  @if(blogs.filter(_.role == "Owner").size>0) {
    (create more <a class="btn btn-mini" href="/wikie/create/Forum">Forums &raquo;</a>
    <a class="btn btn-mini" href="/wikie/create/Blog">Blogs &raquo;</a>)</p>
    <ul>
      @for(w <- blogs.filter(_.role == "Owner")) {
        <li><a href="@controllers.Wiki.w(w.wid)">@razie.wiki.model.Wikis.label(w.wid)</a></li>
      }
    </ul>
  } else {
    (create a <a class="btn btn-mini" href="/wikie/create/Forum">Forum &raquo;</a>
    <a class="btn btn-mini" href="/wikie/create/Blog">Blog &raquo;</a>)</p>
  }
}

case 4 => {

  Owned:
  @if(user.pages(Wikis.DFLT, "FormDesign").filter(_.role == "Owner").size>0) {
  <a class="btn btn-mini" href="/wikie/create/Note">Add &raquo;</a></p>
  <ul>
    @for(w <- user.pages(Wikis.DFLT, "FormDesign").filter(_.role == "Owner")) {
      <li><a href="@controllers.Wiki.w(w.wid)">@razie.wiki.model.Wikis.label(w.wid)</a></li>
    }
  </ul>
  } else {
    None
    <a class="btn btn-mini" href="/wikie/create/Note">Create one &raquo;</a></p>
  }
  }

}
            </div>
          </div>
