@(myForm: Form[_], user:model.User)

@salutation() = @{
  val names = Array("Hi", "Hello", "Hey", "Howdy")
  val i = new scala.util.Random().nextInt(names.length)
  names(i)
  }
  
@htmlHead()

@navbar(Some(user))
   
<div class="span2">
  @leftmenu(8, user)
</div>

<div class="container span8">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="well">

    <div class="row">
      <div class="span6">
      
        <h2>Changing the preferences</h2>
<p>These preferences do all kinds of things - check it out!</p>

@import helper.twitterBootstrap._

@helper.form(action=routes.Profile.doeUpdPrefs, 'class->"well") {
  @helper.select(
    myForm("css"), 
     Seq("dark"->"dark", "light"->"light"),
    '_label -> "Site appearance", 
    '_error->myForm.error("css"),
    '_showConstraints -> false)
  @helper.inputText(
    myForm("favQuote"), 
    '_label -> "Favorite quote", 
    '_error->myForm.error("favQuote"),
    '_showConstraints -> false,
    '_showConstraints -> false)
    
  <button type="submit" class="btn btn-primary">Update preferences !</button>
  
  @myForm.globalError.map {err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  } 
  
  <p><small>By maintaining a profile, you agree to the <a href="@controllers.Wiki.w("Terms of Service")">Terms of Service</a></small><p>
}

      </div>
    </div>
  </div>

  <hr>
  @htmlFooter()

</div> <!-- /container -->

@htmlBottom()
    