@*****************
Builds an embedable map given a list of topics
@parm xpres is the result of a wiki xp - all those topics better have a location {{loc:...}}, such as venues for a championsip's races
@parm center is (lat,long)
******************@

@import razie.wiki.Services
@(xpres:XListWrapper[_], center:(String,String))

@import org.joda.time.DateTime
@import razie.RString._
@import controllers.XListWrapper
@import controllers.WikiUtil

@locsj3() = @{
  val t = ("loc", "label", "name")
  val xx = (xpres \@- t).filter(! _._1.isEmpty)
  xx.map {venue =>
    println(venue)
    val ll = venue._1
    val (what,coord) = ll.split2(":")
    what match {
      case "ll" => {
        val (x,y) = coord.split2(",")
        """marker = new google.maps.Marker({
        position: new google.maps.LatLng(%s,%s),
        map: map,
        title:'%s',
        url:'%s'
      });
      google.maps.event.addListener(marker, 'click', function() {
        window.location.href = this.url;
      });""".format(x,y,venue._2, WikiUtil.w("Venue", venue._3, "rk"))
      }
      case "s" => {
        razie.wiki.util.Maps.latlong(ll).map {case (x,y) =>
        """marker = new google.maps.Marker({
        position: new google.maps.LatLng(%s,%s),
        map: map,
        title:'%s',
        url:'%s'
      });
      google.maps.event.addListener(marker, 'click', function() {
        window.location.href = this.url;
      }); """.format(x,y,venue._2, WikiUtil.w("Venue", venue._3, "rk"))}.getOrElse("")
      }
      case _ => {
        ""
      }
    }
  }
}

@centerCalc() = @{
  """new google.maps.LatLng(%s,%s)""".format(center._1,center._2)
}

    <script type="text/javascript" src="@Services.config.prop("wiki.googlemapsurl")"></script>
    <script type="text/javascript">
      var map;

      function initialize() {
        var mapDiv = document.getElementById("map_canvas");
        map = new google.maps.Map(mapDiv, {
          center: @centerCalc(),
          zoom: 7,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

      google.maps.event.addListenerOnce(map, 'tilesloaded', addMarkers);
      }

      function addMarkers() {
        var marker;
        @Html(locsj3().mkString)
      }
    </script>

    <div id="map_canvas" style="width: 100%; height: 350px; "></div>

    <script type="text/javascript">initialize();</script>
