@**************
the footer of every page...
**************@
@(ads:Boolean=false, isSite:Boolean=false)
@import _root_.admin.Config

<footer>
  <p>&copy; <a href="http://www.racerkidz.com">RacerKidz</a>, 2012
  | <a href="http://@_root_.admin.Config.hostport/doe/support">Support</a>
@if(isSite) {
  | <a href="http://@_root_.admin.Config.hostport/page/Hosted_Terms_of_Service">Terms of Service</a>
} else {
  | <a href="http://@_root_.admin.Config.hostport/wiki/Admin:Terms_of_Service">Terms of Service</a>

@***
      | <small>(<a href="/mobile/1">Mobile</a>
      | <a href="/mobile/0">Desktop</a>
      )</small>
***@

@***
      | <small>(<a href="javascript:cssref(dark)">Dark</a>
      | <a href="javascript:cssref(light)">Light</a>
      )</small>
***@

}
  </p>

@if(ads && ! (Config.noads || Config.currUser.exists(_.isUnder13))) {

  @if(Config.theme.contains("light")) {
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	  <!-- RK-bottom-light -->
      <ins class="adsbygoogle"
      style="display:inline-block;width:728px;height:90px"
      data-ad-client="ca-pub-5622141672958561"
      data-ad-slot="6461721220"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  } else {
    @Html(model.Ads.lederboard)
  }
}
</footer>
