@**************
list of pages, with links etc - result of a query of some kind
**************@
@import razie.tconf.FullSpecRef
@import views.html.wiki.wikiListTableAssets
@(title:String, search:String, curTags:String, pages:List[(FullSpecRef, String)], tags:model.Tags.Tags, tagPrefix:String="./", tagSuffix:String="", realm:String, showRealm:Boolean=false)(implicit stok: controllers.StateOk)
@import razie.wiki.model._

@stok.title("Results for: " + title + curTags)

@** stop robots from indexing duplicates of tag1/tag2 and tag2/tag1 **@
@if(curTags.split("/").size > 1) {
  @stok.meta("robots", "noindex, follow")
}

@highlight(s:String)={
  @if(search.length>1) {
    @Html(s.replaceAll(s"(?i)(${search.replaceAllLiterally("{", "\\{")})", "<b>$1</b>"))
  } else {
    @s
  }
}

@browseTag(t:String)={@tagPrefix@t@tagSuffix}

@label(s:String, wid:WID) = @{if(s.isEmpty) wid.name else s}

<div class="container">
  <div class="row">
    <div class="col-sm-9">

      <h3>
      @curTags match {
        case "recent" => {Organize <small>| recent notes</small>}
        case "none" => {Organize <small>| missing tags</small>}
        case "all" => {All notes...}
        case _ if search.length > 1 => {
          Search <small>| @search </small>
          @if(curTags.length>0) {
          | Tagged <small>@curTags.split("/").map {t=>
            |  <a class="" style="color:#757c82;" href="@browseTag(t)">@t</a>
          }
          }
        </small>
          }
        case _ => {
          Tagged <small>@curTags.split("/").map {t=>
            |  <a class="" style="color:#757c82;" href="@browseTag(t)">@t</a>
          }
          </small>
        }
          }

        @notes.notesmsg(Seq(("msg" -> ("Found "+pages.size.toString+" topics"))))

        </h3>

      <div class="well">
        @wikiListTableAssets(search, realm, curTags, pages, showRealm)

        </div>

      @if(stok.au.exists(_.isAdmin)) {
        <p>
          <a href="@routes.Wiki.analyze(search, curTags)">Analyze</a>
        </p>
      }

    </div> <!-- /col-sm-9 -->

    <div class="col-sm-3">
      @wiki.wikiFrag(WID("Admin","Right"),None,true, None)

      @tag.tagList(curTags, tags, 30, tagPrefix, tagSuffix)
    </div>

  </div> <!-- row -->

</div> <!-- /container -->



