@**************
extra html for wiki fragments, used in another page
 **************@
@(user:Option[model.User], page:Option[razie.wiki.model.WikiEntry]=None)(implicit stok:controllers.StateOk)
@import controllers.IgnoreErrors
@import mod.notes.controllers.NotesLocker
@import mod.notes.controllers.NotesLocker

@page.map {we=>

@if(we.contentProps.contains("module.reg") || we.props.contains("module:reg")) {
  @user.map {u=>

    <div id="modulereg">
      <span class="label label-default">Loading... </span>
    </div>

    <script async>
        require(['jquery'], function($){
          $("#modulereg").load("/doe/modrk/regs/WPATH".replace(/WPATH/, "@we.wid.wpath"));
        });
    </script>

    }.getOrElse {
    <p> @alert("blue"){<strong>Registration: </strong>you need to <strong>log in</strong> to register to this event }
    }
}

@if(page.exists(_.contentProps.contains("module.tma"))) {
  @user.map {u=>
    @views.html.tma.doeModTma(u, page.get)
    }.getOrElse {
    <p> @alert("blue"){<strong>TMA: </strong>you need to <strong>log in</strong> to get TMA benefits}
    }
}

@if(page.exists(_.contentProps.contains("module.note"))) {
  @views.html.notes.doeModNote(NotesLocker.NEWNOTENB, we, user)
}

@*** the styles required are also included in header ***@
@if(
  page.exists(p=>"""\{\{code[: ]+scala""".r.findFirstIn(p.included2).isDefined) ||
  page.exists(p=>"""```scala""".r.findFirstIn(p.included2).isDefined)
) {
   <script src="@routes.Assets.at("vendor/hiscala.js")"></script>
}

@if(page.exists(p=>
  """\{\{code[: ]js""".r.findFirstIn(p.included2).isDefined ||
  """\{\{code[: ]javascript""".r.findFirstIn(p.included2).isDefined ||
  """\{\{dsl\.""".r.findFirstIn(p.included2).isDefined ||
  """\{\{jsfiddle""".r.findFirstIn(p.included2).isDefined ||
  """\{\{fiddle[: ]js""".r.findFirstIn(p.included2).isDefined ||
  """```js""".r.findFirstIn(p.included2).isDefined
)) {
   <script src="@routes.Assets.at("vendor/hijs.js")"></script>
}

@if(page.exists(p=>
    """\{\{dfiddle""".r.findFirstIn(p.included2).isDefined ||
    """```diesel""".r.findFirstIn(p.included2).isDefined
  )) {
    <script src="@routes.Assets.at("vendor/hidiesel.js")"></script>
  }
}


