@***********
  add a member to a registration
***********@
@(kid:mod.snow.RacerKid, next:String, user:model.User, reg:mod.snow.Reg)(implicit stok:controllers.StateOk)

@import razie.diesel.dom.WikiDomain
@import mod.snow.RK
@import mod.snow.RegStatus._
@import razie.wiki.model.features.FormStatus._
@import mod.snow.RK._

@stok.title("Reg for " + stok.au.get.userName)

<h2>Adding @kid.info.firstName to registration for @reg.club.name</h2>

@roles()=@{
  WikiDomain(reg.club.getRealm).roles(reg.club.cat, "Person")
}

<hr>
<p>Will <b>@kid.info.firstName</b> be a:

@disabled(r:String)=@{
  if(reg.clubName == "Demo_Ski_Club" && r != RK.ROLE_RACER) "disabled" else ""
}

@if(reg.clubName == "Demo_Ski_Club") {
    @roles().filter(_ != RK.ROLE_FAN).map{r=>
      <a href="@routes.Club.doeClubUwAddFormKid(reg._id.toString,kid._id.toString, next, r)" class="btn btn-lg btn-info" @disabled(r) >@r</a>
    }
    <br><small>(for demo you can register as a Racer only)</small>
  } else {

@roles().filter(_ != RK.ROLE_FAN).map{r=>
  <a href="@routes.Club.doeClubUwAddFormKid(reg._id.toString,kid._id.toString, next, r)" class="btn btn-lg btn-info">@r</a>
}
  }

<p>Select one of the roles above. </p>
  <ul>
    <li><b>@RK.ROLE_RACER</b> - racer enroled in the program</li>
    <li><b>@RK.ROLE_COACH</b> - coach for the club</li>
    <li><b>@RK.ROLE_MEMBER</b> - member of the club: <b>parent</b>, official etc </li>
    <li><b>@RK.ROLE_GUEST</b> - masters racers and other guests that need to sign a waiver </li>
  </ul>

<hr>
<p>Some of these roles will automatically add more forms to complete for this registration, while some will not...
