@******
manage the volunteer hours by user himself
******@
@(reg: mod.snow.Reg, rkas: List[mod.snow.RacerKidAssoc], myForm: Form[_], club: controllers.Club)(implicit stok: controllers.StateOk)
@import mod.snow.VH
@import mod.snow.RacerKidz
@import mod.snow.RacerKidAssoc
@import org.bson.types.ObjectId
@import razie.wiki.model.WID

  @user = @{
    stok.au.get
  }

  @stok.title("Volunteer hours")

  @vols = @{
    for(
      rka <- rkas;
      vh <- RacerKidz.findVolByRkaId(rka._id.toString)) yield
      Map("rkaId" -> rka._id.toString,
        "who" -> rka.rk.get.info.ename,
        "hours" -> vh.hours.toString,
        "desc" -> vh.desc,
        "comment" -> vh.comment,
        "approved" -> vh.status,
        "delete" -> (if(vh.status == VH.ST_OK || club.curYear != reg.year) "" else vh._id.toString)
      )
  }

  @mnglink(row: Map[String, String], k: String, v: String) = {
  @k match {
    case "delete" => {
      @if(!v.isEmpty) {
        <a href="@routes.Vol.doeVolDelete(club.wid, reg._id.toString, v)" class="btn btn-xs btn-danger"> x </a>
      }
    }

    case _ => {
      @v
    }
  }
  }

  <h3>Current volunteer hour submissions</h3>

  @util.utilSimpleTable(vols.iterator,
    Seq("who" -> "Who", "hours" -> "Hours", "desc" -> "What", "comment" -> "Desc", "approved" -> "Ok", "delete" -> "Delete"), Some(mnglink))

  @import helper.twitterBootstrap._
  @import play.api.Play.current
  @import play.api.i18n.Messages.Implicits._
  @import util.razText

  @club.props.get("VolunteerMessage").map { m =>
    <div class="well">@m </div>
  }

  @if(club.curYear == reg.year) {
    @helper.form(action=routes.Vol.doeVolAdded(WID.empty, reg._id.toString), 'class -> "alert alert-info") {
      <h3>Submit more hours:</h3>
      <table>
        <tr>
          <td>
            @util.razSelect(myForm, "who", "Who",
            rkas.map { rka =>
              (rka._id.toString -> rka.rk.get.info.ename)
            }.toSeq,
            'class -> "input-small" )
          </td>
          <td>
            @util.razText(myForm, "hours", "Hours")
          </td>
          <td>
            @util.razSelect(myForm, "desc", "Category",
          club.volunteering.map { rka =>
            (rka -> rka)
          }.toSeq,
           'class -> "input-small" )
          </td>
          <td>
            @util.razSelect(myForm, "approver", "Approver",
          club.approvers.map { t =>
            (t._2 -> t._1)
          }.toSeq,
            'class -> "input-small" )
          </td>
        </tr>
      </table>
      <br>
      <label>Description (when, where, what)</label> <br>
      <textarea lines=3 cols=60 class="input-xlarge" name="comment"></textarea>
      <br>
      @formErrors(myForm)
      <button type="submit" class="btn btn-primary"> Submit hours </button>
    }
  }

@formFix()
