@******
manage the volunteer hours by club admin
******@
@import mod.snow.VolunteerH
@import mod.snow.RacerKidz
@(vhs:List[VolunteerH], user:model.User)(implicit stok:controllers.StateOk)
@import org.bson.types.ObjectId
@au=@{stok.au.get}

@stok.title("Approving volunteer hours")

@club(vol:VolunteerH) = @{
  val x = RacerKidz.findAssocById(vol.rkaId.toString).map(_.from).flatMap(model.Users.findUserById(_))
  x.filter(_.isClub).flatMap(u=>Club.apply(u.userName) )
}

@tos(t:String) =@{"to:" + t}

<h2>These are the volunteer hour requests</h2>

@vhs.map{vh=>

<b> @mod.snow.RacerKidz.findAssocById(vh.rkaId.toString).get.rk.get.info.fullName </b>

wants
     @vh.hours.toString hours
for
   @vh.desc

  <a href="@routes.Vol.doeVolApprove(vh._id.toString, "y").toString" class="btn btn-xs btn-success">Approve</a>
  <a href="@routes.Vol.doeVolApprove(vh._id.toString, "n").toString" class="btn btn-xs btn-danger">Reject</a>

<p>

  submitted on (@vh.crDtm.toString("yyyy-MM-dd"))
<br>
    @vh.comment

    <p>
    @club(vh).map{c=>
        or reassign to:
        @c.approvers.map { t =>
            <a href="@routes.Vol.doeVolApprove(vh._id.toString, tos(t._2)).toString" class="btn btn-xs btn-info">@t._1</a>
}
}

<hr>
}

  <p><small>By maintaining a profile, you agree to the <a href="@controllers.Wiki.w("Terms of Service")">Terms of Service</a></small><p>

