@(myForm: Form[(String, Int, String, String)], user:model.User)

@htmlHeadBar("", Some(user))

<div class="container">
      <div class="row">

    @views.html.user.leftmenu(9, user)

        <div class="col-sm-9">

<h2>Registration settings</h2>
<p>
<div class="alert alert-danger">
<strong>Careful</strong> changing these... you may screw up the current registration year...
</div>

@import helper.twitterBootstrap._

@helper.form(action=routes.Club.doeClubUpdateRegSettings(), 'class->"well") {
  @helper.select(
    myForm("regType"),
     Seq("None"->"None", "Family"->"Family", "Individual"->"Individual", "FamilyWithKids"->"FamilyWithKids"),
     '_label -> "What kind of registration process",
    '_showConstraints -> false)
  @helper.select(
    myForm("curYear"),
     Range(2021, 2012, -1) map (y=>(y.toString,y.toString)),
    '_label -> "Year for current registration process",
    'style -> "width: 100px",
    '_showConstraints -> false)
  @helper.inputText(
    myForm("regAdmin"),
    '_label -> "Registration moderator's email",
    '_showConstraints -> false)
  @helper.textarea(
    myForm("dsl"),
    '_label -> "Settings (role=WID)",
    'class -> "col-sm-6",
    'rows -> 20,
    '_showConstraints -> false)

  <button type="submit" class="btn btn-primary">Update account!</button>

  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  }
}
      </div>
    </div>

  <p><small>By maintaining a profile, you agree to the <a href="@controllers.Wiki.w("Terms of Service")">Terms of Service</a></small><p>

  <hr>
  @htmlFooter(ads=true)
</div> <!-- /container -->
@htmlBottom()
