@******
manage the list of kidz and/or their accounts
******@
@(clubName: String)(implicit stok:controllers.StateOk)
@import mod.snow.RacerKid
@import mod.snow.RK._
@import mod.snow.RK
@import _root_.controllers.Club

  @user=@{stok.au.get}
  @stok.title("Start registration for " + user.userName)

  @prevReg = @{
    Club(clubName).flatMap(c => mod.snow.Regs.findClubUser(c.name, user._id).toList.sortBy(_.year).reverse.headOption)
  }

        @if(!Club(clubName).exists(_.isRegOpen)) {

          <div class="alert alert-danger">
            <p>Registration for <strong>@clubName</strong> is not open yet!</p>
          </div>
        } else {
          <div class="well">
          @prevReg.map { reg =>
          <p>We found a previous year's registration for you (@reg.year) - you should copy all those forms to this year and just update them: </p>
          <p><a href="@routes.Club.doeStartRegCopy(clubName, reg._id.toString)" class="btn btn-lg btn-success">Copy previous year's registration!</a>
          </div>

          <hr>

          <p>OR - start again from scratch - see below</p>

          <div class="alert alert-danger">
            <strong>Starting over again!</strong>
            If you choose the options <strong>below</strong>
            , you will have to type all the information in all the forms, again.
            Choosing the option <strong>above</strong>
            will re-use the information you have in the previous year's registration forms.
          </div>
          <hr>
          <div class="well">
            <h2>Starting registration for @clubName <span style="color : red">from scratch</span> !</h2>
            }.getOrElse{
            <p>No registration from previous years found - please start a new set of forms below.
          <hr>
            <div class="well">
              <h2>Starting registration for @clubName !</h2>
              }


            <p>
              You can start the registration process: choose one of the two options below. Note that you can only choose one option per year per club.

          <h2>Option 1: Registering kids</h2>

            <p>If you are registering a family with <b>kids</b>
              , use this option. Even if you're a parent coach, you should use this option.
            <p><a href="@routes.Club.doeStartReg(clubName, "Family")" class="btn btn-lg btn-success">
              Start Family Registration!</a>

          <hr>

            <h2>Option 2: Registering staff</h2>

            <p>If you are NOT registering any kids, you are an individual such as a coach, official etc - start below:
            <p><a href="@routes.Club.doeStartReg(clubName, "individual")" class="btn btn-lg btn-warning">
              Start Individual Registration!</a>

          <hr>

            <h2>Option 3: no registration needed</h2>

            <p>If you don't need a registration (your parents will do it etc), just click below to remove this task:
            <p><a href="@routes.Club.doeStartReg(clubName, "None")" class="btn btn-lg btn-info">
              No registration for me!</a>
          </div>
          }
</div>

