@******
club admin manages user: membership, regsitration etc
******@
@(club:controllers.Club, myForm: Form[(String, String, String)], uw:model.UserWiki, ireg:Option[mod.snow.Reg]=None)(implicit stok:controllers.StateOk)
@import mod.snow.{RK, Regs, RegStatus, RacerKidz}
@import mod.snow.RegStatus._
@import razie.wiki.model.features.FormStatus._
@import mod.snow.RK._
@import controllers.Club

@how() = @{
  razie.wiki.model.Wikis.category("Club").flatMap(_.contentProps.get("roles:"+"User")) match {
    case Some(s) => {
      s.split(",").filter(x => ! Array("Owner","Admin").contains(x)).map(x=>(x,x)).toSeq
    }
    case None => {
      razie.wiki.model.Wikis.rk.pageNames("Link").map(x=>(x,x)).toList
    }
  }
}

@regs() = @{uw.user.toList.flatMap(u=>Regs.findClubUser(club.wid, u._id)).toList.filter(_.year == club.curYear)}
@reg() = @{ireg orElse uw.user.flatMap(u=>club.reg(u))}

@uname() = @{uw.user.map(u=>s"${u.userName} (${u.lastName}, ${u.firstName})").getOrElse("")}

@formActions(w:razie.wiki.model.WID, seq:Integer) = {
  <a href="@routes.Club.doeClubUwRmFormSeq(reg.map(_._id).mkString,"x",uw._id.toString, seq)" class="btn btn-xs btn-danger" title="remove from registration"> x </a>
}

@stok.title("Member " + uname())

  <h2>Manage user @uname()</h2>
  <p>Membership, registration, tribes etc

@import helper.twitterBootstrap._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

  <div class="well "> @** form **@
<table><tr><td>
  <strong>Membership</strong>

@helper.form(action=routes.Club.doeClubMemberUpdate(club.wid, uw._id.toString), 'class->"well") {
  @helper.select(
    myForm("role"),
     how(),
     '_label -> "Change role here",
    '_showConstraints -> false)
  @helper.inputText(
    myForm("regStatus"),
    '_label -> "Registration status",
    'readOnly -> true,
    '_showConstraints -> false)

  Payable: <b>@reg.map(_.fee()).mkString</b>

  @helper.inputText(
    myForm("paid"),
    '_label -> "Amount paid",
    '_showConstraints -> false)

  <button type="submit" class="btn btn-primary">Update membership!</button>

  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  }
}

@prevReg=@{
  Regs.findClubUser(club.wid, uw.userId).filter(_.regStatus != RegStatus.FAMILY).toList.sortBy(_.year).reverse.headOption
}

</td><td>
  <strong>Registration</strong>
  <p> Status: @regStatusColored(reg.map(_.regStatus).getOrElse("n/a"))
  @if(regs().size > 1) {
    <span style="color:red"> OOPS - MORE REGS for the same year</span>
  }
  <p> To start a registration for a member, then <strong>1-Expire</strong> the current registration, then <strong>Add Family</strong> the required Family forms below, then <strong>2-Start</strong>, which
  will also send an email to the member.
  <p>
  @prevReg.map{reg=>
    <a href="@routes.Club.doeClubUwRegstatusupd(club.wid, uw._id.toString, EXPIRED)" class="btn btn-danger" title="START new registration from scratch!">
    1 - Expired (NEW)</a>
    <a href="@routes.Club.doeStartRegCopy(club.wid, reg._id.toString)" class="btn btn-warning" title="COPY previous year's registration!">
    1 - Expired (COPY)</a>
  }.getOrElse{
    <a href="@routes.Club.doeClubUwRegstatusupd(club.wid, uw._id.toString, EXPIRED)" class="btn btn-warning" title="START new registration from scratch!">
    1 - Expired (NEW)</a>
  }
  <a href="@routes.Club.doeClubUwRegstatusupd(club.wid, uw._id.toString, PENDING)" class="btn btn-warning" title="send email for member to start the forms">
    2 - Start</a>
  <p>
  These buttons are used to change the status of the registration - see the legend of statuses at the bottom of this page.
  <p>
  <a href="@routes.Club.doeClubUwRegstatusupd(club.wid, uw._id.toString, FAMILY)"  class="btn btn-info">Reg - Family</a>
  <a href="@routes.Club.doeClubUwRegstatusupd(club.wid, uw._id.toString, ACCEPTED)" class="btn btn-success">Reg - Accepted</a>
  <a href="@routes.Club.doeClubUwRegstatusupd(club.wid, uw._id.toString, CURRENT)" class="btn btn-success">Reg - Current</a>
  <p><p><br>Careful:
  @util.confirm(
        "Delete Registration",
        "This will delete this registration, all its kids and all related forms, completed or not",
        routes.Club.doeClubUwRegstatusupd(club.wid, uw._id.toString, "delete").toString,
        "btn btn-danger"
        )
  @if(uw.user.exists(_.tasks.exists(_.name == model.UserTasks.START_REGISTRATION))) {
    <a href="@routes.Club.doeCreateRegTask(uw._id.toString, club.wid)" class="btn btn-success disabled" title="Create a task for the user to start registration!">Create Reg Task</a>
  } else {
    <a href="@routes.Club.doeCreateRegTask(uw._id.toString, club.wid)" class="btn btn-success" title="Create a task for the user to start registration!">Create Reg Task</a>
  }


</td></tr></table>
</div> <!-- /well -->
<div class="well">
  <strong>List of Racers/members </strong>

  @RacerKidz.checkMyself(uw.userId)

@rks=@{
  mod.snow.RacerKidz.findAssocForUser(uw.userId).map(x=>(x,x.rk.get)).map(t=>
    Map("fname"->t._2.info.firstName,
        "lname"->t._2.info.lastName,
        "role" -> t._2.info.role,
        "button"->t._2._id.toString,
        "associd"->t._1._id.toString,
        "id" -> t._2._id.toString))
}

@mnglink(row:Map[String,String],k:String,v:String)={
  @k match {
        case "button" => {
      <a href="@routes.Kidz.doeUserKid(uw.userId.toString, v, "-", row("associd"), "Club:"+club.name)" class="btn btn-xs">...</a>
      }
        case "id" => {
      @if(reg.exists(_.kids.exists(_.rkId.toString == v))) {
            <span class="label">Included</span>
        as @reg.toList.flatMap(_.kids).filter(_.rkId.toString == v).map(_.role).mkString
        <a href="@routes.Club.doeClubUwRmFormKid(reg.map(_._id).mkString,v,uw._id.toString, "x")" class="btn btn-xs btn-danger" title="remove from registration"> x </a>
      } else {
      @reg.map{r=>
          <a href="@routes.Club.doeClubUserRegAdd(r._id.toString,v,uw.user.get._id.toString, uw._id.toString)" class="btn btn-xs" title="also adds neccessary forms">Register</a>
@***
        @if(row("role") == ROLE_RACER) {
        <a href="@routes.Club.doeClubUwAddFormKid(r._id.toString,v,uw._id.toString, "Racer")" class="btn btn-xs">x</a>
          } else {
          <a href="@routes.Club.doeClubUserRegAdd(r._id.toString,v,uw.user.get._id.toString, uw._id.toString)" class="btn btn-xs">Register</a>
          }
***@
        }.getOrElse{
        n/a
        }
          }
      }
    case _ => {@v}
  }
}

@util.utilSimpleTable(rks, Seq("fname" -> "F.Name", "lname"->"L.Name", "role" -> "Relationship", "button"->"Details", "id" -> "Registration"), Some(mnglink))

Add a: @mod.snow.RK.RELATIONSHIPS.map{r=>
  <a href="@routes.Kidz.doeUserKid(uw.userId.toString, "11", r, "-", "Club:"+club.wid.wpath)" class="btn btn-xs btn-info">@r</a>
}

</div> @*** reg ***@

<hr>

  @reg.map { r =>
    @views.html.club.userFormList(r.deprecatedWids, true, None, Some(formActions))
    }

<hr>

<table><tr><td width="30%">
  <br>Additional forms:<br>
    @club.regForms.map { t =>
    <p>&nbsp;&nbsp;&nbsp;<a href="@routes.Club.doeClubUwAddForm(club.wid, uw._id.toString, t.role)" class="btn btn-default btn-lg">Add @t.role</a>
    }
  </ul>
</td><td>
You should only add the Family forms from here.
<p>
For all other forms, you should use the "family members not registered table" because otherwise we loose the connection between a medical form and the racer it is for, for example.
<p>So, when the racer is assigned to a team, we cannot show the coach his or her medical form...
</td></tr></table>

<hr>

<div class="well">
@helper.form(action=routes.Club.doeClubRegMsg(club.wid, uw._id.toString), 'class->"form-inline") {
  <label>Help message</label>
  <br><textarea rows="5" class="col-sm-4" name="msg" placeholder="Message"></textarea>
  <button type="submit" class="btn btn-xs btn-primary">Send now!</button>
}
</div>
<hr>
  @views.html.club.regStatusLegend()
  @views.html.club.formStatusLegend()
