@***********
  add a member to a registration
***********@
@(kid:model.RacerKid, next:String, user:model.User, reg:model.Reg)(implicit stok:controllers.StateOk)
@import model.RegStatus._
@import razie.wiki.model.FormStatus._
@import model.RK._

@htmlHeadBar("Reg for " + user.userName, Some(user))

<div class="container">
<div class="row">
  @views.html.user.leftmenu(10, user)

<div class="col-sm-9">

<h2>Adding @kid.info.firstName to club @reg.clubName</h2>

<hr>
<p>Will <b>@kid.info.firstName</b> be a:

@model.RK.ROLES.filter(_ != model.RK.ROLE_FAN).map{r=>
  <a href="@routes.Club.doeClubUwAddFormKid(reg._id.toString,kid._id.toString, next, r)" class="btn btn-lg btn-info">@r</a>
}
<p>Select one of the roles above. </p>
  <ul>
    <li>@model.RK.ROLE_MEMBER - member of the club: parent, official etc </li>
    <li>@model.RK.ROLE_COACH - coach </li>
    <li>@model.RK.ROLE_RACER - racer </li>
  </ul>

<hr>
<p>Some of these roles will automatically add more forms to complete for this registration, while some will not...

  <hr>
  @htmlFooter()
  </div> <!-- /container -->
  </div> <!-- /container -->
  </div> <!-- /container -->

@htmlBottom()

