@******
club admin manages user: membership, regsitration etc
******@
@(myForm: Form[_], tribe:model.Tribe, club:model.User)
@import model.RegStatus._
@import model.FormStatus._
@import com.mongodb.casbah.Imports._

@how() = @{
//  model.Wikis.category("Club").flatMap(_.contentTags.get("roles:"+"User")) match {
//    case Some(s) => {
//	s.split(",").filter(x => ! Array("Owner","Admin").contains(x)).map(x=>(x,x)).toSeq
//    }
//    case None => {
//	model.Wikis.pageNames("Link").map(x=>(x,x)).toList
//    }
//  }

  List("Team", "Executive", "Admin", "Coaches").map(x=>(x,x))
}

@htmlHeadBar("Tribe "+tribe.name, Option(club))

<div class="container"> <div class="row">
@views.html.user.leftmenu(13, club)

<div class="span9">

<h2>Manage tribe @tribe.name</h2>
<br>
<strong>Members:</strong>

@rkidzin=@{
  model.RacerKidz.findByClub(controllers.Club(club)).filter{x=> tribe.has(x._id)}.map(t=>
    Map("fname"->t.info.firstName,
	"role" -> tribe.kidz.find(_.rkId==t._id).map(_.role).mkString,
	"id"->t._id.toString))
}

  @rmlink(row:Map[String,String],k:String,v:String)={
  @k match {
	case "id" => {
      @if(tribe.has(new ObjectId(v))) {
	<a href="@routes.Tribe.doeClubRemoveKid(tribe.page._id.toString,v,v)" class="btn btn-mini btn-warn">Remove</a>
      } else {
	  }
	}
    case _ => {@v}
  }
}

@util.utilSimpleTable(rkidzin, Seq("fname" -> "Name", "role" -> "Role", "id"->"Included?"), Some(rmlink))


@***
<div class="well">
<strong>Details:</strong>

@import helper.twitterBootstrap._

@helper.form(action=routes.Tribe.doeClubTribeUpdate(tribe.wid.wpath), 'class->"well") {
  @helper.inputText(
    myForm("name"),
    '_label -> "A simple internal code/name",
    '_showConstraints -> false)

  @helper.inputText(
    myForm("label"),
    '_label -> "Fancy name for display",
    '_showConstraints -> false)

  @helper.inputText(
    myForm("year"),
    '_label -> "Year",
    '_showConstraints -> false)

  @helper.inputText(
    myForm("desc"),
    '_label -> "Description",
    '_showConstraints -> false)

  @helper.select(
    myForm("role"),
     how(),
     '_label -> "Change role here",
    '_showConstraints -> false)

  <button type="submit" class="btn btn-primary">Update tribe!</button>

<hr>

  @myForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  }
}
  </div>
***@

<hr>

<p>Add more Members:

@List("Racer", "Coach", "Manager").map{h=>
<a href="@routes.Tribe.doeTribeAddHow(tribe.page._id.toString,h)" class="btn btn-large btn-info">@h</a>
}

</div>
</div> <!-- /row -->
  <hr>
  @htmlFooter(ads=true)
</div> <!-- /container -->
@htmlBottom()
