@******
manage the volunteer hours by club admin
******@
@(user:model.User, rks:List[(model.RacerKid, model.RacerKidAssoc)], regs:List[model.Reg])
@import model.RK._

@htmlHeadBar("Volunteer hours for " + user.userName, Option(user))

@rksactive=@{
  for ((t,a) <- rks if(t.info.status != STATUS_FORMER)) yield
    Map("fname"->t.info.firstName,
        "lname"->t.info.lastName,
        "role" -> a.role,
        "source" -> a.assoc,
        "hours" -> a.hours.toString,
        "family" -> controllers.Club.volFamily(t, rks, regs),
        "button"->a._id.toString)
}

@mnglink(row:Map[String,String],k:String,v:String)={
  @k match {
        case "button" => {
      <a href="@routes.Club.doeVolAdd(v)" class="btn btn-mini">Add...</a>
      }
    case _ => { @v }
  }
}

<div class="container">
<div class="row">
@views.html.user.leftmenu(15, user)

<div class="span9">

<h2>Kidz and member info from all over the place @user.firstName</h2>

@model.RacerKidz.checkMyself(user._id)
<br>
<p>Some records are created by their parents (see the "Source"). For those that did not register online, you can create records here, for team management etc.

@util.utilSimpleTable(rksactive.iterator,
        Seq("fname" -> "F.Name",
                "lname"->"L.Name",
                "role" -> "Role",
                "source" -> "Source",
                "hours" -> "Hours",
                "family" -> "Family",
                "button"->"Add more"), Some(mnglink))

Add a:
<a href="@routes.Kidz.doeKid(user._id.toString, "11", ROLE_RACER, "-", "clubkidz")" class="btn btn-mini btn-info">@ROLE_RACER</a>
<a href="@routes.Kidz.doeKid(user._id.toString, "11", ROLE_SPOUSE, "-", "clubkidz")" class="btn btn-mini btn-info">@ROLE_SPOUSE</a>
<a href="@routes.Kidz.doeKid(user._id.toString, "11", ROLE_MEMBER, "-", "clubkidz")" class="btn btn-mini btn-info">@ROLE_MEMBER</a>

<hr>
Source is
<ul>
<li>Myself - well, automatically created for you
<li>Registered - was included in a registration, by parents
<li>Parent - record was created here... we are the "parent"
</ul>
<hr>
</div>
</div>
  <hr>
  @htmlFooter(ads=true)
</div> <!-- /container -->

@htmlBottom()
