@******
manage the list of kidz and/or their accounts
******@
@(club:controllers.Club, role:String, team:razie.wiki.model.WID)(implicit stok:controllers.StateOk)
@import mod.snow.RK
@import mod.snow.{RacerKidAssoc, RacerKid}
@import mod.snow.RK._
@import razie.wiki.model.Wikis
@import mod.snow.RacerKidz

@stok.title("RacerKidz for " + club.name + " / " + team.name)

@rks= @{
  club.teamMembers(team, role)
}

@rksactive = @{rksmap((k,a)=> k.info.status != STATUS_FORMER && a.role != ROLE_FAN)}

@rksmap(f:(RacerKid, RacerKidAssoc) =>Boolean) = @{
  for ((k,a) <- rks if(f(k, a))) yield
    Map("rkaid"->a._id.toString,
        "fname"->k.info.firstName,
        "lname"->k.info.lastName,
        "role" -> a.role,
        "associd" -> a._id.toString,
      "notes"->k._id.toString,
        "details"->k._id.toString)
}

@mnglink(row:Map[String,String],k:String,v:String)={
  @k match {
    case "details" => {
      <a href="@routes.Kidz.doeUserKid(stok.au.get._id.toString, v, "-", row("associd"), "clubkidz:"+club.wid.wpath)" class="btn btn-default btn-xs">&nbsp;&nbsp;<span class="glyphicon glyphicon-list-alt"/>&nbsp;&nbsp;</a>
    }
    case "notes" => {
      <a href="@routes.Kidz.doeKidHistory(club.wid.wpath, v)" class="btn btn-info btn-xs">&nbsp;&nbsp;<span class="glyphicon glyphicon-th-list"/>&nbsp;&nbsp;</a>
    }
    case _ => { @v }
  }
}

@defining(club.activeTeamMembers(team, role)) {list=>
@if(list.isEmpty) {
  <h2>No members...</h2>
} else {
  <h2>Members of @team.name</h2>

  <p><b>Summary:</b>
    @rks.filter(t=> t._1.info.status != STATUS_FORMER && t._2.role != ROLE_FAN).toList.groupBy(_._2.role).map {x=>
      @x._2.size <small>x</small> @x._1  ;
    }

  @util.utilSimpleTable(rksactive.iterator,
    Seq("fname" -> "F.Name", "lname"->"L.Name", "role" -> "Role", "details"->"Details", "notes"->"History"), Some(mnglink))

  }

  @if(club.isClubCoach(stok.au.get)) {
    <button onclick="sendNote()" class="btn btn-success">Message to all <span id="msgbtn" class="glyphicon glyphicon-chevron-down"></span></button>
    <button id="sendnow" onclick="sendNow()" class="btn btn-info">Send</button>
    <br>
    <textarea id="msgall" rows="5" cols="80"></textarea>
  }
}

@formFix()

<script>
$("#msgall,#sendnow").hide();

function sendNote() {
  if($("#msgall").is(":visible")) {
    $("#msgbtn").removeClass("glyphicon-chevron-up");
    $("#msgbtn").addClass("glyphicon-chevron-down");
    $("#msgall,#sendnow").fadeOut(500);
  } else {
    $("#msgbtn").removeClass("glyphicon-chevron-down");
    $("#msgbtn").addClass("glyphicon-chevron-up");
    $("#msgall,#sendnow").fadeIn(500);
  }
}

function sendNow() {
  var content = $("#msgall").val();
  var url = "@mod.snow.routes.Snow.doeSendMsgTeam("MID", "memo")".replace(/MID/g, '@team.wpath');
  $.ajax({
    type: "POST",
    url:  url,
    data: $.param({
      content : content
    }),
    contentType: 'application/x-www-form-urlencoded',
    success: function(data) {
      notesMsgShow("err", "Can't post: "+result.statusText)
    },
    error: function(result) {
      console.log("ERROR: Can't postmsgall: "+result.responseText)
      notesMsgShow("err", "Can't post: "+result.statusText)
    }
  });

  $("#msgbtn").removeClass("glyphicon-chevron-up");
  $("#msgbtn").addClass("glyphicon-chevron-down");
  $("#msgall,#sendnow").fadeOut(500);
}
</script>


