@******
manage the volunteer hours by club admin
******@
@import mod.snow.RacerKid
@import mod.snow.RacerKidAssoc
@import mod.snow.RacerKidz
@(club: controllers.Club, rkaid: String, rka: RacerKidAssoc, myForm: Form[_], user: model.User)(implicit stok: controllers.StateOk)
@import org.bson.types.ObjectId
@import razie.db.RMongo.as
@import controllers.Club

@stok.title("Volunteer hours")

<b>Total: @rka.hours hours @rka.to.as[RacerKid].map @{ r => "for " + r.info.firstName + r.info.lastName }

  @vols = @{
    for(vh <- RacerKidz.findVolByRkaId(rkaid)) yield
      Map("hours" -> vh.hours.toString,
        "desc" -> vh.desc,
        "when" -> vh.crDtm.toString("dd-MM"),
        "delete" -> vh._id.toString
      )
  }

  @mnglink(row: Map[String, String], k: String, v: String) = {
  @k match {
    case "delete" => {
      <a href="@routes.Vol.doeVolDelete(club.wid, rkaid, v)" class="btn btn-xs btn-danger"> x </a>
    }
    case _ => {
      @v
    }
  }
  }

  @util.utilSimpleTable(vols,
    Seq("hours" -> "Hours", "when" -> "When", "desc" -> "Why", "delete" -> "Delete"), Some(mnglink))


  @import helper.twitterBootstrap._
  @import play.api.Play.current
  @import play.api.i18n.Messages.Implicits._
  @import util.razText

  @helper.form(action = routes.Vol.doeVolAdded(club.wid, rkaid), 'class -> "alert alert-info form-inline") {
    Add more hours:

    <label>Hours</label>
    <input type="text" class="input-small" name="who" hidden value="@rkaid">
    <input type="text" class="input-small" name="comment" hidden value="">
    <input type="text" class="input-small" name="approver" hidden value="">

    @util.razText(myForm, "hours", "Hours")

    @util.razSelect(myForm, "desc", "Category",
      club.volunteering.map { rka =>
        (rka -> rka)
      }.toSeq,
      'class -> "input-small" )
@formErrors(myForm)

    <button type="submit" class="btn btn-primary">Add</button>
}



