@******
manage the volunteer hours by club admin
******@
@(clubName:String, rks:List[(model.RacerKid, model.RacerKidAssoc)], regs:List[model.Reg])(implicit stok:controllers.StateOk)
@import model.RK._

@stok.title("Volunteer hours for " + clubName)

@allVols=@{
    razie.db.RMany[model.VolunteerH]().filter(x=>rks.exists(_._2._id == x.rkaId)).size
}

@pendingVols=@{
  val x = razie.db.RMany[model.VolunteerH]("status" -> model.VH.ST_WAITING).filter(x=>rks.exists(_._2._id == x.rkaId)).toList
  val y = x.groupBy(_.approver)
    (x.size, x.groupBy(_.approver))
}

@rksactive=@{
  for ((t,a) <- rks if(t.info.status != STATUS_FORMER)) yield
    Map("fname"->t.info.firstName,
        "lname"->t.info.lastName,
        "role" -> a.role,
        "source" -> a.assoc,
        "hours" -> a.hours.toString,
        "family" -> controllers.Club.volFamily(t, rks, regs),
        "button"->a._id.toString)
}

@mnglink(row:Map[String,String],k:String,v:String)={
  @k match {
        case "button" => {
      <a href="@routes.Club.doeVolAdd(clubName, v)" class="btn btn-xs">Add...</a>
      }
    case _ => { @v }
  }
}

<h2>Volunteer hours for @clubName</h2>

@model.RacerKidz.checkMyself(stok.au.get._id)
<br>
<p>Some records are created by their parents (see the "Source"). For those that did not register online, you can create records here, for team management etc.

@defining(pendingVols) { pv=>
    <p>Stats: <b>@pv._1</b> pending submissions for these approvers:
        <ul>
    @pv._2.map{l=>
            <li>@l._2.size  @l._1</li>
    }
   </ul>
}

@util.utilSimpleTable(rksactive.iterator,
        Seq("fname" -> "F.Name",
                "lname"->"L.Name",
                "role" -> "Role",
                "source" -> "Source",
                "hours" -> "Hours",
                "family" -> "Family",
                "button"->"Add more"), Some(mnglink))

Add a:
<a href="@routes.Kidz.doeKid(stok.au.get._id.toString, "11", ROLE_RACER, "-", "clubkidz:"+clubName)" class="btn btn-xs btn-info">@ROLE_RACER</a>
<a href="@routes.Kidz.doeKid(stok.au.get._id.toString, "11", ROLE_SPOUSE, "-", "clubkidz:"+clubName)" class="btn btn-xs btn-info">@ROLE_SPOUSE</a>
<a href="@routes.Kidz.doeKid(stok.au.get._id.toString, "11", ROLE_MEMBER, "-", "clubkidz:"+clubName)" class="btn btn-xs btn-info">@ROLE_MEMBER</a>

<hr>
Source is
<ul>
<li>Myself - well, automatically created for you
<li>Registered - was included in a registration, by parents
<li>Parent - record was created here... we are the "parent"
</ul>
<hr>

