@******
manage the volunteer hours by club admin
******@
@(rkaid:String, rka:model.RacerKidAssoc, myForm: Form[_], user:model.User)
@import org.bson.types.ObjectId

@htmlHeadBar("Volunteer hours", Option(user))

<div class="container"> <div class="row">
@views.html.user.leftmenu(15, user)

<div class="span9">

@import razie.db.RMongo._

<b>Total: @rka.hours hours @rka.to.as[model.RacerKid].map @{r=>"for "+r.info.firstName+r.info.lastName}

@vols=@{
  for (vh <- model.RacerKidz.findVolByRkaId(rkaid)) yield
    Map("hours"->vh.hours.toString,
        "desc"->vh.desc,
        "when"->vh.crDtm.toString("dd-MM"),
        "delete"->vh._id.toString
        )
}

@mnglink(row:Map[String,String],k:String,v:String)={
  @k match {
        case "delete" => {
      <a href="@routes.Club.doeVolDelete(rkaid, v)" class="btn btn-mini">Delete</a>
      }
    case _ => { @v }
  }
}

@util.utilSimpleTable(vols,
        Seq("hours" -> "Hours", "when" -> "When", "desc"->"Why", "delete" -> "Delete"), Some(mnglink))


@import helper.twitterBootstrap._
@import util.razText

@helper.form(action=routes.Club.doeVolAdded(rkaid), 'class->"well") {
Add more hours:

  <label>Hours</label>
  <input type="text" class="input-small" name="hours">
  <label>Description</label>
  <input type="text" class="input-xlarge" name="desc" placeholder="type here">

  <button type="submit" class="btn btn-primary">Add</button>
}

  <p><small>By maintaining a profile, you agree to the <a href="@controllers.Wiki.w("Terms of Service")">Terms of Service</a></small><p>

</div>

  </div>
  <hr>
  @htmlFooter(ads=true)
</div> <!-- /container -->
@htmlBottom()
