@*********** 
  user manages registrations
***********@
@(au:model.User, reg:model.Reg, rks:List[model.RacerKid])
@import model.RegStatus._
@import model.FormStatus._
@import model.RK._

@htmlHeadBar("Reg for " + au.userName, Option(au))

<div class="container"> <div class="row">
@views.html.user.leftmenu(10, au)
   
<div class="span9">

<h2>@model.Users.findUserById(reg.userId).map(_.userName).mkString Registration for @reg.clubName (as @reg.role)</h2>

<p>  Status: @regStatusColored(reg.regStatus)
  @reg.regStatus match {
  	case PENDING => {Need to complete all the forms below - please follow the simple steps below.}
  	case CURRENT => {Registration current}
  	case CURRENT => {Forms completed, pending payment/review}
  	case EXPIRED => {Membership expired - ask for and complete the new forms}
  	case FAMILY  => {Another member of the family is handling it}
  	case _ => {???}
  }

@if(reg.regStatus == ACCEPTED) {
  <div class="well">
    <h3>Payment instructions:</h3>
    @controllers.Club(reg.clubName).map{x=> @Html(x.msgFormsAccepted)}
  </div>
}

<div class="well">
<h3>Step 1. Fill out your contact information here: <a href="/doe/contact">contact info</a></h3>
<p>It is used in several forms and you won't have to type it many times...
</div>

<div class="well">
<h3>Step 2. Make sure <em>everyone</em> is listed below:</h3>
<p>If a racer/parent/guardian/volunteer is not listed below, add one as a: 

@model.RK.RELATIONSHIPS.map{r=>
  <a href="@routes.Kidz.doeKid(au._id.toString, "11", r, "-", reg._id.toString)" class="btn btn-mini btn-info">@r</a>
}

@rkidz=@{
  rks.map(t=>
    Map("fname"->t.info.firstName, 
    	"role" -> t.info.role, 
    	"button" -> t._id.toString, 
    	"id"->t._id.toString))
}

@addlink(row:Map[String,String],k:String,v:String)={
  @k match {
  	case "button" => {
      <a href="@routes.Kidz.doeKid(au._id.toString, v, "-", "-", reg._id.toString)" class="btn btn-mini">...</a>
 	  }
  	case "id" => {
      @if(reg.kids.exists(_.rkId.toString == v)) {
  	    <span class="label">Included</span> 
        as @reg.kids.filter(_.rkId.toString == v).map(_.role).mkString
        <a href="@routes.Club.doeClubUwRMFormKid(reg._id.toString,v,au._id.toString, "x")" class="btn btn-mini btn-danger" title="remove from registration"> x </a>
      } else {
        <a href="@routes.Club.doeClubUserRegAdd(reg._id.toString,v,au._id.toString, "x")" class="btn btn-mini" title="also adds neccessary forms">Include now!</a>
 	  }
 	}
    case _ => {@v}
  }
}

@util.utilSimpleTable(rkidz.iterator, 
	Seq("fname" -> "Name", 
		"role" -> "Relationship", 
		"button" -> "Details", 
		"id"->"Included in registration?"), 
	Some(addlink))
</div>

<div class="well">
<h3>Step 3. Make sure <em>everyone</em> is included in this registration</h3>
<p>Use the <span class="btn btn-mini">Include now!</span> buttons in the table above, to add to the current registration. Please include anyone that is a parent/guardian and/or will race, volunteer or coach for the club.
<p>If you make a mistake, use the red <span class="label label-important"> x </span> button with care: it will delete completed forms if it has to...
<p>Making sure this list is correct <b>before</b> you start completing the forms can save you having to re-fill some forms!
@if(rks.exists(rk => !reg.kids.exists(_.rkId == rk._id))) {
  <div class="alert alert-warning">
  @if(rks.filter(rk => !reg.kids.exists(_.rkId == rk._id)).size == 1) {
    You have <strong>1 person
    } else {
  You have <strong>@rks.filter(rk => !reg.kids.exists(_.rkId == rk._id)).size persons 
  }
  not included</strong> in the registration - are you sure you want to continue to the forms below?
  </div>	
}
</div>

<div class="well">
<h3>Step 4. Complete all the forms</h3>
<p>After adding all the members/racers in your family, these are the forms you need to complete... each form is important, not just the racer forms: <b>your club needs your address and contact information for each parent as well as medical information for the racers</b>. 
@club.userFormList(reg.wids, true)
</div>

<div class="well">
<h3>Step 5. Payment</h3>
<p>After all the forms have been aproved, you will receive separate payment instructions.
</div>

  <hr>  
  @club.formStatusLegend()
  
  </div> <!-- /container -->
  </div> <!-- /container -->
  <hr>  
  @htmlFooter(ads=true)
  </div> <!-- /container -->

@htmlBottom()
    