@*********** 
  user manages registrations
***********@
@(au:model.User)
@import model.RegStatus._

@htmlHeadBar("Registrations for " + au.userName, Option(au))

<div class="container"> <div class="row">
@user.leftmenu(10, au)
   
<div class="span9">

@missingRegs=@{
  // clubs with open regs that I'm not reg'd for
  val clubs = au.wikis.filter(_.wid.cat=="Club").flatMap(w=>model.Users.findUserByUsername(w.wid.name).toList)
  clubs.map{c=> (c, Club(c))}.collect {
    case (c, club) if club.isRegOpen && model.Regs.findClubUserYear(c, au._id, club.curYear).isEmpty =>
      club
  }
}

@regs=@{
  val clubs = au.wikis.filter(_.wid.cat=="Club").flatMap(w=>model.Users.findUserByUsername(w.wid.name).toList)
  clubs.flatMap(c=>model.Regs.findClubUser(c, au._id)).sortWith(_.year >= _.year)
}

@tab=@{
  regs.iterator.map(r=>
    Map("club"->r.clubName, "year"->r.year, "role"->r.role, "regStatus"->r.regStatus, "id" -> r._id.toString))
}

@mnglink(row:Map[String,String],k:String,v:String)={
  @k match {
  	case "regStatus" => {
  		@regStatusColored(v, Some(routes.Club.doeClubUserReg(row.get("id").get).toString))
  		}
    case _ => {@v}
  }
}

<h2>Registration management panel</h2>
<br>
<p>@au.ename, this is the list of clubs you have registrations for. Some registrations may be old, current or pending - see the bottom of the page for a legend.
<p>Click on the status of each, to manage the forms required to complete that registration.

@if(regs.isEmpty) {
  <div class="alert alert-danger">
  <strong>No registrations!</strong> 
  You have no registrations in progress - if you were looking for a specific club, then please follow this link to join it: 
  <b><a href="/wikie/link/Club">Join a club</a></b>
  <p>Find your club there and if they have registrations open, you will see a red link to "start registration" right after joining the club.
  </div>
} else {
  @util.utilSimpleTable(tab, 
  	Seq("club" -> "Club", 
  		"year"->"Year", 
  		"role"->"Role", 
  		"regStatus" -> "Status"), 
    Some(mnglink))

  @missingRegs.map {club=>
    <p>No registrations for the current year - @club.userName, @club.curYear</p>
    <a href="views.html.club.doeClubUserStartRegSimple()">Start</a>
  }

  @club.regStatusLegend()
}

  </div> 
  </div> <!-- /row -->
  @user.agree()
  <hr>
  @htmlFooter(ads=true)
</div> <!-- /container -->
@htmlBottom()
