@***********
  user manages Tribes
***********@
@(user:model.User)

@htmlHeadBar("Tribes for " + user.userName, Some(user))

<div class="container">
<div class="row">
  @views.html.user.leftmenu(14, user)

<div class="span9">

@regs=@{
  val clubs = user.wikis.filter(_.wid.cat=="Club").flatMap(w=>model.Users.findUserByUsername(w.wid.name).toList)
  clubs.flatMap(c=>model.Regs.findClubUser(c, user._id))
}

@tab=@{
  regs.iterator.map(r=>
    Map("club"->r.clubName, "year"->r.year, "role"->r.role, "status"->r.regStatus, "m" -> r._id.toString))
}

<div class="alert alert-danger"><strong>Men at work!</strong>
 This page is not finished! </div>

@import model.RegStatus._

@mnglink(row:Map[String,String],k:String,v:String)={
  @k match {
        case "m" => {
      <a href="@routes.Club.doeClubUserReg(v)" class="btn btn-mini">More...</a>
      }
    case "status" => {
  @v match {
        case PENDING => {<font style="color:red">}
        case CURRENT => {<font style="color:green">}
        case ACCEPTED => {<font style="color:yellow">}
        case EXPIRED => {<font style="color:ref">}
        case FAMILY  => {<font style="color:green">}
        case _ => {<font>}
  }
  @v
  </font>
  }
  case _ => {@v}
  }
}

  <h2>Tribe management panel for @user.userName</h2>

<p>This is the list of tribes (teams etc) you are a member of.

@****
  @util.utilSimpleTable(tab, Seq("club" -> "Club", "year"->"Year", "role"->"Role", "status" -> "Status", "m"->"More"), Some(mnglink))
****@

  </div>
  </div> <!-- /row -->
  <hr>
  @htmlFooter(ads=true)
  </div> <!-- /container -->

@htmlBottom()
