@****
only used in one place - probably remove and move it there
***@
@(formStatus:String, link:Option[String]=None)

@import razie.wiki.model.FormStatus._

@button(color:String) = {
  @link.map {v=>
      <a href="@v" class="btn btn-xs @color">@formStatus</a>
    }.getOrElse {
      <a class="btn btn-xs @color">@formStatus</a>
  }
}

@formStatus match {
  case CREATED => { @button("btn-warning") }
  case EDITING => { @button("btn-warning") }
  case SUBMITTED => { @button("btn-info") }
  case APPROVED => { @button("btn-success") }
  case _ => { @button("") }
}
