@(user:model.User)

   @htmlHead("Members of club " + user.userName)
   @navbar(Some(user))
   
    <div class="container">

@tab=@{
  model.Users.findUserLinksTo(model.WID("Club", user.userName)).map(uw=>(model.Users.findUserById(uw.userId), uw.role)).map(t=>
    Map("userName"->t._1.get.userName, "firstName"->t._1.get.firstName, "lastName"->t._1.get.lastName, "role"->t._2))
}

<h2>Members of @user.userName</h2>

    @util.utilSimpleTable(tab, Seq("userName" -> "UserName", "firstName"->"First", "lastName"->"Last", "role"->"Role"), None)

      <hr>
      
      @htmlFooter()

    </div> <!-- /container -->

    @htmlBottom()
    