@***
The add on the right hand side
***@
@()(implicit stok: controllers.StateOk)
@import _root_.admin.Config

@if(! (Config.noads || stok.au.exists(_.isUnder13))) {

  @if(stok.css.contains("light")) {
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- RK-right-light -->
    <ins class="adsbygoogle"
    style="display:inline-block;width:160px;height:600px"
    data-ad-client="ca-pub-5622141672958561"
    data-ad-slot="9704195992"></ins>
    <script>http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=84
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  } else {
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- RK-right-dark -->
    <ins class="adsbygoogle"
    style="display:inline-block;width:160px;height:600px"
    data-ad-client="ca-pub-5622141672958561"
    data-ad-slot="6640009738"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    }
}

