@***
The add on the right hand side
***@
@(au:Option[model.User] = None)
@import _root_.admin.Config

@if(! (Config.noads || au.orElse(Config.currUser).exists(_.isUnder13))) {
	
  @if(Config.theme.contains("light")) {
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-5622141672958561";
    /* RK-right-dark */
    google_ad_slot = "9704195992";
    google_ad_width = 160;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  } else {
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-5622141672958561";
    /* RK-right */
    google_ad_slot = "6640009738";
    google_ad_width = 160;
    google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  }
}