@(registerForm:Form[controllers.Registration])(implicit stok:controllers.StateOk)

@htmlHeadBar("Login/register")

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-8">
        <h1>
          Welcome!
          @** the google button*@
          @if(stok.realm == razie.wiki.model.WikiReactors.NOTES) {
            <span align="right">
              <span id="signinButton">
                <span
                class="g-signin"
                data-callback="signInCallback"
                data-clientid="980280495626-7llkvk4o02anpu6qv1sseucc07f8f3gs.apps.googleusercontent.com"
                data-cookiepolicy="single_host_origin"
                data-scope="profile email">
                </span>
              </span>
            </span>
          }
        </h1>
        <br>
        @wiki.wikiFragInt(s"${stok.realm}.Admin:page-join-${stok.realm}", None)

      </div>

      <div class="col-sm-4">

@import helper.twitterBootstrap._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@helper.form(action=routes.Profile.doeJoin2, 'class->"well alert alert-info") {
  @helper.inputText(
    registerForm("email"),
    '_label -> "Email",
    '_showConstraints -> false)
  @helper.inputPassword(
    registerForm("password"),
    '_label -> "Password",
    '_showConstraints -> false,
    '_error->registerForm.error("password"))

  <button type="submit" class="btn btn-success">Login</button>
  <a href="@routes.ProfileUpd.doeForgotPass()" class="btn btn-info">Forgot password!</a>

  <hr>

  @if(stok.website.openMembership) {
    <span style="color: red;
      font-size: smaller"> To <strong>create a new account</strong>, please confirm the chosen email and password: </span>

    @helper.inputText(
      registerForm("reemail"),
      '_label -> "Repeat email",
      '_showConstraints -> false)

    @helper.inputPassword(
      registerForm("repassword"),
      '_label -> "Repeat password")

    <button type="submit" class="btn btn-warning">Create new account</button>
  }else{
    <input name="reemail" style="display: none;"/>
    <input name="repassword" style="display: none;"/>

    <div class="alert alert-danger">This website does not allow creating accounts... you can contact us via a Support request.</div>
    <hr>
  }

  @registerForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  }

  <p><small>By registering or logging in, you agree to the <a href="@controllers.Wiki.w("Admin", "Terms of Service-"+stok.realm, stok.realm)">Terms of Service</a></small><p>
  }

       </div>
      @formFix()

      </div>
    </div>
  <hr>

  <form action="/doe/join/gtoken" id="gform" method="POST">
    <input type="hidden" type="text" name="code" id="gcode">
    <input type="hidden" type="text" name="email" id="gemail">
    <input type="hidden" type="text" name="name" id="gname">
    <input type="hidden" type="text" name="access_token" id="gaccess_token">
    <input type="hidden" type="text" name="id" id="gid">
  </form>

    <!-- Last part of BODY element in file index.html -->
<script type="text/javascript">
  var gauthResult="";

  function loadProfile(){
     var request = gapi.client.plus.people.get( {'userId' : 'me'} );
     request.execute(loadProfileCallback);
   }

  function loadProfileCallback(obj) {
  profile = obj ;

  // Filter the emails object to find the user's primary account, which might
  // not always be the first in the array. The filter() method supports IE9+.
  email = obj[ 'emails' ].filter ( function ( v ) {
  return v.type === 'account' ; // Filter out the primary email
  } )[ 0 ].value ; // get the email from the filtered results, should always be defined.

  console.log ( gauthResult ) ;

  $ ( '#gcode' )[ 0 ].value = gauthResult[ 'code' ] ;
  $ ( '#gemail' )[ 0 ].value = email ;
  $ ( '#gname' )[ 0 ].value = profile.displayName ;
  $ ( '#gaccess_token' )[ 0 ].value = gauthResult.access_token ;
  $ ( '#gid' )[ 0 ].value = profile.id ;

  var $form = $ ( '#gform' ) ;

  $form[0].submit();
  }

    function signInCallback(authResult) {
      if (authResult['code']) {

        // Hide the sign-in button now that the user is authorized, for example:
        $('#signinButton').attr('style', 'display: none');

      gauthResult = authResult;

      gapi.client.load('plus','v1', loadProfile);  // Trigger request to get the email address.

      } else if (gauthResult['error']) {
      // There was an error.
      // Possible error codes:
      //   "access_denied" - User denied access to your app
      //   "immediate_failed" - Could not automatially log in the user
      console.log('There was an error: ' + gauthResult['error']);
      }

    }
    </script>

  @htmlFooter(false, false, stok.realm)
</div> <!-- /container -->
@htmlBottom()
