@(registerForm:Form[model.Registration])

@htmlHead()
@navbar(None)
   
<div class="container">
  <div class="hero-unit">
    <div class="row">
      <div class="span6">
        <h1>Welcome!</h1>
        <br>
        @wiki.wikiFragInt("Admin:page-join", None)
      </div>

      <div class="span4">

@import helper.twitterBootstrap._

@helper.form(action=routes.Profile.doeJoin2, 'class->"well") {
  @helper.inputText(
    registerForm("email"), 
    '_label -> "Email",
    '_showConstraints -> false)
  @helper.inputPassword(
    registerForm("password"), 
    '_label -> "Password", 
    '_showConstraints -> false,
    '_error->registerForm.error("password"))
    
  <button type="submit" class="btn btn-primary">Login</button>
  <p>  
  @helper.inputPassword(
    registerForm("repassword"), 
    '_label -> "Retype password to register")

  <button type="submit" class="btn btn-inverse">Register</button>
    
  @registerForm.globalError.map { err=>
     <p style="color:red;font-weight:bold">@err.message</p>
  } 
  
  <p><small>By registering or logging in, you agree to the <a href="@controllers.Wiki.w("Admin", "Terms of Service")">Terms of Service</a></small><p>
  }
  
       </div>
      </div>
    </div>
  <hr>
  @htmlFooter()
</div> <!-- /container -->
@htmlBottom()
    