
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-dropdown.js")"></script>
    
@***********
    <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>
    
    <script src="@routes.Assets.at("bootstrap/js/jquery.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-transition.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-alert.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-dropdown.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-modal.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-scrollspy.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-tab.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-tooltip.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-popover.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-button.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-collapse.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-carousel.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-typeahead.js")"></script>
****************@

  </body>
</html>
