@** botom of html,
**@
@(isSite:Boolean=false, orequest:Option[Request[_]] = None, site:Option[model.Website] = None)

@web()=@{(site orElse orequest.flatMap(r=>model.Website(r))) getOrElse model.Website.dflt}

<p></p>

@if(_root_.admin.Config.isLight) {
  <div style="background-color:#4E4D4D">
  } else {
  <div style="background-color:#4E4D4D">
  }
<div align="center">
  <table>
    <tr>
      <td style="width:200px;vertical-align: top">
	<strong class="razbots">More</strong> <br>
	<a class="razbot" href="/">Home</a> <br>
	<a class="razbot" href="@web().about.map(_.url).getOrElse("/page/About")">About</a> <br>
	@web().bottomMenu("More").map{t=>
	  <a class="razbot" href="@t._2">@t._1</a><br>
	}
      </td>
      <td style="width:200px;vertical-align: top">
	<strong class="razbots">Support</strong> <br>
	<a class="razbot" href="/doe/support">Support</a> <br>
	<a class="razbot" href="@web().tos">Terms of Service</a> <br>
	<a class="razbot" href="@web().privacy">Privacy Policy</a> <br>
	@web().bottomMenu("Support").map{t=>
	  <a class="razbot" href="@t._2">@t._1</a><br>
	}
      </td>
      <td style="width:200px;vertical-align: top">
	<strong class="razbots">Social</strong><br>
	<a class="razbot" href="http://twitter.com/@web().twitter">Twitter</a><br>
	<a class="razbot" href="@web().blog.urlRelative">Blog</a> <br>
	@web().gplus.map{g=>
	  <a class="razbot" href="@g">Google+</a><br>
	}
	@web().bottomMenu("Social").map{t=>
	  <a class="razbot" href="@t._2">@t._1</a><br>
	}
      </td>
    </tr>
  </table>
  <div style="height:20px"></div>
</div>
</div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="@routes.Assets.at("bootstrap/js/bootstrap-dropdown.js")"></script>

@***********
    <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>

    <script src="@routes.Assets.at("bootstrap/js/jquery.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-transition.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-alert.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-dropdown.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-modal.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-scrollspy.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-tab.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-tooltip.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-popover.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-button.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-collapse.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-carousel.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap-typeahead.js")"></script>
****************@

@** google sign-in
    <!-- Place this asynchronous JavaScript just before your </body> tag -->
**@
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>

  </body>
</html>
