@(message: String, user:Option[model.User]=None, item:Int, mobile:Boolean)

@joe() = @{
  val names = Array("Joe", "Dianne", "Marty", "Jack", "Tiger", "Andy")
  val i = new scala.util.Random().nextInt(names.length)
  names(i)
  }

@salutation() = @{
  val names = Array("Hi", "Hello", "Hey", "Howdy")
  val i = new scala.util.Random().nextInt(names.length)
  names(i)
  }

@user match {
  case None =>      { @mainNoUser(salutation, joe) }
  case Some(joe) => { @mainUser(salutation, joe, item, mobile) }
}
