@(message: String, user:Option[model.User]=None, item:Int, mobile:Boolean)

@joe() = @{
  val names = Array("Joe", "Dianne", "Marty", "Jackal", "Tigger")
  val i = new scala.util.Random().nextInt(names.length)
  names(i)
  }

@salutation() = @{
  val names = Array("Hi", "Hello", "Hey", "Howdy")
  val i = new scala.util.Random().nextInt(names.length)
  names(i)
  }

@slogan() = @{
  val slogans = Array(
      "Train. Plan. Race!", 
      "For racers, by racers!")
  val i = new scala.util.Random().nextInt(slogans.length)
  slogans(i)
  }

@user match {
  case None =>      { @mainNoUser(salutation, joe, slogan) }
  case Some(joe) => { @mainUser(salutation, joe, item, mobile) }
}
 