@(registerForm:Form[model.Registration])

   @htmlHead()

   @navbar(None)
   
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">

      <div class="row">
        <div class="span6">
        <h1>Welcome!</h1>
<br>
<p>Register your email and we'll let you know as more features are being added.</p>
<p>If you enter a password, you'll be setup with an account as well...</p>
<p>To login, simply enter your email and password.</p>
<p>Please read our 
  <a href="@routes.Application.show("terms")" style="color:red;font-weight:bold">Terms and Conditions</a> 
 as well as our 
<a href="@routes.Application.show("privacy")" style="color:red;font-weight:bold">Privacy Policy</a></p>
        </div>

        <div class="span4">

@import helper.twitterBootstrap._

@helper.form(action=routes.Profile.register, 'class->"well") {

  @helper.inputText(
    registerForm("email"), 
    '_label -> "Email",
    '_showConstraints -> false)
  @helper.inputPassword(
    registerForm("password"), 
    '_label -> "Password", 
    '_error->registerForm.error("password"))
  @helper.inputPassword(
    registerForm("repassword"), 
    '_label -> "Verify password to register")

  <button type="submit" class="btn btn-primary">Login/Register</button>

  @if(registerForm.globalError.isDefined) {
     <br><br><b>@registerForm.globalError.get.message</b>
  } 
  
  <p><small>By registering or logging in, you agree to the <a href="@routes.Application.show("terms")">Terms and Conditions</a></small><p>
  }
  
  
       </div>
      </div>

      </div>

      <!-- Example row of columns -->

      <hr>

      @htmlFooter()

    </div> <!-- /container -->

    @htmlBottom()
    