@(myForm:Form[model.Registration])

   @htmlHead()

   @navbar(None)
   
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">

      <div class="row">
        <div class="span6">
        <h1>Welcome!</h1>
        <p>Register to create a profile and start uploading events, trophies and whatever.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>

        <div class="span4">

@import helper.twitterBootstrap._

<form action="@routes.Application.register" method="POST">
@**********
@helper.form(action=routes.Application.register, 'method->"post") {
***********@
  @helper.inputText(myForm("email"), '_label -> "Email")          
  @helper.inputPassword(myForm("password"), '_label -> "Password")          
  <button type="submit" class="btn">Login/Register</button>

       </div>
      </div>

      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Events</h2>
           <p>Find interesting events in your area for a variety of sports. Contribute events if you know about them.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Sports/Leagues</h2>
           <p>Find local and regional leagues worth racing in, for different sports and categories.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>HHrophies</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      @htmlFooter()

    </div> <!-- /container -->

    @htmlBottom()
    