@** main page without a user
**@
@(salutation:String, joe:String)(implicit stok:controllers.StateOk)

@pic = @{
  // todo not used anymore
  val names = _root_.admin.Config.sitecfg("main.images").toList.flatMap(s=>s.split("[;,]"))
  val i = new scala.util.Random().nextInt(names.length)
  names(i)
  }

        @wiki.wikiFragInt("Admin:page-index", None)

      @***
      <div class="col-sm-4">
        <br>
@_root_.admin.Config.sitecfg("css").filter(_ == "dark").map {x=>
  <img class="img-rounded" style="opacity:0.8;filter:alpha(opacity=80);" src="@routes.Assets.at("images/"+pic)"></img>
}.getOrElse {
  <img class="img-rounded" src="@routes.Assets.at("images/"+pic)"></img>
}
      </div>
      ***@

    </div> @* row*@

    <div class="row">

@wiki.wikiFragInt("Admin:page-index-bottom", None)

@** the div is closed in layout **@

