@(salutation:String, joe:String, slogan:String)

   @htmlHead()

   @navbar(None)
   
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">

        <div class="row">
          <div class="span6">
            <h1>@salutation, @joe! <small><a href="@routes.Profile.doeJoin">not @joe?</a></small></h1>
            <br>
<p>@slogan</p>
<p>RacerKidz gets new features every week - please <a href="@routes.Profile.doeJoin">join</a> to take it for a spin and/or keep up-to-date with the new features.</p>
<p><a class="btn btn-primary btn-large" href="@routes.Profile.doeJoin">Join &raquo;</a>
   <a class="btn btn-large" href="http://500px.com/editors">Nah, checkout some cool pix &raquo;</a></p>
          </div>
          <div class="span4">
            <img width="60%" height="60%" src="@routes.Assets.at("images/thumbs_olympic-sport-icons1.gif")"></img>
          </div>
        </div>
        
      </div>  

      <hr>

      @htmlFooter()

    </div> <!-- /container -->

    @htmlBottom()
    