@(salutation:String, user: model.User)

   @htmlHead()

   @navbar(Some(user))
   
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <div class="row">
          <div class="span6">
          <h2>@salutation, @user.ename!</h2>
          <p>Add stuff to your profile with the buttons below. You can "Like" any topic and add it to your profile.</p>
          <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
          <div class="span4">
            <div class="well">
            @if(user.tasks.size>0) {
              <b>TODO List</b>
              <ul>
              @for(t <- user.tasks) {
                <li><a href="/user/@user.id/task/@t.name">@t.desc</a></li>
              }
              </ul>
            } else {
              <b>Nothing TODO...</b>
            }
            <br> <b>Nothing coming up...</b>
            </div>
          </div>
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Sports</h2>
            @if(user.pages("Sport").size>0) {
              <ul>
              @for(t <- user.pages("Sport")) {
                <li><a href="/user/@user.id/wiki/@t.cat/@t.name">@model.Wikis.label(t.cat,t.name)</a></li>
              }
              </ul>
            } else {
              <b>No sports...</b>
            }
          <p>
            <a class="btn" href="/wiki/Sport">Add &raquo;</a></p>
          </p>
        </div>
        <div class="span4">
          <h2>Leagues</h2>
            @if(user.pages("League").size>0) {
              <ul>
              @for(t <- user.pages("League")) {
                <li><a href="/user/@user.id/wiki/@t.cat/@t.name">@model.Wikis.label(t.cat,t.name)</a></li>
              }
              </ul>
            } else {
              <b>No leagues...</b>
            }
          <p>
            <a class="btn" href="/wiki/League">Add &raquo;</a></p>
          </p>
       </div>
        <div class="span4">
          <h2>Clubs</h2>
            @if(user.pages("Club").size>0) {
              <ul>
              @for(t <- user.pages("Club")) {
                <li><a href="/user/@user.id/wiki/@t.cat/@t.name">@model.Wikis.label(t.cat,t.name)</a></li>
              }
              </ul>
            } else {
              <b>No clubs...</b>
            }
          <p>
            <a class="btn" href="/wiki/Club">Add &raquo;</a></p>
          </p>
        </div>
      </div>

      <hr>

      @htmlFooter()

    </div> <!-- /container -->

    @htmlBottom()
    