@***
creates the navigation bar
***@
@import razie.wiki.model.Perm
@import razie.wiki.Config
@(user:Option[razie.wiki.model.WikiUser], realm:String=razie.wiki.model.Wikis.RK, mobile:Boolean = false, barTitle: String="Bar Title", logo:Option[String]=None, url:Option[String]=Some("/"), club:String="")(implicit stok: controllers.StateOk)
@import razie.wiki.Services
@import razie.wiki.model.Wikis

@web()=@{stok.website}

@css() = @{
  stok.css
}

@prodReactor(s:String)=@{
  Array("dev", "qa", "sandbox").find(s.startsWith).map(x=> s.replaceFirst(x, "")).getOrElse(s)
}

@searchUrl()=@{
  s"/wikie/search?realm=${stok.realm}"
}

@menuBadges()=@{
  if(stok.au.exists(_.isAdmin)) web().navMenu ++ Seq("admin.badgeRefreshAllTests" -> "/diesel/statusAll")
  else web().navMenu
}

@if(web().prop("theme.navbar").exists(_.contains("light"))) {
  <nav class="navbar navbar-fixed-top navbar-default">
  } else {
  <nav class="navbar navbar-fixed-top navbar-inverse">
  }

@*<div class="navbar-inner">*@
<div class="container" style="margin-left: 0px; margin-right : 0px ; width:auto">
    <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
@web().navBrand.fold {
<a href="/" style="text-decoration:none"><img class="" src="@logo.orElse(web().logo).getOrElse("http://cdn.razie.com/Public/diesel/diesel3.png")" height="52" width="150" alt="logo"></a>
} {b=>
@Html(b)
}
  </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navbar-collapse collapse" id="navbar">
    <ul class="nav navbar-nav navbar-left">

      <li class="divider-vertical"></li>
      @menuBadges().map{t=>
        @if(! t._1.startsWith("user.") && ! t._1.startsWith("admin.") ||
            t._1.startsWith("user.") && stok.au.isDefined ||
            t._1.startsWith("admin.") && stok.au.exists(_.isAdmin) ) {
          @defining(if(t._1.startsWith("user.")) t._1.replaceFirst("user.", "") else
            if(t._1.startsWith("admin.")) t._1.replaceFirst("admin.", "") else t._1) {label=>
            @if(label.startsWith("badge")) {
              <li id="nav-@label">
              </li>
<script async>
var updating_@label = false;
var ok_@label = true;
var update_@label = function(){};


require(['jquery'], function($){
  update_@label = function() {

    // prevent clobbering the server when it's slow to respond
    // todo smarter backoff
    if(updating_@label || !dieselRefresh) {
      return;
    }

    updating_@label = true;

    $("#nav-@label").load("@t._2", function(resp, status, jqXHR) {
      if(jqXHR.status != 200 && location.href.indexOf("localhost") >= 0) {
        ok_@label = false; // stop from reloading
        console.log("Badge returns error code, will stop refreshing!")
      }
    });
    @if(label.startsWith("badgeRefresh")) {
    if(ok_@label) setTimeout(update_@label, 7000);

    updating_@label = false;
    }
  };

  window.addEventListener('load', function(){
    update_@{label}();
  });

});

</script>
          } else {
            <li>
              @if(t._2.startsWith("javascript:")) {
                  <a href onclick="@t._2">@Html(label)</a>
              } else {
                  <a href="@t._2">@Html(label)</a>
              }
            </li>
          }
          }
        }
      }

      @stok.au.map(_._id).flatMap(mod.cart.Cart.find).map {cart=>
        <li>
          <a href="/doe/cart">
            <span class="badge" style="background-color: red" title="cart items">
              <span class="glyphicon glyphicon-shopping-cart"> </span>
              @cart.items.size</span>
          </a>
        </li>
      }

      <li>
        <a href="javascript:alert('System Unavailable');">
        <span style="display:none; color:red; font-weight:bold" id="navJsError" class="glyphicon glyphicon-warning-sign blink">
        </span>
        </a>
      </li>

    </ul>
@**

    =================================   user preferences and menu

**@
    <ul class="nav navbar-nav pull-right">

    @user match {

      case Some(joe) => {

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            @if(Services.config.getTheme(stok.au, stok.request).contains("light")) {
              <span class="glyphicon glyphicon-user"></span>
            } else {
              <span class="glyphicon glyphicon-user"></span>
            }
            @joe.ename <span class="caret"></span>
          </a>

          <ul class="dropdown-menu scrollable-menu" role="menu">
            @if(! web().navrMenuRemove.contains("Preferences")) {
              <li><a href="@routes.ProfileUpd.doeHelp"><i class="icon-edit"></i> Preferences</a></li>
            }
            @if(! web().navrMenuRemove.contains("Messages")) {
              <li><a href="/doe/history"><i class="icon-edit"></i> Messages</a></li>
            }

            @if(stok.au.exists(u=> u.isDev || u.isMod)) {
              <li><a href="/wiki/Reactor:@stok.realm"><i class="icon-edit"></i> Settings</a></li>
            }

            @if(!web().navrMenu.filter(! _._1.startsWith("remove.")).isEmpty) {
              <li class="divider"></li>
              @web().navrMenu.filter(! _._1.startsWith("remove.")).map{t=>
                <li><a href="@t._2">@t._1</a></li>
              }
            }

            @if(! web().navrMenuRemove.contains("Fiddles") && (stok.au.exists(u=> u.isDev || u.isAdmin))) {
              <li class="divider"></li>
              <li><a href="/sfiddle/restFiddle">RestFiddle</a></li>
              <li><a href="/sfiddle/stringFiddle">Str-Fiddle</a></li>
              <li><a href="/sfiddle/playinbrowser/js">JS-Fiddle</a></li>
              <li><a href="/sfiddle/playFFD">FFD-Fiddle</a></li>
              <li><a href="/sfiddle/play3/js">SFiddle</a></li>
              <li><a href="/sfiddle/playDsl/js">DSL-Fiddle</a></li>
              <li><a href="/gapi/demo">GAPI demo</a></li>
            }

            @if(! web().navrMenuRemove.contains("Diffs") && stok.au.exists(u=> u.isDev)) {
              <li class="divider"></li>
              <li><a href="/admin/drafts/@stok.realm">Drafts</a></li>
                  @if(Config.isLocalhost) {
                    <li><a href="/admin/difflist/@stok.realm/@stok.realm/www.dieselapps.com">Diffs</a></li>
                  } else {
                    <li><a href="/admin/difflist/@stok.realm/@prodReactor(stok.realm)/www.dieselapps.com">Diffs</a></li>
                  }
              @if(! web().navrMenuRemove.contains("Diffs") && stok.au.exists(u=> u.isAdmin)) {
                <li><a href="/admin/difflist/@stok.realm/all/www.dieselapps.com">Diffs-all</a></li>
              }
              <li class="divider"></li>
              <li> <a href="javascript:doEditThis();">Edit</a> </li>
              <li> <a href="javascript:doResetEditor();">Reset editor</a> </li>
              <li> <a href="/wikie/show/Name">Create</a> </li>
              }

          <li class="divider"></li>

            @if(! web().navrMenuRemove.contains("Theme")) {
              <li><a href="/doe/theme?css=light" title="Select light theme">Light</a></li>
              <li><a href="/doe/theme?css=dark" title="Select drk theme">Dark</a></li>
            }

            <li><a href="/do/signout" title="Log off"><i class="icon-off"></i> Sign out</a></li>
          </ul>
        </li>
      }

      case None => {
        <li>
          <a href="@web().join">Log in</a>
        </li>
      }
    }


    </ul>


    @**

    =================================   search

    **@

    @if(! web().navrMenuRemove.contains("Search")) {
      <form class="navbar-form pull-right" role="search" action="@searchUrl()" method="GET">
        <input type="text" class="form-control search-query" style="padding: 4px 4px 4px 4px;
          height: 26px;
          margin-top: 5px"
        placeholder="Search" id="q" name="q" title="Search box"/>
      </form>
    }

    @**

    ====================== for admins and devs, quick access to switch current reactor

    **@

    @if(! web().navrMenuRemove.contains("Search") || stok.au.exists(_.isMod) && stok.isLocalhost ) {
      @if(stok.au.exists(_.isMod) || stok.isLocalhost || stok.au.exists(_.realms.size > 1)) {
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color: red;
              font-weight: bold;
              font-size: small" title="localhost: current reactor">
              @stok.realm <span class="caret"></span>
            </a>
            <ul class="dropdown-menu scrollable-menu" role="menu">
              <li><a href="/wikie/switchRealm/wiki">wiki</a></li>
              <li><a href="/wikie/switchRealm/specs">specs</a></li>
              @myReactors().sorted.map { t =>
                <li><a href="/wikie/switchRealm/@t">@t</a></li>
              }
            </ul>
          </li>
        </ul>
      }
    }

@myReactors()=@{
  stok.au.toList
  .flatMap(x => x.memberReactors)
  .filter(x=> !Array("wiki","specs").contains(x))
  .filter(x=> razie.hosting.WikiReactors.allLowercase.contains(x))
  // last one is because in localhost mode, not all my reactors are here...
  // todo optimize this somehow?
}

    @**

    ====================== for admins and devs, environment setting

    **@

    @if(! web().navrMenuRemove.contains("Search") || stok.au.exists(_.isMod) &&  stok.isLocalhost ) {
      @if((stok.au.exists(_.isMod) || stok.isLocalhost) && web().prop("diesel.envList").isDefined) {
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color: orange;
              font-weight: bold;
              font-size: small" title="change environment">
              @api.wix.dieselEnvFor(stok.realm, stok.au) <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
            @web().dieselEnvList.split(",").map { t =>
              <li><a href="javascript:doSetEnv('@t')">@t</a></li>
            }
            </ul>
          </li>
        </ul>
      }
    }

  </div>
</div><!-- /.navbar-collapse -->
</nav>


  <!-- show blinker for JS errors in page, if it occured before painting this -->
<script async>
    require(['jquery'], function($){
      if(typeof lastJSErrorMsg != "undefined") {
        $("#navJsError").show();
        $("#navJsError").attr("title", lastJSErrorMsg);
      }

      navBarInitialized = true;

      // set env and refresh this same page...
      doSetEnv = function(r) {
        $.ajax(
            '/diesel/setEnv/' + r, {
              type: 'GET',
              success: function(data) {
                location.reload();
              },
              error  : function(x) {
                location.reload();
              }
            });
      };

      @*$('#resultdiv_'+@id).css('max-height', $('#pre3box_@id').height()+'px');*@

// resize scroables to window
      var wh=$(window).height();           // visible height

      if(wh > 100) {
        // $(".scrollable-menu").height((wh - 100) + "px");
        // $(".scrollable-menu").css('max-height', (wh - 100) + "px");
        // $(".scrollable-menu").css('max-height', (wh - 100) + "px");
      };

      setTimeout(function(){
        var wh=$(window).height();           // visible height

        if(wh > 100) {
          $(".scrollable-menu").height((wh - 100) + "px");
          $(".scrollable-menu").css('max-height', (wh - 100) + "px");
        };
      }, 500);

    });
</script>
