@(joe:String)

@htmlHeadBar()

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">

        <div class="row">
          <div class="span6">
            <h1>Thank you, @joe!</h1>
            <p>We'll let you know as soon as more RacerKidz features will be up and running.</p>
            <p><a class="btn btn-large" href="http://500px.com/editors">Now, checkout some cool pix &raquo;</a></p>
          </div>
          <div class="span4">
            <img width="60%" height="60%" src="@routes.Assets.at("images/thumbs_olympic-sport-icons1.gif")"></img>
          </div>
        </div>

      </div>

      <!-- Example row of columns -->

      <hr>

      @htmlFooter()

    </div> <!-- /container -->

    @htmlBottom()
